  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Gerer situation PR</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Demande de payement</span>
            </div>

            <div class="title">Demande de payement</div>
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">

      <div class="form-wrapper md-whiteframe-1dp" >

        <ms-form-wizard flex>
          <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">
 
    <!-----Debut demande_debut_travaux_pr ------>
          <md-tab>
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==false">1</span>
                    <!--span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==true">
                      <i class="icon-check s16"></i>
                    </span-->
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==true">1
                    </span>
                    <span class="ms-form-wizard-step-text">demande de payement</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterDemande_debut_travaux_pr()" style="width:10%;">
                      Nouveau
                    </md-button>
                    <md-button type="submit" ng-show="vm.showboutonValider && vm.permissionboutonValider" class="md-raised md-warn" aria-label="Valider" ng-click="vm.validationDemande()" style="width:10%;">
                    Valider
                  </md-button>
                </div>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="mem in ::vm.demande_debut_travaux_pr_column">
                        <div class="table-header">
                          <span class="column-title">{{mem.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="demande_debut_travaux_pr in vm.alldemande_debut_travaux_pr_invalide"  ng-class="{selected: demande_debut_travaux_pr.$selected}" ng-click="vm.selectionDemande_debut_travaux_pr(demande_debut_travaux_pr)">
                      <td>
                          <span ng-if="demande_debut_travaux_pr.$edit">
                            <md-input-container style="width:100%;display: flex !important;">
                              <label>Contrat PR</label>
                              <md-select ng-model="demande_debut_travaux_pr.id_contrat_partenaire_relai"style="overflow: hidden;text-overflow: ellipsis;" ng-change="vm.change_contrat(demande_debut_travaux_pr)">
                                <md-option ng-repeat="contrat_partenaire_relai in vm.allcontrat_partenaire_relai" value="{{contrat_partenaire_relai.id}}">
                                                                    {{contrat_partenaire_relai.ref_contrat}}
                                </md-option>
                              </md-select>
                            </md-input-container>  
                          </span>
                          <span ng-if="!demande_debut_travaux_pr.$edit">{{demande_debut_travaux_pr.contrat_partenaire_relai.ref_contrat}}</span>
                        </td>          
                      <td>
                        <span ng-if="demande_debut_travaux_pr.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Objet</label>
                            <input name="objet" type="text" ng-model="demande_debut_travaux_pr.objet"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!demande_debut_travaux_pr.$edit">{{demande_debut_travaux_pr.objet}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="demande_debut_travaux_pr.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Description</label>
                            <input name="description" type="text" ng-model="demande_debut_travaux_pr.description"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!demande_debut_travaux_pr.$edit">{{demande_debut_travaux_pr.description}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="demande_debut_travaux_pr.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Référence latrine_bur</label>
                            <input name="ref_facture" type="text" ng-model="demande_debut_travaux_pr.ref_facture"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!demande_debut_travaux_pr.$edit">{{demande_debut_travaux_pr.ref_facture}}</span>
                      </td>                      

                    <td>
                      <span ng-if="demande_debut_travaux_pr.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>Tranche</label>
                          <md-select ng-model="demande_debut_travaux_pr.id_tranche_d_debut_travaux_pr"style="overflow: hidden;text-overflow: ellipsis;" ng-change="vm.tranchechange(demande_debut_travaux_pr)">
                            <md-option ng-repeat="tranche in vm.allcurenttranche_d_debut_travaux_pr" value="{{tranche.id}}">
                                                                        {{tranche.libelle}}
                            </md-option>
                          </md-select>
                        </md-input-container>  
                      </span>
                      <span ng-if="!demande_debut_travaux_pr.$edit">{{demande_debut_travaux_pr.tranche.libelle}}</span>
                    </td>
                                
                      <td>
                        <span ng-if="demande_debut_travaux_pr.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Montant</label>
                            <input name="montant" type="number" ng-model="demande_debut_travaux_pr.montant"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!demande_debut_travaux_pr.$edit">{{demande_debut_travaux_pr.montant}}</span>
                      </td>

                    <td>
                      <span ng-if="demande_debut_travaux_pr.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>Cumul</label>
                          <input name="cumul" type="text" ng-model="demande_debut_travaux_pr.cumul" disabled/>
                        </md-input-container>  
                      </span>
                      <span ng-if="!demande_debut_travaux_pr.$edit">{{demande_debut_travaux_pr.cumul}}</span>
                    </td>

                    <td>
                      <span ng-if="demande_debut_travaux_pr.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>Anterieur</label>
                          <input name="anterieur" type="text" ng-model="demande_debut_travaux_pr.anterieur" disabled/>
                        </md-input-container>  
                      </span>
                      <span ng-if="!demande_debut_travaux_pr.$edit">{{demande_debut_travaux_pr.anterieur}}</span>
                    </td>

                    <td>
                      <span ng-if="demande_debut_travaux_pr.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>Periode</label>
                          <input name="periode" type="text" ng-model="demande_debut_travaux_pr.periode"disabled/>
                        </md-input-container>  
                      </span>
                      <span ng-if="!demande_debut_travaux_pr.$edit">{{demande_debut_travaux_pr.tranche.periode}}</span>
                    </td>

                    <td>
                      <span ng-if="demande_debut_travaux_pr.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>Pourcentage</label>
                          <input name="pourcentage" type="text" ng-model="demande_debut_travaux_pr.pourcentage" disabled/>
                        </md-input-container>  
                      </span>
                      <span ng-if="!demande_debut_travaux_pr.$edit">{{demande_debut_travaux_pr.tranche.pourcentage}}</span>
                    </td>

                    <td>
                      <span ng-if="demande_debut_travaux_pr.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>Reste</label>
                          <input name="reste" type="text" ng-model="demande_debut_travaux_pr.reste" disabled/>
                        </md-input-container>  
                      </span>
                      <span ng-if="!demande_debut_travaux_pr.$edit">{{demande_debut_travaux_pr.reste}}</span>
                    </td>

                       <td>
                        <span ng-if="demande_debut_travaux_pr.$edit">
                          <md-datepicker ng-model="demande_debut_travaux_pr.date" md-placeholder="Date" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!demande_debut_travaux_pr.$edit">{{vm.affichageDate(demande_debut_travaux_pr.date)}}</span>
                      </td>
                                                   
                      <td>
                        <a ng-if="!demande_debut_travaux_pr.$edit" ng-click="vm.modifierDemande_debut_travaux_pr(demande_debut_travaux_pr)" title="Modifier">
                          <span class="icon-table-edit"></span>
                        </a>
                                  
                        <a ng-if="!demande_debut_travaux_pr.$edit" ng-click="vm.supprimerDemande_debut_travaux_pr(demande_debut_travaux_pr)" title="Supprimer">
                          <span class="icon-delete"></span>
                        </a>
                                  
                        <a ng-if="demande_debut_travaux_pr.$edit" ng-click="vm.annulerDemande_debut_travaux_pr(demande_debut_travaux_pr)" title="Annuler modification">
                          <span class="icon-cancel"></span>
                        </a>
                                  
                        <a ng-if="demande_debut_travaux_pr.$edit && demande_debut_travaux_pr.objet && demande_debut_travaux_pr.description && demande_debut_travaux_pr.montant && demande_debut_travaux_pr.date  && demande_debut_travaux_pr.ref_facture && demande_debut_travaux_pr.id_tranche_d_debut_travaux_pr && demande_debut_travaux_pr.cumul && demande_debut_travaux_pr.reste>''" ng-click="vm.ajoutDemande_debut_travaux_pr(demande_debut_travaux_pr,0)" title="Sauvegarder">
                          <span class="icon-content-save"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN demande_debut_travaux_pr ------>

    <!-----Debut justificatif_debut_travaux_pr ------>
          <md-tab ng-disabled="vm.stepOne==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">2</span>
                    
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==true">2
                    </span>
                    <span class="ms-form-wizard-step-text">Pièce jointe (convention)</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterJustificatif_debut_travaux_pr()" style="width:10%;">
                      Nouveau
                    </md-button>
                </div>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Description</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Fichier</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Action</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="justificatif_debut_travaux_pr in vm.alljustificatif_debut_travaux_pr"  ng-class="{selected: justificatif_debut_travaux_pr.$selected}" ng-click="vm.selectionJustificatif_debut_travaux_pr(justificatif_debut_travaux_pr)">
                               
                      <td>
                        <span ng-if="justificatif_debut_travaux_pr.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Description</label>
                            <input name="description" type="text" ng-model="justificatif_debut_travaux_pr.description"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!justificatif_debut_travaux_pr.$edit">{{justificatif_debut_travaux_pr.description}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="justificatif_debut_travaux_pr.$edit" style="display: inline-block !important;">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Fichier</label>
                            <input name="fichier" type="text" ng-model="justificatif_debut_travaux_pr.fichier" disabled/>
                          </md-input-container>   
                        </span>

                        <span ng-if="justificatif_debut_travaux_pr.$edit" style="display: inline-block !important;">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Fichier</label>
                          <input type="file"name="myFile" aria-label="upload" custom-on-change="uploadFile"  ng-model="fichier" id="fileid"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!justificatif_debut_travaux_pr.$edit">{{justificatif_debut_travaux_pr.fichier}}</span>
                      </td>                       
                      <td>
                        <a ng-if="!justificatif_debut_travaux_pr.$edit" ng-click="vm.modifierJustificatif_debut_travaux_pr(justificatif_debut_travaux_pr)" title="Modifier">
                          <span class="icon-table-edit"></span>
                        </a>
                                  
                        <a ng-if="!justificatif_debut_travaux_pr.$edit" ng-click="vm.supprimerJustificatif_debut_travaux_pr(justificatif_debut_travaux_pr)" title="Supprimer">
                          <span class="icon-delete"></span>
                        </a>
                        
                        <a ng-if="!justificatif_debut_travaux_pr.$edit" ng-click="vm.download_piece(justificatif_debut_travaux_pr)" title="Telecharger">
                          <span class="icon-box-download"></span>
                        </a>
                                  
                        <a ng-if="justificatif_debut_travaux_pr.$edit" ng-click="vm.annulerJustificatif_debut_travaux_pr(justificatif_debut_travaux_pr)" title="Annuler modification">
                          <span class="icon-cancel"></span>
                        </a>
                                  
                        <a ng-if="justificatif_debut_travaux_pr.$edit && justificatif_debut_travaux_pr.description && justificatif_debut_travaux_pr.fichier>''" ng-click="vm.ajoutJustificatif_debut_travaux_pr(justificatif_debut_travaux_pr,0)" title="Sauvegarder">
                          <span class="icon-content-save"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
          <md-tab>
          </md-tab>
    <!-----FIN demande_debut_travaux_pr ------>
          </md-tabs>
        </ms-form-wizard>
                         
      </div>
    </div>
    <!-- / CONTENT -->
  </div>