  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Gerer situation feffi</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Feffi</span>
            </div>

            <div class="title">Feffi</div>
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">

      <div class="form-wrapper md-whiteframe-1dp" >

        <ms-form-wizard flex>
          <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">
      <!-----debut prestataire ------>

             <md-tab>
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==false">1</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">MPE</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>

                <div>        
                  <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                    <thead>
                      <tr>
                        <th class="secondary-text" ng-repeat="pres in ::vm.prestataire_column">
                          <div class="table-header">
                            <span class="column-title">{{pres.titre}}</span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                             
                    <tbody>
                      <tr ng-repeat="prestataire in vm.allprestataire"  ng-class="{selected: prestataire.$selected}" ng-click="vm.selectionPrestataire(prestataire)">           
                       <td>                                    
                          <span>{{prestataire.nom}}</span>
                        </td>

                        <td>                                    
                          <span>{{prestataire.nif}}</span>
                        </td>

                        <td>                                    
                          <span>{{prestataire.stat}}</span>
                        </td>

                        <td>  
                          <span>{{prestataire.siege}}</span>
                        </td>

                        <td>                         
                          <span>{{prestataire.telephone}}</span>
                        </td>                       
                      </tr>
                    </tbody>
                  </table>
                </div>
              </md-tab-body>
            </md-tab>    
      <!-----fin prestataire ------>
      <!-----Debut contrat prstataire ------>
          <md-tab ng-disabled="vm.stepOne==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">2</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Contrat prestataire</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="mem in ::vm.contrat_prestataire_column">
                        <div class="table-header">
                          <span class="column-title">{{mem.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="contrat_prestataire in vm.allcontrat_prestataire"  ng-class="{selected: contrat_prestataire.$selected}" ng-click="vm.selectionContrat_prestataire(contrat_prestataire)">
                                
                      <td>  
                        <span>{{contrat_prestataire.prestataire.nom}}</span>
                      </td>
                                
                      <td>     
                        <span>{{contrat_prestataire.description}}</span>
                      </td>
                                
                      <td>    
                        <span>{{contrat_prestataire.num_contrat}}</span>
                      </td>
                                
                      <td>      
                        <span>{{contrat_prestataire.cout_batiment}}</span>
                      </td>
                                
                      <td>     
                        <span>{{contrat_prestataire.cout_latrine}}</span>
                      </td>
                                
                      <td>      
                        <span>{{contrat_prestataire.cout_mobilier}}</span>
                      </td>

                      <td>                         
                        <span>{{vm.affichageDate(contrat_prestataire.date_signature)}}</span>
                      </td>

                      <td>                          
                        <span>{{vm.affichageDate(contrat_prestataire.date_prev_deb_trav)}}</span>
                      </td>

                      <td>                          
                        <span>{{vm.affichageDate(contrat_prestataire.date_reel_deb_trav)}}</span>
                      </td>

                                
                      <td>     
                        <span>{{contrat_prestataire.delai_execution}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN contrat prstataire ------>

    <!-----Debut passation_marches ------>
          <md-tab ng-disabled="vm.stepOne==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">2</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">passation_marches</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterPassation_marches()" style="width:10%;" ng-disabled="!vm.showbuttonNouvPassation">
                      Nouveau
                    </md-button>
                </div>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="mem in ::vm.passation_marches_column">
                        <div class="table-header">
                          <span class="column-title">{{mem.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="passation_marches in vm.allpassation_marches"  ng-class="{selected: passation_marches.$selected}" ng-click="vm.selectionPassation_marches(passation_marches)">           
                      <td>
                        <span ng-if="passation_marches.$edit">
                          <md-datepicker ng-model="passation_marches.date_lancement" md-placeholder="Date de signature" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!passation_marches.$edit">{{vm.affichageDate(passation_marches.date_lancement)}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="passation_marches.$edit">
                          <md-datepicker ng-model="passation_marches.date_remise" md-placeholder="Date de signature" md-min-date="passation_marches.date_lancement" md-max-date="vm.date_now" required>                       
                          </md-datepicker>   
                        </span>
                                  
                        <span ng-if="!passation_marches.$edit">{{vm.affichageDate(passation_marches.date_remise)}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="passation_marches.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Nombre offre recu</label>
                            <input name="nbr_offre_recu" type="text" ng-model="passation_marches.nbr_offre_recu" disabled/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!passation_marches.$edit">{{passation_marches.nbr_offre_recu}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="passation_marches.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Montant moins chere</label>
                            <input name="montant_moin_chere" type="text" ng-model="passation_marches.montant_moin_chere"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!passation_marches.$edit">{{passation_marches.montant_moin_chere}}</span>
                      </td>

                      <td>
                        <span ng-if="passation_marches.$edit">
                          <md-datepicker ng-model="passation_marches.date_rapport_evaluation" md-placeholder="Date de signature" md-min-date="passation_marches.date_remise" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!passation_marches.$edit">{{vm.affichageDate(passation_marches.date_rapport_evaluation)}}</span>
                      </td>

                      <td>
                        <span ng-if="passation_marches.$edit">
                          <md-datepicker ng-model="passation_marches.date_demande_ano_dpfi" md-placeholder="Date de signature" md-min-date="passation_marches.date_rapport_evaluation" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!passation_marches.$edit">{{vm.affichageDate(passation_marches.date_demande_ano_dpfi)}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="passation_marches.$edit">
                          <md-datepicker ng-model="passation_marches.date_ano_dpfi" md-placeholder="Date de signature" md-min-date="passation_marches.date_demande_ano_dpfi" md-max-date="vm.date_now" required>                       
                          </md-datepicker>  
                        </span>
                                  
                        <span ng-if="!passation_marches.$edit">{{vm.affichageDate(passation_marches.date_ano_dpfi)}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="passation_marches.$edit">
                          <md-datepicker ng-model="passation_marches.notification_intention" md-placeholder="Date de notification" md-min-date="passation_marches.date_demande_ano_dpfi" md-max-date="vm.date_now" required>                       
                          </md-datepicker>  
                        </span>
                                  
                        <span ng-if="!passation_marches.$edit">{{vm.affichageDate(passation_marches.notification_intention)}}</span>
                      </td>

                      <td>
                        <span ng-if="passation_marches.$edit">
                          <md-datepicker ng-model="passation_marches.date_notification_attribution" md-placeholder="Date de signature" md-min-date="passation_marches.notification_intention" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!passation_marches.$edit">{{vm.affichageDate(passation_marches.date_notification_attribution)}}</span>
                      </td>

                      <td>
                        <span ng-if="passation_marches.$edit">
                          <md-datepicker ng-model="passation_marches.date_os" md-placeholder="Date de signature" md-min-date="passation_marches.date_signature_contrat" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!passation_marches.$edit">{{vm.affichageDate(passation_marches.date_os)}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="passation_marches.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Observation</label>
                            <input name="observation" type="text" ng-model="passation_marches.observation"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!passation_marches.$edit">{{passation_marches.observation}}</span>
                      </td>
                                                   
                      <td>
                        <a ng-if="!passation_marches.$edit" ng-click="vm.modifierPassation_marches(passation_marches)" title="Modifier">
                          <span class="icon-table-edit"></span>
                        </a>
                                  
                        <a ng-if="!passation_marches.$edit" ng-click="vm.supprimerPassation_marches(passation_marches)" title="Supprimer">
                          <span class="icon-delete"></span>
                        </a>
                                  
                        <a ng-if="passation_marches.$edit" ng-click="vm.annulerPassation_marches(passation_marches)" title="Annuler modification">
                          <span class="icon-cancel"></span>
                        </a>
                                  
                        <a ng-if="passation_marches.$edit && passation_marches.date_lancement && passation_marches.date_remise && passation_marches.montant_moin_chere && passation_marches.date_rapport_evaluation && passation_marches.date_demande_ano_dpfi && passation_marches.date_ano_dpfi && passation_marches.notification_intention && passation_marches.date_notification_attribution && passation_marches.date_os && passation_marches.observation >''" ng-click="vm.ajoutPassation_marches(passation_marches,0)" title="Sauvegarder">
                          <span class="icon-content-save"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN passation_marches ------>

    <!-----Debut mpe_soumissionaire ------>
          <md-tab ng-disabled="vm.stepTwo==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==false">3</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">mpe_soumissionaire</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterMpe_soumissionaire()" style="width:10%;">
                      Nouveau
                    </md-button>
                </div>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="mem in ::vm.mpe_soumissionaire_column">
                        <div class="table-header">
                          <span class="column-title">{{mem.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="mpe_soumissionaire in vm.allmpe_soumissionaire"  ng-class="{selected: mpe_soumissionaire.$selected}" ng-click="vm.selectionMpe_soumissionaire(mpe_soumissionaire)">
                                
                      <td>
                        <span ng-if="mpe_soumissionaire.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Prestataire</label>
                            <md-select ng-model="mpe_soumissionaire.id_prestataire"style="overflow: hidden;text-overflow: ellipsis;" ng-change="vm.changePrestataire(mpe_soumissionaire)">
                              <md-option ng-repeat="prestataire in vm.allprestataire" value="{{prestataire.id}}">
                                                                    {{prestataire.nom}}
                              </md-option>
                            </md-select>
                          </md-input-container>   
                        </span> 
                        <span ng-if="!mpe_soumissionaire.$edit">{{mpe_soumissionaire.prestataire.nom}}</span>
                      </td>          
                      <td>
                        <span ng-if="mpe_soumissionaire.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Telephone</label>
                            <input name="telephone" type="text" ng-model="mpe_soumissionaire.telephone" disabled/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!mpe_soumissionaire.$edit">{{mpe_soumissionaire.prestataire.telephone}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="mpe_soumissionaire.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Siège</label>
                            <input name="siege" type="text" ng-model="mpe_soumissionaire.siege" disabled/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!mpe_soumissionaire.$edit">{{mpe_soumissionaire.prestataire.siege}}</span>
                      </td>                       
                      <td>
                        <a ng-if="!mpe_soumissionaire.$edit" ng-click="vm.modifierMpe_soumissionaire(mpe_soumissionaire)" title="Modifier">
                          <span class="icon-table-edit"></span>
                        </a>
                                  
                        <a ng-if="!mpe_soumissionaire.$edit" ng-click="vm.supprimerMpe_soumissionaire(mpe_soumissionaire)" title="Supprimer">
                          <span class="icon-delete"></span>
                        </a>
                                  
                        <a ng-if="mpe_soumissionaire.$edit" ng-click="vm.annulerMpe_soumissionaire(mpe_soumissionaire)" title="Annuler modification">
                          <span class="icon-cancel"></span>
                        </a>
                                  
                        <a ng-if="mpe_soumissionaire.$edit && mpe_soumissionaire.id_prestataire>''" ng-click="vm.ajoutMpe_soumissionaire(mpe_soumissionaire,0)" title="Sauvegarder">
                          <span class="icon-content-save"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN passation_marches ------>                    
      </div>
    </div>
    <!-- / CONTENT -->
  </div>