  <div id="formsdecaisi" class="page-layout simple fullwidth doc-page" layout="column" >

    <!-- HEADER -->
    <div class="header md-accent-bg {{vm.header_class}}" layout="row" layout-align="space-between" >
        <div layout="column" layout-align="space-between" style="height: 10px !important;">
            <div class="breadcrumb" layout="row" layout-align="start center" >
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Gestion financière des activitées</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Niveau FEFFI</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Insertion décaissement fonctionnement (AAC)</span>
            </div>

            <!--div class="title">Convention CISCO/FEFFI</div-->
                                       
            
        </div><br>
        <div style="text-align: center; margin: auto; float: bottom" ng-if="vm.header_ref_convention">
                <span>Référence convention:</span>
                <span style="margin-right: 20px; color: rgb(253, 159, 46);text-shadow: 1px 1px 1px rgb(52, 3, 65);">{{vm.header_ref_convention}}</span>
                
                <span>CISCO:</span>                
                <span style="margin-right: 20px; color: black;color: rgb(253, 159, 46);text-shadow: 1px 1px 1px rgb(52, 3, 65);">{{vm.header_cisco}}</span>

                <span>FEFFI:</span>
                <span style="color: rgb(253, 159, 46);text-shadow: 1px 1px 1px rgb(52, 3, 65);">{{vm.header_feffi}}</span>
        </div>
        
    </div>    
    
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">
      <div class="form-wrapper md-whiteframe-1dp" >
<!----------------------------------------------DEBUT TABS MERE-------------------------------------------------------------->
         <ms-form-wizard flex>
          <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">

    <!------------------------------------DEBUT CONVENTION CISCO/FEFFI--------------------------------------------------->
            
            <md-tab>
              <md-tab-label >
                <span class="ms-form-wizard-step-label">
                    <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-basket-fill s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Convention</span>
                </span>
               
              </md-tab-label>
              
              <md-tab-body>
                
                      <div style="margin-top: 1px;">
                          <div ng-show="vm.showfiltre" class="md-whiteframe-3dp animate-show-hide">
                          <form name="filtreform" class="md-inline-form" novalidate >
                            <br>
                            <div style="margin: 0px 15px 10px 15px;">
                              <!--div layout="column" layout-gt-xs="row">
                                  <md-input-container>
                                    <span style="font-size: 14.5px" class="text-semibold">Date signature convention du: &nbsp</span>
                                  </md-input-container>

                                  <md-datepicker ng-model="vm.filtre.date_debut" md-max-date="vm.datenow" required style="">                     
                                  </md-datepicker>

                                  <md-input-container>
                                    <span style="font-size: 14.5px" class="text-semibold">&nbsp &nbsp jusqu'au &nbsp &nbsp</span>
                                  </md-input-container>

                                  <md-datepicker ng-model="vm.filtre.date_fin" md-min-date="vm.filtre.date_debut" md-max-date="vm.datenow" ng-disabled="!vm.filtre.date_debut" required>                        
                                  </md-datepicker>
                                </div-->
                                <div layout="column" layout-gt-xs="row">

                                <md-input-container flex="100" flex-gt-xs="90" ng-show="false">
                                  <label>Lot</label>
                                  <md-select ng-model="vm.filtre.lot" name="lot" style="overflow: hidden;text-overflow: ellipsis;">
                                    <md-option value="*">*</md-option>
                                    <md-option value="1">Lot 1</md-option>
                                    <md-option value="2">Lot 2</md-option>
                                    <md-option value="3">Lot 3</md-option>
                                    <md-option value="4">Lot 4</md-option>
                                  </md-select>
                                  <div ng-messages="filtreform.lot.$error" role="alert">
                                    <div ng-message="required"><span>Lot</span></div>
                                  </div>
                                </md-input-container>
                                <md-input-container flex="100" flex-gt-xs="90">
                                  <label>Région</label>
                                  <md-select ng-model="vm.filtre.id_region" name="region" ng-change="vm.filtre_change_region(vm.filtre)" required>
                                    
                                    <md-option ng-repeat="region in vm.regions" value="{{region.id}}" > {{region.nom}}</md-option>
                                  </md-select>
                                  <div ng-messages="filtreform.region.$error" role="alert">
                                    <div ng-message="required"><span>Région</span></div>
                                  </div>
                                </md-input-container>
                                        
                                <md-input-container flex="100" flex-gt-xs="90">
                                  <label>Cisco</label>
                                  <md-select ng-model="vm.filtre.id_cisco" ng-disabled="!vm.filtre.id_region" ng-change="vm.filtre_change_cisco(vm.filtre)" name="cisco" required>
                                    
                                    <md-option ng-repeat="d in vm.ciscos" value="{{d.id}}"> {{d.description}}</md-option>
                                                        
                                    </md-select>
                                    <div ng-messages="filtreform.cisco.$error" role="alert">
                                      <div ng-message="required"><span>Cisco</span></div>
                                    </div>
                                </md-input-container>
                                        
                                <md-input-container flex="100" flex-gt-xs="90">
                                  <label>Commune</label>
                                  <md-select ng-model="vm.filtre.id_commune" ng-disabled="!vm.filtre.id_cisco" name="commune" ng-change="vm.filtre_change_commune(vm.filtre)">
                                    <md-option  value="*">*</md-option>
                                    <md-option ng-repeat="eco in vm.communes" value="{{eco.id}}"> {{eco.nom}}</md-option>
                                  </md-select>
                                  <div ng-messages="filtreform.commune.$error" role="alert">
                                    <div ng-message="required"><span>Commune</span></div>
                                  </div>
                                 </md-input-container>                                 

                                <md-input-container flex="100" flex-gt-xs="90">
                                  <label>Zap</label>
                                  <md-select ng-model="vm.filtre.id_zap" name="zap" ng-disabled="!vm.filtre.id_commune" ng-change="vm.filtre_change_zap(vm.filtre)">
                                    <md-option  value="*">*</md-option>
                                    <md-option ng-repeat="zaps in vm.zaps" value="{{zaps.id}}"> {{zaps.nom}}
                                    </md-option>
                                  </md-select>  
                                  <div ng-messages="filtreform.zap.$error" role="alert">
                                    <div ng-message="required"><span>Zap</span></div>
                                  </div>
                                </md-input-container>
                                        
                                <md-input-container flex="100" flex-gt-xs="90">
                                  <label>Ecole</label>
                                  <md-select ng-model="vm.filtre.id_ecole" name="ecole" ng-disabled="!vm.filtre.id_commune" ng-change="vm.filtre_change_ecole(vm.filtre)">
                                    <md-option  value="*">*</md-option>
                                    <md-option ng-repeat="eco in vm.ecoles" value="{{eco.id}}"> {{eco.description}}
                                    </md-option>
                                  </md-select>
                                  <div ng-messages="filtreform.ecole.$error" role="alert">
                                    <div ng-message="required"><span>Ecole</span></div>
                                  </div>
                                </md-input-container>
                                <md-input-container flex="100" flex-gt-xs="90">
                                  <label>Convention</label>
                                  <md-select ng-model="vm.filtre.id_convention_entete" name="convention" ng-disabled="!vm.filtre.id_ecole">
                                    <md-option  value="*">*</md-option>
                                    <md-option ng-repeat="eco in vm.convention_cisco_feffi_entetes" value="{{eco.id}}"> {{eco.ref_convention}}
                                    </md-option>
                                  </md-select>  
                                  <div ng-messages="filtreform.convention_entete.$error" role="alert">
                                    <div ng-message="required"><span>Convention</span></div>
                                  </div>
                                </md-input-container>
                              </div>
                              </div>  
                              
                              <div class="footer-animate-show-hide" layout="row" layout-align="end end">
                                  <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer" ng-disabled="filtreform.$invalid" ng-click="vm.recherchefiltre(vm.filtre)" style="float: right;">
                                                            Recherche
                                  </md-button>
                                  <md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annulerfiltre()" style="float: right;">
                                                        Réinitialise
                                  </md-button>
                              </div>
                          </form>
                      </div>
                                   
                      <div class="bouton-animate-show-hide">

                        <md-button type="submit" class="md-raised md-accent bouton-show-hide" aria-label="Filtre" ng-click="vm.showformfiltre()"><!--ng-show="vm.showbuttonfiltre"-->
                         <md-icon md-font-icon="icon-filter" class="s16" style="color:green">                            
                        </md-icon>                           
                         <md-icon md-font-icon="icon-chevron-double-up" ng-if="!vm.showfiltre" class="s16">                            
                        </md-icon>
                        <md-icon md-font-icon="icon-chevron-double-down" ng-if="vm.showfiltre" class="s16">                            
                        </md-icon>
                        <md-tooltip><span>Bouton filtre</span></md-tooltip>
                        </md-button> 
                    </div>
                  </div>

                  <div style="clear:both;"></div>            
                    <div style="float: top !important">
                      <md-progress-circular ng-if="vm.affiche_load" class="md-accent" aria-label="Rating" md-mode="indeterminate" md-diameter="48"></md-progress-circular> 
                      <div ng-if="vm.affiche_load" style="position:relative;top: -30px;  left: 60px;color: #039be5">
                              Chargement,veuillez patienter s'il vous plait ...
                      </div>
                    </div>

            <div>        
               <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                       <th class="secondary-text" ng-repeat="conv_ente in ::vm.convention_entete_column">
                         <div class="table-header">
                            <span class="column-title">{{conv_ente.titre}}</span>
                        </div>
                      </th>
                     </tr>
                  </thead>
                                             
                   <tbody>
                     <tr ng-repeat="convention_entete in vm.allconvention_entete"  ng-class="{selected: convention_entete.$selected}" ng-click="vm.selectionConvention_entete(convention_entete)">           
                       <td>
                        <span>{{convention_entete.cisco.description}}</span>
                      </td>

                      <td>
                          <span>{{convention_entete.feffi.denomination}}</span>
                      </td>

                      <td>
                        <span>{{convention_entete.site.code_sous_projet}}</span>
                      </td>

                      <td>
                        <span>{{convention_entete.site.acces}}</span>
                      </td>

                       <td>                         
                         <span>{{convention_entete.ref_convention}}</span>
                       </td>

                       <td>                         
                         <span>{{convention_entete.objet}}</span>
                       </td>

                       <td>                                    
                         <span>{{convention_entete.ref_financement}}</span>
                      </td>
                      <td>                          
                        <span>{{vm.formatMillier(convention_entete.montant_total)}} Ar</span>
                      </td>

                       <td>                          
                        <span>{{convention_entete.user.nom}}</span>
                       </td>
                     </tr>
                  </tbody>
                </table>
              </div>
              </md-tab-body>
            </md-tab>
    <!------------------------------------FIN CONVENTION CISCO/FEFFI--------------------------------------------------->

                    <!-----------------------DEBUT DECAISSEMENT FONCTIONNEMENT FEFFI------------------------------------->
                          <md-tab ng-disabled="!vm.stepDecaiss" ng-click="vm.step_menu_decaiss()">
                            <md-tab-label>
                              <span class="ms-form-wizard-step-label">
                                  <!--span class="ms-form-wizard-step-number md-accent-bg">
                                    <i class="icon-basket-unfill s16"></i>
                                  </span-->
                                  <span class="ms-form-wizard-step-number md-accent-bg">D</span>
                                  <span class="ms-form-wizard-step-text">Décaissement fonctionnement</span>
                                  <!--span class="ms-form-wizard-step-number md-accent-bg notification">{{vm.nbr_decaiss_feffi}}</span-->
                              </span>
                             
                            </md-tab-label>
                            
                           <md-tab-body>
                               <div style="widht:100%;">  
                                  <md-button type="submit" class="md-raised md-accent md-green-600-bg" aria-label="Nouveau" ng-click="vm.ajouterDecaiss_fonct_feffi()" style="width:10%;">
                                    Nouveau
                                  </md-button><br>
                              </div>

                              <div>        
                              <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                                <thead>
                                  <tr>
                                    <th class="secondary-text">
                                      <div class="table-header">
                                        <span class="column-title">Montant</span>
                                      </div>
                                    </th>
                                    <th class="secondary-text">
                                      <div class="table-header">
                                        <span class="column-title">Date décaissement</span>
                                      </div>
                                    </th>
                                    <!--th class="secondary-text">
                                      <div class="table-header">
                                        <span class="column-title">Situation</span>
                                      </div>
                                    </th-->
                                    <th class="secondary-text">
                                      <div class="table-header">
                                        <span class="column-title">Observation</span>
                                      </div>
                                    </th>
                                    <th class="secondary-text">
                                      <div class="table-header">
                                        <span class="column-title">Action</span>
                                      </div>
                                    </th>
                                  </tr>
                                </thead>
                                         
                                <tbody>
                                  <tr ng-repeat="decaiss_fonct_feffi in vm.alldecaiss_fonct_feffi"  ng-class="{selected: decaiss_fonct_feffi.$selected}" ng-click="vm.selectionDecaiss_fonct_feffi(decaiss_fonct_feffi)">

                                    <td>
                                      <span ng-if="decaiss_fonct_feffi.$edit">
                                        <md-input-container style="width:100%;display: flex !important;">
                                          <label>Montant</label>
                                          <input name="montant" type="number" ng-model="decaiss_fonct_feffi.montant" ng-min="1"/>
                                        </md-input-container>   
                                      </span>
                                                
                                      <span ng-if="!decaiss_fonct_feffi.$edit">{{vm.formatMillier(decaiss_fonct_feffi.montant)}} Ar</span>
                                    </td>

                                    <td>
                                      <span ng-if="decaiss_fonct_feffi.$edit">
                                        <md-datepicker ng-model="decaiss_fonct_feffi.date_decaissement" md-placeholder="Date de decaissement" required>                       
                                        </md-datepicker>
                                      </span>                          
                                      <span ng-if="!decaiss_fonct_feffi.$edit">{{vm.formatDate(decaiss_fonct_feffi.date_decaissement)}}</span>
                                    </td>
                                    <!--td>                                                
                                      <span>{{vm.affichage_situa_decais(decaiss_fonct_feffi.validation)}}</span>
                                    </td-->

                                    <td>
                                      <span ng-if="decaiss_fonct_feffi.$edit">
                                        <md-input-container style="width:100%;display: flex !important;">
                                          <label>Observation</label>
                                          <input name="observation" type="text" ng-model="decaiss_fonct_feffi.observation"/>
                                        </md-input-container>   
                                      </span>
                                                
                                      <span ng-if="!decaiss_fonct_feffi.$edit">{{decaiss_fonct_feffi.observation}}</span>
                                    </td>

                                    <td>
                                      <a ng-if="!decaiss_fonct_feffi.$edit && decaiss_fonct_feffi.validation==0" ng-click="vm.modifierDecaiss_fonct_feffi(decaiss_fonct_feffi)" title="Modifier">
                                        <span class="icon-table-edit"></span>
                                      </a>
                                                
                                      <a ng-if="!decaiss_fonct_feffi.$edit && decaiss_fonct_feffi.validation==0" ng-click="vm.supprimerDecaiss_fonct_feffi(decaiss_fonct_feffi)" title="Supprimer">
                                        <span class="icon-table-row-remove" style="color: rgb(211,47,47)"></span>
                                      </a>
                                      <span ng-if="decaiss_fonct_feffi.validation==1">Aucune action disponible</span>          
                                      <a ng-if="decaiss_fonct_feffi.$edit" ng-click="vm.annulerDecaiss_fonct_feffi(decaiss_fonct_feffi)" title="Annuler modification">
                                        <span class="icon-cancel"></span>
                                      </a>
                                                
                                      <a ng-if="decaiss_fonct_feffi.$edit && decaiss_fonct_feffi.montant && decaiss_fonct_feffi.date_decaissement >''" ng-click="vm.ajoutDecaiss_fonct_feffi(decaiss_fonct_feffi,0)" title="Sauvegarder">
                                        <span class="icon-content-save"></span>
                                      </a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            </md-tab-body>
                          </md-tab>


                    <md-tab ng-disabled="!vm.stepjusti_decais" ng-click="vm.step_menu_justif()">
                      <md-tab-label>
                        <span class="ms-form-wizard-step-label">
                          <span class="ms-form-wizard-step-number md-accent-bg">J</span>
                            <span class="ms-form-wizard-step-text">Justification</span>
                        </span>
                       
                      </md-tab-label>                       
                      
                      <md-tab-body>
                        <div style="widht:100%;">  
                          <md-button type="submit" class="md-raised md-accent md-green-600-bg" aria-label="Nouveau" ng-click="vm.ajouterJustificatif_decaiss_fonct_feffi()" style="width:10%;" ng-show="vm.validation_decais_fef ==0">
                            Nouveau
                          </md-button><br>
                        </div>
                       <div>        
                        <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                          <thead>
                            <tr>
                              <th class="secondary-text">
                                <div class="table-header">
                                  <span class="column-title">Description</span>
                                </div>
                              </th>
                              <th class="secondary-text">
                                <div class="table-header">
                                  <span class="column-title">Fichier</span>
                                </div>
                              </th>
                              <th class="secondary-text">
                                <div class="table-header">
                                  <span class="column-title">Action</span>
                                </div>
                              </th>
                            </tr>
                          </thead>
                                   
                          <tbody>
                            <tr ng-repeat="justificatif_decaiss_fonct_feffi in vm.alljustificatif_decaiss_fonct_feffi"  ng-class="{selected: justificatif_decaiss_fonct_feffi.$selected}" ng-click="vm.selectionJustificatif_decaiss_fonct_feffi(justificatif_decaiss_fonct_feffi)">
                                       
                              <td>
                                <span ng-if="justificatif_decaiss_fonct_feffi.$edit">
                                  <md-input-container style="width:100%;display: flex !important;">
                                    <label>Description</label>
                                    <input name="description" type="text" ng-model="justificatif_decaiss_fonct_feffi.description"/>
                                  </md-input-container>   
                                </span>
                                          
                                <span ng-if="!justificatif_decaiss_fonct_feffi.$edit">{{justificatif_decaiss_fonct_feffi.description}}</span>
                              </td>
                                        
                              <td>
                                <span ng-if="justificatif_decaiss_fonct_feffi.$edit" style="display: inline-block !important;">
                                  <md-input-container style="width:100%;display: flex !important;">
                                    <label>Fichier</label>
                                    <input name="fichier" type="text" ng-model="justificatif_decaiss_fonct_feffi.fichier" disabled/>
                                  </md-input-container>   
                                </span>

                                <span ng-if="justificatif_decaiss_fonct_feffi.$edit" style="display: inline-block !important;">
                                  <md-input-container style="width:100%;display: flex !important;">
                                    <label>Fichier</label>
                                  <input type="file"name="myFile" aria-label="upload" custom-on-changepiecedecaiss="uploadFiledecaiss_fonct_feffi"  ng-model="fichier" id="fileid"/>
                                  </md-input-container>   
                                </span>
                                          
                                <span ng-if="!justificatif_decaiss_fonct_feffi.$edit">{{justificatif_decaiss_fonct_feffi.fichier}}</span>
                              </td>                       
                              <td>
                                <!--a ng-if="!justificatif_decaiss_fonct_feffi.$edit && vm.validation_decais_fef==0" ng-click="vm.modifierJustificatif_decaiss_fonct_feffi(justificatif_decaiss_fonct_feffi)" title="Modifier">
                                  <span class="icon-table-edit"></span>
                                </a-->
                                          
                                <a ng-if="!justificatif_decaiss_fonct_feffi.$edit && vm.validation_decais_fef==0" ng-click="vm.supprimerJustificatif_decaiss_fonct_feffi(justificatif_decaiss_fonct_feffi)" title="Supprimer">
                                  <span class="icon-table-row-remove" style="color: rgb(211,47,47)"></span>
                                </a>
                                <a ng-if="!justificatif_decaiss_fonct_feffi.$edit" ng-click="vm.download_decaiss_fonct_feffi(justificatif_decaiss_fonct_feffi)" title="Telecharger">
                                    <span class="icon-box-download"></span>
                                </a>          
                                <a ng-if="justificatif_decaiss_fonct_feffi.$edit" ng-click="vm.annulerJustificatif_decaiss_fonct_feffi(justificatif_decaiss_fonct_feffi)" title="Annuler modification">
                                  <span class="icon-cancel"></span>
                                </a>
                                          
                                <a ng-if="justificatif_decaiss_fonct_feffi.$edit && justificatif_decaiss_fonct_feffi.description && justificatif_decaiss_fonct_feffi.fichier>''" ng-click="vm.ajoutJustificatif_decaiss_fonct_feffi(justificatif_decaiss_fonct_feffi,0)" title="Sauvegarder">
                                  <span class="icon-content-save"></span>
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      </md-tab-body>
                    </md-tab>
            
          </md-tabs>
        </ms-form-wizard> 
<!------------------------------------FIN TABS MERE--------------------------------------------------->    
       </div>
      
    </div>
    <!-- / CONTENT -->
  </div>