  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Données de bases</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Feffi</span>
            </div>

            <div class="title">Feffi</div>
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">

      <!-- feffi -->
      <div class="form-wrapper md-whiteframe-1dp" >       
        <header layout="row" layout-align="space-between center" style="background: #F3F4F5; margin-bottom: 2px;" class="border-top border-bottom">
          <div layout="row" layout-align="start">
              <div class="border-right" style="display: flex; justify-content: center; align-items: center; padding: 0px 10px 0px 10px; ">
                <span style="line-height: normal;"> Feffi</span>
              </div>
              <div>
                <md-button class="md-icon-button" aria-label="add feffi" ng-click="vm.ajouter()">
                  <md-icon md-font-icon="icon-plus"></md-icon>
                  <md-tooltip><span>Ajout feffi</span></md-tooltip>
                </md-button>
              </div>                      
          </div>
        </header>
         <div>        
          <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" >
            <thead>
              <tr>
                <th class="secondary-text" ng-repeat="fef in ::vm.feffi_column">
                  <div class="table-header">
                    <span class="column-title">{{fef.titre}}</span>
                  </div>
                </th>
              </tr>
            </thead>
                     
            <tbody>
              <tr ng-repeat="feffi in vm.allfeffi"  ng-class="{selected: feffi.$selected}" ng-click="vm.selection(feffi)">           
                <td>
                  <span ng-if="feffi.$edit">
                    <md-input-container style="width:100%;display: flex !important;">
                      <label>Dénomination</label>
                      <input name="denomination" type="text" ng-model="feffi.denomination"/>
                    </md-input-container>
                  </span>                          
                  <span ng-if="!feffi.$edit">{{feffi.denomination}}</span>
                </td>
                          
                <td>
                  <span ng-if="feffi.$edit">
                    <md-input-container style="width:100%;display: flex !important;">
                      <label>Description</label>
                      <input name="Description" type="text" ng-model="feffi.description"/>
                    </md-input-container>   
                  </span>
                            
                  <span ng-if="!feffi.$edit">{{feffi.description}}</span>
                </td>

                <td>
                  <span ng-if="feffi.$edit">
                    <md-input-container style="width:100%;display: flex !important;">
                      <label>Ecole</label>
                      <md-select ng-model="feffi.id_ecole"style="overflow: hidden;text-overflow: ellipsis;">
                        <md-option ng-repeat="ecole in vm.allecole" value="{{ecole.id}}">
                                                            {{ecole.code}}
                        </md-option>
                      </md-select>
                    </md-input-container>  
                  </span>
                  <span ng-if="!feffi.$edit">{{feffi.ecole.code}}</span>
                </td>
                                             
                <td>
                  <a ng-if="!feffi.$edit" ng-click="vm.modifier(feffi)" title="Modifier">
                    <span class="icon-table-edit"></span>
                  </a>
                            
                  <a ng-if="!feffi.$edit" ng-click="vm.supprimer(feffi)" title="Supprimer">
                    <span class="icon-delete"></span>
                  </a>
                            
                  <a ng-if="feffi.$edit" ng-click="vm.annuler(feffi)" title="Annuler modification">
                    <span class="icon-cancel"></span>
                  </a>
                            
                  <a ng-if="feffi.$edit && feffi.denomination && feffi.description && feffi.id_ecole>''" ng-click="vm.ajout(feffi,0)" title="Sauvegarder">
                    <span class="icon-content-save"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>                   
      </div>
      <!-- / Cisco -->
    </div>
    <!-- / CONTENT -->
  </div>