  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Gerer situation partenaire_relai</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> partenaire_relai</span>
            </div>

            <div class="title">partenaire_relai</div>
        </div>
    </div>
    <!-- / HEADER -->
    
     <!-- CONTENT -->
    <div class="content" layout="column">

      <div class="form-wrapper md-whiteframe-1dp" >

        <ms-form-wizard flex>
          <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">

    <!-----debut FEFFI ------>

            <!--md-tab>
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==false">1</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==true">
                      <i class="icon-check s16"></i>
                    </span>
                    <span class="ms-form-wizard-step-text">Convention</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>

                <div>        
                  <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                    <thead>
                      <tr>
                        <th class="secondary-text" ng-repeat="ciscT in ::vm.convention_entete_column">
                          <div class="table-header">
                            <span class="column-title">{{ciscT.titre}}</span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                             
                    <tbody>
                      <tr ng-repeat="convention_entete in vm.allconvention_entete"  ng-class="{selected: convention_entete.$selected}" ng-click="vm.selectionConvention_entete(convention_entete)">           
                       <td>
                          <span>{{convention_entete.cisco.code}}</span>
                        </td>

                        <td>
                          <span>{{convention_entete.feffi.denomination}}</span>
                        </td>

                        <td>                          
                          <span>{{convention_entete.ref_convention}}</span>
                        </td>

                        <td>                         
                          <span">{{convention_entete.objet}}</span>
                        </td>

                        <td>       
                          <span>{{convention_entete.ref_financement}}</span>
                        </td>

                        <td>                          
                          <span>{{convention_entete.montant_total}}</span>
                        </td>

                        <td>                         
                          <span">{{convention_entete.avancement}}</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </md-tab-body>
            </md-tab-->
    <!-----FIN FEFFI ------>
    <!-----Debut contrat prstataire ------>
          <md-tab >
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==false">1</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Contrat partenaire_relai</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterContrat_partenaire_relai()" style="width:10%;" ng-show="vm.showbuttonNouvContrat_partenaire_relai==1">
                      Nouveau
                    </md-button>
                    <md-button type="submit" class="md-raised md-warn" aria-label="Nouveau" ng-click="vm.valider_contrat()" style="width:10%;" ng-show="vm.showbuttonValidation && vm.permissionboutonValider">
                      Validation
                    </md-button>
                </div>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="mem in ::vm.contrat_partenaire_relai_column">
                        <div class="table-header">
                          <span class="column-title">{{mem.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="contrat_partenaire_relai in vm.allcontrat_partenaire_relai"  ng-class="{selected: contrat_partenaire_relai.$selected}" ng-click="vm.selectionContrat_partenaire_relai(contrat_partenaire_relai)">
                                
                      <td>
                        <span ng-if="contrat_partenaire_relai.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Convention</label>
                            <md-select ng-model="contrat_partenaire_relai.id_convention_entete"style="overflow: hidden;text-overflow: ellipsis;">
                              <md-option ng-repeat="convention_entete in vm.allconvention_entete" value="{{convention_entete.id}}">
                                                                    {{convention_entete.ref_convention}}
                              </md-option>
                            </md-select>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!contrat_partenaire_relai.$edit">{{contrat_partenaire_relai.convention_entete.ref_convention}}</span>
                      </td>

                      <td>
                        <span ng-if="contrat_partenaire_relai.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>partenaire_relai</label>
                            <md-select ng-model="contrat_partenaire_relai.id_partenaire_relai"style="overflow: hidden;text-overflow: ellipsis;">
                              <md-option ng-repeat="partenaire_relai in vm.allpartenaire_relai" value="{{partenaire_relai.id}}">
                                                                    {{partenaire_relai.nom}}
                              </md-option>
                            </md-select>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!contrat_partenaire_relai.$edit">{{contrat_partenaire_relai.partenaire_relai.nom}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="contrat_partenaire_relai.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Intitule objet</label>
                            <input name="intitule" type="text" ng-model="contrat_partenaire_relai.intitule"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!contrat_partenaire_relai.$edit">{{contrat_partenaire_relai.intitule}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="contrat_partenaire_relai.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Réference contrat</label>
                            <input name="ref_contrat" type="text" ng-model="contrat_partenaire_relai.ref_contrat"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!contrat_partenaire_relai.$edit">{{contrat_partenaire_relai.ref_contrat}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="contrat_partenaire_relai.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Montant contrat</label>
                            <input name="montant_contrat" type="number" ng-model="contrat_partenaire_relai.montant_contrat"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!contrat_partenaire_relai.$edit">{{contrat_partenaire_relai.montant_contrat}}</span>
                      </td>

                      <td>
                        <span ng-if="contrat_partenaire_relai.$edit">
                          <md-datepicker ng-model="contrat_partenaire_relai.date_signature" md-placeholder="Date de signature" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!contrat_partenaire_relai.$edit">{{vm.affichageDate(contrat_partenaire_relai.date_signature)}}</span>
                      </td>
                                  
                        <span ng-if="!contrat_partenaire_relai.$edit">{{contrat_partenaire_relai.delai_execution}}</span>
                      </td>
                                                   
                      <td>
                        <a ng-if="!contrat_partenaire_relai.$edit" ng-click="vm.modifierContrat_partenaire_relai(contrat_partenaire_relai)" title="Modifier">
                          <span class="icon-table-edit"></span>
                        </a>
                                  
                        <a ng-if="!contrat_partenaire_relai.$edit" ng-click="vm.supprimerContrat_partenaire_relai(contrat_partenaire_relai)" title="Supprimer">
                          <span class="icon-delete"></span>
                        </a>
                       
                        <a ng-if="contrat_partenaire_relai.$edit" ng-click="vm.annulerContrat_partenaire_relai(contrat_partenaire_relai)" title="Annuler modification">
                          <span class="icon-cancel"></span>
                        </a>
                                  
                        <a ng-if="contrat_partenaire_relai.$edit && contrat_partenaire_relai.intitule && contrat_partenaire_relai.ref_contrat && contrat_partenaire_relai.montant_contrat &&  contrat_partenaire_relai.date_signature && contrat_partenaire_relai.id_partenaire_relai>''" ng-click="vm.ajoutContrat_partenaire_relai(contrat_partenaire_relai,0)" title="Sauvegarder">
                          <span class="icon-content-save"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN contrat prstataire ------>

    <!-----Debut avenant_partenaire_relai ------>
          <md-tab ng-disabled="vm.stepOne==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">2</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">avenant</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterAvenant_partenaire_relai()" style="width:10%;">
                      Nouveau
                    </md-button>
                </div>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="mem in ::vm.avenant_partenaire_relai_column">
                        <div class="table-header">
                          <span class="column-title">{{mem.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="avenant_partenaire_relai in vm.allavenant_partenaire_relai"  ng-class="{selected: avenant_partenaire_relai.$selected}" ng-click="vm.selectionAvenant_partenaire_relai(avenant_partenaire_relai)">
                                
                      <td>
                        <span ng-if="avenant_partenaire_relai.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Intitule objet</label>
                            <input name="intitule" type="text" ng-model="avenant_partenaire_relai.intitule"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!avenant_partenaire_relai.$edit">{{avenant_partenaire_relai.intitule}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="avenant_partenaire_relai.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Réference avenant</label>
                            <input name="ref_avenant" type="text" ng-model="avenant_partenaire_relai.ref_avenant"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!avenant_partenaire_relai.$edit">{{avenant_partenaire_relai.ref_avenant}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="avenant_partenaire_relai.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Montant avenant</label>
                            <input name="montant_avenant" type="text" ng-model="avenant_partenaire_relai.montant_avenant"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!avenant_partenaire_relai.$edit">{{avenant_partenaire_relai.montant_avenant}}</span>
                      </td>

                      <td>
                        <span ng-if="avenant_partenaire_relai.$edit">
                          <md-datepicker ng-model="avenant_partenaire_relai.date_signature" md-placeholder="Date de signature" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!avenant_partenaire_relai.$edit">{{vm.affichageDate(avenant_partenaire_relai.date_signature)}}</span>
                      </td>                      
                      <td>
                        <a ng-if="!avenant_partenaire_relai.$edit" ng-click="vm.modifierAvenant_partenaire_relai(avenant_partenaire_relai)" title="Modifier">
                          <span class="icon-table-edit"></span>
                        </a>
                                  
                        <a ng-if="!avenant_partenaire_relai.$edit" ng-click="vm.supprimerAvenant_partenaire_relai(avenant_partenaire_relai)" title="Supprimer">
                          <span class="icon-delete"></span>
                        </a>
                                  
                        <a ng-if="avenant_partenaire_relai.$edit" ng-click="vm.annulerAvenant_partenaire_relai(avenant_partenaire_relai)" title="Annuler modification">
                          <span class="icon-cancel"></span>
                        </a>
                                  
                        <a ng-if="avenant_partenaire_relai.$edit && avenant_partenaire_relai.intitule &&  avenant_partenaire_relai.ref_avenant && avenant_partenaire_relai.montant_avenant &&  avenant_partenaire_relai.date_signature>''" ng-click="vm.ajoutAvenant_partenaire_relai(avenant_partenaire_relai,0)" title="Sauvegarder">
                          <span class="icon-content-save"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
          <md-tab>
          </md-tab>
    <!-----FIN passation_marches ------> 
          </md-tabs>
        </ms-form-wizard>                   
      </div>
    </div>
    <!-- / CONTENT -->
  </div>