

  <md-dialog ng-cloak aria-label="dialog_type_effort">
      <md-subheader style="background-color: rgb(245,245,245)">
          <h2 mat-dialog-title  style="margin:0px">Ajout convention dans la programmation annuelle</h2>
      </md-subheader>

      <md-dialog-content layout="row" style="padding:0px">      
          <div style=" margin:auto;">
            <table class="dataTable row-border hover"  datatable="ng" dt-options="tOptions" ms-responsive-table>
            <thead>
              <tr>
                <th class="secondary-text" ng-repeat="cisc in ::conventiondialog_column">
                  <div class="table-header">
                    <span class="column-title">{{cisc.titre}}</span>
                  </div>
                </th>
              </tr>
            </thead>
                     
            <tbody>
              <tr ng-repeat="conventionDialog in allconventionDialog"  ng-class="{selected: conventionDialog.$selected}" ng-click="selectionConventionDialog(conventionDialog)">           
                

                <td>
                  <span ng-if="!conventionDialog.$edit">{{conventionDialog.cisco.code}}</span>
                </td>

                <td>
                  <span ng-if="!conventionDialog.$edit">{{conventionDialog.association.libelle}}</span>
                </td>

                <td>                          
                  <span ng-if="!conventionDialog.$edit">{{conventionDialog.numero_convention}}</span>
                </td>

                <td>                          
                  <span ng-if="!conventionDialog.$edit">{{conventionDialog.description}}</span>
                </td>

                <td>
                  <span ng-if="!conventionDialog.$edit">{{conventionDialog.categorie_ouvrage.libelle}}</span>
                </td>

                <td>
                  <span ng-if="!conventionDialog.$edit">{{conventionDialog.ouvrage.libelle}}</span>
                </td>
                          
                <td>                            
                  <span ng-if="!conventionDialog.$edit">{{conventionDialog.montant_prevu}}</span>
                </td>

                <td>                            
                  <span ng-if="!conventionDialog.$edit">{{conventionDialog.montant_reel}}</span>
                </td>

                <td>                            
                  <span ng-if="!conventionDialog.$edit">{{formatDate(conventionDialog.date)}}</span>
                </td>
              </tr>
            </tbody>
          </table>

          </div>
      </md-dialog-content>

      <md-dialog-actions layout="row" style="background-color: rgb(245,245,245)">
          <span>
            <md-button type="submit" class="md-raised md-accent" ng-click="dialognouveauajout()" ng-disabled="!affichebuttonAjouter">Ajouter
            </md-button>

            <md-button type="submit" class="md-raised md-primary" ng-click="cancel()">Annuler</md-button>
          </span>    
      </md-dialog-actions>
   
  </md-dialog>


