
   <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Traitement</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Suivi DAAF/FEFFI</span>
            </div>

            <div class="title">Suivi DAAF/FEFFI</div>
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">

      <!-- Convention -->
      <div class="form-wrapper md-whiteframe-1dp" >

        <ms-form-wizard flex>
          <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">
          <md-tab >
            <md-tab-label>
              <span class="ms-form-wizard-step-label">
                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==false">1</span>
                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==true">
                      <i class="icon-check s16"></i>
                </span>
                <span class="ms-form-wizard-step-text">Demande réalimentation invalide</span>
              </span>
            </md-tab-label>
            
            <md-tab-body> <br>

              <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                <thead>
                  <tr>
                    <th class="secondary-text" ng-repeat="cisc in ::vm.demande_realimentation_valide_column">
                      <div class="table-header">
                        <span class="column-title">{{cisc.titre}}</span>
                      </div>
                    </th>
                  </tr>
                </thead>                     
                <tbody>
                  <tr ng-repeat="demande_realimentation in vm.alldemande_realimentation_valide"  ng-class="{selected: demande_realimentation.$selected}" ng-click="vm.selectionDemande_realimentation(demande_realimentation)">
                    <td>
                      <span>{{demande_realimentation.compte_feffi.numero_compte}}</span>
                    </td>

                    <td>
                      <span>{{demande_realimentation.tranche.libelle}}</span>
                    </td>

                    <td>
                      <span>{{demande_realimentation.prevu}}</span>
                    </td>

                    <td>
                      <span>{{demande_realimentation.cumul}}</span>
                    </td>

                    <td>
                      <span>{{demande_realimentation.anterieur}}</span>
                    </td>

                    <td>
                      <span>{{demande_realimentation.tranche.periode}}</span>
                    </td>

                    <td>
                      <span>{{demande_realimentation.tranche.pourcentage}}</span>
                    </td>

                    <td>
                      <span>{{demande_realimentation.reste}}</span>
                    </td>

                    <td>
                      <span>{{vm.formatDate(demande_realimentation.date)}}</span>
                    </td>
                                                 
                    <td>
                                
                      <a ng-click="vm.plusInfoDemande(demande_realimentation)" title="Valider">
                        <span class="icon-check-circle"></span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
             
            </md-tab-body>
          </md-tab> 
            
            <md-tab ng-disabled="vm.stepOne==false">
            <md-tab-label>
              <span class="ms-form-wizard-step-label">
                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">2</span>
                  <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==true">
                      <i class="icon-check s16"></i>
                  </span>
                <span class="ms-form-wizard-step-text">Transfert</span>
              </span>
            </md-tab-label>
            
            <md-tab-body>
               <div style="widht:100%;">  
                  <md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterTransfert_daaf()" style="width:10%;">
                    Nouveau
                  </md-button>
              </div> <br>

              <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
            <thead>
              <tr>
                <th class="secondary-text" ng-repeat="cisc in ::vm.transfert_daaf_column">
                  <div class="table-header">
                    <span class="column-title">{{cisc.titre}}</span>
                  </div>
                </th>
              </tr>
            </thead>                     
            <tbody>
              <tr ng-repeat="transfert_daaf in vm.alltransfert_daaf"  ng-class="{selected: transfert_daaf.$selected}" ng-click="vm.selectionTransfert_daaf(transfert_daaf)">
                                
                      <td>
                        <span ng-if="transfert_daaf.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Montant transfert</label>
                            <input name="montant_transfert" type="number" ng-model="transfert_daaf.montant_transfert" disabled/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!transfert_daaf.$edit">{{transfert_daaf.montant_transfert}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="transfert_daaf.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Frais bancaire</label>
                            <input name="frais_bancaire" type="text" ng-model="transfert_daaf.frais_bancaire" ng-change="vm.changeFraibancaire(transfert_daaf)"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!transfert_daaf.$edit">{{transfert_daaf.frais_bancaire}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="transfert_daaf.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Montant total</label>
                            <input name="montant_total" type="text" ng-model="transfert_daaf.montant_total" disabled/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!transfert_daaf.$edit">{{transfert_daaf.montant_total}}</span>
                      </td>

                       <td>
                        <span ng-if="transfert_daaf.$edit">
                          <md-datepicker ng-model="transfert_daaf.date" md-placeholder="Date" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!transfert_daaf.$edit">{{vm.affichageDate(transfert_daaf.date)}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="transfert_daaf.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Observation</label>
                            <input name="observation" type="text" ng-model="transfert_daaf.observation"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!transfert_daaf.$edit">{{transfert_daaf.observation}}</span>
                      </td>
                                                   
                      <td>
                        <a ng-if="!transfert_daaf.$edit" ng-click="vm.modifierTransfert_daaf(transfert_daaf)" title="Modifier">
                          <span class="icon-table-edit"></span>
                        </a>
                                  
                        <a ng-if="!transfert_daaf.$edit" ng-click="vm.supprimerTransfert_daaf(transfert_daaf)" title="Supprimer">
                          <span class="icon-delete"></span>
                        </a>
                                  
                        <a ng-if="transfert_daaf.$edit" ng-click="vm.annulerTransfert_daaf(transfert_daaf)" title="Annuler modification">
                          <span class="icon-cancel"></span>
                        </a>
                                  
                        <a ng-if="transfert_daaf.$edit && transfert_daaf.montant_transfert && transfert_daaf.date && transfert_daaf.frais_bancaire && transfert_daaf.montant_total >''" ng-click="vm.ajoutTransfert_daaf(transfert_daaf,0)" title="Sauvegarder">
                          <span class="icon-content-save"></span>
                        </a>
                      </td>
                    </tr>
            </tbody>
          </table>
            </md-tab-body>
          </md-tab>
          </md-tabs>
          </ms-form-wizard>       
                          
      </div>
      <!-- / convention -->
    </div>
    <!-- / CONTENT -->
  </div>