  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Gerer situation entreprise</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Dossier feffi</span>
            </div>

            <div class="title">Dossier feffi</div>
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">

      <div class="form-wrapper md-whiteframe-1dp" >

        

        <ms-form-wizard flex>
          <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">

  <!-----debut FEFFI ------>

            <md-tab>
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==false">1</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==true">
                      <i class="icon-check s16"></i>
                    </span>
                    <span class="ms-form-wizard-step-text">fEFFI</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
              <form name="filtreform" class="md-inline-form" novalidate >                               
                <div layout="column" layout-gt-xs="row" flex>
                  <md-input-container flex="100" flex-gt-xs="90">
                    <label>Région</label>
                    <md-select ng-model="vm.filtre.id_region" name="region" ng-change="vm.change_region(vm.filtre)" required>
                      <md-option  value="*">*</md-option>
                      <md-option ng-repeat="region in vm.allregion" value="{{region.id}}" > {{region.nom}}</md-option>
                    </md-select>
                    <div ng-messages="filtreform.region.$error" role="alert">
                      <div ng-message="required"><span>Région</span></div>
                    </div>
                  </md-input-container>
                  
                  <md-input-container flex="100" flex-gt-xs="90">
                    <label>District</label>
                    <md-select ng-model="vm.filtre.id_district" ng-disabled="!vm.filtre.id_region" ng-change="vm.change_district(vm.filtre)">
                      <md-option  value="*">*</md-option>
                      <md-option ng-repeat="d in vm.alldistrict" value="{{d.id}}"> {{d.nom}}</md-option>
                                  
                     </md-select>
                  </md-input-container>

                  
                  <md-input-container flex="100" flex-gt-xs="90">
                    <label>Cisco</label>
                    <md-select ng-model="vm.filtre.id_cisco" ng-disabled="!vm.filtre.id_district">
                      <md-option  value="*">*</md-option>
                      <md-option ng-repeat="d in vm.allcisco" value="{{d.id}}"> {{d.code}}</md-option>
                                  
                     </md-select>
                  </md-input-container>
                </div>
                
                <div>
                  <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer" ng-disabled="filtreform.$invalid||vm.affiche_load" ng-click="vm.filtrer(vm.filtre)"> Actualiser
                  </md-button>
                            <!--md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annuler()">
                              Annuler
                            </md-button-->
                </div>
              </form>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" >
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="fef in ::vm.feffi_column">
                        <div class="table-header">
                          <span class="column-title">{{fef.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="feffi in vm.allfeffi"  ng-class="{selected: feffi.$selected}" ng-click="vm.selectionFeffi(feffi)">
                                
                      <td>  
                        <span>{{feffi.identifiant}}</span>
                      </td>

                      <td>                         
                        <span>{{feffi.denomination}}</span>
                      </td>
                                
                      <td>
                                  
                        <span>{{feffi.nbr_feminin}}</span>
                      </td>
                                
                      <td>
                                  
                        <span>{{feffi.nbr_membre}}</span>
                      </td>                      
                                
                      <td>
                                  
                        <span>{{feffi.adresse}}</span>
                      </td>

                      <td>
                        <span>{{feffi.ecole.code}}</span>
                      </td>
                                
                      <td>
                                  
                        <span>{{feffi.observation}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN FEFFI ------> 

     <!-----debut convention_cisco_feffi_entete ------>

            <md-tab ng-disabled="vm.stepOne==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">1</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Convention</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterTete()" style="width:10%;">
                      Nouveau
                    </md-button>
                </div>

                <div>        
                  <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                    <thead>
                      <tr>
                        <th class="secondary-text" ng-repeat="ciscT in ::vm.convention_cisco_feffi_entete_column">
                          <div class="table-header">
                            <span class="column-title">{{ciscT.titre}}</span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                             
                    <tbody>
                      <tr ng-repeat="convention_cisco_feffi_entete in vm.allconvention_cisco_feffi_entete"  ng-class="{selected: convention_cisco_feffi_entete.$selected}" ng-click="vm.selectionConvention_cisco_feffi_entete(convention_cisco_feffi_entete)">           
                        

                        <td>
                          <span>{{convention_cisco_feffi_entete.cisco.code}}</span>
                        </td>

                        <td>
                          <span>{{convention_cisco_feffi_entete.feffi.denomination}}</span>
                        </td>

                        <td>                          
                          <span>{{convention_cisco_feffi_entete.ref_convention}}</span>
                        </td>

                        <td>                         
                          <span>{{convention_cisco_feffi_entete.objet}}</span>
                        </td>

                        <td>
                                    
                          <span>{{convention_cisco_feffi_entete.ref_financement}}</span>
                        </td>

                        <td>                         
                          <span>{{convention_cisco_feffi_entete.montant_total}}</span>
                        </td>

                        <td>                         
                          <span>{{convention_cisco_feffi_entete.avancement}}</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </md-tab-body>
            </md-tab>
    
    <!-----fin convention_cisco_feffi_entete ------> 

    <!-----Debut dossier feffi ------>
          <md-tab ng-disabled="vm.stepTwo==false">
          
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==false">3</span>
                    <!--span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepFor==true">
                      <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-number md-accent-bg md-green-800-bg" ng-if="vm.stepThree==true">3
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Dossier prestataire</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Code</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Intitule</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Existance</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Date Elaboration</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Observation</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Action</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="dossier_prestataire in vm.alldossier_prestataire"  ng-class="{selected: dossier_prestataire.$selected}" ng-click="vm.selectionDossier_prestataire(dossier_prestataire)">           
                      <td>
                                  
                        <span>{{dossier_prestataire.code}}</span>
                      </td>
                                
                      <td>                                  
                        <span>{{dossier_prestataire.intitule}}</span>
                      </td>
                                
                      <td>                                 
                        <md-checkbox ng-model="dossier_prestataire.existance" aria-label="Checkbox 1" disabled>
                        </md-checkbox>
                      </td>

                      <td>                          
                        <span>{{vm.affichageDate(dossier_prestataire.date_elaboration)}}</span>
                      </td>

                      <td>        
                        <span>{{dossier_prestataire.observation}}</span>
                      </td>

                      <td>                        
                                  
                        <a ng-click="vm.download_dossier_prestataire(dossier_prestataire)" title="Telecharger fichier">
                          <span class="icon-box-download"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN dossier feffi ------>
        <!-----Debut dossier feffi ------>
          <md-tab ng-disabled="vm.stepTwo==false">
          
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==false">3</span>
                    <!--span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepFor==true">
                      <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-number md-accent-bg md-green-800-bg" ng-if="vm.stepThree==true">3
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Dossier moe</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Code</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Intitule</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Existance</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Date Elaboration</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Observation</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Action</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="dossier_moe in vm.alldossier_moe"  ng-class="{selected: dossier_moe.$selected}" ng-click="vm.selectionDossier_moe(dossier_moe)">           
                      <td>
                                  
                        <span>{{dossier_moe.code}}</span>
                      </td>
                                
                      <td>                                  
                        <span>{{dossier_moe.intitule}}</span>
                      </td>
                                
                      <td>                                 
                        <md-checkbox ng-model="dossier_moe.existance" aria-label="Checkbox 1" disabled>
                        </md-checkbox>
                      </td>

                      <td>                          
                        <span>{{vm.affichageDate(dossier_moe.date_elaboration)}}</span>
                      </td>

                      <td>        
                        <span>{{dossier_moe.observation}}</span>
                      </td>

                      <td>                        
                                  
                        <a ng-click="vm.download_dossier_moe(dossier_moe)" title="Telecharger fichier">
                          <span class="icon-box-download"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN dossier feffi ------>

        <!-----Debut dossier feffi ------>
          <md-tab ng-disabled="vm.stepTwo==false">
          
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==false">3</span>
                    <!--span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepFor==true">
                      <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-number md-accent-bg md-green-800-bg" ng-if="vm.stepThree==true">3
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Dossier feffi</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Code</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Intitule</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Existance</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Date Elaboration</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Observation</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Action</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="dossier_feffi in vm.alldossier_feffi"  ng-class="{selected: dossier_feffi.$selected}" ng-click="vm.selectionDossier_feffi(dossier_feffi)">           
                      <td>
                                  
                        <span>{{dossier_feffi.code}}</span>
                      </td>
                                
                      <td>                                  
                        <span>{{dossier_feffi.intitule}}</span>
                      </td>
                                
                      <td>                                 
                        <md-checkbox ng-model="dossier_feffi.existance" aria-label="Checkbox 1" disabled>
                        </md-checkbox>
                      </td>

                      <td>                          
                        <span>{{vm.affichageDate(dossier_feffi.date_elaboration)}}</span>
                      </td>

                      <td>        
                        <span>{{dossier_feffi.observation}}</span>
                      </td>

                      <td>                        
                                  
                        <a ng-click="vm.download_dossier_feffi(dossier_feffi)" title="Telecharger fichier">
                          <span class="icon-box-download"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN dossier feffi ------>  

          </md-tabs>        
        </ms-form-wizard>
                         
      </div>
    </div>
    <!-- / CONTENT -->
  </div>