  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Gerer situation MOE</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Appel d'offre</span>
            </div>

            <div class="title">Appel d'offre</div>
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">

      <div class="form-wrapper md-whiteframe-1dp" >

        <ms-form-wizard flex>
          <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">

 <!-----debut Bureau etude ------>

            <!--md-tab>
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==false">1</span>
                    <span class="ms-form-wizard-step-number md-accent-bg md-green-800-bg" ng-if="vm.stepOne==true">1
                    </span>
                    <span class="ms-form-wizard-step-text">MOE</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>

                <div>        
                  <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                    <thead>
                      <tr>
                        <th class="secondary-text" ng-repeat="pres in ::vm.bureau_etude_column">
                          <div class="table-header">
                            <span class="column-title">{{pres.titre}}</span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                             
                    <tbody>
                      <tr ng-repeat="bureau_etude in vm.allbureau_etude"  ng-class="{selected: bureau_etude.$selected}" ng-click="vm.selectionBureau_etude(bureau_etude)">           
                       <td>                                    
                          <span>{{bureau_etude.nom}}</span>
                        </td>

                        <td>                                    
                          <span>{{bureau_etude.nif}}</span>
                        </td>

                        <td>                                    
                          <span>{{bureau_etude.stat}}</span>
                        </td>

                        <td>  
                          <span>{{bureau_etude.siege}}</span>
                        </td>

                        <td>                         
                          <span>{{bureau_etude.telephone}}</span>
                        </td>                        
                      </tr>
                    </tbody>
                  </table>
                </div>
              </md-tab-body>
            </md-tab-->
    <!-----FIN Bureau etude ------>

        <!-----Debut contrat prstataire ------>
          <!--md-tab ng-disabled="vm.stepOne==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">2</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==true">
                      <i class="icon-check s16"></i>
                    </span>
                    <span class="ms-form-wizard-step-text">Contrat moe</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="mem in ::vm.contrat_bureau_etude_column">
                        <div class="table-header">
                          <span class="column-title">{{mem.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="contrat_bureau_etude in vm.allcontrat_bureau_etude"  ng-class="{selected: contrat_bureau_etude.$selected}" ng-click="vm.selectionContrat_bureau_etude(contrat_bureau_etude)">
                                
                      <td>                                  
                        <span>{{contrat_bureau_etude.bureau_etude.nom}}</span>
                      </td>
                                
                      <td>
                                  
                        <span>{{contrat_bureau_etude.intitule}}</span>
                      </td>
                                
                      <td>
                                  
                        <span>{{contrat_bureau_etude.ref_contrat}}</span>
                      </td>
                                
                      <td>
                                  
                        <span>{{contrat_bureau_etude.montant_contrat}}</span>
                      </td>

                      <td>                         
                        <span>{{vm.affichageDate(contrat_bureau_etude.date_signature)}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab-->
    <!-----FIN contrat moe ------>   

    <!-----Debut memoire technique ------>
          <md-tab>
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==false">I</span>
                    <!--span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepFor==true">
                      <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-number md-accent-bg md-green-800-bg" ng-if="vm.stepThree==true">3
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Appel d'offre</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterAppel_offre()" style="width:10%;" ng-show="vm.showbuttonNouvAppel">
                      Nouveau
                    </md-button>  
                    <md-button type="submit" class="md-raised md-warn" aria-label="Nouveau" ng-click="vm.validerAppel_offre()" style="width:10%;" ng-show="vm.showbuttonValidation && vm.permissionboutonValider">
                      Validation
                    </md-button>
                </div><br>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Contrat</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Description</span>
                        </div>
                      </th>
                      <!--th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Fichier</span>
                        </div>
                      </th-->
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Date livraison</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Date Approbation</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Observation</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Action</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="appel_offre in vm.allappel_offre"  ng-class="{selected: appel_offre.$selected}" ng-click="vm.selectionAppel_offre(appel_offre)">
                      <td>
                        <span ng-if="appel_offre.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Contrat</label>
                            <md-select ng-model="appel_offre.id_contrat_bureau_etude"style="overflow: hidden;text-overflow: ellipsis;">
                              <md-option ng-repeat="contrat_bureau_etude in vm.allcontrat_bureau_etude" value="{{contrat_bureau_etude.id}}">
                                                                    {{contrat_bureau_etude.ref_contrat}}
                              </md-option>
                            </md-select>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!appel_offre.$edit">{{appel_offre.contrat_be.ref_contrat}}</span>
                      </td>         
                      <td>
                        <span ng-if="appel_offre.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Description</label>
                            <input name="description" type="text" ng-model="appel_offre.description"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!appel_offre.$edit">{{appel_offre.description}}</span>
                      </td>
                                
                      <!--td>
                        <span ng-if="appel_offre.$edit" style="display: inline-block !important;">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Fichier</label>
                            <input name="fichier" type="text" ng-model="appel_offre.fichier" disabled/>
                          </md-input-container>   
                        </span>

                        <span ng-if="appel_offre.$edit" style="display: inline-block !important;">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Fichier</label>
                          <input type="file"name="myFile" aria-label="upload" custom-on-change="uploadFile"  ng-model="fichier" id="fileid"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!appel_offre.$edit">{{appel_offre.fichier}}</span>
                      </td-->

                      <td>
                        <span ng-if="appel_offre.$edit">
                          <md-datepicker ng-model="appel_offre.date_livraison" md-placeholder="Date de livraison" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!appel_offre.$edit">{{vm.affichageDate(appel_offre.date_livraison)}}</span>
                      </td>

                      <td>
                        <span ng-if="appel_offre.$edit">
                          <md-datepicker ng-model="appel_offre.date_approbation" md-placeholder="Date de approbation" md-max-date="vm.date_now" md-min-date="appel_offre.date_livraison" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!appel_offre.$edit">{{vm.affichageDate(appel_offre.date_approbation)}}</span>
                      </td>

                      <td>
                        <span ng-if="appel_offre.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Observation</label>
                            <input name="observation" type="text" ng-model="appel_offre.observation"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!appel_offre.$edit">{{appel_offre.observation}}</span>
                      </td>

                      <td>
                        <a ng-if="!appel_offre.$edit" ng-click="vm.modifierAppel_offre(appel_offre)" title="Modifier">
                          <span class="icon-table-edit"></span>
                        </a>
                                  
                        <a ng-if="!appel_offre.$edit" ng-click="vm.supprimerAppel_offre(appel_offre)" title="Supprimer">
                          <span class="icon-delete"></span>
                        </a>                        
                                  
                        <!--a ng-if="!appel_offre.$edit" ng-click="vm.download_appel_offre(appel_offre)" title="Telecharger fichier">
                          <span class="icon-box-download"></span>
                        </a-->
                                  
                        <a ng-if="appel_offre.$edit" ng-click="vm.annulerAppel_offre(appel_offre)" title="Annuler modification">
                          <span class="icon-cancel"></span>
                        </a>
                                  
                        <a ng-if="appel_offre.$edit && appel_offre.description && appel_offre.date_livraison && appel_offre.date_approbation>''" ng-click="vm.ajoutAppel_offre(appel_offre,0)" title="Sauvegarder">
                          <span class="icon-content-save"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN memoire technique ------> 

    <!-----Debut memoire technique ------>
          <md-tab >
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==false">V</span>
                    <!--span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepFor==true">
                      <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-number md-accent-bg md-green-800-bg" ng-if="vm.stepThree==true">4
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Appel d'offre valide</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Contrat</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Description</span>
                        </div>
                      </th>
                      <!--th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Fichier</span>
                        </div>
                      </th-->
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Date livraison</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Date Approbation</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Observation</span>
                        </div>
                      </th>                      
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Action</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="appel_offre_valide in vm.allappel_offre_valide"  ng-class="{selected: appel_offre_valide.$selected}" ng-click="vm.selectionAppel_offre_valide(appel_offre_valide)">
                      
                      <td>                                  
                        <span>{{appel_offre_valide.contrat_be.ref_contrat}}</span>
                      </td>

                      <td>                                  
                        <span>{{appel_offre_valide.description}}</span>
                      </td>
                                
                      <!--td>                                  
                        <span>{{appel_offre_valide.fichier}}</span>
                      </td-->

                      <td>                         
                        <span>{{vm.affichageDate(appel_offre_valide.date_livraison)}}</span>
                      </td>

                      <td>                         
                        <span>{{vm.affichageDate(appel_offre_valide.date_approbation)}}</span>
                      </td>

                      <td>     
                        <span>{{appel_offre_valide.observation}}</span>
                      </td>
                      <td>                       
                                  
                        <a ng-click="vm.download_appel_offre(appel_offre_valide)" title="Telecharger fichier">
                          <span class="icon-box-download"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN memoire technique ------> 
          </md-tabs>        
        </ms-form-wizard>
                         
      </div>
    </div>
    <!-- / CONTENT -->
  </div>