  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Données de bases</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Pièce justificative prévue DAAF</span>
            </div>

            <!--div class="title">Pièce justificative prévue DAAF</div-->
        </div>
    </div>
    <!-- / HEADER -->

  <!-- CONTENT -->
    <div class="content" layout="column">

      <div class="form-wrapper md-whiteframe-1dp" >

        <ms-form-wizard flex>
          <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">

    <!-----debut FEFFI ------>

            <md-tab>
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==false">1</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Tranche de paiement</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
               <div>        
                 <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="cisc in ::vm.tranche_column">
                        <div class="table-header">
                          <span class="column-title">{{cisc.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody >
                    <tr ng-repeat="tranche in vm.alltranche"  ng-class="{selected: tranche.$selected}" ng-click="vm.selectiontranche(tranche)">           
                      <td>                         
                        <span>{{tranche.libelle}}</span>
                      </td>
                                
                      <td>                            
                        <span>{{tranche.periode}}</span>
                      </td>

                      <td>
                        <span>{{tranche.pourcentage}}</span>
                      </td>

                      <td>
                        <span>{{tranche.description}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN FEFFI ------>
    <!-----debut pièce justificative ------>

            <md-tab ng-disabled="!vm.stepOne">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">2</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Pièce justificative</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouter()" style="width:10%;">
                      Nouveau
                    </md-button>
                </div>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" >
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="acce in ::vm.piece_justificatif_daaf_prevu_column">
                        <div class="table-header">
                          <span class="column-title">{{acce.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="piece_justificatif_daaf_prevu in vm.allpiece_justificatif_daaf_prevu"  ng-class="{selected: piece_justificatif_daaf_prevu.$selected}" ng-click="vm.selection(piece_justificatif_daaf_prevu)">           
                      <td>
                        <span ng-if="piece_justificatif_daaf_prevu.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Code</label>
                            <input name="code" type="text" ng-model="piece_justificatif_daaf_prevu.code"/>
                          </md-input-container>
                        </span>                          
                        <span ng-if="!piece_justificatif_daaf_prevu.$edit">{{piece_justificatif_daaf_prevu.code}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="piece_justificatif_daaf_prevu.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Intitule</label>
                            <input name="intitule" type="text" ng-model="piece_justificatif_daaf_prevu.intitule"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!piece_justificatif_daaf_prevu.$edit">{{piece_justificatif_daaf_prevu.intitule}}</span>
                      </td>
                                                   
                      <td>
                        <a ng-if="!piece_justificatif_daaf_prevu.$edit" ng-click="vm.modifier(piece_justificatif_daaf_prevu)" title="Modifier">
                          <span class="icon-table-edit"></span>
                        </a>
                                  
                        <a ng-if="!piece_justificatif_daaf_prevu.$edit" ng-click="vm.supprimer(piece_justificatif_daaf_prevu)" title="Supprimer">
                          <span class="icon-table-row-remove" style="color: rgb(211,47,47)" ></span>
                        </a>
                                  
                        <a ng-if="piece_justificatif_daaf_prevu.$edit" ng-click="vm.annuler(piece_justificatif_daaf_prevu)" title="Annuler modification">
                          <span class="icon-cancel"></span>
                        </a>
                                  
                        <a ng-if="piece_justificatif_daaf_prevu.$edit && piece_justificatif_daaf_prevu.code && piece_justificatif_daaf_prevu.intitule>''" ng-click="vm.ajout(piece_justificatif_daaf_prevu,0)" title="Sauvegarder">
                          <span class="icon-content-save"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN pièce justificative ------>
    
          </md-tabs>  
        </ms-form-wizard>           
      </div>
    </div>
    <!-- / CONTENT -->
  </div>