  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Gerer situation feffi</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Feffi</span>
            </div>

            <div class="title">Feffi</div>
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">

      <div class="form-wrapper md-whiteframe-1dp" >

        <ms-form-wizard flex>
          <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">

   
     <!-----Debut module_pmc ------>
          <md-tab>
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==false">1</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Module pmc</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="mem in ::vm.module_pmc_column">
                        <div class="table-header">
                          <span class="column-title">{{mem.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="module_pmc in vm.allmodule_pmc"  ng-class="{selected: module_pmc.$selected}" ng-click="vm.selectionModule_pmc(module_pmc)">

                    <td>
                      <span ng-if="!module_pmc.$edit">{{module_pmc.contrat_partenaire_relai.ref_contrat}}</span>
                    </td>
                    <td>                          
                        <span ng-if="!module_pmc.$edit">{{vm.affichageDate(module_pmc.date_debut_previ_form)}}</span>
                      </td>
                      <td>                         
                        <span ng-if="!module_pmc.$edit">{{vm.affichageDate(module_pmc.date_fin_previ_form)}}</span>
                      </td>
                      <td>                          
                        <span ng-if="!module_pmc.$edit">{{vm.affichageDate(module_pmc.date_previ_resti)}}</span>
                      </td>
                                
                      <td>        
                        <span ng-if="!module_pmc.$edit">{{vm.affichageDate(module_pmc.date_debut_reel_form)}}</span>
                      </td>
                      <td>                         
                        <span ng-if="!module_pmc.$edit">{{vm.affichageDate(module_pmc.date_fin_reel_form)}}</span>
                      </td>
                      <td>                         
                        <span ng-if="!module_pmc.$edit">{{vm.affichageDate(module_pmc.date_reel_resti)}}</span>
                      </td>
                                
                      <td>       
                        <span ng-if="!module_pmc.$edit">{{module_pmc.nbr_previ_parti}}</span>
                      </td>
                                
                      <td>       
                        <span ng-if="!module_pmc.$edit">{{module_pmc.nbr_parti}}</span>
                      </td>
                                
                      <td>        
                        <span ng-if="!module_pmc.$edit">{{module_pmc.nbr_previ_fem_parti}}</span>
                      </td>
                                
                      <td>       
                        <span ng-if="!module_pmc.$edit">{{module_pmc.nbr_reel_fem_parti}}</span>
                      </td>
                                
                      <td>       
                        <span ng-if="!module_pmc.$edit">{{module_pmc.lieu_formation}}</span>
                      </td>
                                
                      <td>        
                        <span ng-if="!module_pmc.$edit">{{module_pmc.observation}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN module_pmc ------>

     <!-----Debut participant_pmc ------>
          <md-tab ng-disabled="vm.stepOne==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">P</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Participant</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" >
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="mem in ::vm.participant_pmc_column">
                        <div class="table-header">
                          <span class="column-title">{{mem.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="participant_pmc in vm.allparticipant_pmc"  ng-class="{selected: participant_pmc.$selected}" ng-click="vm.selectionParticipant_pmc(participant_pmc)">           
                      <td>                         
                        <span ng-if="!participant_pmc.$edit">{{participant_pmc.nom}}</span>
                      </td>
                                
                      <td>                                  
                        <span ng-if="!participant_pmc.$edit">{{participant_pmc.prenom}}</span>
                      </td>

                      <td>                          
                        <span ng-if="!participant_pmc.$edit">{{vm.affichage_sexe(participant_pmc.sexe)}}</span>
                      </td> 

                      <td>
                                  
                        <span ng-if="!participant_pmc.$edit">{{participant_pmc.situation_participant_pmc.libelle}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN participant_pmc ------>

    <!-----Debut rapport_pmc ------>
          <md-tab ng-disabled="vm.stepOne==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">R</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Rapport pmc</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Intitule</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Fichier</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="rapport_pmc in vm.allrapport_pmc"  ng-class="{selected: rapport_pmc.$selected}" ng-click="vm.selectionRapport_pmc(rapport_pmc)">
                               
                      <td>      
                        <span ng-if="!rapport_pmc.$edit">{{rapport_pmc.intitule}}</span>
                      </td>
                                
                      <td>       
                        <span ng-if="!rapport_pmc.$edit">{{rapport_pmc.fichier}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN rapport_pmc ------>
          </md-tabs>  
        </ms-form-wizard>             
      </div>
    </div>
    <!-- / CONTENT -->
  </div>