  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Données de bases</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Document partenaires relai</span>
            </div>

            <div class="title">Document partenaires relai</div>
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">

      <!-- Categorie ouvrage -->
      <div class="form-wrapper md-whiteframe-1dp" >       
        <header layout="row" layout-align="space-between center" style="background: #F3F4F5; margin-bottom: 2px;" class="border-top border-bottom">
          <div layout="row" layout-align="start">
              <div class="border-right" style="display: flex; justify-content: center; align-items: center; padding: 0px 10px 0px 10px; ">
                <span style="line-height: normal;"> Document partenaires relai</span>
              </div>
              <div>
                <md-button class="md-icon-button" aria-label="add document" ng-click="vm.ajouter()">
                  <md-icon md-font-icon="icon-plus"></md-icon>
                  <md-tooltip><span>Ajout document PR</span></md-tooltip>
                </md-button>
              </div>                      
          </div>
        </header>
         <div>        
          <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" >
            <thead>
              <tr>
                <th class="secondary-text" ng-repeat="acce in ::vm.document_pr_column">
                  <div class="table-header">
                    <span class="column-title">{{acce.titre}}</span>
                  </div>
                </th>
              </tr>
            </thead>
                     
            <tbody>
              <tr ng-repeat="document_pr in vm.alldocument_pr"  ng-class="{selected: document_pr.$selected}" ng-click="vm.selection(document_pr)">           
                <td>
                  <span ng-if="document_pr.$edit">
                    <md-input-container style="width:100%;display: flex !important;">
                      <label>Code</label>
                      <input name="code" type="text" ng-model="document_pr.code"/>
                    </md-input-container>
                  </span>                          
                  <span ng-if="!document_pr.$edit">{{document_pr.code}}</span>
                </td>
                          
                <td>
                  <span ng-if="document_pr.$edit">
                    <md-input-container style="width:100%;display: flex !important;">
                      <label>Intitule</label>
                      <input name="intitule" type="text" ng-model="document_pr.intitule"/>
                    </md-input-container>   
                  </span>
                            
                  <span ng-if="!document_pr.$edit">{{document_pr.intitule}}</span>
                </td>
                                             
                <td>
                  <a ng-if="!document_pr.$edit" ng-click="vm.modifier(document_pr)" title="Modifier">
                    <span class="icon-table-edit"></span>
                  </a>
                            
                  <a ng-if="!document_pr.$edit" ng-click="vm.supprimer(document_pr)" title="Supprimer">
                    <span class="icon-delete" ></span>
                  </a>
                            
                  <a ng-if="document_pr.$edit" ng-click="vm.annuler(document_pr)" title="Annuler modification">
                    <span class="icon-cancel"></span>
                  </a>
                            
                  <a ng-if="document_pr.$edit && document_pr.code && document_pr.intitule>''" ng-click="vm.ajout(document_pr,0)" title="Sauvegarder">
                    <span class="icon-content-save"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>                   
      </div>
      <!-- / document_pr -->
    </div>
    <!-- / CONTENT -->
  </div>