  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Gérer situation FEFFI</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Convention CISCO/FEFFI</span>
            </div>

            <!--div class="title">Convention CISCO/FEFFI</div-->
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">
      
      <div class="form-wrapper md-whiteframe-1dp" >       
        <ms-form-wizard flex>
          <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">

    <!-----debut convention_cife_tete ------>

            <md-tab>
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==false">1</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Convention</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">
                  <md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.showformfiltre()" ng-show="vm.showbuttonfiltre">
                        Filtre
                  </md-button>
                  <md-button type="submit" ng-show="vm.afficherboutonValider && vm.validation_item==0" class="md-raised md-warn" aria-label="Valider" ng-click="vm.validerConvention()" style="width:10%;">
                    Valider
                  </md-button>
                </div>
                <div ng-show="vm.showfiltre">
                  <form name="filtreform" class="md-inline-form" novalidate >
                        <br>
                      <div layout="column" layout-gt-xs="row">
                          <md-input-container>
                            <span>Date du</span>
                          </md-input-container>

                          <md-datepicker ng-model="vm.filtre.date_debut" md-max-date="vm.datenow" required>                     
                          </md-datepicker>

                          <md-input-container>
                            <span>&nbsp &nbsp jusqu'au &nbsp &nbsp</span>
                          </md-input-container>

                          <md-datepicker ng-model="vm.filtre.date_fin" md-min-date="vm.filtre.date_debut" md-max-date="vm.datenow" ng-disabled="!vm.filtre.date_debut" required>                        
                          </md-datepicker>

                                  <!--md-datepicker ng-model="vm.filtre.date_fin" md-placeholder="Enter date de fin"
                                md-min-date="vm.filtre.date_debut" md-max-date="vm.datenow"  md-date-locale="monthFormat" md-open-on-focus="true" ng-disabled="!vm.filtre.date_debut" required md-mode="'month'">                        
                                  </md-datepicker-->
                        </div>
                        <div layout="column" layout-gt-xs="row" ng-show="vm.session=='ADMIN' || vm.session=='ODAAF' || vm.session=='DAAF' || vm.session=='ODPFI' || vm.session=='DPFI' || vm.session=='UFP'">

                          <md-input-container flex="100" flex-gt-xs="90">
                            <label>Lot</label>
                            <md-select ng-model="vm.filtre.lot" name="lot" style="overflow: hidden;text-overflow: ellipsis;">
                              <md-option value="*">*</md-option>
                              <md-option value="1">Lot 1</md-option>
                              <md-option value="2">Lot 2</md-option>
                              <md-option value="3">Lot 3</md-option>
                              <md-option value="4">Lot 4</md-option>
                            </md-select>
                            <div ng-messages="filtreform.lot.$error" role="alert">
                              <div ng-message="required"><span>Lot</span></div>
                            </div>
                          </md-input-container>
                          <md-input-container flex="100" flex-gt-xs="90">
                            <label>Région</label>
                            <md-select ng-model="vm.filtre.id_region" name="region" ng-change="vm.filtre_change_region(vm.filtre)">
                              <md-option  value="*">*</md-option>
                              <md-option ng-repeat="region in vm.regions" value="{{region.id}}" > {{region.nom}}</md-option>
                            </md-select>
                            <div ng-messages="filtreform.region.$error" role="alert">
                              <div ng-message="required"><span>Région</span></div>
                            </div>
                          </md-input-container>
                                  
                          <md-input-container flex="100" flex-gt-xs="90">
                            <label>Cisco</label>
                            <md-select ng-model="vm.filtre.id_cisco" ng-disabled="!vm.filtre.id_region" ng-change="vm.filtre_change_cisco(vm.filtre)" name="cisco">
                              <md-option  value="*">*</md-option>
                              <md-option ng-repeat="d in vm.ciscos" value="{{d.id}}"> {{d.code}}</md-option>
                                                  
                              </md-select>
                              <div ng-messages="filtreform.cisco.$error" role="alert">
                              <div ng-message="required"><span>Cisco</span></div>
                            </div>
                          </md-input-container>
                                  
                          <md-input-container flex="100" flex-gt-xs="90">
                            <label>Commune</label>
                            <md-select ng-model="vm.filtre.id_commune" ng-disabled="!vm.filtre.id_cisco" name="commune" ng-change="vm.filtre_change_commune(vm.filtre)">
                              <md-option  value="*">*</md-option>
                              <md-option ng-repeat="eco in vm.communes" value="{{eco.id}}"> {{eco.nom}}</md-option>
                            </md-select>
                            <div ng-messages="filtreform.commune.$error" role="alert">
                              <div ng-message="required"><span>Commune</span></div>
                            </div>
                           </md-input-container>                                 

                          <md-input-container flex="100" flex-gt-xs="90">
                            <label>Zap</label>
                            <md-select ng-model="vm.filtre.id_zap" name="zap" ng-disabled="!vm.filtre.id_commune" ng-change="vm.filtre_change_zap(vm.filtre)">
                              <md-option  value="*">*</md-option>
                              <md-option ng-repeat="zaps in vm.zaps" value="{{zaps.zap.id}}"> {{zaps.zap.nom}}
                              </md-option>
                            </md-select>  
                            <div ng-messages="filtreform.zap.$error" role="alert">
                              <div ng-message="required"><span>Zap</span></div>
                            </div>
                          </md-input-container>
                                  
                          <md-input-container flex="100" flex-gt-xs="90">
                            <label>Ecole</label>
                            <md-select ng-model="vm.filtre.id_ecole" name="ecole" ng-disabled="!vm.filtre.id_commune" ng-change="vm.filtre_change_ecole(vm.filtre)">
                              <md-option  value="*">*</md-option>
                              <md-option ng-repeat="eco in vm.ecoles" value="{{eco.id}}"> {{eco.description}}
                              </md-option>
                            </md-select>
                            <div ng-messages="filtreform.ecole.$error" role="alert">
                              <div ng-message="required"><span>Ecole</span></div>
                            </div>
                          </md-input-container>
                          <md-input-container flex="100" flex-gt-xs="90">
                            <label>Convention</label>
                            <md-select ng-model="vm.filtre.id_convention_entete" name="convention" ng-disabled="!vm.filtre.id_ecole">
                              <md-option  value="*">*</md-option>
                              <md-option ng-repeat="eco in vm.convention_cisco_feffi_entetes" value="{{eco.id}}"> {{eco.ref_convention}}
                              </md-option>
                            </md-select>  
                            <div ng-messages="filtreform.convention_entete.$error" role="alert">
                              <div ng-message="required"><span>Convention</span></div>
                            </div>
                          </md-input-container>
                        </div>

                        <div>
                         <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
                                      ng-disabled="filtreform.$invalid" ng-click="vm.recherchefiltre(vm.filtre)">
                                      Recherche
                        </md-button>
                        <md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annulerfiltre()">
                                  Annuler
                        </md-button>
                        </div>
                  </form>
                  <md-divider></md-divider><br>
                </div>
                <div>        
                  <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                    <thead>
                      <tr>
                        <th class="secondary-text" ng-repeat="ciscT in ::vm.convention_cife_tete_column" >
                          <div class="table-header">
                            <span class="column-title">{{ciscT.titre}}</span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                             
                    <tbody>
                      <tr ng-repeat="convention_cife_tete in vm.allconvention_cife_tete"  ng-class="{selected: convention_cife_tete.$selected}" ng-click="vm.selectionTete(convention_cife_tete)">           
                        

                        <td>
                          <span ng-if="convention_cife_tete.$edit">
                            <md-input-container style="width:100%;display: flex !important;">
                              <label>Cisco</label>
                              <md-select ng-model="convention_cife_tete.id_cisco"style="overflow: hidden;text-overflow: ellipsis;" ng-change="vm.change_cisco(convention_cife_tete)">
                                <md-option ng-repeat="cisco in vm.allcisco" value="{{cisco.id}}">
                                                                    {{cisco.code}}
                                </md-option>
                              </md-select>
                            </md-input-container>  
                          </span>
                          <span ng-if="!convention_cife_tete.$edit">{{convention_cife_tete.cisco.code}}</span>
                        </td>

                        <td>
                          <span ng-if="convention_cife_tete.$edit">
                            <md-input-container style="width:100%;display: flex !important;">
                              <label>Feffi</label>
                              <md-select ng-model="convention_cife_tete.id_feffi"style="overflow: hidden;text-overflow: ellipsis;" ng-change="vm.change_feffi(convention_cife_tete)" ng-disabled="!convention_cife_tete.id_cisco">
                                <md-option ng-repeat="feffi in vm.allfeffi" value="{{feffi.id}}">
                                                                    {{feffi.denomination}}
                                </md-option>
                              </md-select>
                            </md-input-container>  
                          </span>
                          <span ng-if="!convention_cife_tete.$edit">{{convention_cife_tete.feffi.denomination}}</span>
                        </td>

                        <td>
                          <span ng-if="convention_cife_tete.$edit">
                            <md-input-container style="width:100%;display: flex !important;">
                              <label>Site</label>
                              <md-select ng-model="convention_cife_tete.id_site"style="overflow: hidden;text-overflow: ellipsis;" ng-disabled="!convention_cife_tete.id_feffi">
                                <md-option ng-repeat="site in vm.allsite" value="{{site.id}}">
                                                                    {{site.code_sous_projet}}
                                </md-option>
                              </md-select>
                            </md-input-container>  
                          </span>
                          <span ng-if="!convention_cife_tete.$edit">{{convention_cife_tete.site.code_sous_projet}}</span>
                        </td>

                        <td>
                          <span ng-if="convention_cife_tete.$edit">
                            <md-input-container style="width:100%;display: flex !important;">
                              <label>Type convention</label>
                              <md-select ng-model="convention_cife_tete.type_convention"style="overflow: hidden;text-overflow: ellipsis;" ng-disabled="!convention_cife_tete.id_feffi" ng-change="vm.change_type_convention(convention_cife_tete)">
                                <md-option value="1">Initial</md-option>
                                <md-option value="0">Autre</md-option>
                              </md-select>
                            </md-input-container>  
                          </span>
                          <span ng-if="!convention_cife_tete.$edit">{{vm.affichage_type_convention(convention_cife_tete.type_convention)}}</span>
                        </td>

                        <td>
                          <span ng-if="convention_cife_tete.$edit">
                            <md-input-container style="width:100%;display: flex !important;">
                              <label>Réference convention</label>
                              <input name="ref_convention" type="text" ng-model="convention_cife_tete.ref_convention"/>
                            </md-input-container>
                          </span>                          
                          <span ng-if="!convention_cife_tete.$edit">{{convention_cife_tete.ref_convention}}</span>
                        </td>

                        <td>
                          <span ng-if="convention_cife_tete.$edit">
                            <md-input-container style="width:100%;display: flex !important;">
                              <label>Objet</label>
                              <input name="objet" type="text" ng-model="convention_cife_tete.objet"/>
                            </md-input-container>
                          </span>                          
                          <span ng-if="!convention_cife_tete.$edit">{{convention_cife_tete.objet}}</span>
                        </td>

                        <td>
                          <span ng-if="convention_cife_tete.$edit">
                            <md-input-container style="width:100%;display: flex !important;">
                              <label>Réference financement</label>
                              <input name="ref_financement" type="text" ng-model="convention_cife_tete.ref_financement"/>
                            </md-input-container>   
                          </span>
                                    
                          <span ng-if="!convention_cife_tete.$edit">{{convention_cife_tete.ref_financement}}</span>
                        </td>

                        <td>
                          <span ng-if="convention_cife_tete.$edit">
                            <md-input-container style="width:100%;display: flex !important;">
                              <label>Montant total</label>
                              <input name="montant_total" type="number" ng-model="convention_cife_tete.montant_total" disabled/>
                            </md-input-container>
                          </span>                          
                          <span ng-if="!convention_cife_tete.$edit">{{convention_cife_tete.montant_total}}</span>
                        </td>

                        <td>
                          <span ng-if="convention_cife_tete.$edit">
                            <md-input-container style="width:100%;display: flex !important;">
                              <label>Avancement</label>
                              <input name="avancement" type="number" ng-model="convention_cife_tete.avancement" disabled/>
                            </md-input-container>
                          </span>                          
                          <span ng-if="!convention_cife_tete.$edit">{{convention_cife_tete.avancement}}</span>
                        </td>

                        <td>
                          <span ng-if="convention_cife_tete.$edit">
                            <md-input-container style="width:100%;display: flex !important;">
                              <label>Utilisateur</label>
                              <input name="_user_nom" type="text" ng-model="convention_cife_tete.user_nom" disabled/>
                            </md-input-container>
                          </span>                          
                          <span ng-if="!convention_cife_tete.$edit">{{convention_cife_tete.user.nom}}</span>
                        </td>
                                                     
                        <td>  
                          <a ng-if="!convention_cife_tete.$edit && convention_cife_tete.validation==0" ng-click="vm.modifierTete(convention_cife_tete)" title="Modifier">
                            <span class="icon-table-edit"></span>
                          </a>
                                    
                          <a ng-if="!convention_cife_tete.$edit && convention_cife_tete.validation==0" ng-click="vm.supprimerTete(convention_cife_tete)" title="Supprimer">
                            <span class="icon-delete"></span>
                          </a>                            
                          <span ng-if="!convention_cife_tete.$edit && convention_cife_tete.validation!=0">Aucune action disponible</span>        
                          <a ng-if="convention_cife_tete.$edit" ng-click="vm.annulerTete(convention_cife_tete)" title="Annuler modification">
                            <span class="icon-cancel"></span>
                          </a>
                                    
                          <a ng-if="convention_cife_tete.$edit && convention_cife_tete.ref_convention && convention_cife_tete.objet && convention_cife_tete.id_cisco && convention_cife_tete.id_feffi && convention_cife_tete.id_site && convention_cife_tete.ref_financement && convention_cife_tete.type_convention>''" ng-click="vm.ajoutTete(convention_cife_tete,0)" title="Sauvegarder">
                            <span class="icon-content-save"></span>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </md-tab-body>
            </md-tab>
    
    <!-----fin convention_cife_tete ------>

    <!-----debut convention_detail ------>
            <md-tab ng-disabled="vm.stepOne==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">

                  <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">2</span>
                  <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==true">
                      <i class="icon-check s16"></i>
                  </span>
                  <span class="ms-form-wizard-step-text">Detail</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>
              <fieldset class="standard" >
                <legend><code>Detail</code></legend>
                <div>        
                  <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptionsperso" ms-responsive-table>
                    <thead>
                      <tr>
                        <th class="secondary-text" ng-repeat="ciscT1 in ::vm.convention_cife_detail_column1">
                          <div class="table-header">
                            <span class="column-title">{{ciscT1.titre}}</span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                             
                    <tbody>
                      <tr ng-repeat="convention_cife_detail in vm.allconvention_cife_detail"  ng-class="{selected: convention_cife_detail.$selected}" ng-click="vm.selectionDetail(convention_cife_detail)">

                        <td>
                          <span ng-if="convention_cife_detail.$edit">
                            <md-input-container style="width:100%;display: flex !important;">
                              <label>Intitule</label>
                              <input name="intitule" type="text" ng-model="convention_cife_detail.intitule"/>
                            </md-input-container>
                          </span>                          
                          <span ng-if="!convention_cife_detail.$edit">{{convention_cife_detail.intitule}}</span>
                        </td>                        

                        <td>
                          <span ng-if="convention_cife_detail.$edit">
                            <md-input-container style="width:100%;display: flex !important;">
                              <label>Delai</label>
                              <input name="delai" type="number" ng-model="convention_cife_detail.delai" md-placeholder="en mois"/>
                            </md-input-container>   
                          </span>
                                    
                          <span ng-if="!convention_cife_detail.$edit">{{convention_cife_detail.delai}}</span>
                        </td>

                        <td>
                          <span ng-if="convention_cife_detail.$edit">
                            <md-input-container style="width:100%;display: flex !important;">
                              <label>Prevision bénéficiaire</label>
                              <input name="delai" type="number" ng-model="convention_cife_detail.prev_beneficiaire"/>
                            </md-input-container>   
                          </span>
                                    
                          <span ng-if="!convention_cife_detail.$edit">{{convention_cife_detail.prev_beneficiaire}}</span>
                        </td>

                        <td>
                          <span ng-if="convention_cife_detail.$edit">
                            <md-input-container style="width:100%;display: flex !important;">
                              <label>Prevision nombre école</label>
                              <input name="delai" type="number" ng-model="convention_cife_detail.prev_nbr_ecole"/>
                            </md-input-container>   
                          </span>
                                    
                          <span ng-if="!convention_cife_detail.$edit">{{convention_cife_detail.prev_nbr_ecole}}</span>
                        </td>

                        <td>
                          <span ng-if="convention_cife_detail.$edit">
                            <md-datepicker ng-model="convention_cife_detail.date_signature" md-placeholder="Date de signature" md-max-date="vm.date_now" required>                       
                          </md-datepicker>  
                          </span>
                                    
                          <span ng-if="!convention_cife_detail.$edit">{{vm.formatDate(convention_cife_detail.date_signature)}}</span>
                        </td>

                        <td>
                          <span ng-if="convention_cife_detail.$edit">
                            <md-input-container style="width:100%;display: flex !important;">
                              <label>Observation</label>
                              <input name="observation" type="text" ng-model="convention_cife_detail.observation" md-placeholder="en mois"/>
                            </md-input-container>   
                          </span>
                                    
                          <span ng-if="!convention_cife_detail.$edit">{{convention_cife_detail.observation}}</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </fieldset><br>
            <fieldset class="standard" >
                <legend><code>Compte</code></legend>
                <div>        
                  <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptionsperso" ms-responsive-table>
                    <thead>
                      <tr>
                        <th class="secondary-text" ng-repeat="ciscT2 in ::vm.convention_cife_detail_column2">
                          <div class="table-header">
                            <span class="column-title">{{ciscT2.titre}}</span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                             
                    <tbody>
                      <tr ng-repeat="convention_cife_detail in vm.allconvention_cife_detail"  ng-class="{selected: convention_cife_detail.$selected}" ng-click="vm.selectionDetail(convention_cife_detail)">
 
                        <td>
                          <span ng-if="convention_cife_detail.$edit">
                            <md-input-container style="width:100%;display: flex !important;">
                              <label>Nom banque</label>
                              <md-select ng-model="convention_cife_detail.id_compte_feffi"style="overflow: hidden;text-overflow: ellipsis;" ng-change="vm.changecompte_feffi(convention_cife_detail)">
                                <md-option ng-repeat="compte_feffi in vm.allcompte_feffi" value="{{compte_feffi.id}}">
                                                                    {{compte_feffi.nom_banque}}
                                </md-option>
                              </md-select>
                            </md-input-container>   
                          </span>
                                    
                          <span ng-if="!convention_cife_detail.$edit">{{convention_cife_detail.compte_feffi.nom_banque}}</span>
                        </td>

                        <td>
                          <span ng-if="convention_cife_detail.$edit">
                            <md-input-container style="width:100%;display: flex !important;">
                              <label>Adresse banque</label>
                              <input name="adresse_banque" type="text" ng-model="convention_cife_detail.adresse_banque" disabled />
                            </md-input-container>   
                          </span>
                                    
                          <span ng-if="!convention_cife_detail.$edit">{{convention_cife_detail.compte_feffi.adresse_banque}}</span>
                        </td>

                        <td>
                          <span ng-if="convention_cife_detail.$edit">
                            <md-input-container style="width:100%;display: flex !important;">
                              <label>RIB</label>
                              <input name="rib" type="text" ng-model="convention_cife_detail.rib" disabled/>
                            </md-input-container>   
                          </span>
                                    
                          <span ng-if="!convention_cife_detail.$edit">{{convention_cife_detail.compte_feffi.rib}}</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </fieldset><br>
                <div>        
                  <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptionsperso" ms-responsive-table>
                    <thead>
                      <tr>
                        <th class="secondary-text">
                          <div class="table-header">
                            <span class="column-title"></span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                             
                    <tbody>
                      <tr ng-repeat="convention_cife_detail in vm.allconvention_cife_detail" ng-click="vm.selectionDetail(convention_cife_detail)">
                                                                            
                        <td>  
                          <!--a ng-if="!convention_cife_detail.$edit" ng-click="vm.modifierDetail(convention_cife_detail)" title="Modifier">
                            <span class="icon-table-edit"></span>
                          </a-->

                          <md-button type="submit" class="md-raised md-accent" aria-label="Modifier" ng-if="!convention_cife_detail.$edit" ng-click="vm.modifierDetail(convention_cife_detail)" style="width:10%;" ng-disabled="vm.validation_item!=0">
                            Modifier
                          </md-button>
                                    
                          <!--a ng-if="!convention_cife_detail.$edit" ng-click="vm.supprimerDetail(convention_cife_detail)" title="Supprimer">
                            <span class="icon-delete"></span>
                          </a-->
                          <md-button type="submit" class="md-raised md-accent" aria-label="Supprimer" ng-if="!convention_cife_detail.$edit" ng-click="vm.supprimerDetail(convention_cife_detail)" style="width:10%;"ng-disabled="vm.validation_item!=0">
                            Supprimer
                          </md-button>
                                    
                          <!--a ng-if="convention_cife_detail.$edit" ng-click="vm.annulerDetail(convention_cife_detail)" title="Annuler modification">
                            <span class="icon-cancel"></span>
                          </a-->

                          <md-button type="submit" class="md-raised md-accent" aria-label="Annuler" ng-if="convention_cife_detail.$edit" ng-click="vm.annulerDetail(convention_cife_detail)" style="width:10%;">
                            Annuler
                          </md-button>
                                    
                          <!--a ng-if="convention_cife_detail.$edit && convention_cife_detail.intitule && convention_cife_detail.id_compte_feffi && convention_cife_detail.delai && convention_cife_detail.date_signature>''" ng-click="vm.ajoutDetail(convention_cife_detail,0)" title="Sauvegarder">
                            <span class="icon-content-save"></span>
                          </a-->
                          <md-button type="submit" class="md-raised md-accent" aria-label="Sauvegarder" ng-if="convention_cife_detail.$edit && convention_cife_detail.intitule && convention_cife_detail.id_compte_feffi && convention_cife_detail.delai && convention_cife_detail.date_signature>''" ng-click="vm.ajoutDetail(convention_cife_detail,0)" style="width:10%;">
                            Sauvegarder
                          </md-button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div> 
              </md-tab-body>
            </md-tab>

    <!-----debut divers cout construction ********------>
      <md-tab ng-disabled="(vm.allconvention_cife_detail.length == 0)">
        <md-tab-label>
          <span class="ms-form-wizard-step-label">

            <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==false">M</span>
            <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==true">
                <i class="icon-check s16"></i>
            </span>
            <span class="ms-form-wizard-step-text">Coût maîtrise d'oeuvre</span>
          </span>
        </md-tab-label>



        <md-tab-body><br>

          <div>
            <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
              <thead>
                <tr>
                  <th class="secondary-text" ng-repeat="ouv in ::vm.cout_maitrise_construction_column">
                    <div class="table-header">
                      <span class="column-title">{{ouv.titre}}</span>
                    </div>
                  </th>
                </tr>
              </thead>
                       
              <tbody>
                <tr ng-repeat="cout_maitrise_construction in vm.allcout_maitrise_construction"  ng-class="{selected: cout_maitrise_construction.$selected}" ng-click="vm.selectcout_maitrise_construction(cout_maitrise_construction)">

                  <td>
                      
                      <span ng-if="cout_maitrise_construction.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                        <label>Maitrise d'oeuvre</label>
                        <md-select ng-model="cout_maitrise_construction.id_type_cout_maitrise"style="overflow: hidden;text-overflow: ellipsis;" ng-change="vm.changetype_cout_maitrise(cout_maitrise_construction)">
                            <md-option ng-repeat="type_cout_maitrise in vm.alltype_cout_maitrise" value="{{type_cout_maitrise.id}}">
                                                                    {{type_cout_maitrise.libelle}}
                            </md-option>
                        </md-select>
                        </md-input-container>   
                      </span>
                                    
                      <span ng-if="!cout_maitrise_construction.$edit">{{cout_maitrise_construction.type_cout_maitrise.libelle}}</span>
                  </td>
                  <td>
                    <span ng-if="cout_maitrise_construction.$edit">
                      <md-input-container style="width:100%;display: flex !important;">
                        <label>Coût</label>
                        <input name="cout_unitaire" type="number" ng-model="cout_maitrise_construction.cout" />
                      </md-input-container>
                    </span>                          
                    <span ng-if="!cout_maitrise_construction.$edit">{{vm.formatMillier(cout_maitrise_construction.cout)}} Ar</span>
                  </td>
                                               
                  <td>  
                    <a ng-if="!cout_maitrise_construction.$edit && vm.validation_item==0" ng-click="vm.modifiercout_maitrise_construction(cout_maitrise_construction)" title="Modifier">
                      <span class="icon-table-edit"></span>
                    </a>
                              
                    <a ng-if="!cout_maitrise_construction.$edit && vm.validation_item==0" ng-click="vm.supprimercout_maitrise_construction(cout_maitrise_construction)" title="Supprimer">
                      <span class="icon-delete"></span>
                    </a>

                     <span ng-if="!cout_maitrise_construction.$edit && vm.validation_item!=0"> Aucune action disponible</span>
                              
                    <a ng-if="cout_maitrise_construction.$edit" ng-click="vm.annulercout_maitrise_construction(cout_maitrise_construction)" title="Annuler modification">
                      <span class="icon-cancel"></span>
                    </a>
                              
                    <a ng-if="cout_maitrise_construction.$edit && cout_maitrise_construction.id_type_cout_maitrise && cout_maitrise_construction.cout>''" ng-click="vm.ajoutcout_maitrise_construction(cout_maitrise_construction,0)" title="Sauvegarder">
                      <span class="icon-content-save"></span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </md-tab-body>
      </md-tab>
    <!-----fin divers cout construction ********------>

    <!-----debut batiment construction ------>
      <md-tab ng-disabled="(vm.allconvention_cife_detail.length == 0)">
        <md-tab-label>
          <span class="ms-form-wizard-step-label">

            <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==false">B</span>
            <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==true">
                <i class="icon-check s16"></i>
            </span>
            <span class="ms-form-wizard-step-text">Batiment</span>
          </span>
        </md-tab-label>
        
        <md-tab-body><br>

          <div>
            <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
              <thead>
                <tr>
                  <th class="secondary-text" ng-repeat="ouv in ::vm.batiment_construction_column">
                    <div class="table-header">
                      <span class="column-title">{{ouv.titre}}</span>
                    </div>
                  </th>
                </tr>
              </thead>
                       
              <tbody>
                <tr ng-repeat="batiment_construction in vm.allbatiment_construction"  ng-class="{selected: batiment_construction.$selected}" ng-click="vm.selectionBatiment_construction(batiment_construction)">

                  <td>
                    <span ng-if="batiment_construction.$edit">
                      <md-input-container style="width:100%;display: flex !important;">
                        <label>Batiment ouvrage</label>
                        <md-select ng-model="batiment_construction.id_type_batiment"style="overflow: hidden;text-overflow: ellipsis;" ng-change="vm.modification_type_batiment(batiment_construction)">
                          <md-option ng-repeat="type_batiment in vm.alltype_batiment" value="{{type_batiment.id}}">
                                                              {{type_batiment.libelle}}
                          </md-option>
                        </md-select>
                      </md-input-container>  
                    </span>
                    <span ng-if="!batiment_construction.$edit">{{batiment_construction.type_batiment.libelle}}</span>
                  </td>

                  <td>
                    <span ng-if="batiment_construction.$edit">
                      <md-input-container style="width:100%;display: flex !important;">
                        <label>Nombre salle</label>
                        <input name="nbr_salle" type="number" ng-model="batiment_construction.nbr_salle" disabled/>
                      </md-input-container>
                    </span>                          
                    <span ng-if="!batiment_construction.$edit">{{batiment_construction.type_batiment.nbr_salle}}</span>
                  </td>

                  <td>
                    <span ng-if="batiment_construction.$edit">
                      <md-input-container style="width:100%;display: flex !important;">
                        <label>Cout unitaire</label>
                        <input name="cout_unitaire" type="number" ng-model="batiment_construction.cout_unitaire" disabled />
                      </md-input-container>
                    </span>                          
                    <span ng-if="!batiment_construction.$edit">{{batiment_construction.cout_unitaire}}</span>
                  </td>
                                               
                  <td>  
                    <a ng-if="!batiment_construction.$edit && vm.validation_item==0" ng-click="vm.modifierBatiment_construction(batiment_construction)" title="Modifier">
                      <span class="icon-table-edit"></span>
                    </a>
                              
                    <a ng-if="!batiment_construction.$edit && vm.validation_item==0" ng-click="vm.supprimerBatiment_construction(batiment_construction)" title="Supprimer">
                      <span class="icon-delete"></span>
                    </a>

                     <span ng-if="!batiment_construction.$edit && vm.validation_item!=0"> Aucune action disponible</span>
                              
                    <a ng-if="batiment_construction.$edit" ng-click="vm.annulerBatiment_construction(batiment_construction)" title="Annuler modification">
                      <span class="icon-cancel"></span>
                    </a>
                              
                    <a ng-if="batiment_construction.$edit && batiment_construction.id_type_batiment>''" ng-click="vm.ajoutBatiment_construction(batiment_construction,0)" title="Sauvegarder">
                      <span class="icon-content-save"></span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          
        </md-tab-body>
      </md-tab>
    <!-----fin batiment construction ------>

    <!-----debut detail latrine ------>
      <md-tab ng-disabled="(vm.allconvention_cife_detail.length == 0)">
        <md-tab-label>
          <span class="ms-form-wizard-step-label">
            <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepFor==false">L</span>
            <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepFor==true">
                <i class="icon-check s16"></i>
            </span>
            <span class="ms-form-wizard-step-text">Latrine</span>
          </span>
        </md-tab-label>
        
        <md-tab-body><br>
          <div>
            <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
              <thead>
                <tr>
                  <th class="secondary-text" ng-repeat="lat in ::vm.latrine_construction_column1">
                    <div class="table-header">
                      <span class="column-title">{{lat.titre}}</span>
                    </div>
                  </th>
                </tr>
              </thead>
                       
              <tbody>
                <tr ng-repeat="latrine_construction in vm.alllatrine_construction"  ng-class="{selected: latrine_construction.$selected}" ng-click="vm.selectionLatrine_construction(latrine_construction)">

                  <td>
                    <span ng-if="latrine_construction.$edit">
                      <md-input-container style="width:100%;display: flex !important;">
                        <label>Type latrine</label>
                        <md-select ng-model="latrine_construction.id_type_latrine"style="overflow: hidden;text-overflow: ellipsis;" ng-change="vm.modification_type_latrine(latrine_construction)">
                          <md-option ng-repeat="type_latrine in vm.alltype_latrine" value="{{type_latrine.id}}">
                                                              {{type_latrine.libelle}}
                          </md-option>
                        </md-select>
                      </md-input-container>  
                    </span>
                    <span ng-if="!latrine_construction.$edit">{{latrine_construction.type_latrine.libelle}}</span>
                  </td>
                  <td>
                    <span ng-if="latrine_construction.$edit">
                      <md-input-container style="width:100%;display: flex !important;">
                        <label>Nombre boxe latrine</label>
                        <input name="nbr_box_latrine" type="number" ng-model="latrine_construction.nbr_box_latrine" disabled/>
                      </md-input-container>
                    </span>                          
                    <span ng-if="!latrine_construction.$edit">{{latrine_construction.type_latrine.nbr_box_latrine}}</span>
                  </td>

                  <td>
                    <span ng-if="latrine_construction.$edit">
                      <md-input-container style="width:100%;display: flex !important;">
                        <label>Nombre point d'eau</label>
                        <input name="nbr_point_eau" type="number" ng-model="latrine_construction.nbr_point_eau" disabled/>
                      </md-input-container>
                    </span>                          
                    <span ng-if="!latrine_construction.$edit">{{latrine_construction.type_latrine.nbr_point_eau}}</span>
                  </td>

                  <td>
                    <span ng-if="latrine_construction.$edit">
                      <md-input-container style="width:100%;display: flex !important;">
                        <label>Cout unitaire</label>
                        <input name="cout_unitaire" type="number" ng-model="latrine_construction.cout_unitaire" disabled />
                      </md-input-container>
                    </span>                          
                    <span ng-if="!latrine_construction.$edit">{{latrine_construction.cout_unitaire}}</span>
                  </td>                                              
                  <td>  
                    <a ng-if="!latrine_construction.$edit && vm.validation_item==0" ng-click="vm.modifierLatrine_construction(latrine_construction)" title="Modifier" >
                      <span class="icon-table-edit"></span>
                    </a>
                              
                    <a ng-if="!latrine_construction.$edit && vm.validation_item==0" ng-click="vm.supprimerLatrine_construction(latrine_construction)" title="Supprimer">
                      <span class="icon-delete"></span>
                    </a>
                     <span ng-if="!latrine_construction.$edit && vm.validation_item!=0"> Aucune action disponible</span>
                              
                    <a ng-if="latrine_construction.$edit" ng-click="vm.annulerLatrine_construction(latrine_construction)" title="Annuler modification">
                      <span class="icon-cancel"></span>
                    </a>
                              
                    <a ng-if="latrine_construction.$edit && latrine_construction.id_type_latrine>''" ng-click="vm.ajoutLatrine_construction(latrine_construction,0)" title="Sauvegarder">
                      <span class="icon-content-save"></span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </md-tab-body>
      </md-tab>
    <!-----debut detail latrine ------>

    <!-----debut detail mobilier ------>
      <md-tab ng-disabled="(vm.allconvention_cife_detail.length == 0)">
        <md-tab-label>
          <span class="ms-form-wizard-step-label">
            <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepFor==false">M</span>
            <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepFor==true">
                <i class="icon-check s16"></i>
            </span>
            <span class="ms-form-wizard-step-text">Mobilier</span>
          </span>
        </md-tab-label>
        
        <md-tab-body><br>
          <div>
            <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
              <thead>
                <tr>
                  <th class="secondary-text" ng-repeat="lat in ::vm.mobilier_construction_column">
                    <div class="table-header">
                      <span class="column-title">{{lat.titre}}</span>
                    </div>
                  </th>
                </tr>
              </thead>
                       
              <tbody>
                <tr ng-repeat="mobilier_construction in vm.allmobilier_construction"  ng-class="{selected: mobilier_construction.$selected}" ng-click="vm.selectionMobilier_construction(mobilier_construction)">

                  <td>
                    <span ng-if="mobilier_construction.$edit">
                      <md-input-container style="width:100%;display: flex !important;">
                        <label>type mobilier</label>
                        <md-select ng-model="mobilier_construction.id_type_mobilier"style="overflow: hidden;text-overflow: ellipsis;" ng-change="vm.modification_type_mobilier(mobilier_construction)">
                          <md-option ng-repeat="type_mobilier in vm.alltype_mobilier" value="{{type_mobilier.id}}">
                                                              {{type_mobilier.libelle}}
                          </md-option>
                        </md-select>
                      </md-input-container>  
                    </span>
                    <span ng-if="!mobilier_construction.$edit">{{mobilier_construction.type_mobilier.libelle}}</span>
                  </td>

                  <td>
                    <span ng-if="mobilier_construction.$edit">
                      <md-input-container style="width:100%;display: flex !important;">
                        <label>Nombre table banc</label>
                        <input name="nbr_table_banc" type="number" ng-model="mobilier_construction.nbr_table_banc"/>
                      </md-input-container>
                    </span>                          
                    <span ng-if="!mobilier_construction.$edit">{{mobilier_construction.type_mobilier.nbr_table_banc}}</span>
                  </td>

                  <td>
                    <span ng-if="mobilier_construction.$edit">
                      <md-input-container style="width:100%;display: flex !important;">
                        <label>Nombre table maitre</label>
                        <input name="nbr_table_maitre" type="number" ng-model="mobilier_construction.nbr_table_maitre"/>
                      </md-input-container>
                    </span>                          
                    <span ng-if="!mobilier_construction.$edit">{{mobilier_construction.type_mobilier.nbr_table_maitre}}</span>
                  </td>

                  <td>
                    <span ng-if="mobilier_construction.$edit">
                      <md-input-container style="width:100%;display: flex !important;">
                        <label>Nombre chaise maitre</label>
                        <input name="nbr_chaise_maitre" type="number" ng-model="mobilier_construction.nbr_chaise_maitre"/>
                      </md-input-container>
                    </span>                          
                    <span ng-if="!mobilier_construction.$edit">{{mobilier_construction.type_mobilier.nbr_chaise_maitre}}</span>
                  </td>

                  <td>
                    <span ng-if="mobilier_construction.$edit">
                      <md-input-container style="width:100%;display: flex !important;">
                        <label>Cout unitaire</label>
                        <input name="cout_unitaire" type="number" ng-model="mobilier_construction.cout_unitaire" disabled />
                      </md-input-container>
                    </span>                          
                    <span ng-if="!mobilier_construction.$edit">{{mobilier_construction.cout_unitaire}}</span>
                  </td>
                                               
                  <td>  
                    <a ng-if="!mobilier_construction.$edit  && vm.validation_item==0" ng-click="vm.modifierMobilier_construction(mobilier_construction)" title="Modifier">
                      <span class="icon-table-edit"></span>
                    </a>
                              
                    <a ng-if="!mobilier_construction.$edit  && vm.validation_item==0" ng-click="vm.supprimerMobilier_construction(mobilier_construction)" title="Supprimer">
                      <span class="icon-delete"></span>
                    </a>
                    
                     <span ng-if="!mobilier_construction.$edit && vm.validation_item!=0"> Aucune action disponible</span>          
                    <a ng-if="mobilier_construction.$edit" ng-click="vm.annulerMobilier_construction(mobilier_construction)" title="Annuler modification">
                      <span class="icon-cancel"></span>
                    </a>
                              
                    <a ng-if="mobilier_construction.$edit && mobilier_construction.id_type_mobilier>''" ng-click="vm.ajoutMobilier_construction(mobilier_construction,0)" title="Sauvegarder">
                      <span class="icon-content-save"></span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </md-tab-body>
      </md-tab>
    <!-----debut detail mobilier ------>

        <!-----debut divers cout construction ********------>
      <md-tab ng-disabled="(vm.allconvention_cife_detail.length == 0)">
        <md-tab-label>
          <span class="ms-form-wizard-step-label">

            <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==false">S</span>
            <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==true">
                <i class="icon-check s16"></i>
            </span>
            <span class="ms-form-wizard-step-text">Coût sous projet</span>
          </span>
        </md-tab-label>



        <md-tab-body><br>

          <div>
            <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
              <thead>
                <tr>
                  <th class="secondary-text" ng-repeat="ouv in ::vm.cout_sousprojet_construction_column">
                    <div class="table-header">
                      <span class="column-title">{{ouv.titre}}</span>
                    </div>
                  </th>
                </tr>
              </thead>
                       
              <tbody>
                <tr ng-repeat="cout_sousprojet_construction in vm.allcout_sousprojet_construction"  ng-class="{selected: cout_sousprojet_construction.$selected}" ng-click="vm.selectcout_sousprojet_construction(cout_sousprojet_construction)">

                  <td>
                      
                      <span ng-if="cout_sousprojet_construction.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                        <label>Sous projet</label>
                        <md-select ng-model="cout_sousprojet_construction.id_type_cout_sousprojet"style="overflow: hidden;text-overflow: ellipsis;" ng-change="vm.changetype_cout_sousprojet(cout_sousprojet_construction)">
                            <md-option ng-repeat="type_cout_sousprojet in vm.alltype_cout_sousprojet" value="{{type_cout_sousprojet.id}}">
                                                                    {{type_cout_sousprojet.libelle}}
                            </md-option>
                        </md-select>
                        </md-input-container>   
                      </span>
                                    
                      <span ng-if="!cout_sousprojet_construction.$edit">{{cout_sousprojet_construction.type_cout_sousprojet.libelle}}</span>
                  </td>
                  <td>
                    <span ng-if="cout_sousprojet_construction.$edit">
                      <md-input-container style="width:100%;display: flex !important;">
                        <label>Coût</label>
                        <input name="cout_unitaire" type="number" ng-model="cout_sousprojet_construction.cout" />
                      </md-input-container>
                    </span>                          
                    <span ng-if="!cout_sousprojet_construction.$edit">{{vm.formatMillier(cout_sousprojet_construction.cout)}} Ar</span>
                  </td>
                                               
                  <td>  
                    <a ng-if="!cout_sousprojet_construction.$edit && vm.validation_item==0" ng-click="vm.modifiercout_sousprojet_construction(cout_sousprojet_construction)" title="Modifier">
                      <span class="icon-table-edit"></span>
                    </a>
                              
                    <a ng-if="!cout_sousprojet_construction.$edit && vm.validation_item==0" ng-click="vm.supprimercout_sousprojet_construction(cout_sousprojet_construction)" title="Supprimer" >
                      <span class="icon-delete"></span>
                    </a>
                     <span ng-if="!cout_sousprojet_construction.$edit && vm.validation_item!=0"> Aucune action disponible</span>         
                    <a ng-if="cout_sousprojet_construction.$edit" ng-click="vm.annulercout_sousprojet_construction(cout_sousprojet_construction)" title="Annuler modification">
                      <span class="icon-cancel"></span>
                    </a>
                              
                    <a ng-if="cout_sousprojet_construction.$edit && cout_sousprojet_construction.id_type_cout_sousprojet && cout_sousprojet_construction.cout>''" ng-click="vm.ajoutcout_sousprojet_construction(cout_sousprojet_construction,0)" title="Sauvegarder">
                      <span class="icon-content-save"></span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </md-tab-body>
      </md-tab>
    <!-----fin divers cout construction ********------>
    <!-----fin convention_detail ------>

          </md-tabs>
        </ms-form-wizard>                   
      </div>
      <!-- / convention_cife_tete -->
    </div>
    <!-- / CONTENT -->
  </div>