   <div id="formsvvdeblodaff" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Gestion financière des activitées</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Niveau UFP/DAAF</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Validation demande de déblocage par UFP</span>
            </div>

            <!--div class="title">Validation demande de déblocage UFP</div-->
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">

      <!-- Convention -->
      <div class="form-wrapper md-whiteframe-1dp" >

        <ms-form-wizard flex>
          <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">
            <md-tab>
            <md-tab-label>
              <span class="ms-form-wizard-step-label">
                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==false">1</span>
                  <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==true">
                      <i class="icon-check s16"></i>
                  </span>
                  <span class="ms-form-wizard-step-text">Convention validé</span>
              </span>
            </md-tab-label>
            
            <md-tab-body>
                <div style="margin-top: 1px">
                    <div ng-show="vm.showfiltre" class="md-whiteframe-3dp check-element animate-show-hide">
                  <form name="filtreform" class="md-inline-form" novalidate >
                        <br>
                      <div layout="column" layout-gt-xs="row">
                          <md-input-container>
                            <span style="font-size: 14.5px" class="text-semibold">Date signature convention du: &nbsp</span>
                          </md-input-container>

                           <md-datepicker ng-model="vm.filtre.date_debut" md-max-date="vm.datenow" required style="">                     
                          </md-datepicker>

                           <md-input-container>
                             <span style="font-size: 14.5px" class="text-semibold">&nbsp &nbsp jusqu'au &nbsp &nbsp</span>
                          </md-input-container>

                          <md-datepicker ng-model="vm.filtre.date_fin" md-min-date="vm.filtre.date_debut" md-max-date="vm.datenow" ng-disabled="!vm.filtre.date_debut" required>                        
                           </md-datepicker>
                        </div> 
                        <div class="footer-animate-show-hide">
                            <md-button class="md-raised boutonfixe" disabled>
                            </md-button>
                            <md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annulerfiltre()" style="float: right;">
                                            Réinitialise
                            </md-button>
                              <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer" ng-disabled="filtreform.$invalid" ng-click="vm.recherchefiltre(vm.filtre)" style="float: right;">
                                                Recherche
                            </md-button>
                        </div>
                      </form>
                    </div>
                                   
                    <div class="bouton-animate-show-hide">

                      <md-button type="submit" class="md-raised md-accent bouton-show-hide" aria-label="Filtre" ng-click="vm.showformfiltre()"><!--ng-show="vm.showbuttonfiltre"-->
                        <md-icon md-font-icon="icon-filter" class="s16" style="color:green">                            
                      </md-icon>                           
                       <md-icon md-font-icon="icon-chevron-double-up" ng-if="!vm.showfiltre" class="s16">                            
                      </md-icon>
                       <md-icon md-font-icon="icon-chevron-double-down" ng-if="vm.showfiltre" class="s16">                            
                      </md-icon>
                      <md-tooltip><span>Bouton filtre</span></md-tooltip>
                      </md-button> 
                  </div>
        </div>
              
              <div style="float: top !important">
                <md-progress-circular ng-if="vm.affiche_load" class="md-accent" aria-label="Rating" md-mode="indeterminate" md-diameter="48"></md-progress-circular> 
                <div ng-if="vm.affiche_load" style="position:relative;top: -30px;  left: 60px;color: #039be5">
                      Récuperation,veuillez patienter s'il vous plait ...
                </div>
              </div>
              <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                <thead>
                  <tr>
                    <th class="secondary-text" ng-repeat="prog in ::vm.convention_ufp_daaf_entete_column">
                      <div class="table-header">
                        <span class="column-title">{{prog.titre}}</span>
                      </div>
                    </th>
                  </tr>
                </thead>
                         
                <tbody>
                  <tr ng-repeat="convention_ufp_daaf_entete in vm.allconvention_ufp_daaf_entete"  ng-class="{selected: convention_ufp_daaf_entete.$selected}" ng-click="vm.selectionConvention_ufp_daaf_entete(convention_ufp_daaf_entete)">
                    
                    <td>
                      <span>{{convention_ufp_daaf_entete.ref_convention}}</span>
                    </td>
                    
                    <td>
                      <span>{{convention_ufp_daaf_entete.objet}}</span>
                    </td>

                    <td>                          
                      <span>{{convention_ufp_daaf_entete.ref_financement}}</span>
                    </td>

                    <td>                          
                      <span >{{vm.formatMillier(convention_ufp_daaf_entete.montant_trans_comm)}} Ar</span>
                    </td>

                    <td>         
                      <span>{{vm.formatMillier(convention_ufp_daaf_entete.frais_bancaire)}} Ar</span>
                    </td>                

                    <td>                                    
                      <span>{{vm.formatMillier(convention_ufp_daaf_entete.montant_convention)}} Ar</span>
                    </td>                

                    <td>                                    
                      <span>{{vm.affichevague(convention_ufp_daaf_entete.num_vague)}}</span>
                    </td>                

                    <td>                                    
                      <span>{{convention_ufp_daaf_entete.nbr_beneficiaire}}</span>
                    </td> 
                  </tr>
                </tbody>
              </table>
            </md-tab-body>
          </md-tab>
          <md-tab ng-disabled="vm.stepOne==false">
            <md-tab-label>
              <span class="ms-form-wizard-step-label">
                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">2</span>
                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==true">
                      <i class="icon-check s16"></i>
                </span>
                <span class="ms-form-wizard-step-text">Demande déblocage de fond</span>
              </span>
            </md-tab-label>
            
            <md-tab-body>
               <div style="widht:100%;">  
                  <md-button type="submit" class="md-raised md-warn md-pink-900-bg" aria-label="Nouveau" ng-click="vm.demande_deblocage_daaf_mettreencours()" style="width:13%;" ng-disabled="vm.situation>1" ng-show="vm.showbutton && vm.validation_item==1">
                    Mettre en-cours
                  </md-button>

                  <md-button type="submit" class="md-raised  md-pink-900-bg" aria-label="Nouveau" ng-click="vm.demande_deblocage_daaf_finaliser()" style="width:10%; color: white" ng-disabled="vm.situation>2" ng-show="vm.showbutton && vm.validation_item==2">
                    Valider
                  </md-button>

                  <md-button type="submit" class="md-raised md-red-500-bg" aria-label="Nouveau" ng-click="vm.demande_deblocage_daaf_rejeter()" style="width:10%; color: white" ng-disabled="vm.situation>3" ng-show="vm.showbutton && vm.validation_item==2">
                    Rejeter
                  </md-button>
              </div> <br>

              <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                <thead>
                  <tr>
                    
                    
                    <th class="secondary-text">
                      <div class="table-header">
                        <span class="column-title">Réference demande
                        </span>
                      </div>
                    </th>
                    <th class="secondary-text">
                      <div class="table-header">
                        <span class="column-title">&nbsp &nbsp &nbsp &nbsp &nbsp Objet &nbsp &nbsp &nbsp &nbsp &nbsp
                        </span>
                      </div>
                    </th>
                    <th class="secondary-text">
                      <div class="table-header">
                        <span class="column-title">&nbsp &nbsp &nbsp &nbsp &nbsp Tranche &nbsp &nbsp &nbsp &nbsp &nbsp
                        </span>
                      </div>
                    </th>
                    <th class="secondary-text">
                      <div class="table-header">
                        <span class="column-title">&nbsp &nbsp &nbsp &nbsp &nbsp Période &nbsp &nbsp &nbsp &nbsp &nbsp
                        </span>
                      </div>
                    </th>
                    <th class="secondary-text">
                      <div class="table-header">
                        <span class="column-title">&nbsp &nbsp &nbsp &nbsp &nbsp Antérieur &nbsp &nbsp &nbsp &nbsp &nbsp
                        </span>
                      </div>
                    </th>
                    <th class="secondary-text">
                      <div class="table-header">
                        <span class="column-title">&nbsp &nbsp &nbsp &nbsp &nbsp Cumul &nbsp &nbsp &nbsp &nbsp &nbsp
                        </span>
                      </div>
                    </th>
                    <th class="secondary-text">
                      <div class="table-header">
                        <span class="column-title">Calendrier de paiement
                        </span>
                      </div>
                    </th>
                    <th class="secondary-text">
                      <div class="table-header">
                        <span class="column-title">Pourcentage
                        </span>
                      </div>
                    </th>
                    <th class="secondary-text">
                      <div class="table-header">
                        <span class="column-title">Reste à décaisser
                        </span>
                      </div>
                    </th>
                    <th class="secondary-text">
                      <div class="table-header">
                        <span class="column-title">Libelle compte banqueire
                        </span>
                      </div>
                    </th>
                    <th class="secondary-text">
                      <div class="table-header">
                        <span class="column-title">&nbsp &nbsp &nbsp &nbsp &nbsp Date &nbsp &nbsp &nbsp &nbsp &nbsp
                        </span>
                      </div>
                    </th>
                    <th class="secondary-text">
                      <div class="table-header">
                        <span class="column-title">Action
                        </span>
                      </div>
                    </th>
                  </tr>
                </thead>                     
                <tbody>
                  <tr ng-repeat="demande_deblocage_daaf_validation_ufp in vm.alldemande_deblocage_daaf_valide_daaf"  ng-class="{selected: demande_deblocage_daaf_validation_ufp.$selected}" ng-click="vm.selectionDemande_deblocage_daaf_validation_ufp(demande_deblocage_daaf_validation_ufp)">

                    <td>
                      <span >{{demande_deblocage_daaf_validation_ufp.ref_demande}}</span>
                    </td>

                    <td>
                      <span >{{demande_deblocage_daaf_validation_ufp.objet}}</span>
                    </td>

                    <td>
                      <span >{{demande_deblocage_daaf_validation_ufp.tranche.libelle}}</span>
                    </td>

                    <td>
                      <span >{{vm.formatMillier(demande_deblocage_daaf_validation_ufp.prevu)}} Ar</span>
                    </td>

                    <td>
                      <span >{{vm.formatMillier(demande_deblocage_daaf_validation_ufp.anterieur)}} Ar</span>
                    </td>

                    <td>
                      <span >{{vm.formatMillier(demande_deblocage_daaf_validation_ufp.cumul)}} Ar</span>
                    </td>

                    <td>
                      <span >{{demande_deblocage_daaf_validation_ufp.tranche.periode}}</span>
                    </td>

                    <td>
                      <span >{{vm.formatMillier(demande_deblocage_daaf_validation_ufp.tranche.pourcentage)}} %</span>
                    </td>

                    <td>
                      <span >{{demande_deblocage_daaf_validation_ufp.reste}}</span>
                    </td>

                    <td>
                      <span >{{demande_deblocage_daaf_validation_ufp.convention_ufp_daaf_detail.numero_compte}}</span>
                    </td>

                    <td>
                      <span >{{vm.formatDate(demande_deblocage_daaf_validation_ufp.date)}}</span>
                    </td>

                    <td>
                      <span >{{vm.situationdemande(demande_deblocage_daaf_validation_ufp.validation)}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
             
            </md-tab-body>
          </md-tab>                   

          <md-tab ng-disabled="vm.stepTwo==false">
            <md-tab-label>
              <span class="ms-form-wizard-step-label">
                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==false">3</span>
                  <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==true">
                      <i class="icon-check s16"></i>
                  </span>
                <span class="ms-form-wizard-step-text">Pièce justificative</span>
              </span>
            </md-tab-label>
            
            <md-tab-body> <br>

              <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
            <thead>
              <tr>
                <th class="secondary-text" ng-repeat="cisc in ::vm.justificatif_daaf_column">
                  <div class="table-header">
                    <span class="column-title">{{cisc.titre}}</span>
                  </div>
                </th>
              </tr>
            </thead>                     
            <tbody>
              <tr ng-repeat="justificatif_daaf in vm.alljustificatif_daaf"  ng-class="{selected: justificatif_daaf.$selected}" ng-click="vm.selectionJustificatif_daaf(justificatif_daaf)">

                <td>
                  <span>{{justificatif_daaf.intitule}}</span>
                </td>

                <td>
                            
                  <span>{{justificatif_daaf.fichier}}</span>
                </td>
                                             
                <td>  
                  <a ng-click="vm.DownloadJustificatif_daaf(justificatif_daaf)" title="Telecharger">
                    <span class="icon-box-download"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
            </md-tab-body>
          </md-tab>

          <md-tab ng-disabled="vm.stepTwo==false || vm.validation_item!=3">
            <md-tab-label>
              <span class="ms-form-wizard-step-label">
                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==false">3</span>
                  <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==true">
                      <i class="icon-check s16"></i>
                  </span>
                <span class="ms-form-wizard-step-text">Transfert</span>
              </span>
            </md-tab-label>
            
            <md-tab-body>
               <div style="widht:100%;">  
                  <!--md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterTransfert_ufp()" style="width:10%;" ng-disabled="!vm.showbuttonNouvtransfert">
                    Nouveau
                  </md-button-->

                  <md-button type="submit" class="md-raised md-warn md-pink-900-bg" aria-label="Nouveau" ng-click="vm.validertransfert_ufp()" style="width:10%; color: white" ng-show="vm.validation_ufp==0">
                    Valider
                  </md-button>
              </div> <br>
              <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="pai in ::vm.transfert_ufp_column">
                        <div class="table-header">
                          <span class="column-title">{{pai.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="transfert_ufp in vm.alltransfert_ufp"  ng-class="{selected: transfert_ufp.$selected}" ng-click="vm.selectionTransfert_ufp(transfert_ufp)">
                                
                      <td>
                        <span ng-if="transfert_ufp.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Montant transfert</label>
                            <input name="montant_transfert" type="number" ng-model="transfert_ufp.montant_transfert" disabled/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!transfert_ufp.$edit">{{vm.formatMillier(transfert_ufp.montant_transfert)}} Ar</span>
                      </td>
                                
                      <td>
                        <span ng-if="transfert_ufp.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Frais bancaire</label>
                            <input name="frais_bancaire" type="text" ng-model="transfert_ufp.frais_bancaire" ng-change="vm.changeFraibancaire(transfert_ufp)"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!transfert_ufp.$edit">{{vm.formatMillier(transfert_ufp.frais_bancaire)}} Ar</span>
                      </td>
                                
                      <td>
                        <span ng-if="transfert_ufp.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Montant total</label>
                            <input name="montant_total" type="text" ng-model="transfert_ufp.montant_total" disabled/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!transfert_ufp.$edit">{{vm.formatMillier(transfert_ufp.montant_total)}} Ar</span>
                      </td>

                       <td>
                        <span ng-if="transfert_ufp.$edit">
                          <md-datepicker ng-model="transfert_ufp.date" md-placeholder="Date" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!transfert_ufp.$edit">{{vm.formatDate(transfert_ufp.date)}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="transfert_ufp.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Observation</label>
                            <input name="observation" type="text" ng-model="transfert_ufp.observation"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!transfert_ufp.$edit">{{transfert_ufp.observation}}</span>
                      </td>
                                                   
                      <td>
                        <a ng-if="!transfert_ufp.$edit && transfert_ufp.validation==0" ng-click="vm.modifierTransfert_ufp(transfert_ufp)" title="Modifier">
                          <span class="icon-table-edit"></span>
                        </a>
                                  
                        <!--a ng-if="!transfert_ufp.$edit && transfert_ufp.validation==0" ng-click="vm.supprimerTransfert_ufp(transfert_ufp)" title="Supprimer">
                          <span class="icon-table-row-remove" style="color: rgb(211,47,47)"></span>
                        </a-->
                        <span ng-if="!transfert_ufp.$edit && transfert_ufp.validation==1"> Aucun action disponible</span>          
                        <a ng-if="transfert_ufp.$edit" ng-click="vm.annulerTransfert_ufp(transfert_ufp)" title="Annuler modification">
                          <span class="icon-cancel"></span>
                        </a>
                                  
                        <a ng-if="transfert_ufp.$edit && transfert_ufp.montant_transfert && transfert_ufp.date && transfert_ufp.frais_bancaire && transfert_ufp.montant_total >''" ng-click="vm.ajoutTransfert_ufp(transfert_ufp,0)" title="Sauvegarder">
                          <span class="icon-content-save"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
             
            </md-tab-body>
          </md-tab>          

          </md-tabs>
          </ms-form-wizard>       
                  
      </div>
      <!-- / convention -->
    </div>
    <!-- / CONTENT -->
  </div>