#formsobcaf {



    .content 
    {
    
        #acc_menu
        {
            md-tabs-wrapper
            {
                height:60px !important;
                background-color: transparent !important;

                margin: auto !important;
                //border: 1px solid red;
               md-icon.md-default-theme, md-icon {
                    color: rgb(82,205,203) !important;
                }

            }

            md-tabs-canvas
            {
                height:60px !important; 
                margin: auto !important;
                //border: 1px solid green;
            }
            
            md-pagination-wrapper
            {
               height:60px !important;
            }
            .ms-form-wizard md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item
            {    
               
            }
            md-tab-item.md-tab.ng-scope.ng-isolate-scope.md-ink-ripple.md-active
            {        
               
                //background-color: rgba(1,161,245,0.7) !important;
                border-bottom: none !important;
                color: rgba(255,255,255,1) !important;
                background-color: rgba(50,64,99,0.9) !important;

            }
            md-tab-item.md-tab.ng-scope.ng-isolate-scope.md-ink-ripple.md-disabled {
                
                   opacity: 0.5 !important;
                   .notification {
                   background-color: rgb(89,89,89) !important;
                   }

            }

         
            md-tab-item
            {
                //color: rgb(30,128,174) !important;
                color: rgb(59,88,130) !important;
                font-weight:none !important;
          
                padding:18px 24px 18px 24px !important;
                font-size: 13px;
                margin: auto !important;
               font-family: Franklin Gothic Medium !important;
                //border: 1px solid blue;           
            }
            
            .ms-form-wizard-step-label 
            { 
                background: transparent !important;
                width: 160px !important;
                max-width: 160px !important;
                min-width: 160px !important;
                text-align: center !important;
                margin:auto !important;
            }
            .ms-form-wizard .ms-form-wizard-step-label .ms-form-wizard-step-number.notification {
     
            width: 16px !important;
            height: 16px !important;
            line-height: 17px !important;
            font-size: 11px !important;
            margin-right: 12px !important;
          
            color: #FFFFFF !important;
            background: rgb(170,0,0) !important;
           
        }
          
            .ms-form-wizard md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item:after
            {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                right: 0;
                border-bottom: 1px solid transparent !important;
                z-index: 8;
            }

            .ms-form-wizard md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item:before
            {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            right: 50%;
            border-bottom: 1px solid transparent !important;
            z-index: 8;
            }
        }

        #acc_sous_menu
        {
            md-tabs-wrapper
            {
                height:48px !important;
                //background-color: rgb(56,110,148) !important ; 
              // background-color: rgba(30,128,174,1) !important ; 
               //background-color: rgb(71,91,120) !important ; 
                background-image: url('/assets/images/backgrounds/header-bg.png');      
               background-color: rgb(59,88,130) !important ;
               background-size: cover;
               md-icon.md-default-theme, md-icon {
                    color: rgba(1,161,245,0.5) !important;
                }

            }

            md-tabs-canvas
            {
                height:48px !important;
                background-color: transparent !important;
            

            }
            
            md-pagination-wrapper
            {
               height:48px !important;
            }
            .ms-form-wizard md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item
            {    
              
            }
            md-tab-item.md-tab.ng-scope.ng-isolate-scope.md-ink-ripple.md-active
            {        
               
               // background-color: rgba(63,183,248,1) !important;
               background-color: rgba(0,0,51,0.3) !important;
                border-bottom: none !important;

            }
            md-tab-item.md-tab.ng-scope.ng-isolate-scope.md-ink-ripple.md-disabled {
                
                   opacity: 0.5 !important;
                   .notification {
                   background-color: rgb(89,89,89) !important;
                   }

            }

         
            md-tab-item
            {
                color: rgba(230,232,236,1) !important;
                font-weight:none !important;
            
                padding:12px 24px 12px 24px !important;
                font-size: 13px;

           
            }
            
            .ms-form-wizard-step-label 
            { 
                background: transparent !important;
                width: 160px !important;
                text-align: center !important;
                margin:auto !important;
            }
            .ms-form-wizard .ms-form-wizard-step-label .ms-form-wizard-step-number.notification {

            width: 16px !important;
            height: 16px !important;
            line-height: 17px !important;
            font-size: 11px !important;
            margin-right: 12px !important;
    
            color: #FFFFFF !important;
            background: rgb(170,0,0) !important;
         
        }
           
            .ms-form-wizard md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item:after
            {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                right: 0;
                border-bottom: 1px solid transparent !important;
                z-index: 8;
            }

            .ms-form-wizard md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item:before
            {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            right: 50%;
            border-bottom: 1px solid transparent !important;
            z-index: 8;
            }
        }
    
    #acc_sous_menu_pr
        {
            md-tabs-wrapper
            {
                height:48px !important;
                background-color: rgb(233,234,238) !important ;       
                //background-color: rgb(45,50,62) !important;

               md-icon.md-default-theme, md-icon {
                    color: rgba(1,161,245,0.5) !important;
                }

            }

            md-tabs-canvas
            {
                height:48px !important;
                background-color: transparent !important;
                //border: 1px solid white !important;

            }
            
            md-pagination-wrapper
            {
               height:48px !important;
               //border: 1px solid green !important;
            }
            .ms-form-wizard md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item
            {    
               //color: rgb(230,232,236) !important;
            }
            md-tab-item.md-tab.ng-scope.ng-isolate-scope.md-ink-ripple.md-active
            {        
                //color: red !important;
                background-color: rgba(1,161,245,0.5) !important;
                border-bottom: 4px solid rgba(1,161,245,0.5) !important;

            }
            md-tab-item.md-tab.ng-scope.ng-isolate-scope.md-ink-ripple.md-disabled {
                
                   opacity: 0.5 !important;
                   .notification {
                   background-color: rgb(89,89,89) !important;
                   }

            }

         
            md-tab-item
            {
                color: rgba(230,232,236,1) !important;
                font-weight:none !important;
                //border: 1px solid red !important;
                //margin:auto !important;
                padding:12px 24px 8px 24px !important;
                font-size: 12px;
//border: 1px solid red;
               //margin-bottom:5px !important;
           
            }
            
            .ms-form-wizard-step-label 
            { 
                background: transparent !important;
                width: 160px !important;
                text-align: center !important;
                margin:auto !important;
            }
            .ms-form-wizard .ms-form-wizard-step-label .ms-form-wizard-step-number.notification {
            //display: inline-block;
            //vertical-align: middle;
            width: 16px !important;
            height: 16px !important;
            line-height: 17px !important;
            font-size: 11px !important;
            margin-right: 12px !important;
            //border-radius: 50%;
            color: #FFFFFF !important;
            background: rgb(170,0,0) !important;
            //text-align: center !important;
        }
           /* md-tabs .md-tab.md-active
            {
                font-weight: bold;
                .ms-form-wizard-step-label 
                {   
                    color: rgb(230,232,236) !important;
                    background: transparent;
                }   
            }*/
            .ms-form-wizard md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item:after
            {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                right: 0;
                border-bottom: 1px solid transparent !important;
                z-index: 8;
            }

            .ms-form-wizard md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item:before
            {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            right: 50%;
            border-bottom: 1px solid transparent !important;
            z-index: 8;
            }
        }



   /* #sousmenu
    {
        md-tabs-wrapper
        {
            height:48px !important;
        }
        
        md-tabs-canvas
        {
            height:48px !important;
            //border: 1px solid green;
        }
        
        md-pagination-wrapper
        {
           height:48px !important;
            //border: 1px solid blue;
       
        }
     
        md-tab-item
        {
            margin:auto !important;
            padding:12px 24px 12px 24px !important;
        }
        
        .ms-form-wizard-step-label 
        {
            background: transparent !important;
        }
        md-tabs .md-tab.md-active {
        font-weight: bold;
        background-color: white !important;       
        }
        .ms-form-wizard md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item:after
        {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            right: 0;
           border-bottom: 1px solid transparent !important;
            z-index: 8;
        }

        .ms-form-wizard md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        right: 50%;
       border-bottom: 1px solid transparent !important;
        z-index: 8;
        }
    }*/

   /* #soussousmenu
    {
        md-tabs-wrapper
        {
            height:48px !important;

            background-color: transparent !important;
        }
        
        md-tabs-canvas
        {
            height:48px !important;
        }
        
        md-pagination-wrapper
        {
           height:48px !important;
       
        }
     
        md-tab-item
        {
            margin:auto !important;
            padding:12px 24px 12px 24px !important;
        }
        
        .ms-form-wizard-step-label 
        {
            background: transparent !important;
        }
        md-tabs .md-tab.md-active {
        font-weight: bold;
        background-color: transparent !important;
        }
        .ms-form-wizard md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item:after
        {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            right: 0;
           border-bottom: 1px solid transparent !important;
            z-index: 8;
        }

        .ms-form-wizard md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        right: 50%;
       border-bottom: 1px solid transparent !important;
        z-index: 8;
    }
    }*/

        .form-wrapper {


        }
        
        .form-data-wrapper {
            margin-left: 16px;

            .json-data-wrapper {
                overflow: hidden;

                pre {
                    font-size: 16px;
                }
            }

        }
    }
}
