  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Gerer situation PR</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Scan document</span>
            </div>

            <div class="title">Scan document</div>
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">

      <div class="form-wrapper md-whiteframe-1dp" >

        <ms-form-wizard flex>
          <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true"> 

          <!--md-tab>
            <md-tab-label>
              <span class="ms-form-wizard-step-label">
                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==false">1</span>
                  <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==true">
                      <i class="icon-check s16"></i>
                  </span>
                  <span class="ms-form-wizard-step-text">Convention</span>
              </span>
            </md-tab-label>
            
            <md-tab-body>
              <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                <thead>
                  <tr>
                    <th class="secondary-text" ng-repeat="prog in ::vm.convention_cisco_feffi_entete_column">
                      <div class="table-header">
                        <span class="column-title">{{prog.titre}}</span>
                      </div>
                    </th>
                  </tr>
                </thead>
                         
                <tbody>
                  <tr ng-repeat="convention_cife_tete in vm.allconvention_cisco_feffi_entete"  ng-class="{selected: convention_cife_tete.$selected}" ng-click="vm.selectionConvention_cisco_feffi_entete(convention_cife_tete)">
                    
                    <td>
                      <span>{{convention_cife_tete.cisco.code}}</span>
                    </td>
                    
                    <td>
                      <span>{{convention_cife_tete.feffi.denomination}}</span>
                    </td>

                    <td>                          
                      <span>{{convention_cife_tete.ref_convention}}</span>
                    </td>

                    <td>                          
                      <span >{{convention_cife_tete.objet}}</span>
                    </td>

                    <td>         
                      <span>{{convention_cife_tete.ref_financement}}</span>
                    </td>                

                    <td>                                    
                      <span>{{convention_cife_tete.montant_total}}</span>
                    </td>                

                    <td>                                    
                      <span>{{convention_cife_tete.avancement}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </md-tab-body>
          </md-tab-->  

    <!-----Debut memoire technique ------>
          <md-tab>
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==false">I</span>
                    <!--span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepFor==true">
                      <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-number md-accent-bg md-green-800-bg" ng-if="vm.stepOne==true">2
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Scan document</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterDocument_pr_scan()" style="width:10%;">
                      Nouveau
                    </md-button>  
                    <md-button type="submit" class="md-raised md-warn" aria-label="Nouveau" ng-click="vm.validerDocument_pr_scan()" style="width:10%;" ng-show="vm.showbuttonValidation">
                      Validation
                    </md-button>
                </div><br>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Contrat</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Type document</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Fichier</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Date Elaboration</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Observation</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Action</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="document_pr_scan in vm.alldocument_pr_scan"  ng-class="{selected: document_pr_scan.$selected}" ng-click="vm.selectionDocument_pr_scan(document_pr_scan)">           
                      <td>
                        <span ng-if="document_pr_scan.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Contrat</label>
                            <md-select ng-model="document_pr_scan.id_contrat_partenaire_relai"style="overflow: hidden;text-overflow: ellipsis;">
                              <md-option ng-repeat="contrat_partenaire_relai in vm.allcontrat_partenaire_relai" value="{{contrat_partenaire_relai.id}}">
                                                                    {{contrat_partenaire_relai.ref_contrat}}
                              </md-option>
                            </md-select>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!document_pr_scan.$edit">{{document_pr_scan.contrat_partenaire_relai.ref_contrat}}</span>
                      </td>

                      <td>
                        <span ng-if="document_pr_scan.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Document</label>
                            <md-select ng-model="document_pr_scan.id_document_pr"style="overflow: hidden;text-overflow: ellipsis;">
                              <md-option ng-repeat="document_pr in vm.alldocument_pr" value="{{document_pr.id}}">
                                                                    {{document_pr.code}}
                              </md-option>
                            </md-select>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!document_pr_scan.$edit">{{document_pr_scan.document_pr.code}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="document_pr_scan.$edit" style="display: inline-block !important;">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Fichier</label>
                            <input name="fichier" type="text" ng-model="document_pr_scan.fichier" disabled/>
                          </md-input-container>   
                        </span>

                        <span ng-if="document_pr_scan.$edit" style="display: inline-block !important;">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Fichier</label>
                          <input type="file"name="myFile" aria-label="upload" custom-on-change="uploadFile"  ng-model="fichier" id="fileid"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!document_pr_scan.$edit">{{document_pr_scan.fichier}}</span>
                      </td>

                      <td>
                        <span ng-if="document_pr_scan.$edit">
                          <md-datepicker ng-model="document_pr_scan.date_elaboration" md-placeholder="Date de elaboration" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!document_pr_scan.$edit">{{vm.affichageDate(document_pr_scan.date_elaboration)}}</span>
                      </td>

                      <td>
                        <span ng-if="document_pr_scan.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Observation</label>
                            <input name="observation" type="text" ng-model="document_pr_scan.observation"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!document_pr_scan.$edit">{{document_pr_scan.observation}}</span>
                      </td>

                      <td>
                        <a ng-if="!document_pr_scan.$edit" ng-click="vm.modifierDocument_pr_scan(document_pr_scan)" title="Modifier">
                          <span class="icon-table-edit"></span>
                        </a>
                                  
                        <a ng-if="!document_pr_scan.$edit" ng-click="vm.supprimerDocument_pr_scan(document_pr_scan)" title="Supprimer">
                          <span class="icon-delete"></span>
                        </a>                        
                                  
                        <a ng-if="!document_pr_scan.$edit" ng-click="vm.download_document_pr_scan(document_pr_scan)" title="Telecharger fichier">
                          <span class="icon-box-download"></span>
                        </a>
                                  
                        <a ng-if="document_pr_scan.$edit" ng-click="vm.annulerDocument_pr_scan(document_pr_scan)" title="Annuler modification">
                          <span class="icon-cancel"></span>
                        </a>
                                  
                        <a ng-if="document_pr_scan.$edit && document_pr_scan.id_document_pr && document_pr_scan.fichier && document_pr_scan.date_elaboration >''" ng-click="vm.ajoutDocument_pr_scan(document_pr_scan,0)" title="Sauvegarder">
                          <span class="icon-content-save"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN memoire technique ------> 

    <!-----Debut memoire technique ------>
          <md-tab ng-disabled="vm.stepOne==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">V</span>
                    <!--span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepFor==true">
                      <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-number md-accent-bg md-green-800-bg" ng-if="vm.stepTwo==true">2
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Memoire technique valide</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Fichier</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Date elaboration</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Observation</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Action</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="document_pr_scan_valide in vm.alldocument_pr_scan_valide"  ng-class="{selected: document_pr_scan_valide.$selected}" ng-click="vm.selectiondocument_pr_scan_valide(document_pr_scan_valide)">
                         
                      <td>                                  
                        <span>{{document_pr_scan_valide.fichier}}</span>
                      </td>

                      <td>                         
                        <span>{{vm.affichageDate(document_pr_scan_valide.date_elaboration)}}</span>
                      </td>

                      <td>     
                        <span>{{document_pr_scan_valide.observation}}</span>
                      </td>
                       <td>         
                        <a ng-click="vm.download_document_pr_scan(document_pr_scan_valide)" title="Telecharger fichier">
                          <span class="icon-box-download"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN memoire technique ------> 
          </md-tabs>        
        </ms-form-wizard>
                         
      </div>
    </div>
    <!-- / CONTENT -->
  </div>