#formsbcaffvactivif_fp{

    .headerbig
    {
        height: 60px !important;
        min-height: 60px !important;
    }

    .content 
    {   
        .animate-show-hide
        {
            margin:0px 6px 0px 6px;
            //border-top: 2px solid rgba(50,64,99,0.9);
            .footer-animate-show-hide
            {
                background-color:  rgb(250,250,250); 
                border-top: 1px solid rgba(0, 0, 0, 0.12);

            }

            .boutonfixe
            {
                background-color: transparent !important;
                border: none !important;
                box-shadow:none !important;
            }
        }

        .bouton-animate-show-hide
        {
            padding: 0 !important;
            margin: 0px 0px 0px 6px !important;
            .bouton-show-hide
            {
                margin: 0 0 10px 0 !important; 
                border-radius: 0px 0px 6px 6px !important; 
                opacity: 0.9; 
                min-height: 5px !important;
                height: 20px !important;
                font-size: 9px;
                line-height: 20px !important;
                background-color: rgba(21,28,43,0.8);
                min-width:5px !important;
            }
        }                
        #acc_menuformsbcaffvactivif_fp_child1
        {
            md-tabs-wrapper
            {
                background-color: rgb(26, 149, 206) !important;
               // border: 1px solid red;

            }
            md-tab-item.md-tab.ng-scope.ng-isolate-scope.md-ink-ripple.md-active
            {   
               background-color: rgb(46, 169, 226) !important;
               //color:rgb(85, 5, 5) !important;
               color:rgb(245, 212, 152) !important;
               font-size: 12px;
            }
            md-tab-item
            {   
                color:wheat !important;
                font-size: 11px;          
            }
            
        }
        #acc_menuformsbcaffvactivif_fp_child2
        {
            md-tabs-wrapper
            {
                background-color: rgb(46, 169, 226) !important;
               // border: 1px solid red;

            }
            md-tab-item.md-tab.ng-scope.ng-isolate-scope.md-ink-ripple.md-active
            {   
               background-color: rgb(68, 188, 243) !important;
               color:rgb(38, 18, 18) !important;
               font-size: 11px;
            }
            
            md-tab-item.md-tab.ng-scope.ng-isolate-scope.md-ink-ripple.md-disabled {
                
                opacity: 0.5 !important;
         }
            md-tab-item
            {   
                color:rgb(38, 18, 18) !important;
                font-size: 10px;          
            }
        }             
        .acc_menuformsbcaffvactivif_fp_mere
        { 
                        
            md-tabs-wrapper
            {
                height:55px !important;
                //background-color: transparent !important;
                background-color: rgb(5, 126, 182) !important; //niova
                font-weight: normal;
                margin: auto !important;
                //border: 1px solid red;
               md-icon.md-default-theme, md-icon {
                    color: white !important;
                }

            }

            md-tabs-canvas
            {
                height:55px !important; 
                margin: auto !important;
                //border: 1px solid green;
            }
            
            md-pagination-wrapper
            {
               height:55px !important;
            }
            .ms-form-wizard md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item
            {    
               
            }
            md-tab-item.md-tab.ng-scope.ng-isolate-scope.md-ink-ripple.md-active
            {        
               
                //background-color: rgba(1,161,245,0.7) !important;
                border-bottom: none !important;
                //color: rgba(255,255,255,1) !important;
                //color:wheat !important; //niova
                color:wheat !important;
               // background-color: rgba(50,64,99,0.9) !important;
               background-color: rgb(26, 149, 206) !important; //niova
               font-size: 12px;
               font-weight: bold !important ;
               
            }
            md-tab-item.md-tab.ng-scope.ng-isolate-scope.md-ink-ripple.md-disabled {
                
                   opacity: 0.7 !important;
                   .notification {
                   background-color: rgb(89,89,89) !important;
                   }

            }

         
            md-tab-item
            {
                //color: rgb(30,128,174) !important;
                //color: rgb(59,88,130) !important;
                color:rgba(255,255,255,1) !important; //niova
                font-weight:none !important;
          
                padding:16px 24px 16px 24px !important;
                font-size: 11px;
                margin: auto !important;
              // font-family: Franklin Gothic Medium !important; niova
                //border: 1px solid blue;           
            }
            
            .ms-form-wizard-step-label 
            { 
                background: transparent !important;
                width: 200px !important;
                max-width: 200px !important;
                min-width: 200px !important;
                text-align: center !important;
                margin:auto !important;
                padding: 0 !important;
            }
            .ms-form-wizard .ms-form-wizard-step-label .ms-form-wizard-step-number.notification {
     
            width: 16px !important;
            height: 16px !important;
            line-height: 17px !important;
            font-size: 11px !important;
            margin-right: 12px !important;
          
            color: #FFFFFF !important;
            background: rgb(170,0,0) !important;
           
            }
          
            .ms-form-wizard md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item:after
            {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                right: 0;
                border-bottom: 1px solid transparent !important;
                z-index: 8;
            }

            .ms-form-wizard md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item:before
            {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            right: 50%;
            border-bottom: 1px solid transparent !important;
            z-index: 8;
            }
        }

         #acc_sous_menu
        {          
            md-tabs-wrapper
            {
                background-color: rgb(68, 188, 243) !important;
               // border: 1px solid red;

            }
            md-tab-item.md-tab.ng-scope.ng-isolate-scope.md-ink-ripple.md-active
            {   
               background-color: rgb(105, 196, 238) !important;
               color:rgb(38, 18, 18) !important;
               font-size: 11px;
            }
            
            md-tab-item.md-tab.ng-scope.ng-isolate-scope.md-ink-ripple.md-disabled {
                
                opacity: 0.5 !important;
         }
            md-tab-item
            {   
                color:rgb(38, 18, 18) !important;
                font-size: 11px;          
            }
           /* .md-tab:first-child
            {
                .ms-form-wizard-step-label 
                { 
                    color: rgb(124,179,66) !important;
                }
            } */
            .md-tab:nth-child(2)
            {
                .ms-form-wizard-step-label 
                { 
                    //color: rgb(124,179,66) !important;
                    color: white !important;
                }
            }
            .md-tab:nth-child(3)
            {
                .ms-form-wizard-step-label 
                { 
                   // color: rgb(124,179,66) !important;
                   color: white !important;
                }
            }
            .md-tab:nth-child(4)
            {
                .ms-form-wizard-step-label 
                { 
                   // color: rgb(124,179,66) !important;
                   color: white !important;
                }
            } 
            .md-tab:nth-child(5)
            {                
                .ms-form-wizard-step-label 
                { 
                    //color: rgb(33,150,243) !important;
                    color: black!important;
                }
            } 
            .md-tab:nth-child(6)
            {                
                .ms-form-wizard-step-label 
                { 
                   // color: rgb(33,150,243) !important;
                   color: black!important;
                }
            } 
            .md-tab:nth-child(7)
            {                
                .ms-form-wizard-step-label 
                { 
                    //color: rgb(33,150,243) !important;
                    color: black!important;
                }
            } 
            .md-tab:nth-child(8)
            {
                .ms-form-wizard-step-label 
                { 
                    //color: rgb(0,150,136) !important;
                    color: whitesmoke!important;
                }
            } 
            .md-tab:nth-child(8)
            {
                .ms-form-wizard-step-label 
                { 
                    //color: rgb(0,150,136) !important;
                    color: whitesmoke!important;
                }
            } 
            .md-tab:nth-child(9)
            {
                .ms-form-wizard-step-label 
                { 
                    //color: rgb(0,150,136) !important;
                    color: whitesmoke!important;
                }
            }
            .md-tab:nth-child(10)
            {
                .ms-form-wizard-step-label 
                { 
                    color: whitesmoke!important;
                }
            }  
        }

        .form-wrapper {


        }
        
        .form-data-wrapper {
            margin-left: 16px;

            .json-data-wrapper {
                overflow: hidden;

                pre {
                    font-size: 16px;
                }
            }

        }
    }
}
