  <div id="formsodpfi_fepr" class="page-layout simple fullwidth doc-page" layout="column" >

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between" >
        <div layout="column" layout-align="space-between" style="height: 10px !important;">
            <div class="breadcrumb" layout="row" layout-align="start center" >
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Gestion technique des activitées</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Niveau FEFFI/PRESTATAIRE</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Insertion activitée technique (ODPFI)</span>
            </div>

            <!--div class="title">Convention CISCO/FEFFI</div-->
                                       
            
        </div>
        
    </div>    
    
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">
      <div class="form-wrapper md-whiteframe-1dp acc_menu" >
        <div style="clear:both;"></div>            
            <div style="float: top !important">
              <md-progress-circular ng-if="vm.affiche_load" class="md-accent" aria-label="Rating" md-mode="indeterminate" md-diameter="48"></md-progress-circular> 
              <div ng-if="vm.affiche_load" style="position:relative;top: -30px;  left: 60px;color: #039be5">
                      Chargement,veuillez patienter s'il vous plait ...
              </div>
            </div>
<!--------------------------------------DEBUT TABS MERE---------------------------------------------------------->
         <ms-form-wizard flex>
          <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">

    <!---------------------------------DEBUT CONVENTION CISCO/FEFFI--------------------------------------------------->
            
            <!------------------------------DEBUT ESTIMATION CONVENTION---------------------------------------------> 
                    <md-tab>
                      <md-tab-label >
                        <span class="ms-form-wizard-step-label">
                            
                            <!--span class="ms-form-wizard-step-number md-accent-bg">
                                <i class="icon-basket-fill s16"></i>
                            </span-->
                            <span class="ms-form-wizard-step-text">Estimation convention</span>
                            <!--span class="ms-form-wizard-step-number md-accent-bg notification" >{{+vm.nbr_demande_feffi_creer + +vm.nbr_decaiss_feffi}}</span-->
                        </span>
                       
                      </md-tab-label>
                      
                      <md-tab-body>
                
                      <div style="margin-top: 1px;">
                          <div ng-show="vm.showfiltre" class="md-whiteframe-3dp animate-show-hide">
                          <form name="filtreform" class="md-inline-form" novalidate >
                                <br>
                            <div style="margin: 0px 15px 10px 15px;">
                              <div layout="column" layout-gt-xs="row">
                                  <md-input-container>
                                    <span style="font-size: 14.5px" class="text-semibold">Date signature convention du: &nbsp</span>
                                  </md-input-container>

                                  <md-datepicker ng-model="vm.filtre.date_debut" md-max-date="vm.datenow" required style="">                     
                                  </md-datepicker>

                                  <md-input-container>
                                    <span style="font-size: 14.5px" class="text-semibold">&nbsp &nbsp jusqu'au &nbsp &nbsp</span>
                                  </md-input-container>

                                  <md-datepicker ng-model="vm.filtre.date_fin" md-min-date="vm.filtre.date_debut" md-max-date="vm.datenow" ng-disabled="!vm.filtre.date_debut" required>                        
                                  </md-datepicker>
                                </div>
                                <div layout="column" layout-gt-xs="row">

                                  <md-input-container flex="100" flex-gt-xs="90">
                                  <label>Lot</label>
                                  <md-select ng-model="vm.filtre.lot" name="lot" style="overflow: hidden;text-overflow: ellipsis;">
                                    <md-option value="*">*</md-option>
                                    <md-option value="1">Lot 1</md-option>
                                    <md-option value="2">Lot 2</md-option>
                                    <md-option value="3">Lot 3</md-option>
                                    <md-option value="4">Lot 4</md-option>
                                  </md-select>
                                  <div ng-messages="filtreform.lot.$error" role="alert">
                                    <div ng-message="required"><span>Lot</span></div>
                                  </div>
                                </md-input-container>
                                <md-input-container flex="100" flex-gt-xs="90">
                                  <label>Région</label>
                                  <md-select ng-model="vm.filtre.id_region" name="region" ng-change="vm.filtre_change_region(vm.filtre)">
                                    <md-option  value="*">*</md-option>
                                    <md-option ng-repeat="region in vm.regions" value="{{region.id}}" > {{region.nom}}</md-option>
                                  </md-select>
                                  <div ng-messages="filtreform.region.$error" role="alert">
                                    <div ng-message="required"><span>Région</span></div>
                                  </div>
                                </md-input-container>
                                        
                                <md-input-container flex="100" flex-gt-xs="90">
                                  <label>Cisco</label>
                                  <md-select ng-model="vm.filtre.id_cisco" ng-disabled="!vm.filtre.id_region" ng-change="vm.filtre_change_cisco(vm.filtre)" name="cisco">
                                    <md-option  value="*">*</md-option>
                                    <md-option ng-repeat="d in vm.ciscos" value="{{d.id}}"> {{d.code}}</md-option>
                                                        
                                    </md-select>
                                    <div ng-messages="filtreform.cisco.$error" role="alert">
                                    <div ng-message="required"><span>Cisco</span></div>
                                  </div>
                                </md-input-container>
                                        
                                <md-input-container flex="100" flex-gt-xs="90">
                                  <label>Commune</label>
                                  <md-select ng-model="vm.filtre.id_commune" ng-disabled="!vm.filtre.id_cisco" name="commune" ng-change="vm.filtre_change_commune(vm.filtre)">
                                    <md-option  value="*">*</md-option>
                                    <md-option ng-repeat="eco in vm.communes" value="{{eco.id}}"> {{eco.nom}}</md-option>
                                  </md-select>
                                  <div ng-messages="filtreform.commune.$error" role="alert">
                                    <div ng-message="required"><span>Commune</span></div>
                                  </div>
                                 </md-input-container>                                 

                                <md-input-container flex="100" flex-gt-xs="90">
                                  <label>Zap</label>
                                  <md-select ng-model="vm.filtre.id_zap" name="zap" ng-disabled="!vm.filtre.id_commune" ng-change="vm.filtre_change_zap(vm.filtre)">
                                    <md-option  value="*">*</md-option>
                                    <md-option ng-repeat="zaps in vm.zaps" value="{{zaps.id}}"> {{zaps.nom}}
                                    </md-option>
                                  </md-select>  
                                  <div ng-messages="filtreform.zap.$error" role="alert">
                                    <div ng-message="required"><span>Zap</span></div>
                                  </div>
                                </md-input-container>
                                        
                                <md-input-container flex="100" flex-gt-xs="90">
                                  <label>Ecole</label>
                                  <md-select ng-model="vm.filtre.id_ecole" name="ecole" ng-disabled="!vm.filtre.id_commune" ng-change="vm.filtre_change_ecole(vm.filtre)">
                                    <md-option  value="*">*</md-option>
                                    <md-option ng-repeat="eco in vm.ecoles" value="{{eco.id}}"> {{eco.description}}
                                    </md-option>
                                  </md-select>
                                  <div ng-messages="filtreform.ecole.$error" role="alert">
                                    <div ng-message="required"><span>Ecole</span></div>
                                  </div>
                                </md-input-container>
                                <md-input-container flex="100" flex-gt-xs="90">
                                  <label>Convention</label>
                                  <md-select ng-model="vm.filtre.id_convention_entete" name="convention" ng-disabled="!vm.filtre.id_ecole">
                                    <md-option  value="*">*</md-option>
                                    <md-option ng-repeat="eco in vm.convention_cisco_feffi_entetes" value="{{eco.id}}"> {{eco.ref_convention}}
                                    </md-option>
                                  </md-select>  
                                  <div ng-messages="filtreform.convention_entete.$error" role="alert">
                                    <div ng-message="required"><span>Convention</span></div>
                                  </div>
                                </md-input-container>
                                </div>
                              </div>  
                              <div class="footer-animate-show-hide">
                                  <md-button class="md-raised boutonfixe" disabled>
                                  </md-button>
                                  <md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annulerfiltre()" style="float: right;">
                                            Réinitialise
                                  </md-button>
                                    <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer" ng-disabled="filtreform.$invalid" ng-click="vm.recherchefiltre(vm.filtre)" style="float: right;">
                                                Recherche
                                  </md-button>
                              </div>
                          </form>
                      </div>
                                   
                      <div class="bouton-animate-show-hide">

                        <md-button type="submit" class="md-raised md-accent bouton-show-hide" aria-label="Filtre" ng-click="vm.showformfiltre()"><!--ng-show="vm.showbuttonfiltre"-->
                         <md-icon md-font-icon="icon-filter" class="s16" style="color:green">                            
                        </md-icon>                           
                         <md-icon md-font-icon="icon-chevron-double-up" ng-if="!vm.showfiltre" class="s16">                            
                        </md-icon>
                        <md-icon md-font-icon="icon-chevron-double-down" ng-if="vm.showfiltre" class="s16">                            
                        </md-icon>
                        <md-tooltip><span>Bouton filtre</span></md-tooltip>
                        </md-button> 
                    </div>
                  </div>

                        <div>        
                          <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                              <thead>
                                <tr>
                                  <th class="secondary-text" ng-repeat="conv_ente in ::vm.convention_entete_column">
                                    <div class="table-header">
                                        <span class="column-title">{{conv_ente.titre}}</span>
                                    </div>
                                  </th>
                                </tr>
                              </thead>
                                             
                              <tbody>
                                <tr ng-repeat="convention_entete in vm.allconvention_entete"  ng-class="{selected: convention_entete.$selected}" ng-click="vm.selectionConvention_entete(convention_entete)">           
                                  <td>
                                    <span>{{convention_entete.cisco.code}}</span>
                                  </td>

                                  <td>
                                      <span>{{convention_entete.feffi.denomination}}</span>
                                  </td>

                                  <td>
                                    <span>{{convention_entete.site.code_sous_projet}}</span>
                                  </td>

                                  <td>
                                    <span>{{convention_entete.site.acces}}</span>
                                  </td>

                                  <td>                         
                                    <span>{{convention_entete.ref_convention}}</span>
                                  </td>

                                  <td>                         
                                    <span>{{convention_entete.objet}}</span>
                                  </td>

                                  <td>                                    
                                    <span>{{convention_entete.ref_financement}}</span>
                                  </td>

                                  <td>                          
                                    <span>{{convention_entete.montant_total}}</span>
                                  </td>

                                  <td>                          
                                    <span>{{convention_entete.user.nom}}</span>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </md-tab-body>
                    </md-tab>
                  <!----------------------------DEBUT ESTIMATION CONVENTION-convention cisco/feffi---------------->
    <!------------------------------------FIN CONVENTION CISCO/FEFFI--------------------------------------------------->

    
            <md-tab ng-disabled="vm.stepMenu_pr==false">
              <md-tab-label >
                <span class="ms-form-wizard-step-label">
                    <!--span class="ms-form-wizard-step-number md-accent-bg">
                      <i class="icon-arrange-send-to-back s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">PARTENAIRES RELAIS</span>
                </span>
               
              </md-tab-label>
              
              <md-tab-body>
               <ms-form-wizard flex > 
                <!--md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true" id="acc_sous_menu"-->
                <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">

                    <!-------------------convention cisco/feffi----------------->
                    <md-tab ng-disabled="vm.session=='OBCAF'">
                      <md-tab-label>
                        <span class="ms-form-wizard-step-label">
                            <!--span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==false">DF</span>
                            <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==true">
                              <i class="icon-check s16"></i>
                            </span-->
                            <span class="ms-form-wizard-step-text">Passation des marchés</span>
                        </span>
                       
                      </md-tab-label>
                      
                      <md-tab-body>
                          <div style="widht:100%;">  
                              <md-button type="submit" class="md-raised md-accent md-green-600-bg" aria-label="Nouveau" ng-click="vm.ajouterPassation_marches_pr()" style="width:10%;" ng-disabled="!vm.showbuttonNouvPassation_pr">
                                Nouveau
                              </md-button>
                            <md-button type="submit" class="md-raised md-accent md-cyan-900-bg" aria-label="Importer" ng-click="vm.affichageformimporter_passation_pr()" style="width:10%;" ng-show="vm.showbuttonimporter_passation_pr">
                                    Importer
                            </md-button>
                          </div><br>
                          <div ng-show="vm.showformimporter_passation_pr">
                            <form name="formimporter_passation_pr" class="md-inline-form" novalidate >
                                  <br>
                              <div layout="column" layout-gt-xs="row">
                                    <md-input-container style="width:100%;display: flex !important;">
                                      <label>Fichier</label>
                                      <input ng-model="vm.fichier_passation_pr" id="fichier" name="fichier_passation_pr" type="file" custom-on-change="uploadFile_passation_pr"  ng-multiple="false" required />
                                      <div ng-messages="formimporter_passation_pr.fichier_passation_pr.$error" role="alert">
                                        <div ng-message="required"><span>Fichier</span></div>
                                      </div>
                                    </md-input-container>
                                  </div>

                                  <div>
                                   <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer" ng-disabled="formimporter_passation_pr.$invalid" ng-click="vm.importer_passation_pr()" style="width:10%;">
                                                Importer
                                  </md-button>
                                  <md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annulerimporter_passation_pr()" style="width:10%;">
                                            Annuler
                                  </md-button>
                              </div>
                            </form>
                            <md-divider></md-divider><br>
                          </div>
                         <div>        
                          <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                            <thead>
                              <tr>
                                <th class="secondary-text" ng-repeat="mem in ::vm.passation_marches_pr_column">
                                  <div class="table-header">
                                    <span class="column-title">{{mem.titre}}</span>
                                  </div>
                                </th>
                              </tr>
                            </thead>
                                     
                            <tbody>
                              <tr ng-repeat="passation_marches_pr in vm.allpassation_marches_pr"  ng-class="{selected: passation_marches_pr.$selected}" ng-click="vm.selectionPassation_marches_pr(passation_marches_pr)">

                                <td>
                                  <span ng-if="passation_marches_pr.$edit">
                                    <md-datepicker ng-model="passation_marches_pr.date_manifestation" md-placeholder="Date de signature" md-max-date="vm.datenow" required>                       
                                    </md-datepicker>
                                  </span>                          
                                  <span ng-if="!passation_marches_pr.$edit">{{vm.formatDate(passation_marches_pr.date_manifestation)}}</span>
                                </td>

                                <td>
                                  <span ng-if="passation_marches_pr.$edit">
                                    <md-datepicker ng-model="passation_marches_pr.date_lancement_dp" md-placeholder="Date de signature" md-max-date="vm.datenow" required>                       
                                    </md-datepicker>
                                  </span>                          
                                  <span ng-if="!passation_marches_pr.$edit">{{vm.formatDate(passation_marches_pr.date_lancement_dp)}}</span>
                                </td>
                                          
                                <td>
                                  <span ng-if="passation_marches_pr.$edit">
                                    <md-datepicker ng-model="passation_marches_pr.date_remise" md-placeholder="Date de signature" md-min-date="passation_marches_pr.date_lancement_dp" md-max-date="vm.datenow" required>                       
                                    </md-datepicker>   
                                  </span>
                                            
                                  <span ng-if="!passation_marches_pr.$edit">{{vm.formatDate(passation_marches_pr.date_remise)}}</span>
                                </td>
                                          
                                <td>
                                  <span ng-if="passation_marches_pr.$edit">
                                    <md-input-container style="width:100%;display: flex !important;">
                                      <label>Nombre offre recu</label>
                                      <input name="nbr_offre_recu" type="number" ng-model="passation_marches_pr.nbr_offre_recu" ng-min="1"/>
                                    </md-input-container>   
                                  </span>
                                            
                                  <span ng-if="!passation_marches_pr.$edit">{{passation_marches_pr.nbr_offre_recu}}</span>
                                </td>                       

                                <td>
                                  <span ng-if="passation_marches_pr.$edit">
                                    <md-datepicker ng-model="passation_marches_pr.date_signature_contrat" md-placeholder="Date de signature" md-min-date="passation_marches_pr.date_remise" md-max-date="vm.datenow" required>                       
                                    </md-datepicker>
                                  </span>                          
                                  <span ng-if="!passation_marches_pr.$edit">{{vm.formatDate(passation_marches_pr.date_signature_contrat)}}</span>
                                </td>                     

                                <td>
                                  <span ng-if="passation_marches_pr.$edit">
                                    <md-datepicker ng-model="passation_marches_pr.date_os" md-placeholder="Date de signature" md-min-date="passation_marches_pr.date_signature_contrat" md-max-date="vm.datenow" required>                       
                                    </md-datepicker>
                                  </span>                          
                                  <span ng-if="!passation_marches_pr.$edit">{{vm.formatDate(passation_marches_pr.date_os)}}</span>
                                </td>
                                                             
                                <td>
                                  <a ng-if="!passation_marches_pr.$edit && passation_marches_pr.validation ==0" ng-click="vm.modifierPassation_marches_pr(passation_marches_pr)" title="Modifier">
                                    <span class="icon-table-edit"></span>
                                  </a>
                                            
                                  <a ng-if="!passation_marches_pr.$edit && passation_marches_pr.validation ==0" ng-click="vm.supprimerPassation_marches_pr(passation_marches_pr)" title="Supprimer">
                                    <span class="icon-delete"></span>
                                  </a>
                                  <span ng-if="!passation_marches_pr.$edit && passation_marches_pr.validation ==1">Aucune action disponible</span>       
                                  <a ng-if="passation_marches_pr.$edit" ng-click="vm.annulerPassation_marches_pr(passation_marches_pr)" title="Annuler modification">
                                    <span class="icon-cancel"></span>
                                  </a>
                                            
                                  <a ng-if="passation_marches_pr.$edit && passation_marches_pr.date_manifestation && passation_marches_pr.date_lancement_dp && passation_marches_pr.date_remise && passation_marches_pr.nbr_offre_recu && passation_marches_pr.date_os >''" ng-click="vm.ajoutPassation_marches_pr(passation_marches_pr,0)" title="Sauvegarder">
                                    <span class="icon-content-save"></span>
                                  </a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>

                      </md-tab-body>
                    </md-tab>
                    <md-tab>
                      <md-tab-label>
                        <span class="ms-form-wizard-step-label">
                            <!--span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==false">FF</span>
                            <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==true">
                              <i class="icon-check s16"></i>
                            </span-->
                            <span class="ms-form-wizard-step-text">Détail contrat</span>
                        </span>
                       
                      </md-tab-label>
                      
                      <md-tab-body>
                        <div style="widht:100%;">  
                            <md-button type="submit" class="md-raised md-accent md-green-600-bg" aria-label="Nouveau" ng-click="vm.ajouterContrat_partenaire_relai()" style="width:10%;" ng-disabled="!vm.showbuttonNouvcontrat_pr">
                              Nouveau
                            </md-button>
                            <md-button type="submit" class="md-raised md-accent md-cyan-900-bg" aria-label="Importer" ng-click="vm.affichageformimporter_contrat_pr()" style="width:10%;" ng-show="vm.showbuttonimporter_contrat_pr">
                                    Importer
                            </md-button>
                          </div><br>
                          <div ng-show="vm.showformimporter_contrat_pr">
                            <form name="formimporter_contrat_pr" class="md-inline-form" novalidate >
                                  <br>
                              <div layout="column" layout-gt-xs="row">
                                    <md-input-container style="width:100%;display: flex !important;">
                                      <label>Fichier</label>
                                      <input ng-model="vm.fichier_contrat_pr" id="fichier" name="fichier_contrat_pr" type="file" custom-on-change="uploadFile_contrat_pr"  ng-multiple="false" required />
                                      <div ng-messages="formimporter_contrat_pr.fichier_contrat_pr.$error" role="alert">
                                        <div ng-message="required"><span>Fichier</span></div>
                                      </div>
                                    </md-input-container>
                                  </div>

                                  <div>
                                   <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer" ng-disabled="formimporter_contrat_pr.$invalid" ng-click="vm.importer_contrat_pr()" style="width:10%;">
                                                Importer
                                  </md-button>
                                  <md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annulerimporter_contrat_pr()" style="width:10%;">
                                            Annuler
                                  </md-button>
                              </div>
                            </form>
                            <md-divider></md-divider><br>
                          </div>
                       <div>        
                        <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                          <thead>
                            <tr>
                              <th class="secondary-text" ng-repeat="mem in ::vm.contrat_partenaire_relai_column">
                                <div class="table-header">
                                  <span class="column-title">{{mem.titre}}</span>
                                </div>
                              </th>
                            </tr>
                          </thead>
                                   
                          <tbody>
                            <tr ng-repeat="contrat_partenaire_relai in vm.allcontrat_partenaire_relai"  ng-class="{selected: contrat_partenaire_relai.$selected}" ng-click="vm.selectionContrat_partenaire_relai(contrat_partenaire_relai)">                            

                              <td>
                                <span ng-if="contrat_partenaire_relai.$edit">
                                  <md-input-container style="width:100%;display: flex !important;">
                                    <label>partenaire_relai</label>
                                    <md-select ng-model="contrat_partenaire_relai.id_partenaire_relai"style="overflow: hidden;text-overflow: ellipsis;">
                                      <md-option ng-repeat="partenaire_relai in vm.allpartenaire_relai" value="{{partenaire_relai.id}}">
                                                                            {{partenaire_relai.nom}}
                                      </md-option>
                                    </md-select>
                                  </md-input-container>   
                                </span>
                                          
                                <span ng-if="!contrat_partenaire_relai.$edit">{{contrat_partenaire_relai.partenaire_relai.nom}}</span>
                              </td>
                                        
                              <td>
                                <span ng-if="contrat_partenaire_relai.$edit">
                                  <md-input-container style="width:100%;display: flex !important;">
                                    <label>Intitule objet</label>
                                    <input name="intitule" type="text" ng-model="contrat_partenaire_relai.intitule"/>
                                  </md-input-container>   
                                </span>
                                          
                                <span ng-if="!contrat_partenaire_relai.$edit">{{contrat_partenaire_relai.intitule}}</span>
                              </td>
                                        
                              <td>
                                <span ng-if="contrat_partenaire_relai.$edit">
                                  <md-input-container style="width:100%;display: flex !important;">
                                    <label>Réference contrat</label>
                                    <input name="ref_contrat" type="text" ng-model="contrat_partenaire_relai.ref_contrat"/>
                                  </md-input-container>   
                                </span>
                                          
                                <span ng-if="!contrat_partenaire_relai.$edit">{{contrat_partenaire_relai.ref_contrat}}</span>
                              </td>
                                        
                              <td>
                                <span ng-if="contrat_partenaire_relai.$edit">
                                  <md-input-container style="width:100%;display: flex !important;">
                                    <label>Montant contrat</label>
                                    <input name="montant_contrat" type="number" ng-model="contrat_partenaire_relai.montant_contrat" ng-min="1"/>
                                  </md-input-container>   
                                </span>
                                          
                                <span ng-if="!contrat_partenaire_relai.$edit">{{contrat_partenaire_relai.montant_contrat}} Ar</span>
                              </td>

                              <td>
                                <span ng-if="contrat_partenaire_relai.$edit">
                                  <md-datepicker ng-model="contrat_partenaire_relai.date_signature" md-placeholder="Date de signature" md-max-date="vm.datenow" required disabled>                       
                                  </md-datepicker>
                                </span>                          
                                <span ng-if="!contrat_partenaire_relai.$edit">{{vm.formatDate(contrat_partenaire_relai.date_signature)}}</span>
                              </td>
                               <!--td>           
                                <span ng-if="!contrat_partenaire_relai.$edit">{{contrat_partenaire_relai.delai_execution}}</span>
                              </td-->
                                                           
                              <td>
                                <a ng-if="!contrat_partenaire_relai.$edit && contrat_partenaire_relai.validation==0" ng-click="vm.modifierContrat_partenaire_relai(contrat_partenaire_relai)" title="Modifier">
                                  <span class="icon-table-edit"></span>
                                </a>
                                          
                                <a ng-if="!contrat_partenaire_relai.$edit && contrat_partenaire_relai.validation==0" ng-click="vm.supprimerContrat_partenaire_relai(contrat_partenaire_relai)" title="Supprimer">
                                  <span class="icon-delete"></span>
                                </a>
                               <span ng-if="contrat_partenaire_relai.validation==1">Aucune action disponible</span>
                                <a ng-if="contrat_partenaire_relai.$edit" ng-click="vm.annulerContrat_partenaire_relai(contrat_partenaire_relai)" title="Annuler modification">
                                  <span class="icon-cancel"></span>
                                </a>
                                          
                                <a ng-if="contrat_partenaire_relai.$edit && contrat_partenaire_relai.intitule && contrat_partenaire_relai.ref_contrat && contrat_partenaire_relai.montant_contrat &&  contrat_partenaire_relai.date_signature && contrat_partenaire_relai.id_partenaire_relai>''" ng-click="vm.ajoutContrat_partenaire_relai(contrat_partenaire_relai,0)" title="Sauvegarder">
                                  <span class="icon-content-save"></span>
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                    </md-tab-body>
                    </md-tab>
                    
                    <!---------------------------------Avenant partenaire-----------------------------------------------> 
                    <md-tab ng-disabled="!vm.stepprestaion_pr || vm.validation_contrat_pr==0">                    
                      <md-tab-label >
                        <span class="ms-form-wizard-step-label">
                            <span class="ms-form-wizard-step-text">Avenant</span>
                        </span>
                       
                      </md-tab-label>

                      <md-tab-body>
                        <div style="widht:100%;">  
                                    <md-button type="submit" class="md-raised md-accent md-green-600-bg" aria-label="Nouveau" ng-click="vm.ajouterAvenant_partenaire()" style="width:10%;" ng-disabled="!vm.showbuttonNouvavenant_partenaire">
                                      Nouveau
                                    </md-button>
                                </div>
                               <div>        
                                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                                  <thead>
                                    <tr>
                                      <th class="secondary-text" ng-repeat="mem in ::vm.avenant_partenaire_column">
                                        <div class="table-header">
                                          <span class="column-title">{{mem.titre}}</span>
                                        </div>
                                      </th>
                                    </tr>
                                  </thead>
                                           
                                  <tbody>
                                    <tr ng-repeat="avenant_partenaire in vm.allavenant_partenaire"  ng-class="{selected: avenant_partenaire.$selected}" ng-click="vm.selectionAvenant_partenaire(avenant_partenaire)">
                                                
                                      <td>
                                        <span ng-if="avenant_partenaire.$edit">
                                          <md-input-container style="width:100%;display: flex !important;">
                                            <label>Descriprtion</label>
                                            <input name="description" type="text" ng-model="avenant_partenaire.description"/>
                                          </md-input-container>   
                                        </span>
                                                  
                                        <span ng-if="!avenant_partenaire.$edit">{{avenant_partenaire.description}}</span>
                                      </td>

                                      <td>
                                        <span ng-if="avenant_partenaire.$edit">
                                          <md-input-container style="width:100%;display: flex !important;">
                                            <label>Référence avenant</label>
                                            <input name="ref_avenant" type="text" ng-model="avenant_partenaire.ref_avenant"/>
                                          </md-input-container>   
                                        </span>
                                                  
                                        <span ng-if="!avenant_partenaire.$edit">{{avenant_partenaire.ref_avenant}}</span>
                                      </td>
                                                
                                      <td>
                                        <span ng-if="avenant_partenaire.$edit">
                                          <md-input-container style="width:100%;display: flex !important;">
                                            <label>Cout batiment</label>
                                            <input name="montant" type="number" ng-model="avenant_partenaire.montant" ng-min="1"/>
                                          </md-input-container>   
                                        </span>
                                                  
                                        <span ng-if="!avenant_partenaire.$edit">{{avenant_partenaire.montant}} Ar</span>
                                      </td>

                                      <td>
                                        <span ng-if="avenant_partenaire.$edit">
                                          <md-datepicker ng-model="avenant_partenaire.date_signature" md-placeholder="Date de signature" md-max-date="vm.date_now" required>                       
                                          </md-datepicker>
                                        </span>                          
                                        <span ng-if="!avenant_partenaire.$edit">{{vm.formatDate(avenant_partenaire.date_signature)}}</span>
                                      </td>                      
                                      <td>
                                        <a ng-if="!avenant_partenaire.$edit && avenant_partenaire.validation==0" ng-click="vm.modifierAvenant_partenaire(avenant_partenaire)" title="Modifier">
                                          <span class="icon-table-edit"></span>
                                        </a>
                                                  
                                        <a ng-if="!avenant_partenaire.$edit && avenant_partenaire.validation==0" ng-click="vm.supprimerAvenant_partenaire(avenant_partenaire)" title="Supprimer">
                                          <span class="icon-delete"></span>
                                        </a>
                                        <span ng-if="!avenant_partenaire.$edit && avenant_partenaire.validation==1">Aucune action disponible</span>          
                                        <a ng-if="avenant_partenaire.$edit" ng-click="vm.annulerAvenant_partenaire(avenant_partenaire)" title="Annuler modification">
                                          <span class="icon-cancel"></span>
                                        </a>
                                                  
                                        <a ng-if="avenant_partenaire.$edit && avenant_partenaire.description &&  avenant_partenaire.montant &&  avenant_partenaire.date_signature>''" ng-click="vm.ajoutAvenant_partenaire(avenant_partenaire,0)" title="Sauvegarder">
                                          <span class="icon-content-save"></span>
                                        </a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                      </md-tab-body>
                    </md-tab>
                    <!----------------------------Avenant partenaire----------------------------------------------->                
                               
                  </md-tabs> 
                </ms-form-wizard>               
              </md-tab-body>
            </md-tab>            
            
            <!-----------------------FIN RELIQUAT--------------------------------------------->
            
          </md-tabs>
        </ms-form-wizard> 
<!------------------------------------FIN TABS MERE--------------------------------------------------->    
       </div>
      
    </div>
    <!-- / CONTENT -->
  </div>