  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Gerer situation feffi</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Feffi</span>
            </div>

            <div class="title">Feffi</div>
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">

      <div class="form-wrapper md-whiteframe-1dp" >

            <header layout="row" layout-align="space-between center" style="background: #F3F4F5; margin-bottom: 2px;" class="border-top border-bottom">
              <div layout="row" layout-align="start">
                  <div class="border-right" style="display: flex; justify-content: center; align-items: center; padding: 0px 10px 0px 10px; ">
                    <span style="line-height: normal;"> Decaissement fonctionnement</span>
                  </div>
                  <div>
                    <md-button class="md-icon-button" aria-label="add type ouvrage" ng-click="vm.ajouter()">
                      <md-icon md-font-icon="icon-plus"></md-icon>
                      <md-tooltip><span>Ajout accés zone</span></md-tooltip>
                    </md-button>
                  </div>                      
              </div>
            </header>
             <div> 
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterDecaiss_fonct_feffi()" style="width:10%;">
                      Nouveau
                    </md-button>  
                    <md-button type="submit" class="md-raised md-warn" aria-label="Nouveau" ng-click="vm.validerDecaiss_fonct_feffi()" style="width:10%;" ng-show="vm.showbuttonValidation">
                      Validation
                    </md-button>
                </div><br>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Convention</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">montant</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Date Decaissement</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Observation</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Action</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="decaiss_fonct_feffi in vm.alldecaiss_fonct_feffi"  ng-class="{selected: decaiss_fonct_feffi.$selected}" ng-click="vm.selectionDecaiss_fonct_feffi(decaiss_fonct_feffi)">

                      <td>
                        <span ng-if="decaiss_fonct_feffi.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Convention</label>
                            <md-select ng-model="decaiss_fonct_feffi.id_convention_entete"style="overflow: hidden;text-overflow: ellipsis;" >
                              <md-option ng-repeat="convention_entete in vm.allconvention_entete" value="{{convention_entete.id}}">{{convention_entete.ref_convention}}
                              </md-option>
                            </md-select>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!decaiss_fonct_feffi.$edit">{{decaiss_fonct_feffi.convention_entete.ref_convention}}</span>
                      </td>

                      <td>
                        <span ng-if="decaiss_fonct_feffi.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Montant</label>
                            <input name="montant" type="text" ng-model="decaiss_fonct_feffi.montant"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!decaiss_fonct_feffi.$edit">{{decaiss_fonct_feffi.montant}}</span>
                      </td>

                      <td>
                        <span ng-if="decaiss_fonct_feffi.$edit">
                          <md-datepicker ng-model="decaiss_fonct_feffi.date_decaissement" md-placeholder="Date de decaissement" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!decaiss_fonct_feffi.$edit">{{vm.affichageDate(decaiss_fonct_feffi.date_decaissement)}}</span>
                      </td>

                      <td>
                        <span ng-if="decaiss_fonct_feffi.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Observation</label>
                            <input name="observation" type="text" ng-model="decaiss_fonct_feffi.observation"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!decaiss_fonct_feffi.$edit">{{decaiss_fonct_feffi.observation}}</span>
                      </td>

                      <td>
                        <a ng-if="!decaiss_fonct_feffi.$edit" ng-click="vm.modifierDecaiss_fonct_feffi(decaiss_fonct_feffi)" title="Modifier">
                          <span class="icon-table-edit"></span>
                        </a>
                                  
                        <a ng-if="!decaiss_fonct_feffi.$edit" ng-click="vm.supprimerDecaiss_fonct_feffi(decaiss_fonct_feffi)" title="Supprimer">
                          <span class="icon-delete"></span>
                        </a>
                                  
                        <a ng-if="decaiss_fonct_feffi.$edit" ng-click="vm.annulerDecaiss_fonct_feffi(decaiss_fonct_feffi)" title="Annuler modification">
                          <span class="icon-cancel"></span>
                        </a>
                                  
                        <a ng-if="decaiss_fonct_feffi.$edit && decaiss_fonct_feffi.montant && decaiss_fonct_feffi.date_decaissement >''" ng-click="vm.ajoutDecaiss_fonct_feffi(decaiss_fonct_feffi,0)" title="Sauvegarder">
                          <span class="icon-content-save"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
                         
      </div>
    </div>
    <!-- / CONTENT -->
  </div>