  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Gerer subvention financière</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Suivi financière</span>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Suivi DAAF/FEFFI</span>
            </div>

            <div class="title">Suivi DAAF/FEFFI</div>
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">

        <div>
              <md-tabs  md-dynamic-height>
              <md-tab label="Filtre">
                <md-tab-body>
                  <form name="filtreform" class="md-inline-form" novalidate >
                    
                    <div layout="column" layout-gt-xs="row" flex>
                      <md-input-container flex="100" flex-gt-xs="90">
                        <label>Région</label>
                        <md-select ng-model="vm.filtre.id_region" name="region" ng-change="vm.filtre_change_region(vm.filtre)" required>
                          <md-option ng-repeat="region in vm.regions" value="{{region.id}}" > {{region.nom}}</md-option>
                        </md-select>
                        <div ng-messages="filtreform.region.$error" role="alert">
                          <div ng-message="required"><span>Région</span></div>
                        </div>
                      </md-input-container>
                      
                      <md-input-container flex="100" flex-gt-xs="90">
                        <label>Cisco</label>
                        <md-select ng-model="vm.filtre.id_cisco" ng-disabled="!vm.filtre.id_region" ng-change="vm.filtre_change_cisco(vm.filtre)" name="cisco" required>
                          <md-option ng-repeat="d in vm.ciscos" value="{{d.id}}"> {{d.code}}</md-option>
                                      
                         </md-select>
                         <div ng-messages="filtreform.cisco.$error" role="alert">
                          <div ng-message="required"><span>Cisco</span></div>
                        </div>
                      </md-input-container>
                      
                      <md-input-container flex="100" flex-gt-xs="90">
                        <label>Commune</label>
                        <md-select ng-model="vm.filtre.id_commune" ng-disabled="!vm.filtre.id_cisco" name="commune" ng-change="vm.filtre_change_commune(vm.filtre)" required>
                          <md-option ng-repeat="eco in vm.communes" value="{{eco.id}}"> {{eco.nom}}</md-option>
                        </md-select>
                        <div ng-messages="filtreform.commune.$error" role="alert">
                          <div ng-message="required"><span>Commune</span></div>
                        </div>
                      </md-input-container>
                      
                      <md-input-container flex="100" flex-gt-xs="90">
                        <label>Ecole</label>
                        <md-select ng-model="vm.filtre.id_ecole" name="ecole" ng-disabled="!vm.filtre.id_commune" ng-change="vm.filtre_change_ecole(vm.filtre)" required>
                          <md-option ng-repeat="eco in vm.ecoles" value="{{eco.id}}"> {{eco.code}}
                          </md-option>
                        </md-select>
                        <div ng-messages="filtreform.ecole.$error" role="alert">
                          <div ng-message="required"><span>Ecole</span></div>
                        </div>
                      </md-input-container>
                    </div>
                    
                    <div>
                      <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer" ng-disabled="filtreform.$invalid||vm.affiche_load" ng-click="vm.resultatfiltrer(vm.filtre)"> Recherche
                      </md-button>
                    </div>
                  </form>
                </md-tab-body>
              </md-tab>
            </md-tabs>
            
          </div> 

      <!-- Convention -->
      <div class="form-wrapper md-whiteframe-1dp" >

        <ms-form-wizard flex>
          <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">

          <md-tab>
            <md-tab-label>
              <span class="ms-form-wizard-step-label">
                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">2</span>
                  <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==true">
                      <i class="icon-check s16"></i>
                  </span>
                  <span class="ms-form-wizard-step-text">Convention</span>
              </span>
            </md-tab-label>
            
            <md-tab-body>
              <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                <thead>
                  <tr>
                    <th class="secondary-text" ng-repeat="prog in ::vm.convention_cisco_feffi_entete_column">
                      <div class="table-header">
                        <span class="column-title">{{prog.titre}}</span>
                      </div>
                    </th>
                  </tr>
                </thead>
                         
                <tbody>
                  <tr ng-repeat="convention_cife_tete in vm.allconvention_cisco_feffi_entete"  ng-class="{selected: convention_cife_tete.$selected}" ng-click="vm.selectionConvention_cisco_feffi_entete(convention_cife_tete)">
                    
                    <td>                          
                      <span>{{convention_cife_tete.ref_convention}}</span>
                    </td>

                    <td>                          
                      <span >{{convention_cife_tete.objet}}</span>
                    </td>

                    <td>         
                      <span>{{convention_cife_tete.ref_financement}}</span>
                    </td>                

                    <td>                                    
                      <span>{{convention_cife_tete.montant_total}}</span>
                    </td>                

                    <td>                                    
                      <span>{{convention_cife_tete.avancement}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </md-tab-body>
          </md-tab>          

          <md-tab ng-disabled="vm.stepOne==false">
            <md-tab-label>
              <span class="ms-form-wizard-step-label">
                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==false">1</span>
                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==true">
                      <i class="icon-check s16"></i>
                </span>
                <span class="ms-form-wizard-step-text">Demande réalimentation compte</span>
              </span>
            </md-tab-label>
            
            <md-tab-body> <br>

              <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                <thead>
                  <tr>
                    <th class="secondary-text" ng-repeat="cisc in ::vm.demande_realimentation_column">
                      <div class="table-header">
                        <span class="column-title">{{cisc.titre}}</span>
                      </div>
                    </th>
                  </tr>
                </thead>                     
                <tbody>
                  <tr ng-repeat="demande_realimentation in vm.alldemande_realimentation"  ng-class="{selected: demande_realimentation.$selected}" ng-click="vm.selectionDemande_realimentation(demande_realimentation)">
                    <td>
                      <span>{{demande_realimentation.convention_cife_entete.ref_convention}}</span>
                    </td>
                    <td>
                      <span>{{demande_realimentation.compte_feffi.numero_compte}}</span>
                    </td>

                    <td>
                      <span>{{demande_realimentation.tranche.libelle}}</span>
                    </td>

                    <td>
                      <span>{{demande_realimentation.prevu}}</span>
                    </td>

                    <td>
                      <span>{{demande_realimentation.cumul}}</span>
                    </td>

                    <td>
                      <span>{{demande_realimentation.anterieur}}</span>
                    </td>

                    <td>
                      <span>{{demande_realimentation.tranche.periode}}</span>
                    </td>

                    <td>
                      <span>{{demande_realimentation.tranche.pourcentage}}</span>
                    </td>

                    <td>
                      <span>{{demande_realimentation.reste}}</span>
                    </td>

                    <td>
                      <span>{{vm.formatDate(demande_realimentation.date)}}</span>
                    </td>

                    <td>
                      <span>{{vm.situationdemande(demande_realimentation.validation)}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
             
            </md-tab-body>
          </md-tab>          

          <md-tab ng-disabled="vm.stepTwo==false">
            <md-tab-label>
              <span class="ms-form-wizard-step-label">
                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">2</span>
                  <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==true">
                      <i class="icon-check s16"></i>
                  </span>
                <span class="ms-form-wizard-step-text">Transfert daaf</span>
              </span>
            </md-tab-label>
            
            <md-tab-body> <br>
              <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="pai in ::vm.transfert_daaf_column">
                        <div class="table-header">
                          <span class="column-title">{{pai.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="transfert_daaf in vm.alltransfert_daaf"  ng-class="{selected: transfert_daaf.$selected}" ng-click="vm.selectionTransfert_daaf(transfert_daaf)">
                                
                      <td>                                  
                        <span>{{transfert_daaf.montant_transfert}}</span>
                      </td>
                                
                      <td>                                  
                        <span>{{transfert_daaf.frais_bancaire}}</span>
                      </td>
                                
                      <td>                                  
                        <span>{{transfert_daaf.montant_total}}</span>
                      </td>

                       <td>                         
                        <span>{{vm.affichageDate(transfert_daaf.date)}}</span>
                      </td>                      
                                
                      <td>                                  
                        <span>{{transfert_daaf.observation}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
             
            </md-tab-body>
          </md-tab>
            </md-tab-body>
          </md-tab>
          <md-tab></md-tab>
          </md-tabs>
          </ms-form-wizard>       
                  
      </div>
      <!-- / convention -->
    </div>
    <!-- / CONTENT -->
  </div>