  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Gerer situation PR</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Prestation PR</span>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Module GFPC</span>
            </div>

            <div class="title">Module GFPC valide</div>
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">

      <div class="form-wrapper md-whiteframe-1dp" >

        <ms-form-wizard flex>
          <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">

   
     <!-----Debut module_gfpc ------>
          <md-tab>
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==false">1</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Module gfpc</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="mem in ::vm.module_gfpc_column">
                        <div class="table-header">
                          <span class="column-title">{{mem.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="module_gfpc in vm.allmodule_gfpc"  ng-class="{selected: module_gfpc.$selected}" ng-click="vm.selectionModule_gfpc(module_gfpc)">

                    <td>
                      <span ng-if="!module_gfpc.$edit">{{module_gfpc.contrat_partenaire_relai.ref_contrat}}</span>
                    </td>
                    <td>                          
                        <span ng-if="!module_gfpc.$edit">{{vm.affichageDate(module_gfpc.date_debut_previ_form)}}</span>
                      </td>
                      <td>                         
                        <span ng-if="!module_gfpc.$edit">{{vm.affichageDate(module_gfpc.date_fin_previ_form)}}</span>
                      </td>
                      <td>                          
                        <span ng-if="!module_gfpc.$edit">{{vm.affichageDate(module_gfpc.date_previ_resti)}}</span>
                      </td>
                                
                      <td>        
                        <span ng-if="!module_gfpc.$edit">{{vm.affichageDate(module_gfpc.date_debut_reel_form)}}</span>
                      </td>
                      <td>                         
                        <span ng-if="!module_gfpc.$edit">{{vm.affichageDate(module_gfpc.date_fin_reel_form)}}</span>
                      </td>
                      <td>                         
                        <span ng-if="!module_gfpc.$edit">{{vm.affichageDate(module_gfpc.date_reel_resti)}}</span>
                      </td>
                                
                      <td>       
                        <span ng-if="!module_gfpc.$edit">{{module_gfpc.nbr_previ_parti}}</span>
                      </td>
                                
                      <td>       
                        <span ng-if="!module_gfpc.$edit">{{module_gfpc.nbr_parti}}</span>
                      </td>
                                
                      <td>        
                        <span ng-if="!module_gfpc.$edit">{{module_gfpc.nbr_previ_fem_parti}}</span>
                      </td>
                                
                      <td>       
                        <span ng-if="!module_gfpc.$edit">{{module_gfpc.nbr_reel_fem_parti}}</span>
                      </td>
                                
                      <td>       
                        <span ng-if="!module_gfpc.$edit">{{module_gfpc.lieu_formation}}</span>
                      </td>
                                
                      <td>        
                        <span ng-if="!module_gfpc.$edit">{{module_gfpc.observation}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN module_gfpc ------>

     <!-----Debut participant_gfpc ------>
          <md-tab ng-disabled="vm.stepOne==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">P</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Participant</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" >
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="mem in ::vm.participant_gfpc_column">
                        <div class="table-header">
                          <span class="column-title">{{mem.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="participant_gfpc in vm.allparticipant_gfpc"  ng-class="{selected: participant_gfpc.$selected}" ng-click="vm.selectionParticipant_gfpc(participant_gfpc)">           
                      <td>                         
                        <span ng-if="!participant_gfpc.$edit">{{participant_gfpc.nom}}</span>
                      </td>
                                
                      <td>                                  
                        <span ng-if="!participant_gfpc.$edit">{{participant_gfpc.prenom}}</span>
                      </td>

                      <td>                          
                        <span ng-if="!participant_gfpc.$edit">{{vm.affichage_sexe(participant_gfpc.sexe)}}</span>
                      </td> 

                      <td>
                                  
                        <span ng-if="!participant_gfpc.$edit">{{participant_gfpc.situation_participant_gfpc.libelle}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN participant_gfpc ------>

    <!-----Debut rapport_gfpc ------>
          <!--md-tab ng-disabled="vm.stepOne==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">R</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==true">
                      <i class="icon-check s16"></i>
                    </span>
                    <span class="ms-form-wizard-step-text">Rapport gfpc</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Intitule</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Fichier</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="rapport_gfpc in vm.allrapport_gfpc"  ng-class="{selected: rapport_gfpc.$selected}" ng-click="vm.selectionRapport_gfpc(rapport_gfpc)">
                               
                      <td>      
                        <span ng-if="!rapport_gfpc.$edit">{{rapport_gfpc.intitule}}</span>
                      </td>
                                
                      <td>       
                        <span ng-if="!rapport_gfpc.$edit">{{rapport_gfpc.fichier}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab-->
    <!-----FIN rapport_gfpc ------>
          </md-tabs>  
        </ms-form-wizard>             
      </div>
    </div>
    <!-- / CONTENT -->
  </div>