  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Gerer situation PR</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Prestation PR</span>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Module PMC</span>
            </div>

            <div class="title">Insertion module PMC</div>
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">

      <div class="form-wrapper md-whiteframe-1dp" >

        <ms-form-wizard flex>
          <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">

     <!-----Debut module_pmc ------>
          <md-tab>
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==false">1</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Module pmc</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterModule_pmc()" style="width:10%;" >
                      Nouveau
                    </md-button>

                    <md-button type="submit" class="md-raised md-warn" aria-label="Nouveau" ng-click="vm.validerModule_pmc()" style="width:10%;" ng-disabled="" ng-show="vm.showbuttonValidation && vm.permissionboutonValider">
                      Valider
                    </md-button>
                </div>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="mem in ::vm.module_pmc_column">
                        <div class="table-header">
                          <span class="column-title">{{mem.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="module_pmc in vm.allmodule_pmc"  ng-class="{selected: module_pmc.$selected}" ng-click="vm.selectionModule_pmc(module_pmc)">
                      <td>
                      <span ng-if="module_pmc.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>Contrat</label>
                          <md-select ng-model="module_pmc.id_contrat_partenaire_relai"style="overflow: hidden;text-overflow: ellipsis;" ng-change="vm.tranchechange(module_pmc)">
                            <md-option ng-repeat="contrat_partenaire_relai in vm.allcontrat_partenaire_relai" value="{{contrat_partenaire_relai.id}}">
                                                                        {{contrat_partenaire_relai.ref_contrat}}
                            </md-option>
                          </md-select>
                        </md-input-container>  
                      </span>
                      <span ng-if="!module_pmc.$edit">{{module_pmc.contrat_partenaire_relai.ref_contrat}}</span>
                    </td>
                      <td>
                        <span ng-if="module_pmc.$edit">
                          <md-datepicker ng-model="module_pmc.date_debut_previ_form" md-placeholder="Date de debut prévisionnelle" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!module_pmc.$edit">{{vm.affichageDate(module_pmc.date_debut_previ_form)}}</span>
                      </td>

                      <td>
                        <span ng-if="module_pmc.$edit">
                          <md-datepicker ng-model="module_pmc.date_fin_previ_form" md-placeholder="Date de fin prévisionnelle" md-max-date="vm.date_now" md-min-date="module_pmc.date_debut_previ_form" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!module_pmc.$edit">{{vm.affichageDate(module_pmc.date_fin_previ_form)}}</span>
                      </td>

                      <td>
                        <span ng-if="module_pmc.$edit">
                          <md-datepicker ng-model="module_pmc.date_previ_resti" md-placeholder="Date prévisionnelle de restitution" md-max-date="vm.date_now" md-min-date="module_pmc.date_debut_previ_form" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!module_pmc.$edit">{{vm.affichageDate(module_pmc.date_previ_resti)}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="module_pmc.$edit">
                          <md-datepicker ng-model="module_pmc.date_debut_reel_form" md-placeholder="Date de debut réelle" md-min-date="module_pmc.date_previ_resti" md-max-date="vm.date_now" required>                       
                          </md-datepicker>   
                        </span>
                                  
                        <span ng-if="!module_pmc.$edit">{{vm.affichageDate(module_pmc.date_debut_reel_form)}}</span>
                      </td>
                      <td>
                        <span ng-if="module_pmc.$edit">
                          <md-datepicker ng-model="module_pmc.date_fin_reel_form" md-placeholder="Date de fin réelle" md-min-date="module_pmc.date_debut_reel_form" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!module_pmc.$edit">{{vm.affichageDate(module_pmc.date_fin_reel_form)}}</span>
                      </td>
                      <td>
                        <span ng-if="module_pmc.$edit">
                          <md-datepicker ng-model="module_pmc.date_reel_resti" md-placeholder="Date réelle de restitution" md-min-date="module_pmc.date_previ_resti" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!module_pmc.$edit">{{vm.affichageDate(module_pmc.date_reel_resti)}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="module_pmc.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Nombre previsionnel participant</label>
                            <input name="nbr_previ_parti" type="number" ng-model="module_pmc.nbr_previ_parti"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!module_pmc.$edit">{{module_pmc.nbr_previ_parti}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="module_pmc.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Nombre participant</label>
                            <input name="nbr_parti" type="number" ng-model="module_pmc.nbr_parti" disabled />
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!module_pmc.$edit">{{module_pmc.nbr_parti}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="module_pmc.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Nombre previsionnel femme participant</label>
                            <input name="nbr_previ_fem_parti" type="number" ng-model="module_pmc.nbr_previ_fem_parti"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!module_pmc.$edit">{{module_pmc.nbr_previ_fem_parti}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="module_pmc.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Nombre réel femme participant</label>
                            <input name="nbr_reel_fem_parti" type="number" ng-model="module_pmc.nbr_reel_fem_parti" disabled />
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!module_pmc.$edit">{{module_pmc.nbr_reel_fem_parti}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="module_pmc.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Lieu formation</label>
                            <input name="lieu_formation" type="text" ng-model="module_pmc.lieu_formation"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!module_pmc.$edit">{{module_pmc.lieu_formation}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="module_pmc.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Observation</label>
                            <input name="observation" type="text" ng-model="module_pmc.observation"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!module_pmc.$edit">{{module_pmc.observation}}</span>
                      </td>
                                                   
                      <td>
                        <a ng-if="!module_pmc.$edit" ng-click="vm.modifierModule_pmc(module_pmc)" title="Modifier">
                          <span class="icon-table-edit"></span>
                        </a>
                                  
                        <a ng-if="!module_pmc.$edit" ng-click="vm.supprimerModule_pmc(module_pmc)" title="Supprimer">
                          <span class="icon-delete"></span>
                        </a>
                                  
                        <a ng-if="module_pmc.$edit" ng-click="vm.annulerModule_pmc(module_pmc)" title="Annuler modification">
                          <span class="icon-cancel"></span>
                        </a>
                                  
                        <a ng-if="module_pmc.$edit && module_pmc.date_debut_previ_form && module_pmc.date_fin_previ_form && module_pmc.date_previ_resti && module_pmc.date_debut_reel_form && module_pmc.nbr_previ_parti && module_pmc.date_fin_reel_form && module_pmc.date_reel_resti && module_pmc.nbr_previ_fem_parti && module_pmc.lieu_formation && module_pmc.observation >''" ng-click="vm.ajoutModule_pmc(module_pmc,0)" title="Sauvegarder">
                          <span class="icon-content-save"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN module_pmc ------>

     <!-----Debut participant_pmc ------>
          <md-tab ng-disabled="vm.stepOne==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">P</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==true">
                      <i class="icon-check s16"></i>
                    </span>
                    <span class="ms-form-wizard-step-text">Participant</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterParticipant_pmc()" style="width:10%;">
                      Nouveau
                    </md-button>
                </div>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" >
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="mem in ::vm.participant_pmc_column">
                        <div class="table-header">
                          <span class="column-title">{{mem.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="participant_pmc in vm.allparticipant_pmc"  ng-class="{selected: participant_pmc.$selected}" ng-click="vm.selectionParticipant_pmc(participant_pmc)">           
                      <td>
                        <span ng-if="participant_pmc.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Nom</label>
                            <input name="nom" type="text" ng-model="participant_pmc.nom"/>
                          </md-input-container>
                        </span>                          
                        <span ng-if="!participant_pmc.$edit">{{participant_pmc.nom}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="participant_pmc.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Prenom</label>
                            <input name="prenom" type="text" ng-model="participant_pmc.prenom"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!participant_pmc.$edit">{{participant_pmc.prenom}}</span>
                      </td>

                      <td>
                        <span ng-if="participant_pmc.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Sexe</label>
                            <md-select ng-model="participant_pmc.sexe"style="overflow: hidden;text-overflow: ellipsis;">
                                <md-option value="1">Masculin
                                </md-option>
                                <md-option value="2">Femimin
                                </md-option>
                              </md-select>
                          </md-input-container>
                        </span>                          
                        <span ng-if="!participant_pmc.$edit">{{vm.affichage_sexe(participant_pmc.sexe)}}</span>
                      </td> 

                      <td>
                        <span ng-if="participant_pmc.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Site</label>
                            <md-select ng-model="participant_pmc.id_situation_participant_pmc"style="overflow: hidden;text-overflow: ellipsis;">
                              <md-option ng-repeat="situation_participant_pmc in vm.allsituation_participant_pmc" value="{{situation_participant_pmc.id}}">
                                                                    {{situation_participant_pmc.libelle}}
                              </md-option>
                            </md-select>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!participant_pmc.$edit">{{participant_pmc.situation_participant_pmc.libelle}}</span>
                      </td>
                                                   
                      <td>
                        <a ng-if="!participant_pmc.$edit" ng-click="vm.modifierParticipant_pmc(participant_pmc)" title="Modifier">
                          <span class="icon-table-edit"></span>
                        </a>
                                  
                        <a ng-if="!participant_pmc.$edit" ng-click="vm.supprimerParticipant_pmc(participant_pmc)" title="Supprimer">
                          <span class="icon-delete"></span>
                        </a>
                                  
                        <a ng-if="participant_pmc.$edit" ng-click="vm.annulerParticipant_pmc(participant_pmc)" title="Annuler modification">
                          <span class="icon-cancel"></span>
                        </a>
                                  
                        <a ng-if="participant_pmc.$edit && participant_pmc.nom && participant_pmc.prenom && participant_pmc.sexe && participant_pmc.id_situation_participant_pmc>''" ng-click="vm.ajoutParticipant_pmc(participant_pmc,0)" title="Sauvegarder">
                          <span class="icon-content-save"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN participant_pmc ------>
        <!-----Debut rapport_pmc ------>
          <!--md-tab ng-disabled="vm.stepOne==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">R</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==true">
                      <i class="icon-check s16"></i>
                    </span>
                    <span class="ms-form-wizard-step-text">Rapport pmc</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterRapport_pmc()" style="width:10%;" ng-show ="vm.showbuttonNouvRapport">
                      Nouveau
                    </md-button>
                </div>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Intitule</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Fichier</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Action</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="rapport_pmc in vm.allrapport_pmc"  ng-class="{selected: rapport_pmc.$selected}" ng-click="vm.selectionRapport_pmc(rapport_pmc)">
                               
                      <td>
                        <span ng-if="rapport_pmc.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Intitule</label>
                            <input name="intitule" type="text" ng-model="rapport_pmc.intitule"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!rapport_pmc.$edit">{{rapport_pmc.intitule}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="rapport_pmc.$edit" style="display: inline-block !important;">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Fichier</label>
                            <input name="fichier" type="text" ng-model="rapport_pmc.fichier" disabled/>
                          </md-input-container>   
                        </span>

                        <span ng-if="rapport_pmc.$edit" style="display: inline-block !important;">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Fichier</label>
                          <input type="file"name="myFile" aria-label="upload" custom-on-change="uploadFile"  ng-model="fichier" id="fileid"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!rapport_pmc.$edit">{{rapport_pmc.fichier}}</span>
                      </td>                       
                      <td>
                        <a ng-if="!rapport_pmc.$edit" ng-click="vm.modifierRapport_pmc(rapport_pmc)" title="Modifier">
                          <span class="icon-table-edit"></span>
                        </a>
                                  
                        <a ng-if="!rapport_pmc.$edit" ng-click="vm.supprimerRapport_pmc(rapport_pmc)" title="Supprimer">
                          <span class="icon-delete"></span>
                        </a>
                                  
                        <a ng-if="rapport_pmc.$edit" ng-click="vm.annulerRapport_pmc(rapport_pmc)" title="Annuler modification">
                          <span class="icon-cancel"></span>
                        </a>
                                  
                        <a ng-if="rapport_pmc.$edit && rapport_pmc.intitule && rapport_pmc.fichier>''" ng-click="vm.ajoutRapport_pmc(rapport_pmc,0)" title="Sauvegarder">
                          <span class="icon-content-save"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab-->
    <!-----FIN rapport_pmc ------>
    
          </md-tabs>  
        </ms-form-wizard>             
      </div>
    </div>
    <!-- / CONTENT -->
  </div>