  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Gerer situation reliquat</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Transfert reliquat</span>
            </div>

            <div class="title">Transfert reliquat</div>
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">
      
      <div class="form-wrapper md-whiteframe-1dp" >       
        <ms-form-wizard flex>
          <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">

    <!-----debut transfert_reliquat ------>

            <md-tab>
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==false">1</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==true">
                      <i class="icon-check s16"></i>
                    </span>
                    <span class="ms-form-wizard-step-text">Transfert reliquat</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouter()" style="width:10%;">
                      Nouveau
                    </md-button>
                  <md-button type="submit" ng-show="vm.afficherboutonValider==1 && vm.permissionboutonValider" class="md-raised md-warn" aria-label="Valider" ng-click="vm.validerTransfert_reliquat()" style="width:10%;">
                    Valider
                  </md-button>
                </div>

                <div>        
                  <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                    <thead>
                      <tr>
                        <th class="secondary-text" ng-repeat="ciscT in ::vm.transfert_reliquat_column">
                          <div class="table-header">
                            <span class="column-title">{{ciscT.titre}}</span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                             
                    <tbody>
                      <tr ng-repeat="transfert_reliquat in vm.alltransfert_reliquat"  ng-class="{selected: transfert_reliquat.$selected}" ng-click="vm.selection(transfert_reliquat)">           
                        

                        <td>
                          <span ng-if="transfert_reliquat.$edit">
                            <md-input-container style="width:100%;display: flex !important;">
                              <label>convention_entete</label>
                              <md-select ng-model="transfert_reliquat.id_convention_entete"style="overflow: hidden;text-overflow: ellipsis;" ng-change="vm.change_convention(transfert_reliquat)">
                                <md-option ng-repeat="convention_entete in vm.allconvention_entete" value="{{convention_entete.id}}">
                                  {{convention_entete.ref_convention}}
                                </md-option>
                              </md-select>
                            </md-input-container>  
                          </span>
                          <span ng-if="!transfert_reliquat.$edit">{{transfert_reliquat.convention_entete.ref_convention}}</span>
                        </td>

                        <td>
                          <span ng-if="transfert_reliquat.$edit">
                            <md-input-container style="width:100%;display: flex !important;">
                              <label>Montant</label>
                              <input name="montant" type="text" ng-model="transfert_reliquat.montant" ng-change="vm.change_montant(transfert_reliquat)"/>
                            </md-input-container>
                          </span>                          
                          <span ng-if="!transfert_reliquat.$edit">{{transfert_reliquat.montant}}</span>
                        </td>
                        <td>
                          <span ng-if="transfert_reliquat.$edit">
                            <md-input-container style="width:100%;display: flex !important;">
                              <label>Objet utilisation</label>
                              <md-select ng-model="transfert_reliquat.objet_utilisation"style="overflow: hidden;text-overflow: ellipsis;" disabled>
                                <md-option  value="0">
                                  Amelioration infrastructure
                                </md-option>
                                <md-option  value="1">
                                  Nouvelle construction
                                </md-option>
                              </md-select>
                            </md-input-container>
                          </span>                          
                          <span ng-if="!transfert_reliquat.$edit">{{vm.afficheobjet_utilisation(transfert_reliquat.objet_utilisation)}}</span>
                        </td>

                        <td>
                        <span ng-if="transfert_reliquat.$edit">
                          <md-datepicker ng-model="transfert_reliquat.date_transfert" md-placeholder="Date de transfert" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!transfert_reliquat.$edit">{{vm.affichageDate(transfert_reliquat.date_transfert)}}</span>
                      </td>

                        <td>
                          <span ng-if="transfert_reliquat.$edit">
                            <md-input-container style="width:100%;display: flex !important;">
                              <label>Intitule compte</label>
                              <input name="intitule_compte" type="text" ng-model="transfert_reliquat.intitule_compte"/>
                            </md-input-container>
                          </span>                          
                          <span ng-if="!transfert_reliquat.$edit">{{transfert_reliquat.intitule_compte}}</span>
                        </td>

                        <td>
                          <span ng-if="transfert_reliquat.$edit">
                            <md-input-container style="width:100%;display: flex !important;">
                              <label>RIB SAE</label>
                              <input name="rib" type="number" ng-model="transfert_reliquat.rib"/>
                            </md-input-container>   
                          </span>
                                    
                          <span ng-if="!transfert_reliquat.$edit">{{transfert_reliquat.rib}}</span>
                        </td>                        
                                                     
                        <td>  
                          <a ng-if="!transfert_reliquat.$edit" ng-click="vm.modifier(transfert_reliquat)" title="Modifier">
                            <span class="icon-table-edit"></span>
                          </a>
                                    
                          <a ng-if="!transfert_reliquat.$edit" ng-click="vm.supprimer(transfert_reliquat)" title="Supprimer">
                            <span class="icon-delete"></span>
                          </a>
                                    
                          <a ng-if="transfert_reliquat.$edit" ng-click="vm.annuler(transfert_reliquat)" title="Annuler modification">
                            <span class="icon-cancel"></span>
                          </a>
                                    
                          <a ng-if="transfert_reliquat.$edit && transfert_reliquat.montant && transfert_reliquat.intitule_compte && transfert_reliquat.id_convention_entete && transfert_reliquat.rib && transfert_reliquat.date_transfert && vm.showbuttonSauvegarde>''" ng-click="vm.ajout(transfert_reliquat,0)" title="Sauvegarder">
                            <span class="icon-content-save"></span>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </md-tab-body>
            </md-tab>
    
    <!-----fin transfert_reliquat ------>
            <md-tab ng-disabled="vm.stepOne==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">2</span>                    
                    <span class="ms-form-wizard-step-number md-accent-bg md-green-800-bg" ng-if="vm.stepTwo==true">2
                    </span>
                    <span class="ms-form-wizard-step-text">Pièce jointe</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterJustificatif_transfert_reliquat()" style="width:10%;">
                      Nouveau
                    </md-button>
                </div>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Description</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Fichier</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Action</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="justificatif_transfert_reliquat in vm.alljustificatif_transfert_reliquat"  ng-class="{selected: justificatif_transfert_reliquat.$selected}" ng-click="vm.selectionJustificatif_transfert_reliquat(justificatif_transfert_reliquat)">
                               
                      <td>
                        <span ng-if="justificatif_transfert_reliquat.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Description</label>
                            <input name="description" type="text" ng-model="justificatif_transfert_reliquat.description"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!justificatif_transfert_reliquat.$edit">{{justificatif_transfert_reliquat.description}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="justificatif_transfert_reliquat.$edit" style="display: inline-block !important;">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Fichier</label>
                            <input name="fichier" type="text" ng-model="justificatif_transfert_reliquat.fichier" disabled/>
                          </md-input-container>   
                        </span>

                        <span ng-if="justificatif_transfert_reliquat.$edit" style="display: inline-block !important;">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Fichier</label>
                          <input type="file"name="myFile" aria-label="upload" custom-on-change="uploadFile"  ng-model="fichier" id="fileid"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!justificatif_transfert_reliquat.$edit">{{justificatif_transfert_reliquat.fichier}}</span>
                      </td>                       
                      <td>
                        <a ng-if="!justificatif_transfert_reliquat.$edit" ng-click="vm.modifierJustificatif_transfert_reliquat(justificatif_transfert_reliquat)" title="Modifier">
                          <span class="icon-table-edit"></span>
                        </a>
                                  
                        <a ng-if="!justificatif_transfert_reliquat.$edit" ng-click="vm.supprimerJustificatif_transfert_reliquat(justificatif_transfert_reliquat)" title="Supprimer">
                          <span class="icon-delete"></span>
                        </a>
                                  
                        <a ng-if="justificatif_transfert_reliquat.$edit" ng-click="vm.annulerJustificatif_transfert_reliquat(justificatif_transfert_reliquat)" title="Annuler modification">
                          <span class="icon-cancel"></span>
                        </a>
                                  
                        <a ng-if="justificatif_transfert_reliquat.$edit && justificatif_transfert_reliquat.description && justificatif_transfert_reliquat.fichier>''" ng-click="vm.ajoutJustificatif_transfert_reliquat(justificatif_transfert_reliquat,0)" title="Sauvegarder">
                          <span class="icon-content-save"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
   
    <!-----fin convention_detail ------>
          </md-tabs>
        </ms-form-wizard>                   
      </div>
      <!-- / transfert_reliquat -->
    </div>
    <!-- / CONTENT -->
  </div>