  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Gerer convention UFP/DAAF</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Convention</span>
            </div>

            <!--div class="title">Convention</div-->
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">

      <!-- Convention -->
      <div class="form-wrapper md-whiteframe-1dp" >

        <ms-form-wizard flex>
          <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">

          <md-tab>
            <md-tab-label>
              <span class="ms-form-wizard-step-label">
                  <span class="ms-form-wizard-step-number md-accent-bg">
                    <i class="icon-check s16"></i>
                </span>
                  <span class="ms-form-wizard-step-text">Convention Daff/ufp</span>
              </span>
            </md-tab-label>
            
            <md-tab-body>
              <div style="float: top !important">
                <md-progress-circular ng-if="vm.affiche_load" class="md-accent" aria-label="Rating" md-mode="indeterminate" md-diameter="48"></md-progress-circular> 
                <div ng-if="vm.affiche_load" style="position:relative;top: -30px;  left: 60px;color: #039be5">
                      Récuperation,veuillez patienter s'il vous plait ...
                </div>
              </div>
              <div style="widht:100%;"> 
                  <md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.showformfiltre()" ng-show="vm.showbuttonfiltre">
                        Filtre
                  </md-button> 
                  <md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterConvention_ufp_daaf_entete()" style="width:10%;">
                    Nouveau
                  </md-button>
              </div> <br>
              <div ng-show="vm.showfiltre">
                  <form name="filtreform" class="md-inline-form" novalidate >
                        <br>
                      <div layout="column" layout-gt-xs="row">
                          <md-input-container>
                                    <span>Date du</span>
                          </md-input-container>

                           <md-datepicker ng-model="vm.filtre.date_debut" md-max-date="vm.datenow" required>                     
                          </md-datepicker>

                          <md-input-container>
                                    <span>&nbsp &nbsp jusqu'au &nbsp &nbsp</span>
                          </md-input-container>

                          <md-datepicker ng-model="vm.filtre.date_fin" md-min-date="vm.filtre.date_debut" md-max-date="vm.datenow" ng-disabled="!vm.filtre.date_debut" required>                        
                          </md-datepicker>
                        </div>

                        <div>
                          <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
                                      ng-disabled="filtreform.$invalid" ng-click="vm.recherchefiltre(vm.filtre)">
                                      Recherche
                        </md-button>
                        <md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annulerfiltre()">
                                  Annuler
                        </md-button>
                        </div>
                  </form>
                  <md-divider></md-divider><br>
              </div>
              <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                <thead>
                  <tr>
                    <th class="secondary-text" ng-repeat="conv in ::vm.convention_ufp_daaf_entete_column">
                      <div class="table-header">
                        <span class="column-title">{{conv.titre}}</span>
                      </div>
                    </th>
                  </tr>
                </thead>
                         
                <tbody>
                  <tr ng-repeat="convention_ufp_daaf_entete in vm.allconvention_ufp_daaf_entete"  ng-class="{selected: convention_ufp_daaf_entete.$selected}" ng-click="vm.selectionConvention_ufp_daaf_entete(convention_ufp_daaf_entete)">
                          
                    <td>
                      <span ng-if="convention_ufp_daaf_entete.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>Vague</label>
                          <md-select ng-model="convention_ufp_daaf_entete.num_vague"style="overflow: hidden;text-overflow: ellipsis;" ng-change="vm.changevague(convention_ufp_daaf_entete)">
                            <md-option value="1">Première vague</md-option>
                            <md-option value="2">Deuxième vague</md-option>
                          </md-select>
                        </md-input-container>   
                      </span>
                                
                      <span ng-if="!convention_ufp_daaf_entete.$edit">{{vm.affichevague(convention_ufp_daaf_entete.num_vague)}}</span>
                    </td>

                    <td>
                      <span ng-if="convention_ufp_daaf_entete.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>Référence convention</label>
                          <input name="ref_convention" type="text" ng-model="convention_ufp_daaf_entete.ref_convention"/>
                        </md-input-container>   
                      </span>
                                
                      <span ng-if="!convention_ufp_daaf_entete.$edit">{{convention_ufp_daaf_entete.ref_convention}}</span>
                    </td>
                    
                    <td>
                      <span ng-if="convention_ufp_daaf_entete.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>Objet</label>
                          <input name="objet" type="text" ng-model="convention_ufp_daaf_entete.objet"/>
                        </md-input-container>
                      </span>                          
                      <span ng-if="!convention_ufp_daaf_entete.$edit">{{convention_ufp_daaf_entete.objet}}</span>
                    </td>

                              
                    <td>
                      <span ng-if="convention_ufp_daaf_entete.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>Référence financement</label>
                          <input name="ref_financement" type="text" ng-model="convention_ufp_daaf_entete.ref_financement" />
                        </md-input-container>   
                      </span>
                                
                      <span ng-if="!convention_ufp_daaf_entete.$edit">{{convention_ufp_daaf_entete.ref_financement}}</span>
                    </td>
                    
                    <td>
                      <span ng-if="convention_ufp_daaf_entete.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>Montant à transferer</label>
                          <input name="montant_trans_comm" type="text" ng-model="convention_ufp_daaf_entete.montant_trans_comm" disabled/>
                        </md-input-container>
                      </span>                          
                      <span ng-if="!convention_ufp_daaf_entete.$edit">{{convention_ufp_daaf_entete.montant_trans_comm}}</span>
                    </td>
                              
                    <td>
                      <span ng-if="convention_ufp_daaf_entete.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>Frais bancaire</label>
                          <input name="frais_bancaire" type="number" ng-model="convention_ufp_daaf_entete.frais_bancaire" ng-change="vm.changefraisbancaire(convention_ufp_daaf_entete)" min="0" />
                        </md-input-container>   
                      </span>
                                
                      <span ng-if="!convention_ufp_daaf_entete.$edit">{{convention_ufp_daaf_entete.frais_bancaire}}</span>
                    </td>

                     <td>
                      <span ng-if="convention_ufp_daaf_entete.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>Nombre bébéficiaire</label>
                          <input name="nbr_beneficiaire" type="number" ng-model="convention_ufp_daaf_entete.nbr_beneficiaire"/>
                        </md-input-container>   
                      </span>
                                
                      <span ng-if="!convention_ufp_daaf_entete.$edit">{{convention_ufp_daaf_entete.nbr_beneficiaire}}</span>
                    </td>

                     <td>
                      <span ng-if="convention_ufp_daaf_entete.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>Montant convention</label>
                          <input name="montant_convention" type="number" ng-model="convention_ufp_daaf_entete.montant_convention" disabled />
                        </md-input-container>   
                      </span>
                                
                      <span ng-if="!convention_ufp_daaf_entete.$edit">{{convention_ufp_daaf_entete.montant_convention}}</span>
                    </td>
                    <td>  
                      <a ng-if="!convention_ufp_daaf_entete.$edit" ng-click="vm.modifierConvention_ufp_daaf_entete(convention_ufp_daaf_entete)" title="Modifier">
                        <span class="icon-table-edit"></span>
                      </a>
                                
                      <a ng-if="!convention_ufp_daaf_entete.$edit" ng-click="vm.supprimerConvention_ufp_daaf_entete(convention_ufp_daaf_entete)" title="Supprimer">
                        <span class="icon-delete"></span>
                      </a>
                                
                      <a ng-if="convention_ufp_daaf_entete.$edit" ng-click="vm.annulerConvention_ufp_daaf_entete(convention_ufp_daaf_entete)" title="Annuler modification">
                        <span class="icon-cancel"></span>
                      </a>
                                
                      <a ng-if="convention_ufp_daaf_entete.$edit && convention_ufp_daaf_entete.objet && convention_ufp_daaf_entete.ref_convention && convention_ufp_daaf_entete.num_vague && convention_ufp_daaf_entete.nbr_beneficiaire && convention_ufp_daaf_entete.ref_financement>''" ng-click="vm.ajoutConvention_ufp_daaf_entete(convention_ufp_daaf_entete,0,0)" title="Sauvegarder">
                        <span class="icon-content-save"></span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </md-tab-body>
          </md-tab>

            <md-tab ng-disabled="vm.stepOne==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">

                  <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">2</span>
                  <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==true">
                      <i class="icon-check s16"></i>
                  </span>
                  <span class="ms-form-wizard-step-text">Detail</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterConvention_ufp_daaf_detail()" style="width:10%;" ng-disabled="vm.showbuttonNouvDetail==false" ng-disabled="!vm.showbuttonNouvDetail">
                      Nouveau
                    </md-button>
                </div>

            <fieldset class="standard" >
                <legend><code>Autre</code></legend>
                <div>        
                  <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptionsperso" ms-responsive-table>
                    <thead>
                      <tr>

                          
                        <th class="secondary-text">
                          <div class="table-header">
                            <span class="column-title">Delai</span>
                          </div>
                        </th>
                        <th class="secondary-text">
                          <div class="table-header">
                            <span class="column-title">Date signature</span>
                          </div>
                        </th>
                        <th class="secondary-text">
                          <div class="table-header">
                            <span class="column-title">Observation</span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                             
                    <tbody>
                      <tr ng-repeat="convention_ufp_daaf_detail in vm.allconvention_ufp_daaf_detail"  ng-class="{selected: convention_ufp_daaf_detail.$selected}" ng-click="vm.selectionConvention_ufp_daaf_detail(convention_ufp_daaf_detail)">
                       


                        <td>
                          <span ng-if="convention_ufp_daaf_detail.$edit">
                            <md-input-container style="width:100%;display: flex !important;">
                              <label>Mois</label>
                              <input name="delai" type="text" ng-model="convention_ufp_daaf_detail.delai" md-placeholder="en mois"/>
                            </md-input-container>   
                          </span>
                                    
                          <span ng-if="!convention_ufp_daaf_detail.$edit">{{convention_ufp_daaf_detail.delai}} mois</span>
                        </td>
                        

                        <td>
                          <span ng-if="convention_ufp_daaf_detail.$edit">
                            <md-datepicker ng-model="convention_ufp_daaf_detail.date_signature" md-placeholder="Date de signature" md-max-date="vm.date_now" required>                       
                          </md-datepicker>  
                          </span>
                                    
                          <span ng-if="!convention_ufp_daaf_detail.$edit">{{vm.formatDate(convention_ufp_daaf_detail.date_signature)}}</span>
                        </td>

                        <td>
                          <span ng-if="convention_ufp_daaf_detail.$edit">
                            <md-input-container style="width:100%;display: flex !important;">
                              <label>Observation</label>
                              <input name="observation" type="text" ng-model="convention_ufp_daaf_detail.observation" md-placeholder="en mois"/>
                            </md-input-container>   
                          </span>
                                    
                          <span ng-if="!convention_ufp_daaf_detail.$edit">{{convention_ufp_daaf_detail.observation}}</span>
                        </td>
                 
                      </tr>
                    </tbody>
                  </table>
                </div>
            </fieldset><br>
                
            <fieldset class="standard" >
                <legend><code>Compte</code></legend>
                <div>        
                  <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptionsperso" ms-responsive-table>
                    <thead>
                      <tr>

                          <th class="secondary-text">
                          <div class="table-header">
                            <span class="column-title">Intitule</span>
                          </div>
                        </th>
                        <th class="secondary-text">
                          <div class="table-header">
                            <span class="column-title">Agence</span>
                          </div>
                        </th>
                        <th class="secondary-text">
                          <div class="table-header">
                            <span class="column-title">Compte</span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                             
                    <tbody>
                      <tr ng-repeat="convention_ufp_daaf_detail in vm.allconvention_ufp_daaf_detail"  ng-class="{selected: convention_ufp_daaf_detail.$selected}" ng-click="vm.selectionConvention_ufp_daaf_detail(convention_ufp_daaf_detail)">
                       

                        <td>
                          <span ng-if="convention_ufp_daaf_detail.$edit">
                            <md-input-container style="width:100%;display: flex !important;">
                              <label>Intitule</label>
                              <md-select ng-model="convention_ufp_daaf_detail.id_compte_daaf"style="overflow: hidden;text-overflow: ellipsis;" ng-change="vm.changecompte_daaf(convention_ufp_daaf_detail)">
                                <md-option ng-repeat="compte_daaf in vm.allcompte_daaf" value="{{compte_daaf.id}}">
                                                                    {{compte_daaf.intitule}}
                                </md-option>
                              </md-select>
                            </md-input-container>   
                          </span>
                                    
                          <span ng-if="!convention_ufp_daaf_detail.$edit">{{convention_ufp_daaf_detail.compte_daaf.intitule}}</span>
                        </td>

                        <td>
                          <span ng-if="convention_ufp_daaf_detail.$edit">
                            <md-input-container style="width:100%;display: flex !important;">
                              <label>Agence</label>
                              <input name="agence" type="text" ng-model="convention_ufp_daaf_detail.agence" disabled/>
                            </md-input-container>   
                          </span>
                                    
                          <span ng-if="!convention_ufp_daaf_detail.$edit">{{convention_ufp_daaf_detail.compte_daaf.agence}}</span>
                        </td>
                   
                        <td>
                          <span ng-if="convention_ufp_daaf_detail.$edit">
                            <md-input-container style="width:100%;display: flex !important;">
                              <label>Compte</label>
                              <input name="compte" type="text" ng-model="convention_ufp_daaf_detail.compte" disabled/>
                            </md-input-container>   
                          </span>
                                    
                          <span ng-if="!convention_ufp_daaf_detail.$edit">{{convention_ufp_daaf_detail.compte_daaf.compte}}</span>
                        </td>
                 
                      </tr>
                    </tbody>
                  </table>
                </div> 
            </fieldset><br>
                <div>        
                  <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptionsperso2" ms-responsive-table>
                    <thead>
                      <tr>
                        <th class="secondary-text">
                          <div class="table-header">
                            <span class="column-title"></span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                             
                    <tbody>
                      <tr ng-repeat="convention_ufp_daaf_detail in vm.allconvention_ufp_daaf_detail" ng-click="vm.selectionConvention_ufp_daaf_detail(convention_ufp_daaf_detail)">                       
                                                   
                        <td>  
                          <!--a ng-if="!convention_ufp_daaf_detail.$edit" ng-click="vm.modifierConvention_ufp_daaf_detail(convention_ufp_daaf_detail)" title="Modifier">
                            <span class="icon-table-edit"></span>
                          </a-->
                          <md-button type="submit" class="md-raised md-accent" aria-label="Modifier" ng-if="!convention_ufp_daaf_detail.$edit" ng-click="vm.modifierConvention_ufp_daaf_detail(convention_ufp_daaf_detail)" style="width:10%;" ng-disabled="vm.validation_item!=0">
                            Modifier
                          </md-button>
                                    
                          <!--a ng-if="!convention_ufp_daaf_detail.$edit" ng-click="vm.supprimerConvention_ufp_daaf_detail(convention_ufp_daaf_detail)" title="Supprimer">
                            <span class="icon-delete"></span>
                          </a-->
                          <md-button type="submit" class="md-raised md-accent" aria-label="Supprimer" ng-if="!convention_ufp_daaf_detail.$edit" ng-click="vm.supprimerConvention_ufp_daaf_detail(convention_ufp_daaf_detail)" style="width:10%;" ng-disabled="vm.validation_item!=0">
                            Supprimer
                          </md-button>
                                    
                          <!--a ng-if="convention_ufp_daaf_detail.$edit" ng-click="vm.annulerConvention_ufp_daaf_detail(convention_ufp_daaf_detail)" title="Annuler modification">
                            <span class="icon-cancel"></span>
                          </a-->
                          <md-button type="submit" class="md-raised md-accent" aria-label="Annuler" ng-if="convention_ufp_daaf_detail.$edit" ng-click="vm.annulerConvention_ufp_daaf_detail(convention_ufp_daaf_detail)" style="width:10%;">
                            Annuler
                          </md-button>
                                    
                          <!--a ng-if="convention_ufp_daaf_detail.$edit && convention_ufp_daaf_detail.id_compte_daaf && convention_ufp_daaf_detail.delai && convention_ufp_daaf_detail.date_signature>''" ng-click="vm.ajoutConvention_ufp_daaf_detail(convention_ufp_daaf_detail,0)" title="Sauvegarder">
                            <span class="icon-content-save"></span>
                          </a-->
                          <md-button type="submit" class="md-raised md-accent" aria-label="Sauvegarder" ng-if="convention_ufp_daaf_detail.$edit && convention_ufp_daaf_detail.id_compte_daaf && convention_ufp_daaf_detail.delai && convention_ufp_daaf_detail.date_signature>''" ng-click="vm.ajoutConvention_ufp_daaf_detail(convention_ufp_daaf_detail,0)" style="width:10%;">
                            Sauvegarder
                          </md-button>
                        </td>
                 
                      </tr>
                    </tbody>
                  </table>
                </div>
  
              </md-tab-body>
            </md-tab>

    <!-----debut convention_detail ------>

          <md-tab ng-disabled="vm.stepOne==false">
            <md-tab-label>
              <span class="ms-form-wizard-step-label">
                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==false">c</span>
                  <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==true">
                    <i class="icon-check s16"></i>
                  </span>
                  <!--span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">
                  <i class="icon-check s16"></i>
                </span-->
                  <span class="ms-form-wizard-step-text">Convention</span>
              </span>
            </md-tab-label>

            <md-tab-body ms-form-wizard-form>

              <div style="widht:100%;">  
                  <md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajoutConventionDialog()" style="width:10%;">
                    Nouveau
                  </md-button>
              </div>

              <div>        
                  <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                    <thead>
                      <tr>
                        <th class="secondary-text" ng-repeat="ciscT in ::vm.convention_cisco_feffi_entete_column" style="min-width: 100px !important">
                          <div class="table-header">
                            <span class="column-title">{{ciscT.titre}}</span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                             
                    <tbody>
                      <tr ng-repeat="convention_cisco_feffi_entete in vm.allconvention_cisco_feffi_entete"  ng-class="{selected: convention_cisco_feffi_entete.$selected}" ng-click="vm.selectionConvention_cisco_feffi_entete(convention_cisco_feffi_entete)">

                        <td>
                          <span>{{convention_cisco_feffi_entete.cisco.code}}</span>
                        </td>

                        <td>
                          <span>{{convention_cisco_feffi_entete.feffi.denomination}}</span>
                        </td>

                        <td>
                          <span>{{convention_cisco_feffi_entete.ecole.description}}</span>
                        </td>

                        <!--td>
                          <span>{{vm.affichage_type_convention(convention_cisco_feffi_entete.type_convention)}}</span>
                        </td-->

                        <td>                         
                          <span>{{convention_cisco_feffi_entete.ref_convention}}</span>
                        </td>

                        <td>                         
                          <span>{{convention_cisco_feffi_entete.objet}}</span>
                        </td>

                        <td>                                    
                          <span>{{convention_cisco_feffi_entete.ref_financement}}</span>
                        </td>

                        <td>                          
                          <span>{{convention_cisco_feffi_entete.montant_total}}</span>
                        </td>

                        <td>                          
                          <span>{{convention_cisco_feffi_entete.avancement}}</span>
                        </td>

                        <td>                          
                          <span>{{convention_cisco_feffi_entete.user.nom}}</span>
                        </td>
                                                     
                        <td>
                                    
                          <a ng-if="!convention_cisco_feffi_entete.$edit && vm.validation_item==0" ng-click="vm.supprimerConvention_cisco_feffi_entete(convention_cisco_feffi_entete)" title="Supprimer">
                            <span class="icon-delete"></span>
                          </a>

                     <span ng-if="!convention_cisco_feffi_entete.$edit && vm.validation_item!=0"> Aucune action disponible</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </md-tab-body>
          </md-tab>
          </md-tabs>
        </ms-form-wizard>       
                     
      </div>
      <!-- / convention -->
    </div>
    <!-- / CONTENT -->
  </div>