  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Gerer situation feffi</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Feffi</span>
            </div>

            <div class="title">Feffi</div>
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">

      <div class="form-wrapper md-whiteframe-1dp" >

        <ms-form-wizard flex>
          <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">

 
    <!-----Debut demande_payement_prest ------>
          <md-tab>
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==false">P</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Prestation mpe</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterPrestation_mpe_validation()" style="width:10%;">
                      Nouveau
                    </md-button>                    
                    <md-button type="submit" ng-show="vm.showboutonValider && vm.permissionboutonValider" class="md-raised md-warn" aria-label="Valider" ng-click="vm.validationPrestation()" style="width:10%;">
                    Valider
                  </md-button>
                </div>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="mem in ::vm.prestation_mpe_validation_column">
                        <div class="table-header">
                          <span class="column-title">{{mem.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="prestation_mpe_validation in vm.allprestation_mpe_validation"  ng-class="{selected: prestation_mpe_validation.$selected}" ng-click="vm.selectionPrestation_mpe_validation(prestation_mpe_validation)">
                       <td>
                          <span ng-if="prestation_mpe_validation.$edit">
                            <md-input-container style="width:100%;display: flex !important;">
                              <label>Contrat prestataire</label>
                              <md-select ng-model="prestation_mpe_validation.id_contrat_prestataire"style="overflow: hidden;text-overflow: ellipsis;" ng-change="vm.change_contrat(prestation_mpe_validation)">
                                <md-option ng-repeat="contrat_prestataire in vm.allcontrat_prestataire" value="{{contrat_prestataire.id}}">
                                                                    {{contrat_prestataire.num_contrat}}
                                </md-option>
                              </md-select>
                            </md-input-container>  
                          </span>
                          <span ng-if="!prestation_mpe_validation.$edit">{{prestation_mpe_validation.contrat_prestataire.num_contrat}}</span>
                        </td>                       

                       <td>
                        <span ng-if="prestation_mpe_validation.$edit">
                          <md-datepicker ng-model="prestation_mpe_validation.date_pre_debu_trav" md-placeholder="Date" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!prestation_mpe_validation.$edit">{{vm.affichageDate(prestation_mpe_validation.date_pre_debu_trav)}}</span>
                      </td>
                      

                       <td>
                        <span ng-if="prestation_mpe_validation.$edit">
                          <md-datepicker ng-model="prestation_mpe_validation.date_reel_debu_trav" md-placeholder="Date" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!prestation_mpe_validation.$edit">{{vm.affichageDate(prestation_mpe_validation.date_reel_debu_trav)}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="prestation_mpe_validation.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Delai execution</label>
                            <input name="delai_execution" type="text" ng-model="prestation_mpe_validation.delai_execution"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!prestation_mpe_validation.$edit">{{prestation_mpe_validation.delai_execution}}</span>
                      </td>

                       <td>
                        <span ng-if="prestation_mpe_validation.$edit">
                          <md-datepicker ng-model="prestation_mpe_validation.date_expiration_assurance_mpe" md-placeholder="Date" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!prestation_mpe_validation.$edit">{{vm.affichageDate(prestation_mpe_validation.date_expiration_assurance_mpe)}}</span>
                      </td>
                                                   
                      <td>
                        <a ng-if="!prestation_mpe_validation.$edit" ng-click="vm.modifierPrestation_mpe_validation(prestation_mpe_validation)" title="Modifier">
                          <span class="icon-table-edit"></span>
                        </a>
                                  
                        <a ng-if="!prestation_mpe_validation.$edit" ng-click="vm.supprimerPrestation_mpe_validation(prestation_mpe_validation)" title="Supprimer">
                          <span class="icon-delete"></span>
                        </a>
                                  
                        <a ng-if="prestation_mpe_validation.$edit" ng-click="vm.annulerPrestation_mpe_validation(prestation_mpe_validation)" title="Annuler modification">
                          <span class="icon-cancel"></span>
                        </a>
                                  
                        <a ng-if="prestation_mpe_validation.$edit && prestation_mpe_validation.date_pre_debu_trav && prestation_mpe_validation.date_reel_debu_trav && prestation_mpe_validation.delai_execution && prestation_mpe_validation.date_expiration_assurance_mpe && vm.showbuttonEnregi>''" ng-click="vm.ajoutPrestation_mpe_validation(prestation_mpe_validation,0)" title="Sauvegarder">
                          <span class="icon-content-save"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN demande_payement_prest ------>
        </md-tabs>
        </ms-form-wizard>                  
      </div>
    </div>
    <!-- / CONTENT -->
  </div>