  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Gerer situation feffi</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Feffi</span>
            </div>

            <div class="title">Feffi</div>
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">

      <div class="form-wrapper md-whiteframe-1dp" >

        <ms-form-wizard flex>
          <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">

     <!-----Debut module_gfpc ------>
          <md-tab>
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==false">1</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Module gfpc</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterModule_gfpc()" style="width:10%;" ng-disabled="!vm.showbuttonNouvPassation">
                      Nouveau
                    </md-button>
                </div>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="mem in ::vm.module_gfpc_column">
                        <div class="table-header">
                          <span class="column-title">{{mem.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="module_gfpc in vm.allmodule_gfpc"  ng-class="{selected: module_gfpc.$selected}" ng-click="vm.selectionModule_gfpc(module_gfpc)">
                      <td>
                      <span ng-if="module_gfpc.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>Contrat</label>
                          <md-select ng-model="module_gfpc.id_contrat_partenaire_relai"style="overflow: hidden;text-overflow: ellipsis;" ng-change="vm.tranchechange(module_gfpc)">
                            <md-option ng-repeat="contrat_partenaire_relai in vm.allcontrat_partenaire_relai" value="{{contrat_partenaire_relai.id}}">
                                                                        {{contrat_partenaire_relai.ref_contrat}}
                            </md-option>
                          </md-select>
                        </md-input-container>  
                      </span>
                      <span ng-if="!module_gfpc.$edit">{{module_gfpc.contrat_partenaire_relai.ref_contrat}}</span>
                    </td>
                      <td>
                        <span ng-if="module_gfpc.$edit">
                          <md-datepicker ng-model="module_gfpc.date_debut_previ_form" md-placeholder="Date de debut prévisionnelle" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!module_gfpc.$edit">{{vm.affichageDate(module_gfpc.date_debut_previ_form)}}</span>
                      </td>

                      <td>
                        <span ng-if="module_gfpc.$edit">
                          <md-datepicker ng-model="module_gfpc.date_fin_previ_form" md-placeholder="Date de fin prévisionnelle" md-max-date="vm.date_now" md-min-date="module_gfpc.date_debut_previ_form" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!module_gfpc.$edit">{{vm.affichageDate(module_gfpc.date_fin_previ_form)}}</span>
                      </td>

                      <td>
                        <span ng-if="module_gfpc.$edit">
                          <md-datepicker ng-model="module_gfpc.date_previ_resti" md-placeholder="Date prévisionnelle de restitution" md-max-date="vm.date_now" md-min-date="module_gfpc.date_debut_previ_form" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!module_gfpc.$edit">{{vm.affichageDate(module_gfpc.date_previ_resti)}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="module_gfpc.$edit">
                          <md-datepicker ng-model="module_gfpc.date_debut_reel_form" md-placeholder="Date de debut réelle" md-min-date="module_gfpc.date_previ_resti" md-max-date="vm.date_now" required>                       
                          </md-datepicker>   
                        </span>
                                  
                        <span ng-if="!module_gfpc.$edit">{{vm.affichageDate(module_gfpc.date_debut_reel_form)}}</span>
                      </td>
                      <td>
                        <span ng-if="module_gfpc.$edit">
                          <md-datepicker ng-model="module_gfpc.date_fin_reel_form" md-placeholder="Date de fin réelle" md-min-date="module_gfpc.date_debut_reel_form" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!module_gfpc.$edit">{{vm.affichageDate(module_gfpc.date_fin_reel_form)}}</span>
                      </td>
                      <td>
                        <span ng-if="module_gfpc.$edit">
                          <md-datepicker ng-model="module_gfpc.date_reel_resti" md-placeholder="Date réelle de restitution" md-min-date="module_gfpc.date_previ_resti" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!module_gfpc.$edit">{{vm.affichageDate(module_gfpc.date_reel_resti)}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="module_gfpc.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Nombre previsionnel participant</label>
                            <input name="nbr_previ_parti" type="number" ng-model="module_gfpc.nbr_previ_parti"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!module_gfpc.$edit">{{module_gfpc.nbr_previ_parti}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="module_gfpc.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Nombre participant</label>
                            <input name="nbr_parti" type="number" ng-model="module_gfpc.nbr_parti" disabled />
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!module_gfpc.$edit">{{module_gfpc.nbr_parti}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="module_gfpc.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Nombre previsionnel femme participant</label>
                            <input name="nbr_previ_fem_parti" type="number" ng-model="module_gfpc.nbr_previ_fem_parti"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!module_gfpc.$edit">{{module_gfpc.nbr_previ_fem_parti}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="module_gfpc.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Nombre réel femme participant</label>
                            <input name="nbr_reel_fem_parti" type="number" ng-model="module_gfpc.nbr_reel_fem_parti" disabled />
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!module_gfpc.$edit">{{module_gfpc.nbr_reel_fem_parti}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="module_gfpc.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Lieu formation</label>
                            <input name="lieu_formation" type="text" ng-model="module_gfpc.lieu_formation"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!module_gfpc.$edit">{{module_gfpc.lieu_formation}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="module_gfpc.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Observation</label>
                            <input name="observation" type="text" ng-model="module_gfpc.observation"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!module_gfpc.$edit">{{module_gfpc.observation}}</span>
                      </td>
                                                   
                      <td>
                        <a ng-if="!module_gfpc.$edit" ng-click="vm.modifierModule_gfpc(module_gfpc)" title="Modifier">
                          <span class="icon-table-edit"></span>
                        </a>
                                  
                        <a ng-if="!module_gfpc.$edit" ng-click="vm.supprimerModule_gfpc(module_gfpc)" title="Supprimer">
                          <span class="icon-delete"></span>
                        </a>
                                  
                        <a ng-if="module_gfpc.$edit" ng-click="vm.annulerModule_gfpc(module_gfpc)" title="Annuler modification">
                          <span class="icon-cancel"></span>
                        </a>
                                  
                        <a ng-if="module_gfpc.$edit && module_gfpc.date_debut_previ_form && module_gfpc.date_fin_previ_form && module_gfpc.date_previ_resti && module_gfpc.date_debut_reel_form && module_gfpc.nbr_previ_parti && module_gfpc.date_fin_reel_form && module_gfpc.date_reel_resti && module_gfpc.nbr_previ_fem_parti && module_gfpc.lieu_formation && module_gfpc.observation >''" ng-click="vm.ajoutModule_gfpc(module_gfpc,0)" title="Sauvegarder">
                          <span class="icon-content-save"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN module_gfpc ------>

     <!-----Debut participant_gfpc ------>
          <md-tab ng-disabled="vm.stepOne==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">P</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==true">
                      <i class="icon-check s16"></i>
                    </span>
                    <span class="ms-form-wizard-step-text">Participant</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterParticipant_gfpc()" style="width:10%;">
                      Nouveau
                    </md-button>
                </div>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" >
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="mem in ::vm.participant_gfpc_column">
                        <div class="table-header">
                          <span class="column-title">{{mem.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="participant_gfpc in vm.allparticipant_gfpc"  ng-class="{selected: participant_gfpc.$selected}" ng-click="vm.selectionParticipant_gfpc(participant_gfpc)">           
                      <td>
                        <span ng-if="participant_gfpc.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Nom</label>
                            <input name="nom" type="text" ng-model="participant_gfpc.nom"/>
                          </md-input-container>
                        </span>                          
                        <span ng-if="!participant_gfpc.$edit">{{participant_gfpc.nom}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="participant_gfpc.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Prenom</label>
                            <input name="prenom" type="text" ng-model="participant_gfpc.prenom"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!participant_gfpc.$edit">{{participant_gfpc.prenom}}</span>
                      </td>

                      <td>
                        <span ng-if="participant_gfpc.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Sexe</label>
                            <md-select ng-model="participant_gfpc.sexe"style="overflow: hidden;text-overflow: ellipsis;">
                                <md-option value="1">Masculin
                                </md-option>
                                <md-option value="2">Femimin
                                </md-option>
                              </md-select>
                          </md-input-container>
                        </span>                          
                        <span ng-if="!participant_gfpc.$edit">{{vm.affichage_sexe(participant_gfpc.sexe)}}</span>
                      </td> 

                      <td>
                        <span ng-if="participant_gfpc.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Site</label>
                            <md-select ng-model="participant_gfpc.id_situation_participant_gfpc"style="overflow: hidden;text-overflow: ellipsis;">
                              <md-option ng-repeat="situation_participant_gfpc in vm.allsituation_participant_gfpc" value="{{situation_participant_gfpc.id}}">
                                                                    {{situation_participant_gfpc.libelle}}
                              </md-option>
                            </md-select>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!participant_gfpc.$edit">{{participant_gfpc.situation_participant_gfpc.libelle}}</span>
                      </td>
                                                   
                      <td>
                        <a ng-if="!participant_gfpc.$edit" ng-click="vm.modifierParticipant_gfpc(participant_gfpc)" title="Modifier">
                          <span class="icon-table-edit"></span>
                        </a>
                                  
                        <a ng-if="!participant_gfpc.$edit" ng-click="vm.supprimerParticipant_gfpc(participant_gfpc)" title="Supprimer">
                          <span class="icon-delete"></span>
                        </a>
                                  
                        <a ng-if="participant_gfpc.$edit" ng-click="vm.annulerParticipant_gfpc(participant_gfpc)" title="Annuler modification">
                          <span class="icon-cancel"></span>
                        </a>
                                  
                        <a ng-if="participant_gfpc.$edit && participant_gfpc.nom && participant_gfpc.prenom && participant_gfpc.sexe && participant_gfpc.id_situation_participant_gfpc>''" ng-click="vm.ajoutParticipant_gfpc(participant_gfpc,0)" title="Sauvegarder">
                          <span class="icon-content-save"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN participant_gfpc ------>
        <!-----Debut rapport_gfpc ------>
          <md-tab ng-disabled="vm.stepOne==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">R</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Rapport gfpc</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterRapport_gfpc()" style="width:10%;" ng-show ="vm.showbuttonNouvRapport">
                      Nouveau
                    </md-button>
                </div>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Intitule</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Fichier</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Action</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="rapport_gfpc in vm.allrapport_gfpc"  ng-class="{selected: rapport_gfpc.$selected}" ng-click="vm.selectionRapport_gfpc(rapport_gfpc)">
                               
                      <td>
                        <span ng-if="rapport_gfpc.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Intitule</label>
                            <input name="intitule" type="text" ng-model="rapport_gfpc.intitule"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!rapport_gfpc.$edit">{{rapport_gfpc.intitule}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="rapport_gfpc.$edit" style="display: inline-block !important;">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Fichier</label>
                            <input name="fichier" type="text" ng-model="rapport_gfpc.fichier" disabled/>
                          </md-input-container>   
                        </span>

                        <span ng-if="rapport_gfpc.$edit" style="display: inline-block !important;">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Fichier</label>
                          <input type="file"name="myFile" aria-label="upload" custom-on-change="uploadFile"  ng-model="fichier" id="fileid"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!rapport_gfpc.$edit">{{rapport_gfpc.fichier}}</span>
                      </td>                       
                      <td>
                        <a ng-if="!rapport_gfpc.$edit" ng-click="vm.modifierRapport_gfpc(rapport_gfpc)" title="Modifier">
                          <span class="icon-table-edit"></span>
                        </a>
                                  
                        <a ng-if="!rapport_gfpc.$edit" ng-click="vm.supprimerRapport_gfpc(rapport_gfpc)" title="Supprimer">
                          <span class="icon-delete"></span>
                        </a>
                                  
                        <a ng-if="rapport_gfpc.$edit" ng-click="vm.annulerRapport_gfpc(rapport_gfpc)" title="Annuler modification">
                          <span class="icon-cancel"></span>
                        </a>
                                  
                        <a ng-if="rapport_gfpc.$edit && rapport_gfpc.intitule && rapport_gfpc.fichier>''" ng-click="vm.ajoutRapport_gfpc(rapport_gfpc,0)" title="Sauvegarder">
                          <span class="icon-content-save"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN rapport_gfpc ------>
          </md-tabs>  
        </ms-form-wizard>             
      </div>
    </div>
    <!-- / CONTENT -->
  </div>