  <div id="formsinsertionfeffi" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Gestion technique des activitées</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Niveau CISCO/FEFFI</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Renseignement FEFFI</span>
            </div>

            <!--div class="title">Feffi</div-->
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">

      <div class="form-wrapper md-whiteframe-1dp" >

        <ms-form-wizard flex>
          <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">

    <!-----debut FEFFI ------>

            <md-tab>
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==false">1</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">ECOLE</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>

          <div style="margin-top: 1px;">
              <div ng-show="vm.showfiltre" class="md-whiteframe-3dp animate-show-hide">
              <form name="filtreform" class="md-inline-form" novalidate >
                                <br>
                  <div layout="column" layout-gt-xs="row" >

                    <md-input-container flex="100" flex-gt-xs="90">
                      <label>Région</label>
                      <md-select ng-model="vm.filtre.id_region" name="region" ng-change="vm.filtre_change_region(vm.filtre)" ng-disabled="vm.session=='BCAF' || vm.session=='OBCAF'" required>
                        <md-option  value="*">*</md-option>
                        <md-option ng-repeat="region in vm.regions" value="{{region.id}}" > {{region.nom}}</md-option>
                      </md-select>
                      <div ng-messages="filtreform.region.$error" role="alert">
                        <div ng-message="required"><span>Région</span></div>
                      </div>
                    </md-input-container>
                                  
                    <md-input-container flex="100" flex-gt-xs="90">
                      <label>Cisco</label>
                      <md-select ng-model="vm.filtre.id_cisco" ng-disabled="!vm.filtre.id_region || vm.session=='BCAF' || vm.session=='OBCAF'" ng-change="vm.filtre_change_cisco(vm.filtre)" name="cisco">
                        <md-option  value="*">*</md-option>
                        <md-option ng-repeat="d in vm.ciscos" value="{{d.id}}"> {{d.code}}</md-option>
                                                  
                        </md-select>
                        <div ng-messages="filtreform.cisco.$error" role="alert">
                        <div ng-message="required"><span>Cisco</span></div>
                      </div>
                    </md-input-container>
                                  
                    <md-input-container flex="100" flex-gt-xs="90">
                      <label>Commune</label>
                      <md-select ng-model="vm.filtre.id_commune" ng-disabled="!vm.filtre.id_cisco" name="commune" ng-change="vm.filtre_change_commune(vm.filtre)">
                        <md-option  value="*">*</md-option>
                        <md-option ng-repeat="eco in vm.communes" value="{{eco.id}}"> {{eco.nom}}</md-option>
                      </md-select>
                      <div ng-messages="filtreform.commune.$error" role="alert">
                        <div ng-message="required"><span>Commune</span></div>
                      </div>
                    </md-input-container>

                    <md-input-container flex="100" flex-gt-xs="90">
                      <label>Zap</label>
                      <md-select ng-model="vm.filtre.id_zap" name="zap" ng-disabled="!vm.filtre.id_commune" ng-change="vm.filtre_change_zap(vm.filtre)">
                        <md-option  value="*">*</md-option>
                        <md-option ng-repeat="zaps in vm.zaps" value="{{zaps.zap.id}}"> {{zaps.zap.nom}}
                        </md-option>
                      </md-select>  
                      <div ng-messages="filtreform.zap.$error" role="alert">
                        <div ng-message="required"><span>Zap</span></div>
                      </div>
                    </md-input-container>
                                  
                    <!--md-input-container flex="100" flex-gt-xs="90">
                      <label>Ecole</label>
                      <md-select ng-model="vm.filtre.id_ecole" name="ecole" ng-disabled="!vm.filtre.id_zap">
                        <md-option  value="*">*</md-option>
                        <md-option ng-repeat="eco in vm.ecoles" value="{{eco.id}}"> {{eco.description}}
                        </md-option>
                      </md-select>
                      <div ng-messages="filtreform.ecole.$error" role="alert">
                        <div ng-message="required"><span>Ecole</span></div>
                      </div>
                    </md-input-container-->
                  </div>
                  
                  <div class="footer-animate-show-hide">
                      <md-button class="md-raised boutonfixe" disabled>
                      </md-button>
                      <md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annulerfiltre()" style="float: right;">
                                            Réinitialise
                      </md-button>
                        <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer" ng-disabled="filtreform.$invalid" ng-click="vm.recherchefiltre(vm.filtre)" style="float: right;">
                                                Recherche
                      </md-button>
                  </div>
            </form>
            </div>            
            <div class="bouton-animate-show-hide">

            <md-button type="submit" class="md-raised md-accent bouton-show-hide" aria-label="Filtre" ng-click="vm.showformfiltre()"><!--ng-show="vm.showbuttonfiltre"-->
               <md-icon md-font-icon="icon-filter" class="s16" style="color:green">                            
              </md-icon>                           
               <md-icon md-font-icon="icon-chevron-double-up" ng-if="!vm.showfiltre" class="s16">                            
              </md-icon>
              <md-icon md-font-icon="icon-chevron-double-down" ng-if="vm.showfiltre" class="s16">                            
              </md-icon>
              <md-tooltip><span>Bouton filtre</span></md-tooltip>
              </md-button> 
          </div>
          </div>
                     
                    <div style="float: top !important">
                      <md-progress-circular ng-if="vm.affiche_load" class="md-accent" aria-label="Rating" md-mode="indeterminate" md-diameter="48"></md-progress-circular> 
                      <div ng-if="vm.affiche_load" style="position:relative;top: -30px;  left: 60px;color: #039be5">
                              Chargement,veuillez patienter s'il vous plait ...
                      </div>
                    </div>
               <div>        
                 <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="cisc in ::vm.ecole_column">
                        <div class="table-header">
                          <span class="column-title">{{cisc.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody >
                    <tr ng-repeat="ecole in vm.allecole"  ng-class="{selected: ecole.$selected}" ng-click="vm.selectionecole(ecole)">           
                      <td>                         
                        <span>{{ecole.code}}</span>
                      </td>
                                
                      <td>                            
                        <span>{{ecole.description}}</span>
                      </td>

                      <td>
                        <span>{{ecole.cisco.description}}</span>
                      </td>

                      <td>
                        <span>{{ecole.commune.nom}}</span>
                      </td>

                      <td>
                        <span>{{ecole.zap.nom}}</span>
                      </td>

                      <td>
                        <span>{{ecole.fokontany.nom}}</span>
                      </td>
                                
                      <td>                            
                        <span>{{ecole.lieu}}</span>
                      </td>
                                
                      <td>                            
                        <span>{{ecole.latitude}}</span>
                      </td>
                                
                      <td>                            
                        <span>{{ecole.longitude}}</span>
                      </td>
                                
                      <td>                            
                        <span>{{ecole.altitude}}</span>
                      </td>

                      <td>
                        <span>{{ecole.zone_subvention.libelle}}</span>
                      </td>

                      <td>
                        <span>{{ecole.acces_zone.libelle}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN FEFFI ------>
    <!-----debut FEFFI ------>

            <md-tab ng-disabled="!vm.stepOne">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">2</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">FEFFI</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent md-green-600-bg" aria-label="Nouveau" ng-click="vm.ajouter()" style="width:10%;" ng-show="vm.nouveaubuttonfeffi">
                      Nouveau
                    </md-button>
                </div>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" >
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="fef in ::vm.feffi_column">
                        <div class="table-header">
                          <span class="column-title">{{fef.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="feffi in vm.allfeffi"  ng-class="{selected: feffi.$selected}" ng-click="vm.selection(feffi)">
                                
                      <td>
                        <span ng-if="feffi.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Identifiant</label>
                            <input name="identifiant" type="text" ng-model="feffi.identifiant"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!feffi.$edit">{{feffi.identifiant}}</span>
                      </td>

                      <td>
                        <span ng-if="feffi.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Dénomination</label>
                            <input name="denomination" type="text" ng-model="feffi.denomination"/>
                          </md-input-container>
                        </span>                          
                        <span ng-if="!feffi.$edit">{{feffi.denomination}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="feffi.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Nombre feminin</label>
                            <input name="nbr_feminin" type="text" ng-model="feffi.nbr_feminin" disabled/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!feffi.$edit">{{feffi.nbr_feminin}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="feffi.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Nombre membre</label>
                            <input name="nbr_membre" type="text" ng-model="feffi.nbr_membre" disabled/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!feffi.$edit">{{feffi.nbr_membre}}</span>
                      </td>                      
                                
                      <td>
                        <span ng-if="feffi.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Adresse</label>
                            <input name="adresse" type="text" ng-model="feffi.adresse"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!feffi.$edit">{{feffi.adresse}}</span>
                      </td>

                      <!--td>
                        <span ng-if="feffi.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Ecole</label>
                            <md-select ng-model="feffi.id_ecole"style="overflow: hidden;text-overflow: ellipsis;">
                              <md-option ng-repeat="ecole in vm.allecole" value="{{ecole.id}}">
                                                                  {{ecole.code}}
                              </md-option>
                            </md-select>
                          </md-input-container>  
                        </span>
                        <span ng-if="!feffi.$edit">{{feffi.ecole.code}}</span>
                      </td-->
                                
                      <td>
                        <span ng-if="feffi.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Observation</label>
                            <input name="observation" type="text" ng-model="feffi.observation"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!feffi.$edit">{{feffi.observation}}</span>
                      </td>
                                                   
                      <td>
                        <a ng-if="!feffi.$edit" ng-click="vm.modifier(feffi)" title="Modifier">
                          <span class="icon-table-edit"></span>
                        </a>
                                  
                        <a ng-if="!feffi.$edit" ng-click="vm.supprimer(feffi)" title="Supprimer">
                          <span class="icon-table-row-remove" style="color: rgb(211,47,47)"></span>
                        </a>
                                  
                        <a ng-if="feffi.$edit" ng-click="vm.annuler(feffi)" title="Annuler modification">
                          <span class="icon-cancel"></span>
                        </a>
                                  
                        <a ng-if="feffi.$edit && feffi.denomination && feffi.identifiant && feffi.adresse>''" ng-click="vm.ajout(feffi,0)" title="Sauvegarder">
                          <span class="icon-content-save"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN FEFFI ------>
    <!-----Debut membre ------>
          <md-tab ng-disabled="vm.stepTwo==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==false">M</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Membre</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent md-green-600-bg" aria-label="Nouveau" ng-click="vm.ajouterMembre()" style="width:10%;">
                      Nouveau
                    </md-button>
                </div>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" >
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="mem in ::vm.membre_column">
                        <div class="table-header">
                          <span class="column-title">{{mem.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="membre in vm.allmembre"  ng-class="{selected: membre.$selected}" ng-click="vm.selectionMembre(membre)">           
                      <td>
                        <span ng-if="membre.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Nom</label>
                            <input name="nom" type="text" ng-model="membre.nom"/>
                          </md-input-container>
                        </span>                          
                        <span ng-if="!membre.$edit">{{membre.nom}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="membre.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Prenom</label>
                            <input name="prenom" type="text" ng-model="membre.prenom"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!membre.$edit">{{membre.prenom}}</span>
                      </td>

                      <td>
                        <span ng-if="membre.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Sexe</label>
                            <md-select ng-model="membre.sexe"style="overflow: hidden;text-overflow: ellipsis;">
                                <md-option value="1">Masculin
                                </md-option>
                                <md-option value="2">Femimin
                                </md-option>
                              </md-select>
                          </md-input-container>
                        </span>                          
                        <span ng-if="!membre.$edit">{{vm.affichage_sexe(membre.sexe)}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="membre.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Age</label>
                            <input name="age" type="number" ng-model="membre.age" ng-min="1"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!membre.$edit">{{membre.age}}</span>
                      </td>

                      <td>
                        <span ng-if="membre.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Occupation</label>
                            <md-select ng-model="membre.occupation"style="overflow: hidden;text-overflow: ellipsis;">
                                <md-option value="1">President
                                </md-option>
                                <md-option value="2">Secretaire
                                </md-option>
                                <md-option value="3">Simple membre
                                </md-option>
                              </md-select>
                          </md-input-container>
                        </span>                          
                        <span ng-if="!membre.$edit">{{vm.affichage_occupation(membre.occupation)}}</span>
                      </td>
                                                   
                      <td>
                        <a ng-if="!membre.$edit" ng-click="vm.modifierMembre(membre)" title="Modifier">
                          <span class="icon-table-edit"></span>
                        </a>
                                  
                        <a ng-if="!membre.$edit" ng-click="vm.supprimerMembre(membre)" title="Supprimer">
                          <span class="icon-table-row-remove" style="color: rgb(211,47,47)"></span>
                        </a>
                                  
                        <a ng-if="membre.$edit" ng-click="vm.annulerMembre(membre)" title="Annuler modification">
                          <span class="icon-cancel"></span>
                        </a>
                                  
                        <a ng-if="membre.$edit && membre.nom && membre.prenom && membre.sexe && membre.age && membre.occupation>''" ng-click="vm.ajoutMembre(membre,0)" title="Sauvegarder">
                          <span class="icon-content-save"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN membre ------>   

     <!-----Debut membre ------>
          <md-tab ng-disabled="vm.stepTwo==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==false">C</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Compte bancaire</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent md-green-600-bg" aria-label="Nouveau" ng-click="vm.ajouterCompte_feffi()" style="width:10%;">
                      Nouveau
                    </md-button>
                </div>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" >
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="comp in ::vm.compte_feffi_column">
                        <div class="table-header">
                          <span class="column-title">{{comp.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="compte_feffi in vm.allcompte_feffi"  ng-class="{selected: compte_feffi.$selected}" ng-click="vm.selectionCompte_feffi(compte_feffi)">           
                      <td>
                        <span ng-if="compte_feffi.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Nom banque</label>
                            <input name="nom_banque" type="text" ng-model="compte_feffi.nom_banque"/>
                          </md-input-container>
                        </span>                          
                        <span ng-if="!compte_feffi.$edit">{{compte_feffi.nom_banque}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="compte_feffi.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Adresse banque</label>
                            <input name="adresse_banque" type="text" ng-model="compte_feffi.adresse_banque"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!compte_feffi.$edit">{{compte_feffi.adresse_banque}}</span>
                      </td>                      
                                
                      <td>
                        <span ng-if="compte_feffi.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>RIB</label>
                            <input name="rib" type="number" ng-model="compte_feffi.rib" ng-min="1"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!compte_feffi.$edit">{{compte_feffi.rib}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="compte_feffi.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Numero compte</label>
                            <input name="numero_compte" type="number" ng-model="compte_feffi.numero_compte"  ng-min="1"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!compte_feffi.$edit">{{compte_feffi.numero_compte}}</span>
                      </td> 
                        <!--td>
                          <span ng-if="compte_feffi.$edit">
                            <md-input-container style="width:100%;display: flex !important;">
                              <label>Titulaire</label>
                              <md-select ng-model="compte_feffi.id_membre_feffi"style="overflow: hidden;text-overflow: ellipsis;" ng-change="vm.changemembre_feffi(compte_feffi)">
                                <md-option ng-repeat="membre_feffi in vm.allmembre" value="{{membre_feffi.id}}"> {{membre_feffi.nom}}
                                </md-option>
                              </md-select>
                            </md-input-container>   
                          </span>
                                    
                          <span ng-if="!compte_feffi.$edit">{{compte_feffi.membre_feffi.nom}}</span>
                        </td-->
                                                   
                      <td>
                        <a ng-if="!compte_feffi.$edit" ng-click="vm.modifierCompte_feffi(compte_feffi)" title="Modifier">
                          <span class="icon-table-edit"></span>
                        </a>
                                  
                        <a ng-if="!compte_feffi.$edit" ng-click="vm.supprimerCompte_feffi(compte_feffi)" title="Supprimer">
                          <span class="icon-table-row-remove" style="color: rgb(211,47,47)"></span>
                        </a>
                                  
                        <a ng-if="compte_feffi.$edit" ng-click="vm.annulerCompte_feffi(compte_feffi)" title="Annuler modification">
                          <span class="icon-cancel"></span>
                        </a>
                                  
                        <a ng-if="compte_feffi.$edit && compte_feffi.nom_banque && compte_feffi.adresse_banque && compte_feffi.rib && compte_feffi.numero_compte>''" ng-click="vm.ajoutCompte_feffi(compte_feffi,0)" title="Sauvegarder">
                          <span class="icon-content-save"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN membre ------>

     <!-----Debut membre ------>
          <md-tab ng-disabled="vm.stepThree==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepFor==false">T</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepFor==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Titulaire compte</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent md-green-600-bg" aria-label="Nouveau" ng-click="vm.ajouterMembre_titulaire()" style="width:10%;">
                      Nouveau
                    </md-button>
                </div>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" >
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="mem in ::vm.membre_titulaire_column">
                        <div class="table-header">
                          <span class="column-title">{{mem.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="membre_titulaire in vm.allmembre_titulaire"  ng-class="{selected: membre_titulaire.$selected}" ng-click="vm.selectionMembre_titulaire(membre_titulaire)">           
                    
                        <td>
                          <span ng-if="membre_titulaire.$edit">
                            <md-input-container style="width:100%;display: flex !important;">
                              <label>Nom</label>
                              <md-select ng-model="membre_titulaire.id_membre"style="overflow: hidden;text-overflow: ellipsis;" ng-change="vm.change_membre_titulaire(membre_titulaire)">
                                <md-option ng-repeat="membre in vm.allmembre" value="{{membre.id}}">
                                                                    {{membre.nom}}
                                </md-option>
                              </md-select>
                            </md-input-container>  
                          </span>
                          <span ng-if="!membre_titulaire.$edit">{{membre_titulaire.membre.nom}}</span>
                        </td>
                                
                      <td>
                        <span ng-if="membre_titulaire.$edit">
                          <md-input-container style="width:100%;display: flex !important;" >
                            <label>Prenom</label>
                            <input name="prenom" type="text" ng-model="membre_titulaire.prenom" disabled/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!membre_titulaire.$edit">{{membre_titulaire.membre.prenom}}</span>
                      </td>

                      <td>
                        <span ng-if="membre_titulaire.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Occupation</label>
                            <md-select ng-model="membre_titulaire.occupation"style="overflow: hidden;text-overflow: ellipsis;" disabled>
                                <md-option value="1">President
                                </md-option>
                                <md-option value="2">Secretaire
                                </md-option>
                                <md-option value="3">Simple membre_titulaire
                                </md-option>
                              </md-select>
                          </md-input-container>
                        </span>                          
                        <span ng-if="!membre_titulaire.$edit">{{vm.affichage_occupation(membre_titulaire.membre.occupation)}}</span>
                      </td>
                                                   
                      <td>
                        <a ng-if="!membre_titulaire.$edit" ng-click="vm.modifierMembre_titulaire(membre_titulaire)" title="Modifier">
                          <span class="icon-table-edit"></span>
                        </a>
                                  
                        <a ng-if="!membre_titulaire.$edit" ng-click="vm.supprimerMembre_titulaire(membre_titulaire)" title="Supprimer">
                          <span class="icon-table-row-remove" style="color: rgb(211,47,47)"></span>
                        </a>
                                  
                        <a ng-if="membre_titulaire.$edit" ng-click="vm.annulerMembre_titulaire(membre_titulaire)" title="Annuler modification">
                          <span class="icon-cancel"></span>
                        </a>
                                  
                        <a ng-if="membre_titulaire.$edit && membre_titulaire.id_membre>''" ng-click="vm.ajoutMembre_titulaire(membre_titulaire,0)" title="Sauvegarder">
                          <span class="icon-content-save"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN membre ------> 
          </md-tabs>  
        </ms-form-wizard>           
      </div>
    </div>
    <!-- / CONTENT -->
  </div>