  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Gerer situation feffi</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Feffi</span>
            </div>

            <div class="title">Feffi</div>
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">

      <div class="form-wrapper md-whiteframe-1dp" >

        <ms-form-wizard flex>
          <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">

    <!-----debut FEFFI ------>

            <!--md-tab>
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==false">1</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==true">
                      <i class="icon-check s16"></i>
                    </span-->
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <!--span class="ms-form-wizard-step-text">Contrat</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>

                <div>        
                  <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                    <thead>
                      <tr>
                        <th class="secondary-text" ng-repeat="ciscT in ::vm.contrat_prestataire_column">
                          <div class="table-header">
                            <span class="column-title">{{ciscT.titre}}</span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                             
                    <tbody>
                      <tr ng-repeat="contrat_prestataire in vm.allcontrat_prestataire"  ng-class="{selected: contrat_prestataire.$selected}" ng-click="vm.selectionContrat_prestataire(contrat_prestataire)">           
                        

                        <td>
                          <span ng-if="!contrat_prestataire.$edit">{{contrat_prestataire.num_contrat}}</span>
                        </td>

                        <td>
                          <span ng-if="!contrat_prestataire.$edit">{{contrat_prestataire.description}}</span>
                        </td>

                        <td>                         
                          <span ng-if="!contrat_prestataire.$edit">{{contrat_prestataire.cout_batiment}}</span>
                        </td>

                        <td>                          
                          <span ng-if="!contrat_prestataire.$edit">{{contrat_prestataire.cout_latrine}}</span>
                        </td>

                        <td>     
                          <span ng-if="!contrat_prestataire.$edit">{{contrat_prestataire.cout_mobilier}}</span>
                        </td>               

                        <td>                                    
                          <span ng-if="!contrat_prestataire.$edit">{{contrat_prestataire.prestataire.nom}}</span>
                        </td>

                        <td>     
                          <span ng-if="!contrat_prestataire.$edit">{{vm.affichageDate(contrat_prestataire.date_signature)}}</span>
                        </td> 
                      </tr>
                    </tbody>
                  </table>
                </div>
              </md-tab-body>
            </md-tab-->
    <!-----FIN FEFFI ------>
    <!-----Debut demande_payement_prest ------>
          <md-tab>
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">2</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">demande payement entreprise</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="mem in ::vm.demande_payement_prest_column">
                        <div class="table-header">
                          <span class="column-title">{{mem.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="demande_payement_prest in vm.alldemande_payement_prest"  ng-class="{selected: demande_payement_prest.$selected}" ng-click="vm.selectionDemande_payement_prest(demande_payement_prest)">
                                
                      <td>                                  
                        <span ng-if="!demande_payement_prest.$edit">{{demande_payement_prest.objet}}</span>
                      </td>
                                
                      <td>      
                        <span ng-if="!demande_payement_prest.$edit">{{demande_payement_prest.description}}</span>
                      </td>
                                
                      <td>      
                        <span ng-if="!demande_payement_prest.$edit">{{demande_payement_prest.ref_facture}}</span>
                      </td>
                                
                      <td>       
                        <span ng-if="!demande_payement_prest.$edit">{{demande_payement_prest.montant}}</span>
                      </td>

                       <td>                          
                        <span ng-if="!demande_payement_prest.$edit">{{vm.affichageDate(demande_payement_prest.date)}}</span>
                      </td>
                                                   
                      <td>                                  
                        <a ng-click="vm.validerDemande_payement_prest(demande_payement_prest,0,1)" title="Valider">
                          <span class="icon-check-circle"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN demande_payement_prest ------>

    <!-----Debut justificatif_attachement ------>
          <md-tab ng-disabled="vm.stepTwo==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==false">A</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Attachement</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Description</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Fichier</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Action</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="justificatif_attachement in vm.alljustificatif_attachement"  ng-class="{selected: justificatif_attachement.$selected}" ng-click="vm.selectionJustificatif_attachement(justificatif_attachement)">
                               
                      <td>                                  
                        <span ng-if="!justificatif_attachement.$edit">{{justificatif_attachement.description}}</span>
                      </td>
                                
                      <td>      
                        <span ng-if="!justificatif_attachement.$edit">{{justificatif_attachement.fichier}}</span>
                      </td>                       
                      <td>
                                  
                        <a ng-click="vm.download_attachement(justificatif_attachement)" title="Telecharger">
                          <span class="icon-box-download"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN demande_payement_prest ------>

    <!-----Debut justificatif_facture ------>
          <md-tab ng-disabled="vm.stepTwo==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==false">F</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Facture</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Description</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Fichier</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Action</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="justificatif_facture in vm.alljustificatif_facture"  ng-class="{selected: justificatif_facture.$selected}" ng-click="vm.selectionJustificatif_facture(justificatif_facture)">
                               
                      <td>      
                        <span ng-if="!justificatif_facture.$edit">{{justificatif_facture.description}}</span>
                      </td>
                                
                      <td>      
                        <span ng-if="!justificatif_facture.$edit">{{justificatif_facture.fichier}}</span>
                      </td>                       
                      <td>
                                  
                        <a ng-click="vm.download_facture(justificatif_facture)" title="Telecharger">
                          <span class="icon-box-download"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN demande_payement_prest ------> 
    <!-----Debut justificatif_facture ------>
          <md-tab ng-disabled="vm.stepTwo==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==false">F</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Autres pièces</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Description</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Fichier</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Action</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="justificatif_autre in vm.alljustificatif_autre"  ng-class="{selected: justificatif_autre.$selected}" ng-click="vm.selectionJustificatif_autre(justificatif_autre)">
                               
                      <td>      
                        <span ng-if="!justificatif_autre.$edit">{{justificatif_autre.description}}</span>
                      </td>
                                
                      <td>      
                        <span ng-if="!justificatif_autre.$edit">{{justificatif_autre.fichier}}</span>
                      </td>                       
                      <td>
                                  
                        <a ng-click="vm.download_autre(justificatif_autre)" title="Telecharger">
                          <span class="icon-box-download"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN demande_payement_prest ------>
        </ms-form-wizard>
      </md-tabs>                     
      </div>
    </div>
    <!-- / CONTENT -->
  </div>