
   <div id="formsideblodaff" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Gestion financière des activitées</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Niveau UFP/DAAF</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Insertion demande de déblocage DAAF</span>
            </div>

            <!--div class="title">Saisie demande de déblocage daaf</div-->
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">

      <!-- Convention -->
      <div class="form-wrapper md-whiteframe-1dp" >

        <ms-form-wizard flex>
          <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">

          <md-tab>
            <md-tab-label>
              <span class="ms-form-wizard-step-label">
                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==false">1</span>
                  <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==true">
                      <i class="icon-check s16"></i>
                  </span>
                  <span class="ms-form-wizard-step-text">Convention validé</span>
              </span>
            </md-tab-label>
            
            <md-tab-body>
                <div style="margin-top: 1px">
                    <div ng-show="vm.showfiltre" class="md-whiteframe-3dp check-element animate-show-hide">
                  <form name="filtreform" class="md-inline-form" novalidate >
                        <br>
                      <div layout="column" layout-gt-xs="row">
                          <md-input-container>
                            <span style="font-size: 14.5px" class="text-semibold">Date signature convention du: &nbsp</span>
                          </md-input-container>

                           <md-datepicker ng-model="vm.filtre.date_debut" md-max-date="vm.datenow" required style="">                     
                          </md-datepicker>

                           <md-input-container>
                             <span style="font-size: 14.5px" class="text-semibold">&nbsp &nbsp jusqu'au &nbsp &nbsp</span>
                          </md-input-container>

                          <md-datepicker ng-model="vm.filtre.date_fin" md-min-date="vm.filtre.date_debut" md-max-date="vm.date_now" ng-disabled="!vm.filtre.date_debut" required>                        
                           </md-datepicker>
                        </div>
 
                        <div class="footer-animate-show-hide">
                            <md-button class="md-raised boutonfixe" disabled aria-label="fixe">
                            </md-button>
                            <md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annulerfiltre()" style="float: right;">
                                            Réinitialise
                            </md-button>
                              <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer" ng-disabled="filtreform.$invalid" ng-click="vm.recherchefiltre(vm.filtre)" style="float: right;">
                                                Recherche
                            </md-button>
                        </div>
                  </form>
            </div>
                                   
            <div class="bouton-animate-show-hide">

              <md-button type="submit" class="md-raised md-accent bouton-show-hide" aria-label="Filtre" ng-click="vm.showformfiltre()"><!--ng-show="vm.showbuttonfiltre"-->
                <md-icon md-font-icon="icon-filter" class="s16" style="color:green">                            
              </md-icon>                           
                <md-icon md-font-icon="icon-chevron-double-up" ng-if="!vm.showfiltre" class="s16">                            
              </md-icon>
               <md-icon md-font-icon="icon-chevron-double-down" ng-if="vm.showfiltre" class="s16">                            
              </md-icon>
              <md-tooltip><span>Bouton filtre</span></md-tooltip>
              </md-button> 
          </div>
        </div>       
              
              <div style="float: top !important">
                <md-progress-circular ng-if="vm.affiche_load" class="md-accent" aria-label="Rating" md-mode="indeterminate" md-diameter="48"></md-progress-circular> 
                <div ng-if="vm.affiche_load" style="position:relative;top: -30px;  left: 60px;color: #039be5">
                      Récuperation,veuillez patienter s'il vous plait ...
                </div>
              </div>
              <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                <thead>
                  <tr>
                    <th class="secondary-text" ng-repeat="prog in ::vm.convention_ufp_daaf_entete_column">
                      <div class="table-header">
                        <span class="column-title">{{prog.titre}}</span>
                      </div>
                    </th>
                  </tr>
                </thead>
                         
                <tbody>
                  <tr ng-repeat="convention_ufp_daaf_entete in vm.allconvention_ufp_daaf_entete"  ng-class="{selected: convention_ufp_daaf_entete.$selected}" ng-click="vm.selectionConvention_ufp_daaf_entete(convention_ufp_daaf_entete)">
                    
                    <td>
                      <span>{{convention_ufp_daaf_entete.ref_convention}}</span>
                    </td>
                    
                    <td>
                      <span>{{convention_ufp_daaf_entete.objet}}</span>
                    </td>

                    <td>                          
                      <span>{{convention_ufp_daaf_entete.ref_financement}}</span>
                    </td>

                    <td>                          
                      <span >{{vm.formatMillier(convention_ufp_daaf_entete.montant_trans_comm)}} Ar</span>
                    </td>

                    <td>         
                      <span>{{vm.formatMillier(convention_ufp_daaf_entete.frais_bancaire)}} Ar</span>
                    </td>                

                    <td>                                    
                      <span>{{vm.formatMillier(convention_ufp_daaf_entete.montant_convention)}} Ar</span>
                    </td>                

                    <td>                                    
                      <span>{{vm.affichevague(convention_ufp_daaf_entete.num_vague)}}</span>
                    </td>                

                    <td>                                    
                      <span>{{convention_ufp_daaf_entete.nbr_beneficiaire}}</span>
                    </td> 
                  </tr>
                </tbody>
              </table>
            </md-tab-body>
          </md-tab>

          <md-tab ng-disabled="vm.stepOne==false" ng-click="vm.step_menu_demande_daaf()">
            <md-tab-label>
              <span class="ms-form-wizard-step-label">
                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">2</span>
                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==true">
                      <i class="icon-check s16"></i>
                </span>
                <span class="ms-form-wizard-step-text">Demande déblocage de fond</span>
              </span>
            </md-tab-label>
            
            <md-tab-body>
              <div style="widht:100%;">  
                  <md-button type="submit" class="md-raised md-accent md-green-600-bg" aria-label="Nouveau" ng-click="vm.ajouterDemande_deblocage_daaf()" style="width:10%;">
                    Nouveau
                  </md-button>
              </div> <br>
              <div style="float: top !important">
                <md-progress-circular ng-if="vm.affiche_load" class="md-accent" aria-label="Rating" md-mode="indeterminate" md-diameter="48"></md-progress-circular> 
                <div ng-if="vm.affiche_load" style="position:relative;top: -30px;  left: 60px;color: #039be5">
                      Récuperation,veuillez patienter s'il vous plait ...
                </div>
              </div>

              <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                <thead>
                  <tr>
                    <!--th class="secondary-text" ng-repeat="cisc in ::vm.demande_deblocage_daaf_column">
                      <div class="table-header">
                        <span class="column-title">{{cisc.titre}}</span>
                      </div>
                    </th-->
                    <th class="secondary-text">
                      <div class="table-header">
                        <span class="column-title">Réference demande
                        </span>
                      </div>
                    </th>
                    <th class="secondary-text">
                      <div class="table-header">
                        <span class="column-title">&nbsp &nbsp &nbsp &nbsp &nbsp Objet &nbsp &nbsp &nbsp &nbsp &nbsp
                        </span>
                      </div>
                    </th>
                    <th class="secondary-text">
                      <div class="table-header">
                        <span class="column-title">&nbsp &nbsp &nbsp &nbsp &nbsp Tranche &nbsp &nbsp &nbsp &nbsp &nbsp
                        </span>
                      </div>
                    </th>
                    <th class="secondary-text">
                      <div class="table-header">
                        <span class="column-title">&nbsp &nbsp &nbsp &nbsp &nbsp Période &nbsp &nbsp &nbsp &nbsp &nbsp
                        </span>
                      </div>
                    </th>
                    <th class="secondary-text">
                      <div class="table-header">
                        <span class="column-title">&nbsp &nbsp &nbsp &nbsp &nbsp Antérieur &nbsp &nbsp &nbsp &nbsp &nbsp
                        </span>
                      </div>
                    </th>
                    <th class="secondary-text">
                      <div class="table-header">
                        <span class="column-title">&nbsp &nbsp &nbsp &nbsp &nbsp Cumul &nbsp &nbsp &nbsp &nbsp &nbsp
                        </span>
                      </div>
                    </th>
                    <th class="secondary-text">
                      <div class="table-header">
                        <span class="column-title">Calendrier de paiement
                        </span>
                      </div>
                    </th>
                    <th class="secondary-text">
                      <div class="table-header">
                        <span class="column-title">Pourcentage
                        </span>
                      </div>
                    </th>
                    <th class="secondary-text">
                      <div class="table-header">
                        <span class="column-title">Reste à décaisser
                        </span>
                      </div>
                    </th>
                    <th class="secondary-text">
                      <div class="table-header">
                        <span class="column-title">Libelle compte banqueire
                        </span>
                      </div>
                    </th>
                    <th class="secondary-text">
                      <div class="table-header">
                        <span class="column-title">&nbsp &nbsp &nbsp &nbsp &nbsp Date &nbsp &nbsp &nbsp &nbsp &nbsp
                        </span>
                      </div>
                    </th>
                    <th class="secondary-text">
                      <div class="table-header">
                        <span class="column-title">Action
                        </span>
                      </div>
                    </th>
                  </tr>
                </thead>                     
                <tbody>
                  <tr ng-repeat="demande_deblocage_daaf in vm.alldemande_deblocage_daaf"  ng-class="{selected: demande_deblocage_daaf.$selected}" ng-click="vm.selectionDemande_deblocage_daaf(demande_deblocage_daaf)">
                    <td>
                      <span ng-if="demande_deblocage_daaf.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>Réference demande</label>
                          <input name="ref_demande" type="text" ng-model="demande_deblocage_daaf.ref_demande"/>
                        </md-input-container>  
                      </span>
                      <span ng-if="!demande_deblocage_daaf.$edit">{{demande_deblocage_daaf.ref_demande}}</span>
                    </td>

                    <td>
                      <span ng-if="demande_deblocage_daaf.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>&nbsp &nbsp &nbsp &nbsp &nbsp Objet &nbsp &nbsp &nbsp &nbsp &nbsp</label>
                          <input name="objet" type="text" ng-model="demande_deblocage_daaf.objet"/>
                        </md-input-container>  
                      </span>
                      <span ng-if="!demande_deblocage_daaf.$edit">{{demande_deblocage_daaf.objet}}</span>
                    </td>

                    <td>
                      <span ng-if="demande_deblocage_daaf.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>Tranche</label>
                          <!--md-select ng-model="demande_deblocage_daaf.id_tranche_deblocage_daaf"style="overflow: hidden;text-overflow: ellipsis;" ng-change="vm.tranchechange(demande_deblocage_daaf)" ng-disabled="demande_deblocage_daaf.validation!=0 || vm.modificationdemande || !demande_deblocage_daaf.id_convention_ufp_daaf_entete"-->
                          <md-select ng-model="demande_deblocage_daaf.id_tranche_deblocage_daaf"style="overflow: hidden;text-overflow: ellipsis;" ng-change="vm.tranchechange(demande_deblocage_daaf)">
                            <md-option ng-repeat="tranche in vm.allcurenttranche_deblocage_daaf" value="{{tranche.id}}">
                                                                        {{tranche.libelle}}
                            </md-option>
                          </md-select>
                        </md-input-container>  
                      </span>
                      <span ng-if="!demande_deblocage_daaf.$edit">{{demande_deblocage_daaf.tranche.libelle}}</span>
                    </td>

                    <td>
                      <span ng-if="demande_deblocage_daaf.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>&nbsp &nbsp &nbsp &nbsp &nbsp Prévu &nbsp &nbsp &nbsp &nbsp &nbsp</label>
                          <input name="prevu" type="text" ng-model="demande_deblocage_daaf.prevu" disabled/>
                        </md-input-container>  
                      </span>
                      <span ng-if="!demande_deblocage_daaf.$edit">{{vm.formatMillier(demande_deblocage_daaf.prevu)}} Ar</span>
                    </td>

                    <td>
                      <span ng-if="demande_deblocage_daaf.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>&nbsp &nbsp &nbsp &nbsp &nbsp Anterieur &nbsp &nbsp &nbsp &nbsp &nbsp</label>
                          <input name="anterieur" type="text" ng-model="demande_deblocage_daaf.anterieur" disabled/>
                        </md-input-container>  
                      </span>
                      <span ng-if="!demande_deblocage_daaf.$edit">{{vm.formatMillier(demande_deblocage_daaf.anterieur)}} Ar</span>
                    </td>

                    <td>
                      <span ng-if="demande_deblocage_daaf.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>&nbsp &nbsp &nbsp &nbsp &nbsp Cumul &nbsp &nbsp &nbsp &nbsp &nbsp</label>
                          <input name="cumul" type="text" ng-model="demande_deblocage_daaf.cumul" disabled/>
                        </md-input-container>  
                      </span>
                      <span ng-if="!demande_deblocage_daaf.$edit">{{vm.formatMillier(demande_deblocage_daaf.cumul)}} Ar</span>
                    </td>

                    <td>
                      <span ng-if="demande_deblocage_daaf.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>Calendrier de paiement</label>
                          <input name="periode" type="text" ng-model="demande_deblocage_daaf.periode"disabled/>
                        </md-input-container>  
                      </span>
                      <span ng-if="!demande_deblocage_daaf.$edit">{{demande_deblocage_daaf.tranche.periode}}</span>
                    </td>

                    <td>
                      <span ng-if="demande_deblocage_daaf.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>Pourcentage</label>
                          <input name="pourcentage" type="text" ng-model="demande_deblocage_daaf.pourcentage" disabled/>
                        </md-input-container>  
                      </span>
                      <span ng-if="!demande_deblocage_daaf.$edit">{{vm.formatMillier(demande_deblocage_daaf.tranche.pourcentage)}} %</span>
                    </td>

                    <td>
                      <span ng-if="demande_deblocage_daaf.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>Reste</label>
                          <input name="reste" type="text" ng-model="demande_deblocage_daaf.reste" disabled/>
                        </md-input-container>  
                      </span>
                      <span ng-if="!demande_deblocage_daaf.$edit">{{vm.formatMillier(demande_deblocage_daaf.reste)}} Ar</span>
                    </td>

                    <td>
                      <span ng-if="demande_deblocage_daaf.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>Compte DAAF</label>
                          <md-select ng-model="demande_deblocage_daaf.id_compte_daaf"style="overflow: hidden;text-overflow: ellipsis;" ng-disabled="demande_deblocage_daaf.validation!=0">
                            <md-option ng-repeat="compte_daaf in vm.allcompte_daaf" value="{{compte_daaf.id}}">
                                                                        {{compte_daaf.intitule}}
                            </md-option>
                          </md-select>
                        </md-input-container>  
                      </span>
                      <span ng-if="!demande_deblocage_daaf.$edit">{{demande_deblocage_daaf.compte_daaf.intitule}}</span>
                    </td>

                    <td>
                      <span ng-if="demande_deblocage_daaf.$edit">
                        <md-datepicker ng-model="demande_deblocage_daaf.date" md-placeholder="Date de signature" md-max-date="vm.date_now" required ng-disabled="demande_deblocage_daaf.validation!=0">
                          
                        </md-datepicker>  
                      </span>
                      <span ng-if="!demande_deblocage_daaf.$edit">{{vm.formatDate(demande_deblocage_daaf.date)}}</span>
                    </td>
                                                 
                    <td>  
                      <a ng-if="!demande_deblocage_daaf.$edit" ng-click="vm.modifierDemande_deblocage_daaf(demande_deblocage_daaf)" title="Modifier">
                        <span class="icon-table-edit"></span>
                      </a>
                                
                      <a ng-if="!demande_deblocage_daaf.$edit" ng-click="vm.supprimerDemande_deblocage_daaf(demande_deblocage_daaf)" title="Supprimer">
                        <span class="icon-table-row-remove" style="color: rgb(211,47,47)"></span>
                      </a>
                                
                      <a ng-if="demande_deblocage_daaf.$edit" ng-click="vm.annulerDemande_deblocage_daaf(demande_deblocage_daaf)" title="Annuler modification">
                        <span class="icon-cancel"></span>
                      </a>
                                
                      <a ng-if="demande_deblocage_daaf.$edit && demande_deblocage_daaf.date && demande_deblocage_daaf.id_tranche_deblocage_daaf && demande_deblocage_daaf.ref_demande && demande_deblocage_daaf.objet && demande_deblocage_daaf.id_compte_daaf>''" ng-click="vm.ajoutDemande_deblocage_daaf(demande_deblocage_daaf,0)" title="Sauvegarder">
                        <span class="icon-content-save"></span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
             
            </md-tab-body>
          </md-tab>         

          <md-tab ng-disabled="vm.stepTwo==false" ng-click="vm.step_menu_fustificatif()">
            <md-tab-label>
              <span class="ms-form-wizard-step-label">
                <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==false">3</span>
                  <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==true">
                      <i class="icon-check s16"></i>
                  </span>
                <span class="ms-form-wizard-step-text">Pièce justificative</span>
              </span>
            </md-tab-label>
            
            <md-tab-body>
               <div style="widht:100%;"> <br>
                <div style="float: top !important">
                <md-progress-circular ng-if="vm.affiche_load" class="md-accent" aria-label="Rating" md-mode="indeterminate" md-diameter="48"></md-progress-circular> 
                <div ng-if="vm.affiche_load" style="position:relative;top: -30px;  left: 60px;color: #039be5">
                      Récuperation,veuillez patienter s'il vous plait ...
                </div>
              </div>

              <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
            <thead>
              <tr>
                <th class="secondary-text" ng-repeat="cisc in ::vm.justificatif_daaf_column">
                  <div class="table-header">
                    <span class="column-title">{{cisc.titre}}</span>
                  </div>
                </th>
              </tr>
            </thead>                     
            <tbody>
              <tr ng-repeat="justificatif_daaf in vm.alljustificatif_daaf"  ng-class="{selected: justificatif_daaf.$selected}" ng-click="vm.selectionJustificatif_daaf(justificatif_daaf)">

                <td>
                  <span>{{justificatif_daaf.intitule}}</span>
                </td>

                <td>
                  <span ng-if="justificatif_daaf.$edit" style="display: inline-block !important;">
                      <md-input-container style="width:100%;display: flex !important;">
                        <label>Fichier</label>
                        <input name="fichier" type="text" ng-model="justificatif_daaf.fichier" disabled/>
                      </md-input-container>   
                  </span>
                  <span ng-if="justificatif_daaf.$edit" style="display: inline-block !important;">
                    <md-input-container style="width:100%;display: flex !important;">
                      <label>Fichier</label>
                    <input type="file"name="myFile" aria-label="upload" custom-on-changepiecedaaf="uploadFile"  ng-model="fichier" id="fileid"/>
                    </md-input-container>  
                  </span>
                            
                  <span ng-if="!justificatif_daaf.$edit">{{justificatif_daaf.fichier}}</span>
                </td>
                                             
                <td>  
                  <a ng-if="!justificatif_daaf.$edit" ng-click="vm.modifierJustificatif_daaf(justificatif_daaf)" title="Modifier">
                    <span class="icon-table-edit"></span>
                  </a>
                            
                  <a ng-if="!justificatif_daaf.$edit && justificatif_daaf.id!=0" ng-click="vm.supprimerJustificatif_daaf(justificatif_daaf)" title="Supprimer">
                    <span class="icon-table-row-remove" style="color: rgb(211,47,47)"></span>
                  </a>
                                  
                  <a ng-if="!justificatif_daaf.$edit && justificatif_daaf.id!=0" ng-click="vm.download_justificatif(justificatif_daaf)" title="Telecharger fichier">
                    <span class="icon-box-download"></span>
                  </a>
                            
                  <a ng-if="justificatif_daaf.$edit" ng-click="vm.annulerJustificatif_daaf(justificatif_daaf)" title="Annuler modification">
                    <span class="icon-cancel"></span>
                  </a>
                            
                  <a ng-if="justificatif_daaf.$edit && justificatif_daaf.fichier>''" ng-click="vm.ajoutJustificatif_daaf(justificatif_daaf,0)" title="Sauvegarder">
                    <span class="icon-content-save"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
            </md-tab-body>
          </md-tab>
          </md-tabs>
          </ms-form-wizard>       
                  
      </div>
      <!-- / convention -->
    </div>
    <!-- / CONTENT -->
  </div>