  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Données de bases</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Zone de subvention</span>
            </div>

            <div class="title">Zone de subvention</div>
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">

      <!-- Zone_subvention -->
      <div class="form-wrapper md-whiteframe-1dp" >       
        <header layout="row" layout-align="space-between center" style="background: #F3F4F5; margin-bottom: 2px;" class="border-top border-bottom">
          <div layout="row" layout-align="start">
              <div class="border-right" style="display: flex; justify-content: center; align-items: center; padding: 0px 10px 0px 10px; ">
                <span style="line-height: normal;"> Zone de subvention</span>
              </div>
              <div>
                <md-button class="md-icon-button" aria-label="add type ouvrage" ng-click="vm.ajouter()">
                  <md-icon md-font-icon="icon-plus"></md-icon>
                  <md-tooltip><span>Ajout zone de subvention</span></md-tooltip>
                </md-button>
              </div>                      
          </div>
        </header>
         <div>        
          <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" >
            <thead>
              <tr>
                <th class="secondary-text" ng-repeat="zon in ::vm.zone_subvention_column">
                  <div class="table-header">
                    <span class="column-title">{{zon.titre}}</span>
                  </div>
                </th>
              </tr>
            </thead>
                     
            <tbody>
              <tr ng-repeat="zone_subvention in vm.allzone_subvention"  ng-class="{selected: zone_subvention.$selected}" ng-click="vm.selection(zone_subvention)">           
                <td>
                  <span ng-if="zone_subvention.$edit">
                    <md-input-container style="width:100%;display: flex !important;">
                      <label>Libelle</label>
                      <input name="libelle" type="text" ng-model="zone_subvention.libelle"/>
                    </md-input-container>
                  </span>                          
                  <span ng-if="!zone_subvention.$edit">{{zone_subvention.libelle}}</span>
                </td>
                          
                <td>
                  <span ng-if="zone_subvention.$edit">
                    <md-input-container style="width:100%;display: flex !important;">
                      <label>Description</label>
                      <input name="Description" type="text" ng-model="zone_subvention.description"/>
                    </md-input-container>   
                  </span>
                            
                  <span ng-if="!zone_subvention.$edit">{{zone_subvention.description}}</span>
                </td>
                                             
                <td>
                  <a ng-if="!zone_subvention.$edit" ng-click="vm.modifier(zone_subvention)" title="Modifier">
                    <span class="icon-table-edit"></span>
                  </a>
                            
                  <a ng-if="!zone_subvention.$edit" ng-click="vm.supprimer(zone_subvention)" title="Supprimer">
                    <span class="icon-delete" ></span>
                  </a>
                            
                  <a ng-if="zone_subvention.$edit" ng-click="vm.annuler(zone_subvention)" title="Annuler modification">
                    <span class="icon-cancel"></span>
                  </a>
                            
                  <a ng-if="zone_subvention.$edit && zone_subvention.libelle && zone_subvention.description>''" ng-click="vm.ajout(zone_subvention,0)" title="Sauvegarder">
                    <span class="icon-content-save"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>                   
      </div>
      <!-- / zone_subvention -->
    </div>
    <!-- / CONTENT -->
  </div>