  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Gerer situation entreprise</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Demande de payement</span>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> PDemande payement Latrine</span>
            </div>

            <div class="title">Demande payement Latrine</div>
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">

      <div class="form-wrapper md-whiteframe-1dp" >

        <ms-form-wizard flex>
          <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">

        <!-----Debut demande_latrine_prest ------>
          <md-tab >
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==false">1</span>
                    <!--span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==true">
                      <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-number md-accent-bg md-green-800-bg" ng-if="vm.stepOne==true">1
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">demande latrine</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterDemande_latrine_prest()" style="width:10%;">
                      Nouveau
                    </md-button>
                    <md-button type="submit" ng-show="vm.showboutonValider && vm.permissionboutonValider" class="md-raised md-warn" aria-label="Valider" ng-click="vm.validationDemande()" style="width:10%;">
                    Valider
                  </md-button>
                </div>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="mem in ::vm.demande_latrine_prest_column">
                        <div class="table-header">
                          <span class="column-title">{{mem.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="demande_latrine_prest in vm.alldemande_latrine_prest_invalide"  ng-class="{selected: demande_latrine_prest.$selected}" ng-click="vm.selectionDemande_latrine_prest(demande_latrine_prest)">
                      <td>
                          <span ng-if="demande_latrine_prest.$edit">
                            <md-input-container style="width:100%;display: flex !important;">
                              <label>Contrat prestataire</label>
                              <md-select ng-model="demande_latrine_prest.id_contrat_prestataire"style="overflow: hidden;text-overflow: ellipsis;" ng-change="vm.change_contrat(demande_latrine_prest)">
                                <md-option ng-repeat="contrat_prestataire in vm.allcontrat_prestataire" value="{{contrat_prestataire.id}}">
                                                                    {{contrat_prestataire.num_contrat}}
                                </md-option>
                              </md-select>
                            </md-input-container>  
                          </span>
                          <span ng-if="!demande_latrine_prest.$edit">{{demande_latrine_prest.contrat_prestataire.num_contrat}}</span>
                        </td>

                        <!--td>
                          <span ng-if="demande_latrine_prest.$edit">
                            <md-input-container style="width:100%;display: flex !important;">
                              <label> latrine construction</label>
                              <md-select ng-model="demande_latrine_prest.id_latrine_construction"style="overflow: hidden;text-overflow: ellipsis;" >
                                <md-option ng-repeat="latrine_construction in vm.alllatrine_construction" value="{{latrine_construction.id}}">
                                                                    {{latrine_construction.type_latrine.libelle}}
                                </md-option>
                              </md-select>
                            </md-input-container>  
                          </span>
                          <span ng-if="!demande_latrine_prest.$edit">{{demande_latrine_prest.latrine_construction.type_latrine.libelle}}</span>
                        </td-->          
                      <td>
                        <span ng-if="demande_latrine_prest.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Objet</label>
                            <input name="objet" type="text" ng-model="demande_latrine_prest.objet"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!demande_latrine_prest.$edit">{{demande_latrine_prest.objet}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="demande_latrine_prest.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Description</label>
                            <input name="description" type="text" ng-model="demande_latrine_prest.description"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!demande_latrine_prest.$edit">{{demande_latrine_prest.description}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="demande_latrine_prest.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Référence facture</label>
                            <input name="ref_facture" type="text" ng-model="demande_latrine_prest.ref_facture"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!demande_latrine_prest.$edit">{{demande_latrine_prest.ref_facture}}</span>
                      </td>                      

                    <td>
                      <span ng-if="demande_latrine_prest.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>Tranche</label>
                          <md-select ng-model="demande_latrine_prest.id_tranche_demande_mpe"style="overflow: hidden;text-overflow: ellipsis;" ng-change="vm.tranchechange_latrine(demande_latrine_prest)">
                            <md-option ng-repeat="tranche in vm.allcurenttranche_demande_latrine_mpe" value="{{tranche.id}}">
                                                                        {{tranche.libelle}}
                            </md-option>
                          </md-select>
                        </md-input-container>  
                      </span>
                      <span ng-if="!demande_latrine_prest.$edit">{{demande_latrine_prest.tranche.libelle}}</span>
                    </td>
                                
                      <td>
                        <span ng-if="demande_latrine_prest.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Montant</label>
                            <input name="montant" type="number" ng-model="demande_latrine_prest.montant"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!demande_latrine_prest.$edit">{{demande_latrine_prest.montant}}</span>
                      </td>

                    <td>
                      <span ng-if="demande_latrine_prest.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>Cumul</label>
                          <input name="cumul" type="text" ng-model="demande_latrine_prest.cumul" disabled/>
                        </md-input-container>  
                      </span>
                      <span ng-if="!demande_latrine_prest.$edit">{{demande_latrine_prest.cumul}}</span>
                    </td>

                    <td>
                      <span ng-if="demande_latrine_prest.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>Anterieur</label>
                          <input name="anterieur" type="text" ng-model="demande_latrine_prest.anterieur" disabled/>
                        </md-input-container>  
                      </span>
                      <span ng-if="!demande_latrine_prest.$edit">{{demande_latrine_prest.anterieur}}</span>
                    </td>

                    <td>
                      <span ng-if="demande_latrine_prest.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>Periode</label>
                          <input name="periode" type="text" ng-model="demande_latrine_prest.periode"disabled/>
                        </md-input-container>  
                      </span>
                      <span ng-if="!demande_latrine_prest.$edit">{{demande_latrine_prest.tranche.periode}}</span>
                    </td>

                    <td>
                      <span ng-if="demande_latrine_prest.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>Pourcentage</label>
                          <input name="pourcentage" type="text" ng-model="demande_latrine_prest.pourcentage" disabled/>
                        </md-input-container>  
                      </span>
                      <span ng-if="!demande_latrine_prest.$edit">{{demande_latrine_prest.tranche.pourcentage}}</span>
                    </td>

                    <td>
                      <span ng-if="demande_latrine_prest.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>Reste</label>
                          <input name="reste" type="text" ng-model="demande_latrine_prest.reste" disabled/>
                        </md-input-container>  
                      </span>
                      <span ng-if="!demande_latrine_prest.$edit">{{demande_latrine_prest.reste}}</span>
                    </td>

                       <td>
                        <span ng-if="demande_latrine_prest.$edit">
                          <md-datepicker ng-model="demande_latrine_prest.date" md-placeholder="Date" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!demande_latrine_prest.$edit">{{vm.affichageDate(demande_latrine_prest.date)}}</span>
                      </td>
                                                   
                      <td>
                        <a ng-if="!demande_latrine_prest.$edit" ng-click="vm.modifierDemande_latrine_prest(demande_latrine_prest)" title="Modifier">
                          <span class="icon-table-edit"></span>
                        </a>
                                  
                        <a ng-if="!demande_latrine_prest.$edit" ng-click="vm.supprimerDemande_latrine_prest(demande_latrine_prest)" title="Supprimer">
                          <span class="icon-delete"></span>
                        </a>
                                  
                        <a ng-if="demande_latrine_prest.$edit" ng-click="vm.annulerDemande_latrine_prest(demande_latrine_prest)" title="Annuler modification">
                          <span class="icon-cancel"></span>
                        </a>
                                  
                        <a ng-if="demande_latrine_prest.$edit && demande_latrine_prest.objet && demande_latrine_prest.description && demande_latrine_prest.montant && demande_latrine_prest.date  && demande_latrine_prest.ref_facture && demande_latrine_prest.id_tranche_demande_mpe>''" ng-click="vm.ajoutDemande_latrine_prest(demande_latrine_prest,0)" title="Sauvegarder">
                          <span class="icon-content-save"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN demande_latrine_prest ------>

    <!-----Debut justificatif_latrine_pre ------>
          <md-tab ng-disabled="vm.stepOne==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">2</span>
                    <!--span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepSixe==true">
                      <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-number md-accent-bg md-green-800-bg" ng-if="vm.stepTwo==true">2
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Pièce jointe (lié au latrine)</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterJustificatif_latrine_pre()" style="width:10%;">
                      Nouveau
                    </md-button>
                </div>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Description</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Fichier</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Action</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="justificatif_latrine_pre in vm.alljustificatif_latrine_pre"  ng-class="{selected: justificatif_latrine_pre.$selected}" ng-click="vm.selectionJustificatif_latrine_pre(justificatif_latrine_pre)">
                               
                      <td>
                        <span ng-if="justificatif_latrine_pre.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Description</label>
                            <input name="description" type="text" ng-model="justificatif_latrine_pre.description"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!justificatif_latrine_pre.$edit">{{justificatif_latrine_pre.description}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="justificatif_latrine_pre.$edit" style="display: inline-block !important;">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Fichier</label>
                            <input name="fichier" type="text" ng-model="justificatif_latrine_pre.fichier" disabled/>
                          </md-input-container>   
                        </span>

                        <span ng-if="justificatif_latrine_pre.$edit" style="display: inline-block !important;">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Fichier</label>
                          <input type="file"name="myFile" aria-label="upload" custom-on-change="uploadFileLatrinefacture"  ng-model="fichier" id="fileid"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!justificatif_latrine_pre.$edit">{{justificatif_latrine_pre.fichier}}</span>
                      </td>                       
                      <td>
                        <a ng-if="!justificatif_latrine_pre.$edit" ng-click="vm.modifierJustificatif_latrine_pre(justificatif_latrine_pre)" title="Modifier">
                          <span class="icon-table-edit"></span>
                        </a>
                                  
                        <a ng-if="!justificatif_latrine_pre.$edit" ng-click="vm.supprimerJustificatif_latrine_pre(justificatif_latrine_pre)" title="Supprimer">
                          <span class="icon-delete"></span>
                        </a>

                        <a ng-if="!justificatif_latrine_pre.$edit" ng-click="vm.download_piece(justificatif_latrine_pre)" title="Telecharger">
                          <span class="icon-box-download"></span>
                        </a>
                                  
                        <a ng-if="justificatif_latrine_pre.$edit" ng-click="vm.annulerJustificatif_latrine_pre(justificatif_latrine_pre)" title="Annuler modification">
                          <span class="icon-cancel"></span>
                        </a>
                                  
                        <a ng-if="justificatif_latrine_pre.$edit && justificatif_latrine_pre.description && justificatif_latrine_pre.fichier>''" ng-click="vm.ajoutJustificatif_latrine_pre(justificatif_latrine_pre,0)" title="Sauvegarder">
                          <span class="icon-content-save"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN justification latrine_pre ------>   
        </md-tabs>
        </ms-form-wizard>                  
      </div>
    </div>
    <!-- / CONTENT -->
  </div>