#forms {

    .content {

        .form-wrapper {
          .tous_table{
            .repeated-item.ng-enter{
             
              animation: my_animation 1.5s linear;
              
            }
          }
                              

        }
		
        .form-data-wrapper {
            margin-left: 16px;

            .json-data-wrapper {
                overflow: hidden;

                pre {
                    font-size: 16px;
                }
            }
        }
    }
}

@keyframes my_animation {
              from { opacity: 0; }
              to   { opacity: 1; }
            }