  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Gerer situation feffi</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Feffi</span>
            </div>

            <div class="title">Feffi</div>
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">

      <div class="form-wrapper md-whiteframe-1dp" >

        <ms-form-wizard flex>
          <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">
          <md-tab>
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==false">1</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==true">
                      <i class="icon-check s16"></i>
                    </span>
                    <span class="ms-form-wizard-step-text">demande latrine entreprise</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="mem in ::vm.demande_latrine_prest_column">
                        <div class="table-header">
                          <span class="column-title">{{mem.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="demande_latrine_prest in vm.alldemande_latrine_prest"  ng-class="{selected: demande_latrine_prest.$selected}" ng-click="vm.selectionDemande_latrine_prest(demande_latrine_prest)">
                                
                      <td>                                  
                        <span>{{vm.affichageDate(demande_latrine_prest.date_approbation)}}</span>
                      </td>          
                      <td>                                  
                        <span>{{demande_latrine_prest.objet}}</span>
                      </td>
                                
                      <td>      
                        <span>{{demande_latrine_prest.description}}</span>
                      </td>
                                
                      <td>      
                        <span>{{demande_latrine_prest.ref_facture}}</span>
                      </td>
                                
                      <td>       
                        <span>{{demande_latrine_prest.tranche.libelle}}</span>
                      </td>

                       <td>                          
                        <span>{{demande_latrine_prest.montant}}</span>
                      </td>
                                
                      <td>      
                        <span>{{demande_latrine_prest.cumul}}</span>
                      </td>
                                
                      <td>       
                        <span>{{demande_latrine_prest.anterieur}}</span>
                      </td>

                       <td>                          
                        <span>{{demande_latrine_prest.tranche.periode}}</span>
                      </td>

                       <td>                          
                        <span>{{demande_latrine_prest.tranche.pourcentage}}</span>
                      </td>
                                
                      <td>      
                        <span>{{demande_latrine_prest.reste}}</span>
                      </td>
                                
                      <td>       
                        <span>{{vm.affichageDate(demande_latrine_prest.date)}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN demande_payement_prest ------>
     <!-----Debut infosupplementaire ------>
          <md-tab ng-disabled="vm.stepOne==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">2</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Info supplementaire</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Reference convention</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Referenance contrat</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Nom MPE</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">CISCO</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">FEFFI</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="infosupplement in vm.allinfosupplement">
                               
                      <td>                                  
                        <span>{{infosupplement.ref_convention}}</span>
                      </td>
                                
                      <td>      
                        <span>{{infosupplement.num_contrat}}</span>
                      </td>

                      <td>                                  
                       <span>{{infosupplement.nom_prestataire}}</span>
                      </td>
                                
                      <td>      
                        <span>{{infosupplement.denomination_feffi}}</span>
                      </td>
                                             
                      <td>                                  
                       <span>{{infosupplement.code_cisco}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN infosupplementaire ------>

    <!-----Debut paiement_latrine_prestataire ------>
          <md-tab ng-disabled="vm.stepOne==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">2</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Paiement MPE</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterPaiement_latrine_prestataire()" style="width:10%;">
                      Nouveau
                    </md-button>
                </div>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="pai in ::vm.paiement_latrine_prestataire_column">
                        <div class="table-header">
                          <span class="column-title">{{pai.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="paiement_latrine_prestataire in vm.allpaiement_latrine_prestataire"  ng-class="{selected: paiement_latrine_prestataire.$selected}" ng-click="vm.selectionPaiement_latrine_prestataire(paiement_latrine_prestataire)">
                                
                      <td>
                        <span ng-if="paiement_latrine_prestataire.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Montant paiement</label>
                            <input name="montant_paiement" type="number" ng-model="paiement_latrine_prestataire.montant_paiement"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!paiement_latrine_prestataire.$edit">{{paiement_latrine_prestataire.montant_paiement}}</span>
                      </td>

                       <td>
                        <span ng-if="paiement_latrine_prestataire.$edit">
                          <md-datepicker ng-model="paiement_latrine_prestataire.date_paiement" md-placeholder="Date" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!paiement_latrine_prestataire.$edit">{{vm.affichageDate(paiement_latrine_prestataire.date_paiement)}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="paiement_latrine_prestataire.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Observation</label>
                            <input name="observation" type="text" ng-model="paiement_latrine_prestataire.observation"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!paiement_latrine_prestataire.$edit">{{paiement_latrine_prestataire.observation}}</span>
                      </td>
                                                   
                      <td>
                        <a ng-if="!paiement_latrine_prestataire.$edit" ng-click="vm.modifierPaiement_latrine_prestataire(paiement_latrine_prestataire)" title="Modifier">
                          <span class="icon-table-edit"></span>
                        </a>
                                  
                        <a ng-if="!paiement_latrine_prestataire.$edit" ng-click="vm.supprimerPaiement_latrine_prestataire(paiement_latrine_prestataire)" title="Supprimer">
                          <span class="icon-delete"></span>
                        </a>
                                  
                        <a ng-if="paiement_latrine_prestataire.$edit" ng-click="vm.annulerPaiement_latrine_prestataire(paiement_latrine_prestataire)" title="Annuler modification">
                          <span class="icon-cancel"></span>
                        </a>
                                  
                        <a ng-if="paiement_latrine_prestataire.$edit && paiement_latrine_prestataire.montant_paiement && paiement_latrine_prestataire.date_paiement >''" ng-click="vm.ajoutPaiement_latrine_prestataire(paiement_latrine_prestataire,0)" title="Sauvegarder">
                          <span class="icon-content-save"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN paiement_latrine_prestataire------>
          </md-tabs> 
        </ms-form-wizard>
                          
      </div>
    </div>
    <!-- / CONTENT -->
  </div>