  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Gerer situation Entreprise</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Reception MPE</span>
            </div>

            <div class="title">Reception MPE</div>
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">

      <div class="form-wrapper md-whiteframe-1dp" >

        <ms-form-wizard flex>
          <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">
      <!-----debut prestataire ------>

    <!-----Debut reception_mpe_invalide ------>
          <md-tab>
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==false">R</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==true">
                      <i class="icon-check s16"></i>
                    </span>
                    <span class="ms-form-wizard-step-text">reception_mpe_invalide</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterReception_mpe_invalide()" style="width:10%;">
                      Nouveau
                    </md-button>                    
                    <md-button type="submit" ng-show="vm.showboutonValider && vm.permissionboutonValider" class="md-raised md-warn" aria-label="Valider" ng-click="vm.valider_reception()" style="width:10%;">
                    Valider
                  </md-button>
                </div>
                  <div>        
                  <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                    <thead>
                      <tr>
                        <th class="secondary-text" ng-repeat="mem in ::vm.reception_mpe_invalide_column">
                          <div class="table-header">
                            <span class="column-title">{{mem.titre}}</span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                             
                    <tbody>
                      <tr ng-repeat="reception_mpe_invalide in vm.allreception_mpe_invalide"  ng-class="{selected: reception_mpe_invalide.$selected}" ng-click="vm.selectionReception_mpe_invalide(reception_mpe_invalide)">  
                        <td>
                          <span ng-if="reception_mpe_invalide.$edit">
                            <md-input-container style="width:100%;display: flex !important;">
                              <label>Contrat prestataire</label>
                              <md-select ng-model="reception_mpe_invalide.id_contrat_prestataire"style="overflow: hidden;text-overflow: ellipsis;" ng-change="vm.change_contrat(reception_mpe_invalide)">
                                <md-option ng-repeat="contrat_prestataire in vm.allcontrat_prestataire" value="{{contrat_prestataire.id}}">
                                                                    {{contrat_prestataire.num_contrat}}
                                </md-option>
                              </md-select>
                            </md-input-container>  
                          </span>
                          <span ng-if="!reception_mpe_invalide.$edit">{{reception_mpe_invalide.contrat_prestataire.num_contrat}}</span>
                        </td>         
                        <td>
                          <span ng-if="reception_mpe_invalide.$edit">
                            <md-datepicker ng-model="reception_mpe_invalide.date_previ_recep_tech" md-placeholder="Date de signature" md-max-date="vm.date_now" required>                       
                            </md-datepicker>
                          </span>                          
                          <span ng-if="!reception_mpe_invalide.$edit">{{vm.affichageDate(reception_mpe_invalide.date_previ_recep_tech)}}</span>
                        </td>
                                  
                        <td>
                          <span ng-if="reception_mpe_invalide.$edit">
                            <md-datepicker ng-model="reception_mpe_invalide.date_reel_tech" md-placeholder="Date de signature" md-min-date="reception_mpe_invalide.date_previ_recep_tech" md-max-date="vm.date_now" required>                       
                            </md-datepicker>   
                          </span>
                                    
                          <span ng-if="!reception_mpe_invalide.$edit">{{vm.affichageDate(reception_mpe_invalide.date_reel_tech)}}</span>
                        </td>

                        <td>
                          <span ng-if="reception_mpe_invalide.$edit">
                            <md-datepicker ng-model="reception_mpe_invalide.date_leve_recep_tech" md-placeholder="Date de signature" md-min-date="reception_mpe_invalide.date_previ_recep_tech" md-max-date="vm.date_now" required>                       
                            </md-datepicker>   
                          </span>
                                    
                          <span ng-if="!reception_mpe_invalide.$edit">{{vm.affichageDate(reception_mpe_invalide.date_leve_recep_tech)}}</span>
                        </td>
                        <td>
                        <span ng-if="reception_mpe_invalide.$edit">
                          <md-datepicker ng-model="reception_mpe_invalide.date_previ_recep_prov" md-placeholder="Date de signature" md-min-date="reception_mpe_invalide.date_reel_tech" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!reception_mpe_invalide.$edit">{{vm.affichageDate(reception_mpe_invalide.date_previ_recep_prov)}}</span>
                      </td>

                      <td>
                        <span ng-if="reception_mpe_invalide.$edit">
                          <md-datepicker ng-model="reception_mpe_invalide.date_reel_recep_prov" md-placeholder="Date de signature" md-min-date="reception_mpe_invalide.date_previ_recep_prov" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!reception_mpe_invalide.$edit">{{vm.affichageDate(reception_mpe_invalide.date_reel_recep_prov)}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="reception_mpe_invalide.$edit">
                          <md-datepicker ng-model="reception_mpe_invalide.date_previ_leve" md-placeholder="Date de signature" md-min-date="reception_mpe_invalide.date_reel_recep_prov" md-max-date="vm.date_now" required>                       
                          </md-datepicker>  
                        </span>
                                  
                        <span ng-if="!reception_mpe_invalide.$edit">{{vm.affichageDate(reception_mpe_invalide.date_previ_leve)}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="reception_mpe_invalide.$edit">
                          <md-datepicker ng-model="reception_mpe_invalide.date_reel_lev_ava_rd" md-placeholder="Date de signature" md-min-date="reception_mpe_invalide.date_reel_recep_prov" md-max-date="vm.date_now" required>                       
                          </md-datepicker>  
                        </span>
                                  
                        <span ng-if="!reception_mpe_invalide.$edit">{{vm.affichageDate(reception_mpe_invalide.date_reel_lev_ava_rd)}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="reception_mpe_invalide.$edit">
                          <md-datepicker ng-model="reception_mpe_invalide.date_previ_recep_defi" md-placeholder="Date de notification" md-min-date="reception_mpe_invalide.date_reel_recep_prov" md-max-date="vm.date_now" required>                       
                          </md-datepicker>  
                        </span>
                                  
                        <span ng-if="!reception_mpe_invalide.$edit">{{vm.affichageDate(reception_mpe_invalide.date_previ_recep_defi)}}</span>
                      </td>
                      <td>
                        <span ng-if="reception_mpe_invalide.$edit">
                          <md-datepicker ng-model="reception_mpe_invalide.date_reel_recep_defi" md-placeholder="Date de signature" md-min-date="reception_mpe_invalide.date_previ_recep_defi" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!reception_mpe_invalide.$edit">{{vm.affichageDate(reception_mpe_invalide.date_reel_recep_defi)}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="reception_mpe_invalide.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Observation</label>
                            <input name="observation" type="text" ng-model="reception_mpe_invalide.observation"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!reception_mpe_invalide.$edit">{{reception_mpe_invalide.observation}}</span>
                      </td>
                      <td>
                        <a ng-if="!reception_mpe_invalide.$edit" ng-click="vm.modifierReception_mpe_invalide(reception_mpe_invalide)" title="Modifier">
                          <span class="icon-table-edit"></span>
                        </a>
                                  
                        <a ng-if="!reception_mpe_invalide.$edit" ng-click="vm.supprimerReception_mpe_invalide(reception_mpe_invalide)" title="Supprimer">
                          <span class="icon-delete"></span>
                        </a>
                                  
                        <a ng-if="reception_mpe_invalide.$edit" ng-click="vm.annulerReception_mpe_invalide(reception_mpe_invalide)" title="Annuler modification">
                          <span class="icon-cancel"></span>
                        </a>
                                  
                        <a ng-if="reception_mpe_invalide.$edit && reception_mpe_invalide.date_previ_recep_tech && reception_mpe_invalide.date_reel_tech && reception_mpe_invalide.date_leve_recep_tech && reception_mpe_invalide.date_previ_recep_prov && reception_mpe_invalide.date_reel_recep_prov && reception_mpe_invalide.date_previ_leve && reception_mpe_invalide.date_reel_lev_ava_rd && reception_mpe_invalide.date_previ_recep_defi && reception_mpe_invalide.date_reel_recep_defi && reception_mpe_invalide.observation >''" type="submit" class="md-raised md-accent>''" ng-click="vm.ajoutReception_mpe_invalide(reception_mpe_invalide,0)" title="Sauvegarder">
                          <span class="icon-content-save"></span>
                        </a>
                      </td>                       
                      </tr>
                    </tbody>
                  </table>
                </div>
            </md-tab-body>
          </md-tab>
    <!-----FIN reception_mpe_invalide ------>    
          </md-tabs>
        </ms-form-wizard>                    
      </div>
    </div>
    <!-- / CONTENT -->
  </div>