<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between" style="height: 100px !important;min-height: 100px !important">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" translate="accueil.parent">Accueil</span>
            </div>

            <div class="title" translate="">Bienvenue à l'E-Tantana</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" layout="column">

            <!-- BASIC FORM -->
            <div class="form-wrapper md-whiteframe-1dp acceuil" flex="100">

                <div translate="accueil.mot_de_bienvenue"></div> <!--border: 1px solid rgb(33,150,243);-->
                <md-button class="md-raised md-primary" aria-label="Valider" ui-sref="app.paeb_gerer_subvention_operation_niveau_feffi_prestataire_suivi_bcaf_convention_suivi_obcaf" ng-if="vm.showracourci_aac" style="font-size: 11px;  background-color: rgba(124,179,66,0.7); float: top">
                    Insértion activitée technique
                  </md-button>
             
                  <md-button class="md-raised md-primary" aria-label="Valider" ui-sref="app.paeb_gerer_subvention_operation_niveau_feffi_prestataire_suivi_bcaf_convention_suivi_bcaf" ng-if="vm.showracourci_bcaf" style="font-size: 11px; background-color: rgba(3,169,244,0.7); float: top">
                    Validation activitée technique
                  </md-button>
             
                  <md-button class="md-raised md-primary" aria-label="Valider" ui-sref="app.paeb_gerer_subvention_operation_niveau_cisco_feffi_convention_cisco_feffi" ng-if="vm.showracourci_bcaf" style="font-size: 11px; background-color: rgba(124,179,66,0.7); float: top">
                    Insertion convention CISCO/FEFFI
                  </md-button>
             
                  <md-button class="md-raised md-primary" aria-label="Valider" ui-sref="app.paeb_gerer_subvention_operation_niveau_cisco_feffi_convention_cisco_feffi_validation" ng-if="vm.showracourci_bcaf" style="font-size: 11px; background-color: rgba(3,169,244,0.7); float: top">
                    Validation convention CISCO/FEFFI
                  </md-button>

                  <md-button class="md-raised md-primary" aria-label="Valider" ui-sref="app.paeb_gerer_subvention_financiere_niveau_feffi_prestataire_suivi_fp_bcaf_convention_suivi_fp_obcaf" ng-if="vm.showracourci_obcaf" style="font-size: 11px; background-color: rgba(124,179,66,0.7); float: top">
                    Insértion activitée financière
                  </md-button>
             
                  <md-button class="md-raised md-primary" aria-label="Valider" ui-sref="app.paeb_gerer_subvention_financiere_niveau_feffi_prestataire_suivi_fp_bcaf_convention_suivi_fp_bcaf" ng-if="vm.showracourci_bcaf" style="font-size: 11px; background-color: rgba(3,169,244,0.7); float: top">
                    Validation activitée financière
                  </md-button>
             
                <!--md-button class="md-raised md-primary" aria-label="Valider" ui-sref="app.paeb_gerer_subvention_operation_niveau_feffi_prestataire_suivi_bcaf_convention_suivi_obcaf" ng-if="vm.showracourci_aac" style="font-size: 11px;  background-color: rgba(124,179,66,0.7);">
                    Insértion activitée technique
                  </md-button>
             
                  <md-button class="md-raised md-primary" aria-label="Valider" ui-sref="app.paeb_gerer_subvention_operation_niveau_feffi_prestataire_suivi_bcaf_convention_suivi_bcaf" ng-if="vm.showracourci_bcaf" style="font-size: 11px; background-color: rgba(233,30,99,0.7);">
                    Validation activitée technique
                  </md-button>
             
                  <md-button class="md-raised md-primary" aria-label="Valider" ui-sref="app.paeb_gerer_subvention_operation_niveau_cisco_feffi_convention_cisco_feffi" ng-if="vm.showracourci_bcaf" style="font-size: 11px; background-color: rgba(0,150,136,0.7);">
                    Insertion convention CISCO/FEFFI
                  </md-button>
             
                  <md-button class="md-raised md-primary" aria-label="Valider" ui-sref="app.paeb_gerer_subvention_operation_niveau_cisco_feffi_convention_cisco_feffi_validation" ng-if="vm.showracourci_bcaf" style="font-size: 11px; background-color: rgba(136,14,79,0.7);">
                    Validation convention CISCO/FEFFI
                  </md-button>

                  <md-button class="md-raised md-primary" aria-label="Valider" ui-sref="app.paeb_gerer_subvention_financiere_niveau_feffi_prestataire_suivi_fp_bcaf_convention_suivi_fp_obcaf" ng-if="vm.showracourci_aac" style="font-size: 11px; background-color: rgba(3,169,244,0.7);">
                    Insértion activitée financière
                  </md-button>
             
                  <md-button class="md-raised md-primary" aria-label="Valider" ui-sref="app.paeb_gerer_subvention_financiere_niveau_feffi_prestataire_suivi_fp_bcaf_convention_suivi_fp_bcaf" ng-if="vm.showracourci_bcaf" style="font-size: 11px; background-color: rgba(63,81,181,0.7);">
                    Validation activitée financière
                  </md-button-->

             
                  <!--md-button class="md-raised md-primary" aria-label="Valider" ui-sref="app.paeb_gerer_subvention_financiere_niveau_feffi_prestataire_suivi_fp_bcaf_convention_suivi_fp_bcaf" ng-if="vm.showracourci_bcaf" style="font-size: 11px;opacity: 0.9; border: 1px solid rgb(33,150,243)">
                    Validation activitée financière
                  </md-button-->
                <span><center>

                    <img style="float: top !important;" src="assets/images/backgrounds/trans.png"></center>

                </span>

            </div>
            <!-- / BASIC FORM -->

        </div>

    </div>
    <!-- / CONTENT -->

</div>
