  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Traitement</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Convention cisco/feffi</span>
            </div>

            <div class="title">Convention cisco/feffi</div>
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">

      <!-- Convention -->
      <div class="form-wrapper md-whiteframe-1dp" >       
        <header layout="row" layout-align="space-between center" style="background: #F3F4F5; margin-bottom: 2px;" class="border-top border-bottom">
          <div layout="row" layout-align="start">
              <div class="border-right" style="display: flex; justify-content: center; align-items: center; padding: 0px 10px 0px 10px; ">
                <span style="line-height: normal;"> Convention cisco/feffi</span>
              </div>
              <div>
                <md-button class="md-icon-button" aria-label="add convention" ng-click="vm.ajouter()">
                  <md-icon md-font-icon="icon-plus"></md-icon>
                  <md-tooltip><span>Ajout convention</span></md-tooltip>
                </md-button>
              </div>                      
          </div>
        </header>
         <div>        
          <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
            <thead>
              <tr>
                <th class="secondary-text" ng-repeat="cisc in ::vm.convention_column">
                  <div class="table-header">
                    <span class="column-title">{{cisc.titre}}</span>
                  </div>
                </th>
              </tr>
            </thead>
                     
            <tbody>
              <tr ng-repeat="convention in vm.allconvention"  ng-class="{selected: convention.$selected}" ng-click="vm.selection(convention)">           
                

                <td>
                  <span ng-if="convention.$edit">
                    <md-input-container style="width:100%;display: flex !important;">
                      <label>Cisco</label>
                      <md-select ng-model="convention.id_cisco"style="overflow: hidden;text-overflow: ellipsis;">
                        <md-option ng-repeat="cisco in vm.allcisco" value="{{cisco.id}}">
                                                            {{cisco.code}}
                        </md-option>
                      </md-select>
                    </md-input-container>  
                  </span>
                  <span ng-if="!convention.$edit">{{convention.cisco.code}}</span>
                </td>

                <td>
                  <span ng-if="convention.$edit">
                    <md-input-container style="width:100%;display: flex !important;">
                      <label>Association</label>
                      <md-select ng-model="convention.id_association"style="overflow: hidden;text-overflow: ellipsis;">
                        <md-option ng-repeat="association in vm.allassociation" value="{{association.id}}">
                                                            {{association.libelle}}
                        </md-option>
                      </md-select>
                    </md-input-container>  
                  </span>
                  <span ng-if="!convention.$edit">{{convention.association.libelle}}</span>
                </td>

                <td>
                  <span ng-if="convention.$edit">
                    <md-input-container style="width:100%;display: flex !important;">
                      <label>Numero convention</label>
                      <input name="numero_convention" type="number" ng-model="convention.numero_convention"/>
                    </md-input-container>
                  </span>                          
                  <span ng-if="!convention.$edit">{{convention.numero_convention}}</span>
                </td>

                <td>
                  <span ng-if="convention.$edit">
                    <md-input-container style="width:100%;display: flex !important;">
                      <label>Description</label>
                      <input name="description" type="text" ng-model="convention.description"/>
                    </md-input-container>
                  </span>                          
                  <span ng-if="!convention.$edit">{{convention.description}}</span>
                </td>

                <td>
                  <span ng-if="convention.$edit">
                    <md-input-container style="width:100%;display: flex !important;">
                      <label>Categorie ouvrage</label>
                      <md-select ng-model="convention.id_categorie_ouvrage"style="overflow: hidden;text-overflow: ellipsis;">
                        <md-option ng-repeat="categorie_ouvrage in vm.allcategorie_ouvrage" value="{{categorie_ouvrage.id}}">
                                                            {{categorie_ouvrage.libelle}}
                        </md-option>
                      </md-select>
                    </md-input-container>  
                  </span>
                  <span ng-if="!convention.$edit">{{convention.categorie_ouvrage.libelle}}</span>
                </td>

                <td>
                  <span ng-if="convention.$edit">
                    <md-input-container style="width:100%;display: flex !important;">
                      <label>Ouvrage</label>
                      <md-select ng-model="convention.id_ouvrage"style="overflow: hidden;text-overflow: ellipsis;">
                        <md-option ng-repeat="ouvrage in vm.allouvrage" value="{{ouvrage.id}}">
                                                            {{ouvrage.libelle}}
                        </md-option>
                      </md-select>
                    </md-input-container>  
                  </span>
                  <span ng-if="!convention.$edit">{{convention.ouvrage.libelle}}</span>
                </td>
                          
                <td>
                  <span ng-if="convention.$edit">
                    <md-input-container style="width:100%;display: flex !important;">
                      <label>Montant prevu</label>
                      <input name="Montant prevu" type="number" ng-model="convention.montant_prevu"/>
                    </md-input-container>   
                  </span>
                            
                  <span ng-if="!convention.$edit">{{convention.montant_prevu}}</span>
                </td>

                <td>
                  <span ng-if="convention.$edit">
                    <md-input-container style="width:100%;display: flex !important;">
                      <label>Montant reel</label>
                      <input name="Montant reel" type="number" ng-model="convention.montant_reel"/>
                    </md-input-container>   
                  </span>
                            
                  <span ng-if="!convention.$edit">{{convention.montant_reel}}</span>
                </td>

                <td>
                  <span ng-if="convention.$edit">
                    <md-datepicker ng-model="convention.date" md-placeholder="Date" md-max-date="vm.date_now" required>                       
                  </md-datepicker>  
                  </span>
                            
                  <span ng-if="!convention.$edit">{{vm.formatDate(convention.date)}}</span>
                </td>
                                             
                <td>  
                  <a ng-if="!convention.$edit" ng-click="vm.modifier(convention)" title="Modifier">
                    <span class="icon-table-edit"></span>
                  </a>
                            
                  <a ng-if="!convention.$edit" ng-click="vm.supprimer(convention)" title="Supprimer">
                    <span class="icon-delete"></span>
                  </a>
                            
                  <a ng-if="convention.$edit" ng-click="vm.annuler(convention)" title="Annuler modification">
                    <span class="icon-cancel"></span>
                  </a>
                            
                  <a ng-if="convention.$edit && convention.numero_convention && convention.description && convention.id_cisco && convention.id_association && convention.id_ouvrage && convention.id_categorie_ouvrage && convention.montant_reel && convention.montant_prevu && convention.date>''" ng-click="vm.ajout(convention,0)" title="Sauvegarder">
                    <span class="icon-content-save"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>                   
      </div>
      <!-- / convention -->
    </div>
    <!-- / CONTENT -->
  </div>