  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Gerer situation PR</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Prestation PR</span>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Module EMIES</span>
            </div>

            <div class="title">Module EMIES valide</div>
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">

      <div class="form-wrapper md-whiteframe-1dp" >

        <ms-form-wizard flex>
          <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">

   
     <!-----Debut module_emies ------>
          <md-tab>
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==false">1</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Module emies</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="mem in ::vm.module_emies_column">
                        <div class="table-header">
                          <span class="column-title">{{mem.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="module_emies in vm.allmodule_emies"  ng-class="{selected: module_emies.$selected}" ng-click="vm.selectionModule_emies(module_emies)">

                    <td>
                      <span ng-if="!module_emies.$edit">{{module_emies.contrat_partenaire_relai.ref_contrat}}</span>
                    </td>
                    <td>                          
                        <span ng-if="!module_emies.$edit">{{vm.affichageDate(module_emies.date_debut_previ_form)}}</span>
                      </td>
                      <td>                         
                        <span ng-if="!module_emies.$edit">{{vm.affichageDate(module_emies.date_fin_previ_form)}}</span>
                      </td>
                      <td>                          
                        <span ng-if="!module_emies.$edit">{{vm.affichageDate(module_emies.date_previ_resti)}}</span>
                      </td>
                                
                      <td>        
                        <span ng-if="!module_emies.$edit">{{vm.affichageDate(module_emies.date_debut_reel_form)}}</span>
                      </td>
                      <td>                         
                        <span ng-if="!module_emies.$edit">{{vm.affichageDate(module_emies.date_fin_reel_form)}}</span>
                      </td>
                      <td>                         
                        <span ng-if="!module_emies.$edit">{{vm.affichageDate(module_emies.date_reel_resti)}}</span>
                      </td>
                                
                      <td>       
                        <span ng-if="!module_emies.$edit">{{module_emies.nbr_previ_parti}}</span>
                      </td>
                                
                      <td>       
                        <span ng-if="!module_emies.$edit">{{module_emies.nbr_parti}}</span>
                      </td>
                                
                      <td>        
                        <span ng-if="!module_emies.$edit">{{module_emies.nbr_previ_fem_parti}}</span>
                      </td>
                                
                      <td>       
                        <span ng-if="!module_emies.$edit">{{module_emies.nbr_reel_fem_parti}}</span>
                      </td>
                                
                      <td>       
                        <span ng-if="!module_emies.$edit">{{module_emies.lieu_formation}}</span>
                      </td>
                                
                      <td>        
                        <span ng-if="!module_emies.$edit">{{module_emies.observation}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN module_emies ------>

     <!-----Debut participant_emies ------>
          <md-tab ng-disabled="vm.stepOne==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">P</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Participant</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" >
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="mem in ::vm.participant_emies_column">
                        <div class="table-header">
                          <span class="column-title">{{mem.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="participant_emies in vm.allparticipant_emies"  ng-class="{selected: participant_emies.$selected}" ng-click="vm.selectionParticipant_emies(participant_emies)">           
                      <td>                         
                        <span ng-if="!participant_emies.$edit">{{participant_emies.nom}}</span>
                      </td>
                                
                      <td>                                  
                        <span ng-if="!participant_emies.$edit">{{participant_emies.prenom}}</span>
                      </td>

                      <td>                          
                        <span ng-if="!participant_emies.$edit">{{vm.affichage_sexe(participant_emies.sexe)}}</span>
                      </td> 

                      <td>
                                  
                        <span ng-if="!participant_emies.$edit">{{participant_emies.situation_participant_emies.libelle}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN participant_emies ------>

    <!-----Debut rapport_emies ------>
          <!--md-tab ng-disabled="vm.stepOne==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">R</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==true">
                      <i class="icon-check s16"></i>
                    </span>
                    <span class="ms-form-wizard-step-text">Rapport emies</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Intitule</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Fichier</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="rapport_emies in vm.allrapport_emies"  ng-class="{selected: rapport_emies.$selected}" ng-click="vm.selectionRapport_emies(rapport_emies)">
                               
                      <td>      
                        <span ng-if="!rapport_emies.$edit">{{rapport_emies.intitule}}</span>
                      </td>
                                
                      <td>       
                        <span ng-if="!rapport_emies.$edit">{{rapport_emies.fichier}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab-->
    <!-----FIN rapport_emies ------>
          </md-tabs>  
        </ms-form-wizard>             
      </div>
    </div>
    <!-- / CONTENT -->
  </div>