#forme {
            position: absolute !important;
            z-index: 1 !important;
           // opacity: 80% !important;
            background-color:  white;
           margin-top: -13px !important;
           //float: top !important;
          }
.map-wrapper {
  position: relative;
  height: calc(100vh - 4em - 64px) !important;
}

.angular-google-map-container {
  
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%!important;
  z-index: 0 !important;
}
md-input-container {
    margin: 5px 0px 5px 0px !important;
}
.fabSpeedDialdemoBasicUsage .text-capitalize {
  text-transform: capitalize; }
.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
  background-color: #000 !important; }
.fabSpeedDialdemoBasicUsage p.note {
  font-size: 1.2rem; }
.fabSpeedDialdemoBasicUsage .lock-size {
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto; }