 <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Données de bases</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Etape sous projet</span>
            </div>

            <div class="title">Etape sous projet</div>
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">

      <!-- Tranche demande moe -->
      <div class="form-wrapper md-whiteframe-1dp" >       
        <header layout="row" layout-align="space-between center" style="background: #F3F4F5; margin-bottom: 2px;" class="border-top border-bottom">
          <div layout="row" layout-align="start">
              <div class="border-right" style="display: flex; justify-content: center; align-items: center; padding: 0px 10px 0px 10px; ">
                <span style="line-height: normal;"> Etape sous projete</span>
              </div>
              <div>
                <md-button class="md-icon-button" aria-label="add tranche demande moe" ng-click="vm.ajouter()">
                  <md-icon md-font-icon="icon-plus"></md-icon>
                  <md-tooltip><span>Ajout etape sous projete</span></md-tooltip>
                </md-button>
              </div>                      
          </div>
        </header>
         <div>        
          <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" >
            <thead>
              <tr>
                <th class="secondary-text" ng-repeat="prestc in ::vm.etape_sousprojet_column">
                  <div class="table-header">
                    <span class="column-title">{{prestc.titre}}</span>
                  </div>
                </th>
              </tr>
            </thead>
                     
            <tbody>
              <tr ng-repeat="etape_sousprojet in vm.alletape_sousprojet"  ng-class="{selected: etape_sousprojet.$selected}" ng-click="vm.selection(etape_sousprojet)">
                          
                <td>
                  <span ng-if="etape_sousprojet.$edit">
                    <md-input-container style="width:100%;display: flex !important;">
                      <label>Libelle</label>
                      <input name="libelle" type="text" ng-model="etape_sousprojet.libelle"/>
                    </md-input-container>   
                  </span>
                            
                  <span ng-if="!etape_sousprojet.$edit">{{etape_sousprojet.libelle}}</span>
                </td>

                <td>
                  <span ng-if="etape_sousprojet.$edit">
                    <md-input-container style="width:100%;display: flex !important;">
                      <label>Description</label>
                      <input name="description" type="text" ng-model="etape_sousprojet.description"/>
                    </md-input-container>   
                  </span>
                            
                  <span ng-if="!etape_sousprojet.$edit">{{etape_sousprojet.description}}</span>
                </td>

                <td>
                  <span ng-if="etape_sousprojet.$edit">
                    <md-input-container style="width:100%;display: flex !important;">
                      <label>Code</label>
                      <input name="code" type="text" ng-model="etape_sousprojet.code" disabled/>
                    </md-input-container>
                  </span>                          
                  <span ng-if="!etape_sousprojet.$edit">{{etape_sousprojet.code}}</span>
                </td>
                                             
                <td>
                  <a ng-if="!etape_sousprojet.$edit" ng-click="vm.modifier(etape_sousprojet)" title="Modifier">
                    <span class="icon-table-edit"></span>
                  </a>
                            
                  <a ng-if="!etape_sousprojet.$edit" ng-click="vm.supprimer(etape_sousprojet)" title="Supprimer">
                    <span class="icon-delete" ></span>
                  </a>
                            
                  <a ng-if="etape_sousprojet.$edit" ng-click="vm.annuler(etape_sousprojet)" title="Annuler modification">
                    <span class="icon-cancel"></span>
                  </a>
                            
                  <a ng-if="etape_sousprojet.$edit && etape_sousprojet.libelle && etape_sousprojet.description && etape_sousprojet.code>''" ng-click="vm.ajout(etape_sousprojet,0)" title="Sauvegarder">
                    <span class="icon-content-save"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>                   
      </div>
      <!-- / etape_sousprojet -->
    </div>
    <!-- / CONTENT -->
  </div>