  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Gerer situation feffi</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Feffi</span>
            </div>

            <div class="title">Feffi</div>
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">

      <div class="form-wrapper md-whiteframe-1dp" >

        <ms-form-wizard flex>
          <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">

    <!-----debut Bureau etude ------>

            <md-tab>
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==false">1</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">MOE</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>

                <div>        
                  <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                    <thead>
                      <tr>
                        <th class="secondary-text" ng-repeat="pres in ::vm.bureau_etude_column">
                          <div class="table-header">
                            <span class="column-title">{{pres.titre}}</span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                             
                    <tbody>
                      <tr ng-repeat="bureau_etude in vm.allbureau_etude"  ng-class="{selected: bureau_etude.$selected}" ng-click="vm.selectionBureau_etude(bureau_etude)">           
                       <td>                                    
                          <span>{{bureau_etude.nom}}</span>
                        </td>

                        <td>                                    
                          <span>{{bureau_etude.nif}}</span>
                        </td>

                        <td>                                    
                          <span>{{bureau_etude.stat}}</span>
                        </td>

                        <td>  
                          <span>{{bureau_etude.siege}}</span>
                        </td>

                        <td>                         
                          <span>{{bureau_etude.telephone}}</span>
                        </td>                        
                      </tr>
                    </tbody>
                  </table>
                </div>
              </md-tab-body>
            </md-tab>
    <!-----FIN Bureau etude ------>

    <!-----Debut passation_marches_moe ------>
          <md-tab ng-disabled="vm.stepOne==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">2</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Contrat</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="mem in ::vm.contrat_bureau_etude_column">
                        <div class="table-header">
                          <span class="column-title">{{mem.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="contrat_bureau_etude in vm.allcontrat_bureau_etude"  ng-class="{selected: contrat_bureau_etude.$selected}" ng-click="vm.selectionContrat_bureau_etude(contrat_bureau_etude)">
                                                     
                      <td>                                  
                        <span>{{contrat_bureau_etude.intitule}}</span>
                      </td>
                                
                      <td>                                  
                        <span>{{contrat_bureau_etude.ref_contrat}}</span>
                      </td>
                                
                      <td>                                  
                        <span>{{contrat_bureau_etude.montant_contrat}}</span>
                      </td>

                      <td>                          
                        <span>{{vm.affichageDate(contrat_bureau_etude.date_signature)}}</span>
                      </td>
                                  
                        <span>{{contrat_bureau_etude.delai_execution}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN passation_marches_moe ------>

     <!-----Debut passation_marches_moe ------>
          <md-tab ng-disabled="vm.stepTwo==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==false">3</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">passation de marches moe</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterPassation_marches_moe()" style="width:10%;" ng-disabled="!vm.showbuttonNouvPassation">
                      Nouveau
                    </md-button>
                </div>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="mem in ::vm.passation_marches_moe_column">
                        <div class="table-header">
                          <span class="column-title">{{mem.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="passation_marches_moe in vm.allpassation_marches_moe"  ng-class="{selected: passation_marches_moe.$selected}" ng-click="vm.selectionPassation_marches_moe(passation_marches_moe)">

                      <td>
                        <span ng-if="passation_marches_moe.$edit">
                          <md-datepicker ng-model="passation_marches_moe.date_shortlist" md-placeholder="Date de signature" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!passation_marches_moe.$edit">{{vm.affichageDate(passation_marches_moe.date_shortlist)}}</span>
                      </td>

                      <td>
                        <span ng-if="passation_marches_moe.$edit">
                          <md-datepicker ng-model="passation_marches_moe.date_manifestation" md-placeholder="Date de signature" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!passation_marches_moe.$edit">{{vm.affichageDate(passation_marches_moe.date_manifestation)}}</span>
                      </td>

                      <td>
                        <span ng-if="passation_marches_moe.$edit">
                          <md-datepicker ng-model="passation_marches_moe.date_lancement_dp" md-placeholder="Date de signature" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!passation_marches_moe.$edit">{{vm.affichageDate(passation_marches_moe.date_lancement_dp)}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="passation_marches_moe.$edit">
                          <md-datepicker ng-model="passation_marches_moe.date_remise" md-placeholder="Date de signature" md-min-date="passation_marches_moe.date_lancement_dp" md-max-date="vm.date_now" required>                       
                          </md-datepicker>   
                        </span>
                                  
                        <span ng-if="!passation_marches_moe.$edit">{{vm.affichageDate(passation_marches_moe.date_remise)}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="passation_marches_moe.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Nombre offre recu</label>
                            <input name="nbr_offre_recu" type="number" ng-model="passation_marches_moe.nbr_offre_recu"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!passation_marches_moe.$edit">{{passation_marches_moe.nbr_offre_recu}}</span>
                      </td>

                      <td>
                        <span ng-if="passation_marches_moe.$edit">
                          <md-datepicker ng-model="passation_marches_moe.date_rapport_evaluation" md-placeholder="Date de signature" md-min-date="passation_marches_moe.date_remise" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!passation_marches_moe.$edit">{{vm.affichageDate(passation_marches_moe.date_rapport_evaluation)}}</span>
                      </td>

                      <td>
                        <span ng-if="passation_marches_moe.$edit">
                          <md-datepicker ng-model="passation_marches_moe.date_demande_ano_dpfi" md-placeholder="Date de signature" md-min-date="passation_marches_moe.date_rapport_evaluation" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!passation_marches_moe.$edit">{{vm.affichageDate(passation_marches_moe.date_demande_ano_dpfi)}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="passation_marches_moe.$edit">
                          <md-datepicker ng-model="passation_marches_moe.date_ano_dpfi" md-placeholder="Date de signature" md-min-date="passation_marches_moe.date_demande_ano_dpfi" md-max-date="vm.date_now" required>                       
                          </md-datepicker>  
                        </span>
                                  
                        <span ng-if="!passation_marches_moe.$edit">{{vm.affichageDate(passation_marches_moe.date_ano_dpfi)}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="passation_marches_moe.$edit">
                          <md-datepicker ng-model="passation_marches_moe.notification_intention" md-placeholder="Date de notification" md-min-date="passation_marches_moe.date_demande_ano_dpfi" md-max-date="vm.date_now" required>                       
                          </md-datepicker>  
                        </span>
                                  
                        <span ng-if="!passation_marches_moe.$edit">{{vm.affichageDate(passation_marches_moe.notification_intention)}}</span>
                      </td>

                      <td>
                        <span ng-if="passation_marches_moe.$edit">
                          <md-datepicker ng-model="passation_marches_moe.date_notification_attribution" md-placeholder="Date de signature" md-min-date="passation_marches_moe.notification_intention" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!passation_marches_moe.$edit">{{vm.affichageDate(passation_marches_moe.date_notification_attribution)}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="passation_marches_moe.$edit">
                          <md-datepicker ng-model="passation_marches_moe.date_signature_contrat" md-placeholder="Date de signature" md-min-date="passation_marches_moe.date_notification_attribution" md-max-date="vm.date_now" required>                       
                          </md-datepicker>  
                        </span>
                                  
                        <span ng-if="!passation_marches_moe.$edit">{{vm.affichageDate(passation_marches_moe.date_signature_contrat)}}</span>
                      </td>

                      <td>
                        <span ng-if="passation_marches_moe.$edit">
                          <md-datepicker ng-model="passation_marches_moe.date_os" md-placeholder="Date de signature" md-min-date="passation_marches_moe.date_signature_contrat" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!passation_marches_moe.$edit">{{vm.affichageDate(passation_marches_moe.date_os)}}</span>
                      </td>

                      <td>
                        <span ng-if="passation_marches_moe.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Statut</label>
                            <md-select ng-model="passation_marches_moe.statut"style="overflow: hidden;text-overflow: ellipsis;">
                              <md-option value="1">BE
                              </md-option>
                              <md-option value="2">CI
                              </md-option>
                            </md-select>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!passation_marches_moe.$edit">{{vm.affichageStatut(passation_marches_moe.statut)}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="passation_marches_moe.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Observation</label>
                            <input name="observation" type="text" ng-model="passation_marches_moe.observation"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!passation_marches_moe.$edit">{{passation_marches_moe.observation}}</span>
                      </td>
                                                   
                      <td>
                        <a ng-if="!passation_marches_moe.$edit" ng-click="vm.modifierPassation_marches_moe(passation_marches_moe)" title="Modifier">
                          <span class="icon-table-edit"></span>
                        </a>
                                  
                        <a ng-if="!passation_marches_moe.$edit" ng-click="vm.supprimerPassation_marches_moe(passation_marches_moe)" title="Supprimer">
                          <span class="icon-delete"></span>
                        </a>
                                  
                        <a ng-if="passation_marches_moe.$edit" ng-click="vm.annulerPassation_marches_moe(passation_marches_moe)" title="Annuler modification">
                          <span class="icon-cancel"></span>
                        </a>
                                  
                        <a ng-if="passation_marches_moe.$edit && passation_marches_moe.date_shortlist && passation_marches_moe.date_manifestation && passation_marches_moe.date_lancement_dp && passation_marches_moe.date_remise && passation_marches_moe.nbr_offre_recu && passation_marches_moe.date_rapport_evaluation && passation_marches_moe.date_demande_ano_dpfi && passation_marches_moe.date_ano_dpfi && passation_marches_moe.notification_intention && passation_marches_moe.date_notification_attribution && passation_marches_moe.date_signature_contrat && passation_marches_moe.date_os && passation_marches_moe.statut && passation_marches_moe.observation >''" ng-click="vm.ajoutPassation_marches_moe(passation_marches_moe,0)" title="Sauvegarder">
                          <span class="icon-content-save"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN passation_marches_moe ------>
                     
      </div>
    </div>
    <!-- / CONTENT -->
  </div>