<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Données de bases</span>
                <span class="parent"> </span>
                <span class="parent" href="javascript:;"> > Commune</span>
            </div>

            <div class="title">Commune</div>
        </div>
    </div>
    <div class="content"layout="column">
		<div class="form-wrapper">
			<div style="widht:100%;">    
				<md-button type="submit" ng-show="vm.afficherboutonnouveau==1" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouter()" style="width:10%;">
					Nouveau
				</md-button>
				<md-button type="submit" ng-show="vm.afficherboutonModifSupr==1" class="md-raised md-accent" aria-label="Modifier" ng-click="vm.modifier()" style="width:10%;">
					Modifier
				</md-button>
				<md-button type="submit" ng-show="vm.afficherboutonModifSupr==1" class="md-raised md-accent" aria-label="Supprimer" ng-click="vm.supprimer()" style="width:10%;">
					Supprimer
				</md-button>
			</div>  
			<div style="clear:both;"></div>
			<div class="white-bg md-whiteframe-4dp">
			<md-tabs md-dynamic-height ng-show="vm.affichageMasque==1">
				<md-tab label="Ajout Commune">
					<div class="simple-table-container md-whiteframe-4dp">
					<md-tab-body>
						<form name="communeform" class="md-inline-form"  novalidate>
							<div layout="column" layout-gt-xs="row" flex>
								<input type="hidden" ng-model="vm.commune.id"></input>
								<md-input-container flex="100" flex-gt-xs="33">
									<input type="text" name="code" ng-model="vm.commune.code"
										placeholder="Code" ng-init="vm.commune.code=''"
									required>
									<div ng-messages="communeform.code.$error"
										role="alert">
										<div ng-message="required">
											<span>Code obligatoire.</span>
										</div>
									</div>
								</md-input-container>
								<md-input-container flex="100" flex-gt-xs="33">
									<input type="text" name="nom" ng-model="vm.commune.nom"
									placeholder="Nom " ng-init="vm.commune.nom=''"
									required>
									<div ng-messages="communeform.nom.$error"
										role="alert">
										<div ng-message="required">
											<span>Nom obligatoire.</span>
										</div>
									</div>
								</md-input-container>
								<md-input-container flex="100" flex-gt-xs="33">
									<label>District</label>
									<md-select ng-model="vm.commune.district_id" ng-change="vm.modifierdistrict(vm.commune)">
										<md-option ng-repeat="district in vm.alldistrict" value="{{district.id}}">
											{{district.nom}}
										</md-option>
									</md-select>
								</md-input-container>
							</div>
							<md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
								ng-disabled="communeform.$invalid " ng-click="vm.ajout(vm.commune,0)">
								Enregistrer
							</md-button>
							<md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annuler()">
								Annuler
							</md-button>
						</form>
					</md-tab-body>
					</div>
				<!-- / BASIC FORM -->
				</md-tab>
			</md-tabs>
		</div>
			<div style="clear:both;"></div><br>
		<div class="white-bg md-whiteframe-4dp">
			<md-tabs md-dynamic-height>
				<md-tab label="Liste Communes">
					<table class="dataTable row-border hover" datatable="ng"
						dt-options="vm.dtOptions">
						<thead>
							<tr>
								<th class="secondary-text" ng-repeat="co in ::vm.commune_column">
									<div class="table-header">
										<span class="column-title">{{co.titre}}</span>
									</div>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="commune in vm.allcommune"  ng-class="{selected: commune.$selected}" ng-click="vm.selection(commune)">
								<td>{{commune.code}}</td>
								<td>{{commune.nom}}</td>
								<td>{{commune.district.nom}}</td>
							</tr>
						</tbody>
					</table>
				</md-tab>
			</md-tabs>
		</div>	
		</div>
    </div>
</div>
