  <div id="formsetatfefficf" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Etat technique des activités</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Niveau CISCO/FEFFI</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Renseignement FEFFI</span>
            </div>

            <!--div class="title">Feffi</div-->
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">

      <div class="form-wrapper md-whiteframe-1dp" >

        <ms-form-wizard flex>
          <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">

    <!-----debut FEFFI ------>

            <md-tab>
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==false">1</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">ECOLE</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                
            <div style="margin-top: 1px;">
                <div ng-show="vm.showfiltre" class="md-whiteframe-3dp animate-show-hide">
              <form name="filtreform" class="md-inline-form" novalidate >
                                <br>
                  <div layout="column" layout-gt-xs="row" >

                    <md-input-container flex="100" flex-gt-xs="90">
                      <label>Région</label>
                      <md-select ng-model="vm.filtre.id_region" name="region" ng-change="vm.filtre_change_region(vm.filtre)" ng-disabled="vm.session=='BCAF' || vm.session=='OBCAF'" required>
                        <md-option  value="*">*</md-option>
                        <md-option ng-repeat="region in vm.regions" value="{{region.id}}" > {{region.nom}}</md-option>
                      </md-select>
                      <div ng-messages="filtreform.region.$error" role="alert">
                        <div ng-message="required"><span>Région</span></div>
                      </div>
                    </md-input-container>
                                  
                    <md-input-container flex="100" flex-gt-xs="90">
                      <label>Cisco</label>
                      <md-select ng-model="vm.filtre.id_cisco" ng-disabled="!vm.filtre.id_region || vm.session=='BCAF' || vm.session=='OBCAF'" ng-change="vm.filtre_change_cisco(vm.filtre)" name="cisco">
                        <md-option  value="*">*</md-option>
                        <md-option ng-repeat="d in vm.ciscos" value="{{d.id}}"> {{d.code}}</md-option>
                                                  
                        </md-select>
                        <div ng-messages="filtreform.cisco.$error" role="alert">
                        <div ng-message="required"><span>Cisco</span></div>
                      </div>
                    </md-input-container>
                                  
                    <md-input-container flex="100" flex-gt-xs="90">
                      <label>Commune</label>
                      <md-select ng-model="vm.filtre.id_commune" ng-disabled="!vm.filtre.id_cisco" name="commune" ng-change="vm.filtre_change_commune(vm.filtre)">
                        <md-option  value="*">*</md-option>
                        <md-option ng-repeat="eco in vm.communes" value="{{eco.id}}"> {{eco.nom}}</md-option>
                      </md-select>
                      <div ng-messages="filtreform.commune.$error" role="alert">
                        <div ng-message="required"><span>Commune</span></div>
                      </div>
                    </md-input-container>

                    <md-input-container flex="100" flex-gt-xs="90">
                      <label>Zap</label>
                      <md-select ng-model="vm.filtre.id_zap" name="zap" ng-disabled="!vm.filtre.id_commune" ng-change="vm.filtre_change_zap(vm.filtre)">
                        <md-option  value="*">*</md-option>
                        <md-option ng-repeat="zaps in vm.zaps" value="{{zaps.zap.id}}"> {{zaps.zap.nom}}
                        </md-option>
                      </md-select>  
                      <div ng-messages="filtreform.zap.$error" role="alert">
                        <div ng-message="required"><span>Zap</span></div>
                      </div>
                    </md-input-container>
                    </div>  
                    <div class="footer-animate-show-hide">
                        <md-button class="md-raised boutonfixe" disabled>
                        </md-button>
                        <md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annulerfiltre()" style="float: right;">
                                            Réinitialise
                        </md-button>
                           <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer" ng-disabled="filtreform.$invalid" ng-click="vm.recherchefiltre(vm.filtre)" style="float: right;">
                                                Recherche
                        </md-button>
                    </div>
                 </form>
             </div>
                                   
              <div class="bouton-animate-show-hide">

                 <md-button type="submit" class="md-raised md-accent bouton-show-hide" aria-label="Filtre" ng-click="vm.showformfiltre()"><!--ng-show="vm.showbuttonfiltre"-->
                  <md-icon md-font-icon="icon-filter" class="s16" style="color:green">                            
                </md-icon>                           
                  <md-icon md-font-icon="icon-chevron-double-up" ng-if="!vm.showfiltre" class="s16">                            
                 </md-icon>
                 <md-icon md-font-icon="icon-chevron-double-down" ng-if="vm.showfiltre" class="s16">                            
                 </md-icon>
                 <md-tooltip><span>Bouton filtre</span></md-tooltip>
                 </md-button> 
            </div>
           </div>
               <div>        
                 <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="cisc in ::vm.ecole_column">
                        <div class="table-header">
                          <span class="column-title">{{cisc.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody >
                    <tr ng-repeat="ecole in vm.allecole"  ng-class="{selected: ecole.$selected}" ng-click="vm.selectionecole(ecole)">           
                      <td>                         
                        <span>{{ecole.code}}</span>
                      </td>
                                
                      <td>                            
                        <span>{{ecole.description}}</span>
                      </td>

                      <td>
                        <span>{{ecole.cisco.description}}</span>
                      </td>

                      <td>
                        <span>{{ecole.commune.nom}}</span>
                      </td>

                      <td>
                        <span>{{ecole.zap.nom}}</span>
                      </td>

                      <td>
                        <span>{{ecole.fokontany.nom}}</span>
                      </td>
                                
                      <td>                            
                        <span>{{ecole.lieu}}</span>
                      </td>
                                
                      <td>                            
                        <span>{{ecole.latitude}}</span>
                      </td>
                                
                      <td>                            
                        <span>{{ecole.longitude}}</span>
                      </td>
                                
                      <td>                            
                        <span>{{ecole.altitude}}</span>
                      </td>

                      <td>
                        <span>{{ecole.zone_subvention.libelle}}</span>
                      </td>

                      <td>
                        <span>{{ecole.acces_zone.libelle}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN FEFFI ------>
    <!-----debut FEFFI ------>

            <md-tab ng-disabled="!vm.stepOne" ng-click="vm.step_menu_feffi()">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">2</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">FEFFI</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" >
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="fef in ::vm.feffi_column">
                        <div class="table-header">
                          <span class="column-title">{{fef.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="feffi in vm.allfeffi"  ng-class="{selected: feffi.$selected}" ng-click="vm.selection(feffi)">
                                
                      <td>                                  
                        <span>{{feffi.identifiant}}</span>
                      </td>

                      <td>                        
                        <span>{{feffi.denomination}}</span>
                      </td>
                                
                      <td>                                  
                        <span>{{feffi.nbr_feminin}}</span>
                      </td>
                                
                      <td>                                  
                        <span>{{feffi.nbr_membre}}</span>
                      </td>                      
                                
                      <td>                                  
                        <span>{{feffi.adresse}}</span>
                      </td>
                                
                      <td>                                  
                        <span>{{feffi.observation}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN FEFFI ------>
    <!-----Debut membre ------>
          <md-tab ng-disabled="vm.stepTwo==false" ng-click="vm.step_menu_membre()">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==false">M</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Membre</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" >
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="mem in ::vm.membre_column">
                        <div class="table-header">
                          <span class="column-title">{{mem.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="membre in vm.allmembre"  ng-class="{selected: membre.$selected}" ng-click="vm.selectionMembre(membre)">           
                      <td>                         
                        <span>{{membre.nom}}</span>
                      </td>
                                
                      <td>                                  
                        <span>{{membre.prenom}}</span>
                      </td>

                      <td>                         
                        <span>{{vm.affichage_sexe(membre.sexe)}}</span>
                      </td>
                                
                      <td>                                  
                        <span>{{membre.age}}</span>
                      </td>

                      <td>                         
                        <span>{{vm.affichage_occupation(membre.occupation)}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN membre ------>   

     <!-----Debut membre ------>
          <md-tab ng-disabled="vm.stepTwo==false" ng-click="vm.step_menu_compte()">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==false">C</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Compte banquaire</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" >
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="comp in ::vm.compte_feffi_column">
                        <div class="table-header">
                          <span class="column-title">{{comp.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="compte_feffi in vm.allcompte_feffi"  ng-class="{selected: compte_feffi.$selected}" ng-click="vm.selectionCompte_feffi(compte_feffi)">           
                      <td>                          
                        <span>{{compte_feffi.nom_banque}}</span>
                      </td>
                                
                      <td>                                  
                        <span>{{compte_feffi.adresse_banque}}</span>
                      </td>                      
                                
                      <td>                                  
                        <span>{{compte_feffi.rib}}</span>
                      </td>
                                
                      <td>                                  
                        <span>{{compte_feffi.numero_compte}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN membre ------>

     <!-----Debut membre ------>
          <md-tab ng-disabled="vm.stepThree==false" ng-click="vm.step_menu_membre_titulaire()">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepFor==false">T</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepFor==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Titulaire compte</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" >
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="mem in ::vm.membre_titulaire_column">
                        <div class="table-header">
                          <span class="column-title">{{mem.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="membre_titulaire in vm.allmembre_titulaire"  ng-class="{selected: membre_titulaire.$selected}" ng-click="vm.selectionMembre_titulaire(membre_titulaire)">           
                    
                        <td>
                          <span>{{membre_titulaire.membre.nom}}</span>
                        </td>
                                
                      <td>                                  
                        <span>{{membre_titulaire.membre.prenom}}</span>
                      </td>

                      <td>                         
                        <span>{{vm.affichage_occupation(membre_titulaire.membre.occupation)}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN membre ------> 
          </md-tabs>  
        </ms-form-wizard>           
      </div>
    </div>
    <!-- / CONTENT -->
  </div>