  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Gerer situation feffi</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Feffi</span>
            </div>

            <div class="title">Feffi</div>
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">

      <div class="form-wrapper md-whiteframe-1dp" >

        <ms-form-wizard flex>
          <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">

    <
    <!-----Debut demande_batiment_moe ------>
          <md-tab>
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==false">1</span>

                    <span class="ms-form-wizard-step-number md-accent-bg md-green-800-bg" ng-if="vm.stepOne==true">1
                    </span>
                    <span class="ms-form-wizard-step-text">demande batiment</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterDemande_batiment_moe()" style="width:10%;">
                      Nouveau
                    </md-button>
                </div>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="mem in ::vm.demande_batiment_moe_column">
                        <div class="table-header">
                          <span class="column-title">{{mem.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="demande_batiment_moe in vm.alldemande_batiment_moe"  ng-class="{selected: demande_batiment_moe.$selected}" ng-click="vm.selectionDemande_batiment_moe(demande_batiment_moe)">
                                
                      <td>                                  
                        <span>{{demande_batiment_moe.objet}}</span>
                      </td>
                                
                      <td>  
                        <span>{{demande_batiment_moe.description}}</span>
                      </td>
                                
                      <td>       
                        <span>{{demande_batiment_moe.ref_facture}}</span>
                      </td>                      

                    <td>
                      <span>{{demande_batiment_moe.tranche.libelle}}</span>
                    </td>
                                
                      <td>       
                        <span>{{demande_batiment_moe.montant}}</span>
                      </td>

                    <td>
                      <span>{{demande_batiment_moe.cumul}}</span>
                    </td>

                    <td>
                      <span>{{demande_batiment_moe.anterieur}}</span>
                    </td>

                    <td>
                      <span>{{demande_batiment_moe.tranche.periode}}</span>
                    </td>

                    <td>
                      <span>{{demande_batiment_moe.tranche.pourcentage}}</span>
                    </td>

                    <td>
                      <span>{{demande_batiment_moe.reste}}</span>
                    </td>

                       <td>                         
                        <span>{{vm.affichageDate(demande_batiment_moe.date)}}</span>
                      </td>
                                                   
                      <td>
                        <a ng-click="vm.validerDemande_batiment_moe(demande_batiment_moe,0,2)" title="Valider">
                          <span class="icon-check-circle"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN demande_batiment_moe ------>

    <!-----Debut justificatif_batiment_moe ------>
          <md-tab ng-disabled="vm.stepOne==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">2</span>
                    <span class="ms-form-wizard-step-number md-accent-bg md-green-800-bg" ng-if="vm.stepTwo==true">2
                    </span>
                    <span class="ms-form-wizard-step-text">Pièce jointe (lié au batiment)</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterJustificatif_batiment_moe()" style="width:10%;">
                      Nouveau
                    </md-button>
                </div>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Description</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Fichier</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Action</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="justificatif_batiment_moe in vm.alljustificatif_batiment_moe"  ng-class="{selected: justificatif_batiment_moe.$selected}" ng-click="vm.selectionJustificatif_batiment_moe(justificatif_batiment_moe)">
                               
                      <td>       
                        <span>{{justificatif_batiment_moe.description}}</span>
                      </td>
                                
                      <td>       
                        <span>{{justificatif_batiment_moe.fichier}}</span>
                      </td>                       
                      <td>
                        <a ng-click="vm.downloadJustificatif_batiment_moe(justificatif_batiment_moe)" title="Telecharger">
                          <span class="icon-box-download"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN demande_batiment_moe ------>
    <!-----FIN demande_debut_travaux_moe ------>
        </ms-form-wizard>
      </md-tabs>                   
      </div>
    </div>
    <!-- / CONTENT -->
  </div>