  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Données de bases</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Plan comptable</span>
            </div>

            <div class="title">Plan comptable</div>
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">

      <!-- Plan comptable -->
      <div class="form-wrapper md-whiteframe-1dp" >       
        <header layout="row" layout-align="space-between center" style="background: #F3F4F5; margin-bottom: 2px;" class="border-top border-bottom">
          <div layout="row" layout-align="start">
              <div class="border-right" style="display: flex; justify-content: center; align-items: center; padding: 0px 10px 0px 10px; ">
                <span style="line-height: normal;"> Plan comptable</span>
              </div>
              <div>
                <md-button class="md-icon-button" aria-label="add plan_comptable" ng-click="vm.ajouter()">
                  <md-icon md-font-icon="icon-plus"></md-icon>
                  <md-tooltip><span>Ajout plan comptable</span></md-tooltip>
                </md-button>
              </div>                      
          </div>
        </header>
         <div>        
          <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" >
            <thead>
              <tr>
                <th class="secondary-text" ng-repeat="comp in ::vm.plan_comptable_column">
                  <div class="table-header">
                    <span class="column-title">{{comp.titre}}</span>
                  </div>
                </th>
              </tr>
            </thead>
                     
            <tbody>
              <tr ng-repeat="plan_comptable in vm.allplan_comptable"  ng-class="{selected: plan_comptable.$selected}" ng-click="vm.selection(plan_comptable)">           
                <td>
                  <span ng-if="plan_comptable.$edit">
                    <md-input-container style="width:100%;display: flex !important;">
                      <label>Code</label>
                      <input name="code" type="text" ng-model="plan_comptable.code"/>
                    </md-input-container>
                  </span>                          
                  <span ng-if="!plan_comptable.$edit">{{plan_comptable.code}}</span>
                </td>
                          
                <td>
                  <span ng-if="plan_comptable.$edit">
                    <md-input-container style="width:100%;display: flex !important;">
                      <label>Description</label>
                      <input name="Description" type="text" ng-model="plan_comptable.description"/>
                    </md-input-container>   
                  </span>
                            
                  <span ng-if="!plan_comptable.$edit">{{plan_comptable.description}}</span>
                </td>
                                             
                <td>
                  <a ng-if="!plan_comptable.$edit" ng-click="vm.modifier(plan_comptable)" title="Modifier">
                    <span class="icon-table-edit"></span>
                  </a>
                            
                  <a ng-if="!plan_comptable.$edit" ng-click="vm.supprimer(plan_comptable)" title="Supprimer">
                    <span class="icon-delete" ></span>
                  </a>
                            
                  <a ng-if="plan_comptable.$edit" ng-click="vm.annuler(plan_comptable)" title="Annuler modification">
                    <span class="icon-cancel"></span>
                  </a>
                            
                  <a ng-if="plan_comptable.$edit && plan_comptable.code && plan_comptable.description>''" ng-click="vm.ajout(plan_comptable,0)" title="Sauvegarder">
                    <span class="icon-content-save"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>                   
      </div>
      <!-- / plan_comptable -->
    </div>
    <!-- / CONTENT -->
  </div>