  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Gerer situation feffi</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Feffi</span>
            </div>

            <div class="title">Feffi</div>
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">

      <div class="form-wrapper md-whiteframe-1dp" >

        <ms-form-wizard flex>
          <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">

    <!-----debut FEFFI ------>

            <md-tab>
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==false">1</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Contrat</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>

                <div>        
                  <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                    <thead>
                      <tr>
                        <th class="secondary-text" ng-repeat="ciscT in ::vm.contrat_prestataire_column">
                          <div class="table-header">
                            <span class="column-title">{{ciscT.titre}}</span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                             
                    <tbody>
                      <tr ng-repeat="contrat_prestataire in vm.allcontrat_prestataire"  ng-class="{selected: contrat_prestataire.$selected}" ng-click="vm.selectionContrat_prestataire(contrat_prestataire)">           
                        

                        <td>
                          <span ng-if="!contrat_prestataire.$edit">{{contrat_prestataire.num_contrat}}</span>
                        </td>

                        <td>
                          <span ng-if="!contrat_prestataire.$edit">{{contrat_prestataire.description}}</span>
                        </td>

                        <td>                         
                          <span ng-if="!contrat_prestataire.$edit">{{contrat_prestataire.cout_batiment}}</span>
                        </td>

                        <td>                          
                          <span ng-if="!contrat_prestataire.$edit">{{contrat_prestataire.cout_latrine}}</span>
                        </td>

                        <td>     
                          <span ng-if="!contrat_prestataire.$edit">{{contrat_prestataire.cout_mobilier}}</span>
                        </td>               

                        <td>                                    
                          <span ng-if="!contrat_prestataire.$edit">{{contrat_prestataire.prestataire.nom}}</span>
                        </td>

                        <td>     
                          <span ng-if="!contrat_prestataire.$edit">{{vm.affichageDate(contrat_prestataire.date_signature)}}</span>
                        </td> 
                      </tr>
                    </tbody>
                  </table>
                </div>
              </md-tab-body>
            </md-tab>
    <!-----FIN FEFFI ------>

    <!-----Debut demande_payement_prest ------>
          <md-tab ng-disabled="vm.stepOne==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">2</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Prestation mpe</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterPrestation_mpe()" style="width:10%;">
                      Nouveau
                    </md-button>
                </div>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="mem in ::vm.prestation_mpe_column">
                        <div class="table-header">
                          <span class="column-title">{{mem.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="prestation_mpe in vm.allprestation_mpe"  ng-class="{selected: prestation_mpe.$selected}" ng-click="vm.selectionPrestation_mpe(prestation_mpe)">
                                              

                       <td>
                        <span ng-if="prestation_mpe.$edit">
                          <md-datepicker ng-model="prestation_mpe.date_pre_debu_trav" md-placeholder="Date" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!prestation_mpe.$edit">{{vm.affichageDate(prestation_mpe.date_pre_debu_trav)}}</span>
                      </td>
                      

                       <td>
                        <span ng-if="prestation_mpe.$edit">
                          <md-datepicker ng-model="prestation_mpe.date_reel_debu_trav" md-placeholder="Date" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!prestation_mpe.$edit">{{vm.affichageDate(prestation_mpe.date_reel_debu_trav)}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="prestation_mpe.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Delai execution</label>
                            <input name="delai_execution" type="text" ng-model="prestation_mpe.delai_execution"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!prestation_mpe.$edit">{{prestation_mpe.delai_execution}}</span>
                      </td>

                       <td>
                        <span ng-if="prestation_mpe.$edit">
                          <md-datepicker ng-model="prestation_mpe.date_expiration_assurance_mpe" md-placeholder="Date" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!prestation_mpe.$edit">{{vm.affichageDate(prestation_mpe.date_expiration_assurance_mpe)}}</span>
                      </td>
                                                   
                      <td>
                        <a ng-if="!prestation_mpe.$edit" ng-click="vm.modifierPrestation_mpe(prestation_mpe)" title="Modifier">
                          <span class="icon-table-edit"></span>
                        </a>
                                  
                        <a ng-if="!prestation_mpe.$edit" ng-click="vm.supprimerPrestation_mpe(prestation_mpe)" title="Supprimer">
                          <span class="icon-delete"></span>
                        </a>
                                  
                        <a ng-if="prestation_mpe.$edit" ng-click="vm.annulerPrestation_mpe(prestation_mpe)" title="Annuler modification">
                          <span class="icon-cancel"></span>
                        </a>
                                  
                        <a ng-if="prestation_mpe.$edit && prestation_mpe.date_pre_debu_trav && prestation_mpe.date_reel_debu_trav && prestation_mpe.delai_execution && prestation_mpe.date_expiration_assurance_mpe >''" ng-click="vm.ajoutPrestation_mpe(prestation_mpe,0)" title="Sauvegarder">
                          <span class="icon-content-save"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN demande_payement_prest ------>
    <!-----Debut demande_payement_prest ------>
          <md-tab ng-disabled="vm.stepTwo==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==false">2</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Phase sous projet</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterPhase_sous_projet()" style="width:10%;">
                      Nouveau
                    </md-button>
                </div>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="mem in ::vm.phase_sous_projet_column">
                        <div class="table-header">
                          <span class="column-title">{{mem.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="phase_sous_projet in vm.allphase_sous_projet"  ng-class="{selected: phase_sous_projet.$selected}" ng-click="vm.selectionPhase_sous_projet(phase_sous_projet)">
                                
                      <td>
                        <span ng-if="phase_sous_projet.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Infrastructure</label>
                              <md-select ng-model="phase_sous_projet.id_infrastructure"style="overflow: hidden;text-overflow: ellipsis;" ng-change="vm.changeinfrastructure(phase_sous_projet)">
                                <md-option ng-repeat="infrastructure in vm.allinfrastructure" value="{{infrastructure.id}}">
                                                                      {{infrastructure.libelle}}
                                </md-option>
                              </md-select>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!phase_sous_projet.$edit">{{phase_sous_projet.infrastructure.libelle}}</span>
                      </td>

                      <td>
                        <span ng-if="phase_sous_projet.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Designation infrastructure</label>
                              <md-select ng-model="phase_sous_projet.id_designation_infrastructure"style="overflow: hidden;text-overflow: ellipsis;" ng-change="vm.changedesignation_infrastructure(phase_sous_projet)">
                                <md-option ng-repeat="designation_infrastructure in vm.alldesignation_infrastructure" value="{{designation_infrastructure.id}}">
                                                                      {{designation_infrastructure.designation}}
                                </md-option>
                              </md-select>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!phase_sous_projet.$edit">{{phase_sous_projet.designation_infrastructure.designation}}</span>
                      </td>

                      <td>
                        <span ng-if="phase_sous_projet.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Element à verifier</label>
                              <md-select ng-model="phase_sous_projet.id_element_a_verifier"style="overflow: hidden;text-overflow: ellipsis;">
                                <md-option ng-repeat="element_a_verifier in vm.allelement_a_verifier" value="{{element_a_verifier.id}}">
                                                                      {{element_a_verifier.element_verifier}}
                                </md-option>
                              </md-select>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!phase_sous_projet.$edit">{{phase_sous_projet.element_a_verifier.element_verifier}}</span>
                      </td>

                       <td>
                        <span ng-if="phase_sous_projet.$edit">
                          <md-datepicker ng-model="phase_sous_projet.date_verification" md-placeholder="Date" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!phase_sous_projet.$edit">{{vm.affichageDate(phase_sous_projet.date_verification)}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="phase_sous_projet.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Conformité</label>
                            <input name="conformite" type="text" ng-model="phase_sous_projet.conformite"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!phase_sous_projet.$edit">{{phase_sous_projet.conformite}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="phase_sous_projet.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Observation</label>
                            <input name="observation" type="text" ng-model="phase_sous_projet.observation"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!phase_sous_projet.$edit">{{phase_sous_projet.observation}}</span>
                      </td>
                                                   
                      <td>
                        <a ng-if="!phase_sous_projet.$edit" ng-click="vm.modifierPhase_sous_projet(phase_sous_projet)" title="Modifier">
                          <span class="icon-table-edit"></span>
                        </a>
                                  
                        <a ng-if="!phase_sous_projet.$edit" ng-click="vm.supprimerPhase_sous_projet(phase_sous_projet)" title="Supprimer">
                          <span class="icon-delete"></span>
                        </a>
                                  
                        <a ng-if="phase_sous_projet.$edit" ng-click="vm.annulerPhase_sous_projet(phase_sous_projet)" title="Annuler modification">
                          <span class="icon-cancel"></span>
                        </a>
                                  
                        <a ng-if="phase_sous_projet.$edit && phase_sous_projet.id_infrastructure && phase_sous_projet.id_designation_infrastructure && phase_sous_projet.id_element_a_verifier && phase_sous_projet.date_verification && phase_sous_projet.conformite  >''" ng-click="vm.ajoutPhase_sous_projet(phase_sous_projet,0)" title="Sauvegarder">
                          <span class="icon-content-save"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN demande_payement_prest ------>
        </ms-form-wizard>
      </md-tabs>                   
      </div>
    </div>
    <!-- / CONTENT -->
  </div>