  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Gerer situation MOE</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Demande payement</span>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Preparation travaux</span>
            </div>

            <div class="title">Preparation travaux</div>
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">

      <div class="form-wrapper md-whiteframe-1dp" >

        <ms-form-wizard flex>
          <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">

    <!-----debut contrat ------>

            <!--md-tab>
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg " ng-if="vm.stepOne==false">1</span>
                   
                    <span class="ms-form-wizard-step-number md-accent-bg md-green-800-bg" ng-if="vm.stepOne==true">1
                    </span>
                      
                    <span class="ms-form-wizard-step-text">Contrat</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>

                <div>        
                  <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                    <thead>
                      <tr>
                        <th class="secondary-text" ng-repeat="ciscT in ::vm.contrat_bureau_etude_column">
                          <div class="table-header">
                            <span class="column-title">{{ciscT.titre}}</span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                             
                    <tbody>
                      <tr ng-repeat="contrat_bureau_etude in vm.allcontrat_bureau_etude"  ng-class="{selected: contrat_bureau_etude.$selected}" ng-click="vm.selectionContrat_bureau_etude(contrat_bureau_etude)">

                      <td>                                  
                        <span>{{contrat_bureau_etude.bureau_etude.nom}}</span>
                      </td>
                                
                      <td>
                                  
                        <span>{{contrat_bureau_etude.intitule}}</span>
                      </td>
                                
                      <td>
                                  
                        <span>{{contrat_bureau_etude.ref_contrat}}</span>
                      </td>
                                
                      <td>
                                  
                        <span>{{contrat_bureau_etude.montant_contrat}}</span>
                      </td>

                      <td>                         
                        <span>{{vm.affichageDate(contrat_bureau_etude.date_signature)}}</span>
                      </td> 
                      </tr>
                    </tbody>
                  </table>
                </div>
              </md-tab-body>
            </md-tab-->
    <!-----FIN contrat ------>
   
    <!-----Debut demande_debut_travaux_moe ------>
          <md-tab>
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==false">1</span>
                    <!--span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==true">
                      <i class="icon-check s16"></i>
                    </span-->
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-number md-accent-bg md-green-800-bg" ng-if="vm.stepOne==true">1
                    </span>
                    <span class="ms-form-wizard-step-text">demande à la signature</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterDemande_debut_travaux_moe()" style="width:10%;">
                      Nouveau
                    </md-button>
                    <md-button type="submit" class="md-raised md-warn" aria-label="Nouveau" ng-click="vm.validerDemande_debut_travaux_moe()" style="width:10%;" ng-show="vm.showbuttonValidation && vm.permissionboutonValider">
                      Validation
                    </md-button>
                </div>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="mem in ::vm.demande_debut_travaux_moe_column">
                        <div class="table-header">
                          <span class="column-title">{{mem.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="demande_debut_travaux_moe in vm.alldemande_debut_travaux_moe_invalide"  ng-class="{selected: demande_debut_travaux_moe.$selected}" ng-click="vm.selectionDemande_debut_travaux_moe(demande_debut_travaux_moe)">
                      <td>
                        <span ng-if="demande_debut_travaux_moe.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Contrat</label>
                            <md-select ng-model="demande_debut_travaux_moe.id_contrat_bureau_etude"style="overflow: hidden;text-overflow: ellipsis;" ng-change="vm.change_contrat(demande_debut_travaux_moe)">
                              <md-option ng-repeat="contrat_bureau_etude in vm.allcontrat_bureau_etude" value="{{contrat_bureau_etude.id}}">
                                                                    {{contrat_bureau_etude.ref_contrat}}
                              </md-option>
                            </md-select>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!demande_debut_travaux_moe.$edit">{{demande_debut_travaux_moe.contrat_bureau_etude.ref_contrat}}</span>
                      </td>          
                      <td>
                        <span ng-if="demande_debut_travaux_moe.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Objet</label>
                            <input name="objet" type="text" ng-model="demande_debut_travaux_moe.objet"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!demande_debut_travaux_moe.$edit">{{demande_debut_travaux_moe.objet}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="demande_debut_travaux_moe.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Description</label>
                            <input name="description" type="text" ng-model="demande_debut_travaux_moe.description"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!demande_debut_travaux_moe.$edit">{{demande_debut_travaux_moe.description}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="demande_debut_travaux_moe.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Référence latrine_bur</label>
                            <input name="ref_facture" type="text" ng-model="demande_debut_travaux_moe.ref_facture"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!demande_debut_travaux_moe.$edit">{{demande_debut_travaux_moe.ref_facture}}</span>
                      </td>                      

                    <td>
                      <span ng-if="demande_debut_travaux_moe.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>Tranche</label>
                          <md-select ng-model="demande_debut_travaux_moe.id_tranche_d_debut_travaux_moe"style="overflow: hidden;text-overflow: ellipsis;" ng-change="vm.tranchechange(demande_debut_travaux_moe)" ng-disabled="!demande_debut_travaux_moe.id_contrat_bureau_etude">
                            <md-option ng-repeat="tranche in vm.allcurenttranche_d_debut_travaux_moe" value="{{tranche.id}}">
                                                                        {{tranche.libelle}}
                            </md-option>
                          </md-select>
                        </md-input-container>  
                      </span>
                      <span ng-if="!demande_debut_travaux_moe.$edit">{{demande_debut_travaux_moe.tranche.libelle}}</span>
                    </td>
                                
                      <td>
                        <span ng-if="demande_debut_travaux_moe.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Montant</label>
                            <input name="montant" type="number" ng-model="demande_debut_travaux_moe.montant"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!demande_debut_travaux_moe.$edit">{{demande_debut_travaux_moe.montant}}</span>
                      </td>

                    <td>
                      <span ng-if="demande_debut_travaux_moe.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>Cumul</label>
                          <input name="cumul" type="text" ng-model="demande_debut_travaux_moe.cumul" disabled/>
                        </md-input-container>  
                      </span>
                      <span ng-if="!demande_debut_travaux_moe.$edit">{{demande_debut_travaux_moe.cumul}}</span>
                    </td>

                    <td>
                      <span ng-if="demande_debut_travaux_moe.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>Anterieur</label>
                          <input name="anterieur" type="text" ng-model="demande_debut_travaux_moe.anterieur" disabled/>
                        </md-input-container>  
                      </span>
                      <span ng-if="!demande_debut_travaux_moe.$edit">{{demande_debut_travaux_moe.anterieur}}</span>
                    </td>

                    <td>
                      <span ng-if="demande_debut_travaux_moe.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>Periode</label>
                          <input name="periode" type="text" ng-model="demande_debut_travaux_moe.periode"disabled/>
                        </md-input-container>  
                      </span>
                      <span ng-if="!demande_debut_travaux_moe.$edit">{{demande_debut_travaux_moe.tranche.periode}}</span>
                    </td>

                    <td>
                      <span ng-if="demande_debut_travaux_moe.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>Pourcentage</label>
                          <input name="pourcentage" type="text" ng-model="demande_debut_travaux_moe.pourcentage" disabled/>
                        </md-input-container>  
                      </span>
                      <span ng-if="!demande_debut_travaux_moe.$edit">{{demande_debut_travaux_moe.tranche.pourcentage}}</span>
                    </td>

                    <td>
                      <span ng-if="demande_debut_travaux_moe.$edit">
                        <md-input-container style="width:100%;display: flex !important;">
                          <label>Reste</label>
                          <input name="reste" type="text" ng-model="demande_debut_travaux_moe.reste" disabled/>
                        </md-input-container>  
                      </span>
                      <span ng-if="!demande_debut_travaux_moe.$edit">{{demande_debut_travaux_moe.reste}}</span>
                    </td>

                       <td>
                        <span ng-if="demande_debut_travaux_moe.$edit">
                          <md-datepicker ng-model="demande_debut_travaux_moe.date" md-placeholder="Date" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!demande_debut_travaux_moe.$edit">{{vm.affichageDate(demande_debut_travaux_moe.date)}}</span>
                      </td>
                                                   
                      <td>
                        <a ng-if="!demande_debut_travaux_moe.$edit" ng-click="vm.modifierDemande_debut_travaux_moe(demande_debut_travaux_moe)" title="Modifier">
                          <span class="icon-table-edit"></span>
                        </a>
                                  
                        <a ng-if="!demande_debut_travaux_moe.$edit" ng-click="vm.supprimerDemande_debut_travaux_moe(demande_debut_travaux_moe)" title="Supprimer">
                          <span class="icon-delete"></span>
                        </a>
                                  
                        <a ng-if="demande_debut_travaux_moe.$edit" ng-click="vm.annulerDemande_debut_travaux_moe(demande_debut_travaux_moe)" title="Annuler modification">
                          <span class="icon-cancel"></span>
                        </a>
                                  
                        <a ng-if="demande_debut_travaux_moe.$edit && demande_debut_travaux_moe.objet && demande_debut_travaux_moe.description && demande_debut_travaux_moe.montant && demande_debut_travaux_moe.date  && demande_debut_travaux_moe.ref_facture && demande_debut_travaux_moe.id_tranche_d_debut_travaux_moe && demande_debut_travaux_moe.cumul && demande_debut_travaux_moe.reste>''" ng-click="vm.ajoutDemande_debut_travaux_moe(demande_debut_travaux_moe,0)" title="Sauvegarder">
                          <span class="icon-content-save"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN demande_debut_travaux_moe ------>

    <!-----Debut justificatif_debut_travaux_moe ------>
          <md-tab ng-disabled="vm.stepTwo==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==false">3</span>
                    <!--span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepFor==true">
                      <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-number md-accent-bg md-green-800-bg" ng-if="vm.stepThree==true">3
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Pièce jointe (convention)</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterJustificatif_debut_travaux_moe()" style="width:10%;">
                      Nouveau
                    </md-button>
                </div>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Description</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Fichier</span>
                        </div>
                      </th>
                      <th class="secondary-text">
                        <div class="table-header">
                          <span class="column-title">Action</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="justificatif_debut_travaux_moe in vm.alljustificatif_debut_travaux_moe"  ng-class="{selected: justificatif_debut_travaux_moe.$selected}" ng-click="vm.selectionJustificatif_debut_travaux_moe(justificatif_debut_travaux_moe)">
                               
                      <td>
                        <span ng-if="justificatif_debut_travaux_moe.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Description</label>
                            <input name="description" type="text" ng-model="justificatif_debut_travaux_moe.description"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!justificatif_debut_travaux_moe.$edit">{{justificatif_debut_travaux_moe.description}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="justificatif_debut_travaux_moe.$edit" style="display: inline-block !important;">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Fichier</label>
                            <input name="fichier" type="text" ng-model="justificatif_debut_travaux_moe.fichier" disabled/>
                          </md-input-container>   
                        </span>

                        <span ng-if="justificatif_debut_travaux_moe.$edit" style="display: inline-block !important;">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Fichier</label>
                          <input type="file"name="myFile" aria-label="upload" custom-on-change="uploadFile"  ng-model="fichier" id="fileid"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!justificatif_debut_travaux_moe.$edit">{{justificatif_debut_travaux_moe.fichier}}</span>
                      </td>                       
                      <td>
                        <a ng-if="!justificatif_debut_travaux_moe.$edit" ng-click="vm.modifierJustificatif_debut_travaux_moe(justificatif_debut_travaux_moe)" title="Modifier">
                          <span class="icon-table-edit"></span>
                        </a>
                                  
                        <a ng-if="!justificatif_debut_travaux_moe.$edit" ng-click="vm.supprimerJustificatif_debut_travaux_moe(justificatif_debut_travaux_moe)" title="Supprimer">
                          <span class="icon-delete"></span>
                        </a>
                        
                        <a ng-if="!justificatif_debut_travaux_moe.$edit" ng-click="vm.download_piece(justificatif_debut_travaux_moe)" title="Telecharger">
                          <span class="icon-box-download"></span>
                        </a>
                                  
                        <a ng-if="justificatif_debut_travaux_moe.$edit" ng-click="vm.annulerJustificatif_debut_travaux_moe(justificatif_debut_travaux_moe)" title="Annuler modification">
                          <span class="icon-cancel"></span>
                        </a>
                                  
                        <a ng-if="justificatif_debut_travaux_moe.$edit && justificatif_debut_travaux_moe.description && justificatif_debut_travaux_moe.fichier>''" ng-click="vm.ajoutJustificatif_debut_travaux_moe(justificatif_debut_travaux_moe,0)" title="Sauvegarder">
                          <span class="icon-content-save"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
          <md-tab>
          </md-tab>
    <!-----FIN demande_debut_travaux_moe ------>

        <</md-tabs>
        </ms-form-wizard>                   
      </div>
    </div>
    <!-- / CONTENT -->
  </div>