  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Gerer situation PR</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Suivi financier travaux</span>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Preparation travaux</span>
            </div>

            <div class="title">Preparation travaux</div>
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">

      <div class="form-wrapper md-whiteframe-1dp" >

        <ms-form-wizard flex>
          <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">

    <!-----debut contrat ------>

           <md-tab>
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg " ng-if="vm.stepOne==false">1</span>
                   
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==true">1
                    </span>
                      
                    <span class="ms-form-wizard-step-text">Contrat</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>

                <div>        
                  <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                    <thead>
                      <tr>
                        <th class="secondary-text" ng-repeat="ciscT in ::vm.contrat_partenaire_relai_column">
                          <div class="table-header">
                            <span class="column-title">{{ciscT.titre}}</span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                             
                    <tbody>
                      <tr ng-repeat="contrat_partenaire_relai in vm.allcontrat_partenaire_relai"  ng-class="{selected: contrat_partenaire_relai.$selected}" ng-click="vm.selectionContrat_partenaire_relai(contrat_partenaire_relai)">

                      <td>                                  
                        <span>{{contrat_partenaire_relai.partenaire_relai.nom}}</span>
                      </td>
                                
                      <td>
                                  
                        <span>{{contrat_partenaire_relai.intitule}}</span>
                      </td>
                                
                      <td>
                                  
                        <span>{{contrat_partenaire_relai.ref_contrat}}</span>
                      </td>
                                
                      <td>
                                  
                        <span>{{contrat_partenaire_relai.montant_contrat}}</span>
                      </td>

                      <td>                         
                        <span>{{vm.affichageDate(contrat_partenaire_relai.date_signature)}}</span>
                      </td> 
                      </tr>
                    </tbody>
                  </table>
                </div>
              </md-tab-body>
            </md-tab>
    <!-----FIN contrat ------>    

            <!-----debut detail mobilier ------>
            <md-tab ng-disabled="vm.stepOne==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">2</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==true">2
                    </span>
                    <span class="ms-form-wizard-step-text">demande preparation travaux</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="mem in ::vm.demande_debut_travaux_pr_column">
                        <div class="table-header">
                          <span class="column-title">{{mem.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="demande_debut_travaux_pr in vm.alldemande_debut_travaux_pr"  ng-class="{selected: demande_debut_travaux_pr.$selected}" ng-click="vm.selectionDemande_debut_travaux_pr(demande_debut_travaux_pr)">
                                
                      <td>        
                        <span>{{demande_debut_travaux_pr.objet}}</span>
                      </td>
                                
                      <td>       
                        <span>{{demande_debut_travaux_pr.description}}</span>
                      </td>
                                
                      <td>        
                        <span>{{demande_debut_travaux_pr.ref_facture}}</span>
                      </td>                      

                    <td>
                      <span>{{demande_debut_travaux_pr.tranche.libelle}}</span>
                    </td>
                                
                      <td>       
                        <span>{{demande_debut_travaux_pr.montant}}</span>
                      </td>

                    <td>
                      <span>{{demande_debut_travaux_pr.cumul}}</span>
                    </td>

                    <td>
                      <span>{{demande_debut_travaux_pr.anterieur}}</span>
                    </td>

                    <td>
                      <span>{{demande_debut_travaux_pr.tranche.periode}}</span>
                    </td>

                    <td>
                      <span>{{demande_debut_travaux_pr.tranche.pourcentage}}</span>
                    </td>

                    <td>
                      <span>{{demande_debut_travaux_pr.reste}}</span>
                    </td>

                       <td>                        
                        <span>{{vm.affichageDate(demande_debut_travaux_pr.date)}}</span>
                      </td>

                       <td>                        
                        <span>{{vm.situationdemande(demande_debut_travaux_pr.validation)}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
          <md-tab ng-disabled="vm.stepTwo==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==false">3</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Paiement pr</span>
                </span>
              </md-tab-label>
              
              <md-tab-body><br>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="pai in ::vm.paiement_debut_travaux_pr_column">
                        <div class="table-header">
                          <span class="column-title">{{pai.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="paiement_debut_travaux_pr in vm.allpaiement_debut_travaux_pr"  ng-class="{selected: paiement_debut_travaux_pr.$selected}" ng-click="vm.selectionPaiement_debut_travaux_pr(paiement_debut_travaux_pr)">
                                
                      <td>                                  
                        <span>{{paiement_debut_travaux_pr.montant_paiement}}</span>
                      </td>

                       <td>                          
                        <span>{{vm.affichageDate(paiement_debut_travaux_pr.date_paiement)}}</span>
                      </td>
                                
                      <td>                                  
                        <span>{{paiement_debut_travaux_pr.observation}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab >
          <md-tab >
          </md-tab >
    <!-----FIN davancement_batiment_doc------>
          </md-tabs>
        </ms-form-wizard>
          
      </div>
    </div>
    <!-- / CONTENT -->
  </div>