  <div id="formsbcafvactivif" class="page-layout simple fullwidth doc-page" layout="column" >

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between" >
        <div layout="column" layout-align="space-between" style="height: 10px !important;">
            <div class="breadcrumb" layout="row" layout-align="start center" >
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Gestion financière des activitées</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Niveau DAAF/FEFFI</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Validation activitée financière (BCAF)</span>
            </div>

            <!--div class="title">Convention CISCO/FEFFI</div-->
                                       
            
        </div>
        
    </div>    
    
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">
      <div class="form-wrapper md-whiteframe-1dp" >
<!----------------------------------------------DEBUT TABS MERE-------------------------------------------------------------->
         <ms-form-wizard flex >
          <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true" >

    <!------------------------------------DEBUT CONVENTION CISCO/FEFFI--------------------------------------------------->
            
            <md-tab>
              <md-tab-label >
                <span class="ms-form-wizard-step-label">
                    <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-basket-fill s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Convention</span>
                </span>
               
              </md-tab-label>
              
              <md-tab-body>
                
                      <div style="margin-top: 1px;">
                          <div ng-show="vm.showfiltre" class="md-whiteframe-3dp animate-show-hide">
                          <form name="filtreform" class="md-inline-form" novalidate >
                                <br>
                            <div style="margin: 0px 15px 10px 15px;">
                              <div layout="column" layout-gt-xs="row">
                                  <md-input-container>
                                    <span style="font-size: 14.5px" class="text-semibold">Date signature convention du: &nbsp</span>
                                  </md-input-container>

                                  <md-datepicker ng-model="vm.filtre.date_debut" md-max-date="vm.datenow" required style="">                     
                                  </md-datepicker>

                                  <md-input-container>
                                    <span style="font-size: 14.5px" class="text-semibold">&nbsp &nbsp jusqu'au &nbsp &nbsp</span>
                                  </md-input-container>

                                  <md-datepicker ng-model="vm.filtre.date_fin" md-min-date="vm.filtre.date_debut" md-max-date="vm.datenow" ng-disabled="!vm.filtre.date_debut" required>                        
                                  </md-datepicker>
                                </div>
                                <div layout="column" layout-gt-xs="row">

                                  <md-input-container flex="100" flex-gt-xs="90">
                                    <label>Lot</label>
                                    <md-select ng-model="vm.filtre.lot" name="lot" style="overflow: hidden;text-overflow: ellipsis;">
                                      <md-option value="*">*</md-option>
                                      <md-option value="1">Lot 1</md-option>
                                      <md-option value="2">Lot 2</md-option>
                                      <md-option value="3">Lot 3</md-option>
                                      <md-option value="4">Lot 4</md-option>
                                    </md-select>
                                    <div ng-messages="filtreform.lot.$error" role="alert">
                                      <div ng-message="required"><span>Lot</span></div>
                                    </div>
                                  </md-input-container>
                                  <md-input-container flex="100" flex-gt-xs="90">
                                    <label>Région</label>
                                    <md-select ng-model="vm.filtre.id_region" name="region" ng-change="vm.filtre_change_region(vm.filtre)">
                                      <md-option  value="*">*</md-option>
                                      <md-option ng-repeat="region in vm.regions" value="{{region.id}}" > {{region.nom}}</md-option>
                                    </md-select>
                                    <div ng-messages="filtreform.region.$error" role="alert">
                                      <div ng-message="required"><span>Région</span></div>
                                    </div>
                                  </md-input-container>
                                  
                                  <md-input-container flex="100" flex-gt-xs="90">
                                    <label>Cisco</label>
                                    <md-select ng-model="vm.filtre.id_cisco" ng-disabled="!vm.filtre.id_region" ng-change="vm.filtre_change_cisco(vm.filtre)" name="cisco">
                                      <md-option  value="*">*</md-option>
                                      <md-option ng-repeat="d in vm.ciscos" value="{{d.id}}"> {{d.code}}</md-option>
                                                  
                                     </md-select>
                                     <div ng-messages="filtreform.cisco.$error" role="alert">
                                      <div ng-message="required"><span>Cisco</span></div>
                                    </div>
                                  </md-input-container>
                                  
                                  <md-input-container flex="100" flex-gt-xs="90">
                                    <label>Commune</label>
                                    <md-select ng-model="vm.filtre.id_commune" ng-disabled="!vm.filtre.id_cisco" name="commune" ng-change="vm.filtre_change_commune(vm.filtre)">
                                      <md-option  value="*">*</md-option>
                                      <md-option ng-repeat="eco in vm.communes" value="{{eco.id}}"> {{eco.nom}}</md-option>
                                    </md-select>
                                    <div ng-messages="filtreform.commune.$error" role="alert">
                                      <div ng-message="required"><span>Commune</span></div>
                                    </div>
                                  </md-input-container>
                                  
                                  <md-input-container flex="100" flex-gt-xs="90">
                                    <label>Ecole</label>
                                    <md-select ng-model="vm.filtre.id_ecole" name="ecole" ng-disabled="!vm.filtre.id_commune" ng-change="vm.filtre_change_ecole(vm.filtre)">
                                      <md-option  value="*">*</md-option>
                                      <md-option ng-repeat="eco in vm.ecoles" value="{{eco.id}}"> {{eco.description}}
                                      </md-option>
                                    </md-select>
                                    <div ng-messages="filtreform.ecole.$error" role="alert">
                                      <div ng-message="required"><span>Ecole</span></div>
                                    </div>
                                  </md-input-container>
                                  <md-input-container flex="100" flex-gt-xs="90">
                                    <label>Convention</label>
                                    <md-select ng-model="vm.filtre.id_convention_entete" name="convention" ng-disabled="!vm.filtre.id_ecole">
                                      <md-option  value="*">*</md-option>
                                      <md-option ng-repeat="eco in vm.convention_cisco_feffi_entetes" value="{{eco.id}}"> {{eco.ref_convention}}
                                      </md-option>
                                    </md-select>  
                                    <div ng-messages="filtreform.convention_entete.$error" role="alert">
                                      <div ng-message="required"><span>Convention</span></div>
                                    </div>
                                  </md-input-container>
                                </div>
                              </div>  
                              <div class="footer-animate-show-hide">
                                  <md-button class="md-raised boutonfixe" disabled>
                                  </md-button>
                                  <md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annulerfiltre()" style="float: right;">
                                            Réinitialise
                                  </md-button>
                                    <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer" ng-disabled="filtreform.$invalid" ng-click="vm.recherchefiltre(vm.filtre)" style="float: right;">
                                                Recherche
                                  </md-button>
                              </div>
                          </form>
                      </div>
                                   
                      <div class="bouton-animate-show-hide">

                        <md-button type="submit" class="md-raised md-accent bouton-show-hide" aria-label="Filtre" ng-click="vm.showformfiltre()"><!--ng-show="vm.showbuttonfiltre"-->
                         <md-icon md-font-icon="icon-filter" class="s16" style="color:green">                            
                        </md-icon>                           
                         <md-icon md-font-icon="icon-chevron-double-up" ng-if="!vm.showfiltre" class="s16">                            
                        </md-icon>
                        <md-icon md-font-icon="icon-chevron-double-down" ng-if="vm.showfiltre" class="s16">                            
                        </md-icon>
                        <md-tooltip><span>Bouton filtre</span></md-tooltip>
                        </md-button> 
                    </div>
                  </div>
                  
                  <div style="clear:both;"></div>            
                    <div style="float: top !important">
                      <md-progress-circular ng-if="vm.affiche_load" class="md-accent" aria-label="Rating" md-mode="indeterminate" md-diameter="48"></md-progress-circular> 
                      <div ng-if="vm.affiche_load" style="position:relative;top: -30px;  left: 60px;color: #039be5">
                              Chargement,veuillez patienter s'il vous plait ...
                      </div>
                    </div>
            <div>        
               <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                       <th class="secondary-text" ng-repeat="conv_ente in ::vm.convention_entete_column">
                         <div class="table-header">
                            <span class="column-title">{{conv_ente.titre}}</span>
                        </div>
                      </th>
                     </tr>
                  </thead>
                                             
                   <tbody>
                     <tr ng-repeat="convention_entete in vm.allconvention_entete"  ng-class="{selected: convention_entete.$selected}" ng-click="vm.selectionConvention_entete(convention_entete)">           
                       <td>
                        <span>{{convention_entete.cisco.code}}</span>
                      </td>

                      <td>
                        <span>{{convention_entete.feffi.denomination}}</span>
                      </td>

                      <td>
                        <span>{{convention_entete.site.code_sous_projet}}</span>
                      </td>

                      <td>
                        <span>{{convention_entete.site.acces}}</span>
                      </td>

                       <td>                         
                         <span>{{convention_entete.ref_convention}}</span>
                       </td>

                       <td>                         
                         <span>{{convention_entete.objet}}</span>
                       </td>

                       <td>                                    
                         <span>{{convention_entete.ref_financement}}</span>
                      </td>
                      <td>                          
                        <span>{{vm.formatMillier(convention_entete.montant_total)}} Ar</span>
                      </td>

                       <td>                          
                        <span>{{convention_entete.user.nom}}</span>
                       </td>
                     </tr>
                  </tbody>
                </table>
              </div>
              </md-tab-body>
            </md-tab>
    <!------------------------------------FIN CONVENTION CISCO/FEFFI--------------------------------------------------->
    <!----------------------------DEBUT SUIVI FINANCIER FEFFI---------------------------------------->
                  <md-tab ng-disabled="vm.stepMenu_feffi==false">
                            <md-tab-label>
                              <span class="ms-form-wizard-step-label">
                                  <!--span class="ms-form-wizard-step-number md-accent-bg">
                                    <i class="icon-basket-fill s16"></i>
                                  </span-->                          
                                  
                                  <span class="ms-form-wizard-step-text">Demande déblocage</span>
                              </span>
                             
                            </md-tab-label>
                            
                            <md-tab-body>
                              <div style="widht:100%;">
                                    <md-button type="submit" class="md-raised md-warn md-pink-900-bg" aria-label="Nouveau" ng-click="vm.valider_demandecreer(5)" style="width:10%;" ng-if="vm.showbuttonValidation && vm.validation==4">
                                      Valider
                                    </md-button>
                              </div> <br>

                              <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                                <thead>
                                  <tr>
                                    <th class="secondary-text" ng-repeat="cisc in ::vm.demande_realimentation_column">
                                      <div class="table-header">
                                        <span class="column-title">{{cisc.titre}}</span>
                                      </div>
                                    </th>
                                  </tr>
                                </thead>                     
                                <tbody>
                                  <tr ng-repeat="demande_realimentation in vm.alldemande_realimentation_invalide"  ng-class="{selected: demande_realimentation.$selected}" ng-click="vm.selectionDemande_realimentation(demande_realimentation)">                             

                                    <td>
                                      <span ng-if="demande_realimentation.$edit">
                                        <md-input-container style="width:100%;display: flex !important;">
                                          <label>Tranche</label>
                                          <md-select ng-model="demande_realimentation.id_tranche_deblocage_feffi"style="overflow: hidden;text-overflow: ellipsis;" ng-change="vm.tranchechange(demande_realimentation)" ng-disabled="demande_realimentation.validation!=0 || !vm.NouvelItemDemande_realimentation">
                                            <md-option ng-repeat="tranche in vm.allcurenttranche_deblocage_feffi" value="{{tranche.id}}">
                                                                                        {{tranche.libelle}}
                                            </md-option>
                                          </md-select>
                                        </md-input-container>  
                                      </span>
                                      <span ng-if="!demande_realimentation.$edit">{{demande_realimentation.tranche.libelle}}</span>
                                    </td>

                                    <td>
                                      <span ng-if="demande_realimentation.$edit">
                                        <md-input-container style="width:100%;display: flex !important;">
                                          <label>Prévu</label>
                                          <input name="prevu" type="text" ng-model="demande_realimentation.prevu" disabled/>
                                        </md-input-container>  
                                      </span>
                                      <span ng-if="!demande_realimentation.$edit">{{vm.formatMillier(demande_realimentation.prevu)}} Ar</span>
                                    </td>

                                    <td>
                                      <span ng-if="demande_realimentation.$edit">
                                        <md-input-container style="width:100%;display: flex !important;">
                                          <label>Anterieur</label>
                                          <input name="anterieur" type="text" ng-model="demande_realimentation.anterieur" disabled/>
                                        </md-input-container>  
                                      </span>
                                      <span ng-if="!demande_realimentation.$edit">{{vm.formatMillier(demande_realimentation.anterieur)}} Ar</span>
                                    </td>

                                    <td>
                                      <span ng-if="demande_realimentation.$edit">
                                        <md-input-container style="width:100%;display: flex !important;">
                                          <label>Cumul</label>
                                          <input name="cumul" type="text" ng-model="demande_realimentation.cumul" disabled/>
                                        </md-input-container>  
                                      </span>
                                      <span ng-if="!demande_realimentation.$edit">{{vm.formatMillier(demande_realimentation.cumul)}} Ar</span>
                                    </td>

                                    <td>
                                      <span ng-if="demande_realimentation.$edit">
                                        <md-input-container style="width:100%;display: flex !important;">
                                          <label>Periode</label>
                                          <input name="periode" type="text" ng-model="demande_realimentation.periode"disabled/>
                                        </md-input-container>  
                                      </span>
                                      <span ng-if="!demande_realimentation.$edit">{{demande_realimentation.tranche.periode}}</span>
                                    </td>

                                    <td>
                                      <span ng-if="demande_realimentation.$edit">
                                        <md-input-container style="width:100%;display: flex !important;">
                                          <label>Pourcentage</label>
                                          <input name="pourcentage" type="text" ng-model="demande_realimentation.pourcentage" disabled/>
                                        </md-input-container>  
                                      </span>
                                      <span ng-if="!demande_realimentation.$edit">{{vm.formatMillier(demande_realimentation.tranche.pourcentage)}} %</span>
                                    </td>

                                    <td>
                                      <span ng-if="demande_realimentation.$edit">
                                        <md-input-container style="width:100%;display: flex !important;">
                                          <label>Reste</label>
                                          <input name="reste" type="text" ng-model="demande_realimentation.reste" disabled/>
                                        </md-input-container>  
                                      </span>
                                      <span ng-if="!demande_realimentation.$edit">{{vm.formatMillier(demande_realimentation.reste)}} Ar</span>
                                    </td>
                                    <td>
                                      <span ng-if="demande_realimentation.$edit">
                                        <md-input-container style="width:100%;display: flex !important;">
                                          <label>Compte feffi</label>
                                          <md-select ng-model="demande_realimentation.id_compte_feffi"style="overflow: hidden;text-overflow: ellipsis;" ng-disabled="demande_realimentation.validation!=0" ng-change="vm.change_compte(demande_realimentation)">
                                            <md-option ng-repeat="compte_feffi in vm.allcompte_feffi" value="{{compte_feffi.id}}">
                                                                                        {{compte_feffi.nom_banque}}
                                            </md-option>
                                          </md-select>
                                        </md-input-container>  
                                      </span>
                                      <span ng-if="!demande_realimentation.$edit">{{demande_realimentation.compte_feffi.nom_banque}}</span>
                                    </td>
                                    <td>
                                      <span ng-if="demande_realimentation.$edit">
                                        <md-input-container style="width:100%;display: flex !important;">
                                          <label>Numero compte</label>
                                          <input name="numero_compte" type="text" ng-model="demande_realimentation.numero_compte" disabled/>
                                        </md-input-container>  
                                      </span>
                                      <span ng-if="!demande_realimentation.$edit">{{demande_realimentation.compte_feffi.numero_compte}}</span>
                                    </td>

                                    <td>
                                      <span ng-if="demande_realimentation.$edit">
                                        <md-datepicker ng-model="demande_realimentation.date" md-placeholder="Date de signature" md-max-date="vm.datenow" required ng-disabled="demande_realimentation.validation!=0">
                                          
                                        </md-datepicker>  
                                      </span>
                                      <span ng-if="!demande_realimentation.$edit">{{vm.formatDate(demande_realimentation.date)}}</span>
                                    </td>
                                    <td>
                                      <span >{{vm.situationdemande(demande_realimentation.validation)}}</span>
                                    </td>
                                                                 
                                    <td>  
                                      <a ng-if="!demande_realimentation.$edit && demande_realimentation.validation<3" ng-click="vm.modifierDemande_realimentation(demande_realimentation)" title="Modifier">
                                        <span class="icon-table-edit"></span>
                                      </a>
                                                
                                      <a ng-if="!demande_realimentation.$edit && demande_realimentation.validation<3" ng-click="vm.supprimerDemande_realimentation(demande_realimentation)" title="Supprimer">
                                        <span class="icon-table-row-remove" style="color: rgb(211,47,47)"></span>
                                      </a>
                                      <span ng-if="demande_realimentation.validation>2" > Aucune action disponible</span>        
                                      <a ng-if="demande_realimentation.$edit" ng-click="vm.annulerDemande_realimentation(demande_realimentation)" title="Annuler modification">
                                        <span class="icon-cancel"></span>
                                      </a>
                                                
                                      <a ng-if="demande_realimentation.$edit && demande_realimentation.date && demande_realimentation.id_tranche_deblocage_feffi && demande_realimentation.id_compte_feffi>''" ng-click="vm.ajoutDemande_realimentation(demande_realimentation,0)" title="Sauvegarder">
                                        <span class="icon-content-save"></span>
                                      </a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                             
                            </md-tab-body>
                          </md-tab>
                    <!--------------------------FIN DEMANDE PAYEMENT------------------------------------------->


                    <!-------------------------DEBUT PIECE JUSTIFICATIVE-------------------------------------->

                        
                          <md-tab ng-disabled="vm.steppiecefeffi==false">
                            <md-tab-label>
                              <span class="ms-form-wizard-step-label">
                                  <span class="ms-form-wizard-step-text">Pièce jointe</span>
                              </span>
                             
                            </md-tab-label>
                            
                            <md-tab-body> <br>

                              <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                                <thead>
                                  <tr>
                                    <th class="secondary-text" ng-repeat="cisc in ::vm.justificatif_feffi_column">
                                      <div class="table-header">
                                        <span class="column-title">{{cisc.titre}}</span>
                                      </div>
                                    </th>
                                  </tr>
                                </thead>                     
                                <tbody>
                                  <tr ng-repeat="justificatif_feffi in vm.alljustificatif_feffi"  ng-class="{selected: justificatif_feffi.$selected}" ng-click="vm.selectionJustificatif_feffi(justificatif_feffi)">

                                    <td>
                                      <span>{{justificatif_feffi.intitule}}</span>
                                    </td>

                                    <td>
                                      <span ng-if="justificatif_feffi.$edit" style="display: inline-block !important;">
                                          <md-input-container style="width:100%;display: flex !important;">
                                            <label>Fichier</label>
                                            <input name="fichier" type="text" ng-model="justificatif_feffi.fichier" disabled/>
                                          </md-input-container>   
                                      </span>
                                      <span ng-if="justificatif_feffi.$edit" style="display: inline-block !important;">
                                        <md-input-container style="width:100%;display: flex !important;">
                                          <label>Fichier</label>
                                        <input type="file"name="myFile" aria-label="upload" custom-on-change="uploadFile"  ng-model="fichier" id="fileid"/>
                                        </md-input-container>  
                                      </span>
                                                
                                      <span ng-if="!justificatif_feffi.$edit">{{justificatif_feffi.fichier}}</span>
                                    </td>
                                                                 
                                    <td>  
                                      <a ng-if="!justificatif_feffi.$edit && vm.validation=='0'" ng-click="vm.modifierJustificatif_feffi(justificatif_feffi)" title="Modifier">
                                        <span class="icon-table-edit"></span>
                                      </a>
                                                
                                      <a ng-if="!justificatif_feffi.$edit && justificatif_feffi.id!=0 && vm.validation=='0'" ng-click="vm.supprimerJustificatif_feffi(justificatif_feffi)" title="Supprimer">
                                        <span class="icon-table-row-remove" style="color: rgb(211,47,47)"></span>
                                      </a>
                                                      
                                      <a ng-if="!justificatif_feffi.$edit && justificatif_feffi.id!=0" ng-click="vm.download_justificatif(justificatif_feffi)" title="Telecharger fichier">
                                        <span class="icon-box-download"></span>
                                      </a>
                                                
                                      <a ng-if="justificatif_feffi.$edit" ng-click="vm.annulerJustificatif_feffi(justificatif_feffi)" title="Annuler modification">
                                        <span class="icon-cancel"></span>
                                      </a>
                                                
                                      <a ng-if="justificatif_feffi.$edit && justificatif_feffi.fichier>''" ng-click="vm.ajoutJustificatif_feffi(justificatif_feffi,0)" title="Sauvegarder">
                                        <span class="icon-content-save"></span>
                                      </a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                             
                            </md-tab-body>
                  </md-tab>
          <!------------------------------------FILS SUIVI FINANCIER FEFFI--------------------------------------------------->
            <md-tab></md-tab>
          </md-tabs>
        </ms-form-wizard> 
<!------------------------------------FIN TABS MERE--------------------------------------------------->    
       </div>
      
    </div>
    <!-- / CONTENT -->
  </div>