  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Données de bases</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Ecole</span>
            </div>

            <div class="title">Ecole</div>
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content widget-group" layout="column" >

      <!-- Ecole -->
      <!--div class="form-wrapper md-whiteframe-1dp" --> 
      <ms-widget class="form-wrapper" flippable="true" id="widgetecole">
      <ms-widget-front>       
        <header layout="row" layout-align="space-between center" style="background: #F3F4F5; margin-bottom: 2px;" class="border-top border-bottom">
          <div layout="row" layout-align="start" flex>
              <div class="border-right" style="display: flex; justify-content: center; align-items: center; padding: 0px 10px 0px 10px; ">
                <span style="line-height: normal;"> Ecole</span>
              </div>

              <div>

                <md-button class="md-icon-button" aria-label="add ecole" ng-click="vm.ajouter()">
                  <md-icon md-font-icon="icon-plus"></md-icon>
                  <md-tooltip><span>Ajout ecole</span></md-tooltip>
                </md-button>
              </div>
              <div flex>
                <md-button class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget" style="float: right; margin-right: 10px">
                  <md-icon md-font-icon="icon-google-maps"></md-icon>
                  <md-tooltip><span>Vue map</span></md-tooltip>
                </md-button>
              </div>                      
          </div>
        </header>
                
          <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" >
            <thead>
              <tr>
                <th class="secondary-text" ng-repeat="cisc in ::vm.ecole_column">
                  <div class="table-header">
                    <span class="column-title">{{cisc.titre}}</span>
                  </div>
                </th>
              </tr>
            </thead>
                     
            <tbody >
              <tr ng-repeat="ecole in vm.allecole"  ng-class="{selected: ecole.$selected}" ng-click="vm.selection(ecole)">           
                <td>
                  <span ng-if="ecole.$edit">
                    <md-input-container style="width:100%;display: flex !important;">
                      <label>Code</label>
                      <input name="code" type="text" ng-model="ecole.code"/>
                    </md-input-container>
                  </span>                          
                  <span ng-if="!ecole.$edit">{{ecole.code}}</span>
                </td>
                          
                <td>
                  <span ng-if="ecole.$edit">
                    <md-input-container style="width:100%;display: flex !important;">
                      <label>Description</label>
                      <input name="Description" type="text" ng-model="ecole.description"/>
                    </md-input-container>   
                  </span>
                            
                  <span ng-if="!ecole.$edit">{{ecole.description}}</span>
                </td>
                          
                <td>
                  <span ng-if="ecole.$edit">
                    <md-input-container style="width:100%;display: flex !important;">
                      <label>Lieu</label>
                      <input name="Lieu" type="text" ng-model="ecole.lieu"/>
                    </md-input-container>   
                  </span>
                            
                  <span ng-if="!ecole.$edit">{{ecole.lieu}}</span>
                </td>

                <td>
                  <span ng-if="ecole.$edit">
                    <md-input-container style="width:100%;display: flex !important;">
                      <label>Fokontany</label>
                      <md-select ng-model="ecole.id_fokontany"style="overflow: hidden;text-overflow: ellipsis;">
                        <md-option ng-repeat="fokontany in vm.allfokontany" value="{{fokontany.id}}">
                                                            {{fokontany.nom}}
                        </md-option>
                      </md-select>
                    </md-input-container>  
                  </span>
                  <span ng-if="!ecole.$edit">{{ecole.fokontany.nom}}</span>
                </td>
                          
                <td>
                  <span ng-if="ecole.$edit">
                    <md-input-container style="width:100%;display: flex !important;">
                      <label>Latitude</label>
                      <input name="Latitude" type="text" ng-model="ecole.latitude"/>
                    </md-input-container>   
                  </span>
                            
                  <span ng-if="!ecole.$edit">{{ecole.latitude}}</span>
                </td>
                          
                <td>
                  <span ng-if="ecole.$edit">
                    <md-input-container style="width:100%;display: flex !important;">
                      <label>Longitude</label>
                      <input name="Longitude" type="text" ng-model="ecole.longitude"/>
                    </md-input-container>   
                  </span>
                            
                  <span ng-if="!ecole.$edit">{{ecole.longitude}}</span>
                </td>
                          
                <td>
                  <span ng-if="ecole.$edit">
                    <md-input-container style="width:100%;display: flex !important;">
                      <label>Altitude</label>
                      <input name="Altitude" type="text" ng-model="ecole.altitude"/>
                    </md-input-container>   
                  </span>
                            
                  <span ng-if="!ecole.$edit">{{ecole.altitude}}</span>
                </td>

                        <td>
                          <span ng-if="ecole.$edit">
                            <md-input-container style="width:100%;display: flex !important;">
                              <label>Type zone</label>
                              <md-select ng-model="ecole.id_zone_subvention"style="overflow: hidden;text-overflow: ellipsis;" ng-change="vm.change_zone_subvention(ecole)">
                                <md-option ng-repeat="zone_subvention in vm.allzone_subvention" value="{{zone_subvention.id}}">
                                                                    {{zone_subvention.libelle}}
                                </md-option>
                              </md-select>
                            </md-input-container>  
                          </span>
                          <span ng-if="!ecole.$edit">{{ecole.zone_subvention.libelle}}</span>
                        </td>

                        <td>
                          <span ng-if="ecole.$edit">
                            <md-input-container style="width:100%;display: flex !important;">
                              <label>Acces zone</label>
                              <md-select ng-model="ecole.id_acces_zone"style="overflow: hidden;text-overflow: ellipsis;" ng-disabled="!ecole.id_zone_subvention" ng-change="vm.change_acces_zone(ecole)">
                                <md-option ng-repeat="acces_zone in vm.allacces_zone" value="{{acces_zone.id}}">
                                                                    {{acces_zone.libelle}}
                                </md-option>
                              </md-select>
                            </md-input-container>  
                          </span>
                          <span ng-if="!ecole.$edit">{{ecole.acces_zone.libelle}}</span>
                        </td>
                                             
                <td>
                  <a ng-if="!ecole.$edit" ng-click="vm.modifier(ecole)" title="Modifier">
                    <span class="icon-table-edit"></span>
                  </a>
                            
                  <a ng-if="!ecole.$edit" ng-click="vm.supprimer(ecole)" title="Supprimer">
                    <span class="icon-delete"></span>
                  </a>
                            
                  <a ng-if="ecole.$edit" ng-click="vm.annuler(ecole)" title="Annuler modification">
                    <span class="icon-cancel"></span>
                  </a>
                            
                  <a ng-if="ecole.$edit && ecole.code && ecole.description && ecole.id_fokontany && ecole.latitude && ecole.longitude && ecole.altitude && ecole.lieu>''" ng-click="vm.ajout(ecole,0)" title="Sauvegarder">
                    <span class="icon-content-save"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
       
      </ms-widget-front>
      <ms-widget-back flex="100" >
       
          <md-button class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget" style="float: left top">
            <md-icon md-font-icon="icon-undo-variant" class="s16"></md-icon>
          </md-button>             
          <!--ui-gmap-google-map center="vm.ecolevueMap.center" zoom="vm.ecolevueMap.zoom" >
            <div ng-repeat="ec in vm.ecolevueMap.marker">
              <ui-gmap-marker  coords="ec.coords"
                    idkey="ec.id" events="events" model="ec">
                <ui-gmap-window show="false" ng-cloak>
                  <div>
                      <span><b>Lieu:</b> {{ec.coords.lieu}} </span><br>
                      <span><b>Code:</b> {{ec.coords.code}} </span><br>
                      <span><b>Description:</b> {{ec.coords.description}}</span>
                     
                  </div>
              </ui-gmap-window>        
              </ui-gmap-marker>
            </div>
          </ui-gmap-google-map-->
          <ui-gmap-google-map center="vm.ecolevueMap.center" zoom="vm.ecolevueMap.zoom" draggable="true" options="options" bounds="">
            <ui-gmap-polygon ng-repeat="p in vm.polylines" path="p.path" stroke="p.stroke" visible='p.visible'
                  geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" clickable='true' icons='p.icons' events="p.events" fill="p.fill">
                    
            </ui-gmap-polygon>
            <ui-gmap-window show="vm.showwindow" coords="vm.coords" closeclick="polywindow.closeClick()">
              <h1> test </h1>
            </ui-gmap-window>
        </ui-gmap-google-map>
        
      </ms-widget-back>  
      </ms-widget>                     
      <!--/div-->
      <!-- / ecole -->
    </div>
    <!-- / CONTENT -->
  </div>

  <!--ui-gmap-windows show="'showWindow'" ng-cloak>
                <div>
                    <p>This is an info window</p>
                </div>
            </ui-gmap-windows-->

            <!--ui-gmap-google-map center='main.map.center' zoom='main.map.zoom' options='main.map.options'>
     <ui-gmap-markers models="main.markers" coords="'self'" icon="'icon'" options="'options'" click="'onClick'" fit="true">
         <ui-gmap-windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>
             <div class="mapinfowindow" data-ui-sref="display({id: id})">                                                                      
                 <span class="itemname" data-ng-non-bindable>{{ title }}</span>
             </div>
         </ui-gmap-windows>
     </ui-gmap-markers>
 </ui-gmap-google-map-->

 <!--ui-gmap-window show="polywindow.show" coords="polywindow.coords" closeclick="polywindow.closeClick()">
        <h1> test </h1>
      </ui-gmap-window-->