#forms {

    .content {

        .form-wrapper{
           
               
           
            
        }
        #widgetecole{
           
               min-height: 460px; 
           
            
        }
		
        .form-data-wrapper {
            margin-left: 16px;

            .json-data-wrapper {
                overflow: hidden;

                pre {
                    font-size: 16px;
                }
            }
        }
    }
}