  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Gerer convention UFP/DAAF</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Reporting</span>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Indicateur</span>
            </div>

            <div class="title">Indicateur</div>
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">
        <md-progress-circular ng-if="vm.affiche_load" class="md-accent" aria-label="Rating" md-mode="indeterminate" md-diameter="64"></md-progress-circular> 
        <div ng-if="vm.affiche_load" style="position:relative;top: -30px;  left: 60px;color: #039be5">
                      Chargement,veuillez patienter s'il vous plait ...
        </div>
        <div>
              <md-tabs  md-dynamic-height>
              <md-tab label="Filtre">
                <md-tab-body>
                  <form name="filtreform" class="md-inline-form" novalidate >
                    
                    <div layout="column" layout-gt-xs="row" flex>                      
                      <md-input-container flex="100" flex-gt-xs="90">
                        <label>Convention</label>
                        <md-select ng-model="vm.filtre.id_convention_entete" name="convention" ng-change="vm.change_convention(vm.filtre)" required>
                          <md-option ng-repeat="eco in vm.allconvention_ufp_daaf_entete" value="{{eco.id}}"> {{eco.ref_convention}}
                          </md-option>
                        </md-select>  
                        <div ng-messages="filtreform.convention_entete.$error" role="alert">
                          <div ng-message="required"><span>Convention</span></div>
                        </div>
                      </md-input-container>
                    
                      <md-input-container flex="100" flex-gt-xs="90">
                        <label>Vague</label>
                        <input type="text" ng-model="vm.filtre.vague" disabled/>
                      </md-input-container>
                    
                      <md-input-container flex="100" flex-gt-xs="90">
                        <label>Date signature</label>
                        <input type="text" ng-model="vm.filtre.date_signature" disabled/>
                      </md-input-container>
                    </div>
                    
                    <div>
                      <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer" ng-disabled="filtreform.$invalid||vm.affiche_load" ng-click="vm.resultatfiltrer(vm.filtre)"> Recherche
                      </md-button>
                      <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer" ng-disabled="filtreform.$invalid||vm.affiche_load" ng-click="vm.exportExcel(vm.filtre)"> Export excel
                      </md-button>
                    </div>
                  </form>
                </md-tab-body>
              </md-tab>
            </md-tabs>
            
          </div> 
      
      <div class="form-wrapper " >
             
        <ms-form-wizard flex>           

    <!-----debut convention_cife_tete ------>
          <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">
             <md-tab>
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==false">1</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Indicateur </span>
                </span>
              </md-tab-label>
              
              <md-tab-body>

                <div> <br>       
                  <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                    <thead>
                      <tr>
                        <!--th class="secondary-text" ng-repeat="estim in ::vm.indicateur_column">
                          <div class="table-header">
                            <span class="column-title">{{estim.titre}}</span>
                          </div>
                        </th-->
                        <th class="secondary-text">
                          <div class="table-header">
                            <span class="column-title">Prevision nombre de<br>salles de classe construites</span>
                          </div>
                        </th>
                        <th class="secondary-text">
                          <div class="table-header">
                            <span class="column-title">Nombre de salles <br>de classe construites</span>
                          </div>
                        </th>
                        <th class="secondary-text">
                          <div class="table-header">
                            <span class="column-title">Prevision Bénéficiaires directs<br>du programme deconstruction (nombre)</span>
                          </div>
                        </th>
                        <th class="secondary-text">
                          <div class="table-header">
                            <span class="column-title">Bénéficiaires directs du<br>programme de construction (nombre)</span>
                          </div>
                        </th>
                        <th class="secondary-text">
                          <div class="table-header">
                            <span class="column-title">Prevision Nombre <br>d'Ecoles construites</span>
                          </div>
                        </th>
                        <th class="secondary-text">
                          <div class="table-header">
                            <span class="column-title">Nombre d'Ecoles construites</span>
                          </div>
                        </th>
                        <th class="secondary-text">
                          <div class="table-header">
                            <span class="column-title">Prévision nombre <br>de box de latrine</span>
                          </div>
                        </th>
                        <th class="secondary-text">
                          <div class="table-header">
                            <span class="column-title">Réalisation box de latrine</span>
                          </div>
                        </th>
                        <th class="secondary-text">
                          <div class="table-header">
                            <span class="column-title">Prevision Nombre de systèmes <br>de point d'Eau installé</span>
                          </div>
                        </th>
                        <th class="secondary-text">
                          <div class="table-header">
                            <span class="column-title">Nombre de système de <br>point d'eau  installé</span>
                          </div>
                        </th>
                        <th class="secondary-text">
                          <div class="table-header">
                            <span class="column-title">Prevision nombre table banc</span>
                          </div>
                        </th>
                        <th class="secondary-text">
                          <div class="table-header">
                            <span class="column-title">Realisation nombre table banc</span>
                          </div>
                        </th>
                        <th class="secondary-text">
                          <div class="table-header">
                            <span class="column-title">Prevision nombre table du maitre</span>
                          </div>
                        </th>
                        <th class="secondary-text">
                          <div class="table-header">
                            <span class="column-title">Realisation nombre table du maitre</span>
                          </div>
                        </th>
                        <th class="secondary-text">
                          <div class="table-header">
                            <span class="column-title">Prevision nombre chaise du maitre</span>
                          </div>
                        </th>
                        <th class="secondary-text">
                          <div class="table-header">
                            <span class="column-title">Realisation nombre chaise du maitre</span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                             
                    <tbody>
                      <tr ng-repeat="indicateur in vm.indicateurs"  ng-class="{selected: indicateur.$selected}" >           
                        
                        <td>
                          <span>{{indicateur.nbr_salle_prevu}}</span>
                        </td>

                        <td>                         
                          <span>{{indicateur.nbr_salle_construite}}</span>
                        </td>

                        <td>                          
                          <span>{{indicateur.nbr_beneficiaire_prevu}}</span>
                        </td>

                        <td>       
                          <span>{{indicateur.nbr_beneficiaire}}</span>
                        </td>

                        <td>                          
                          <span>{{indicateur.nbr_beneficiaire}}</span>
                        </td>

                        <td>                         
                          <span>{{indicateur.nbr_ecole_construite}}</span>
                        </td>

                        <td>       
                          <span>{{indicateur.nbr_box_latrine_prevu}}</span>
                        </td>

                        <td>                          
                          <span>{{indicateur.nbr_box_latrine_construite}}</span>
                        </td>

                        <td>                         
                          <span>{{indicateur.nbr_point_eau_prevu}}</span>
                        </td>

                        <td>                          
                          <span>{{indicateur.nbr_point_eau_construite}}</span>
                        </td>

                        <td>                         
                          <span>{{indicateur.nbr_table_banc_prevu}}</span>
                        </td>

                        <td>                         
                          <span>{{indicateur.nbr_table_banc_construite}}</span>
                        </td>

                        <td>                         
                          <span>{{indicateur.nbr_table_maitre_prevu}}</span>
                        </td>

                        <td>                         
                          <span>{{indicateur.nbr_table_maitre_construite}}</span>
                        </td>

                        <td>                         
                          <span>{{indicateur.nbr_chaise_maitre_prevu}}</span>
                        </td>

                        <td>                         
                          <span>{{indicateur.nbr_chaise_maitre_construite}}</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </md-tab-body>
            </md-tab>
          </md-tabs>
        </ms-form-wizard>                   
      </div>
      <!-- / convention_cife_tete -->
    </div>
    <!-- / CONTENT -->
  </div>