  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Gérer situation FEFFI</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Convention cisco/feffi</span>
            </div>

            <div class="title">Convention cisco/feffi validée</div>
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">
      
      <div class="form-wrapper md-whiteframe-1dp" >       
        <ms-form-wizard flex>
          <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">

    <!-----debut convention_cife_tete ------>

            <md-tab>
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==false">1</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Convention</span>
                </span>
              </md-tab-label>
              
              <md-tab-body> <br>

                <div>        
                  <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                    <thead>
                      <tr>
                        <th class="secondary-text" ng-repeat="ciscT in ::vm.convention_cife_tete_column">
                          <div class="table-header">
                            <span class="column-title">{{ciscT.titre}}</span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                             
                    <tbody>
                      <tr ng-repeat="convention_cife_tete in vm.allconvention_cife_tete"  ng-class="{selected: convention_cife_tete.$selected}" ng-click="vm.selectionTete(convention_cife_tete)">           
                        

                        <td>
                          <span>{{convention_cife_tete.cisco.code}}</span>
                        </td>

                        <td>
                          <span>{{convention_cife_tete.feffi.denomination}}</span>
                        </td>

                        <td>                          
                          <span>{{convention_cife_tete.ref_convention}}</span>
                        </td>

                        <td>                         
                          <span>{{convention_cife_tete.objet}}</span>
                        </td>

                        <td>      
                          <span>{{convention_cife_tete.ref_financement}}</span>
                        </td>

                        <td>                          
                          <span>{{convention_cife_tete.montant_total}}</span>
                        </td>

                        <td>                          
                          <span>{{convention_cife_tete.avancement}}</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </md-tab-body>
            </md-tab>
    
    <!-----fin convention_cife_tete ------>

    <!-----debut convention_detail ------>
            <md-tab ng-disabled="vm.stepOne==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">

                  <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">2</span>
                  <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==true">
                      <i class="icon-check s16"></i>
                  </span>
                  <span class="ms-form-wizard-step-text">Detail</span>
                </span>
              </md-tab-label>
              
              <md-tab-body> <br>
              <fieldset class="standard" >
                <legend><code>Compte</code></legend>
                <div>        
                  <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptionsperso" ms-responsive-table>
                    <thead>
                      <tr>
                        <th class="secondary-text" ng-repeat="ciscT1 in ::vm.convention_cife_detail_column1">
                          <div class="table-header">
                            <span class="column-title">{{ciscT1.titre}}</span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                             
                    <tbody>
                      <tr ng-repeat="convention_cife_detail in vm.allconvention_cife_detail"  ng-class="{selected: convention_cife_detail.$selected}" ng-click="vm.selectionDetail(convention_cife_detail)">

                        <td>                          
                          <span>{{convention_cife_detail.intitule}}</span>
                        </td>                        

                        <td>       
                          <span>{{convention_cife_detail.delai}}</span>
                        </td>

                        <td>       
                          <span>{{vm.formatDate(convention_cife_detail.date_signature)}}</span>
                        </td>

                        <td>       
                          <span>{{convention_cife_detail.observation}}</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </fieldset><br>
            <fieldset class="standard" >
                <legend><code>Compte</code></legend>
                <div>        
                  <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptionsperso" ms-responsive-table>
                    <thead>
                      <tr>
                        <th class="secondary-text" ng-repeat="ciscT2 in ::vm.convention_cife_detail_column2">
                          <div class="table-header">
                            <span class="column-title">{{ciscT2.titre}}</span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                             
                    <tbody>
                      <tr ng-repeat="convention_cife_detail in vm.allconvention_cife_detail"  ng-class="{selected: convention_cife_detail.$selected}" ng-click="vm.selectionDetail(convention_cife_detail)">
 
                        <td>      
                          <span>{{convention_cife_detail.compte_feffi.nom_banque}}</span>
                        </td>

                        <td>       
                          <span>{{convention_cife_detail.compte_feffi.adresse_banque}}</span>
                        </td>

                        <td>   
                          <span>{{convention_cife_detail.compte_feffi.rib}}</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </fieldset><br> 
              </md-tab-body>
            </md-tab>

    <!-----debut divers cout construction ********------>
      <md-tab ng-disabled="(vm.allconvention_cife_detail.length == 0)">
        <md-tab-label>
          <span class="ms-form-wizard-step-label">

            <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==false">2</span>
            <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==true">
                <i class="icon-check s16"></i>
            </span>
            <span class="ms-form-wizard-step-text">Coût maitrise</span>
          </span>
        </md-tab-label>



        <md-tab-body> <br>

          <div>
            <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
              <thead>
                <tr>
                  <th class="secondary-text" ng-repeat="ouv in ::vm.cout_maitrise_column">
                    <div class="table-header">
                      <span class="column-title">{{ouv.titre}}</span>
                    </div>
                  </th>
                </tr>
              </thead>
                       
              <tbody>
                <tr ng-repeat="cout_maitrise in vm.all_cout_maitrise"  ng-class="{selected: cout_maitrise.$selected}" ng-click="vm.select_cout_maitrise(cout_maitrise)">

                  <td>
                    <span>{{cout_maitrise.description}}</span>
                  </td>

              
                  <td>                         
                    <span>{{vm.formatMillier(cout_maitrise.cout)}} Ar</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </md-tab-body>
      </md-tab>
    <!-----fin maitrise cout construction ********------>

    <!-----debut batiment construction ------>
      <md-tab ng-disabled="(vm.allconvention_cife_detail.length == 0)">
        <md-tab-label>
          <span class="ms-form-wizard-step-label">

            <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==false">2</span>
            <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==true">
                <i class="icon-check s16"></i>
            </span>
            <span class="ms-form-wizard-step-text">Batiment</span>
          </span>
        </md-tab-label>
        
        <md-tab-body> <br>

          <div>
            <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
              <thead>
                <tr>
                  <th class="secondary-text" ng-repeat="ouv in ::vm.batiment_construction_column">
                    <div class="table-header">
                      <span class="column-title">{{ouv.titre}}</span>
                    </div>
                  </th>
                </tr>
              </thead>
                       
              <tbody>
                <tr ng-repeat="batiment_construction in vm.allbatiment_construction"  ng-class="{selected: batiment_construction.$selected}" ng-click="vm.selectionBatiment_construction(batiment_construction)">

                  <td>
                    <span>{{batiment_construction.type_batiment.libelle}}</span>
                  </td>

                  <td>                          
                    <span>{{batiment_construction.type_batiment.description}}</span>
                  </td>

                  <td>                          
                    <span>{{batiment_construction.type_batiment.nbr_salle}}</span>
                  </td>

                  <td>                         
                    <span>{{batiment_construction.cout_unitaire}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          
        </md-tab-body>
      </md-tab>
    <!-----fin batiment construction ------>

    <!-----debut detail latrine ------>
      <md-tab ng-disabled="vm.stepThree==false">
        <md-tab-label>
          <span class="ms-form-wizard-step-label">
            <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepFor==false">L</span>
            <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepFor==true">
                <i class="icon-check s16"></i>
            </span>
            <span class="ms-form-wizard-step-text">latrine(lier à Bâtiment)</span>
          </span>
        </md-tab-label>
        
        <md-tab-body> <br>
        <fieldset class="standard" >
                <legend><code>Latrine</code></legend>
          <div>
            <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptionsperso" ms-responsive-table>
              <thead>
                <tr>
                  <th class="secondary-text" ng-repeat="lat in ::vm.latrine_construction_column1">
                    <div class="table-header">
                      <span class="column-title">{{lat.titre}}</span>
                    </div>
                  </th>
                </tr>
              </thead>
                       
              <tbody>
                <tr ng-repeat="latrine_construction in vm.alllatrine_construction"  ng-class="{selected: latrine_construction.$selected}" ng-click="vm.selectionLatrine_construction(latrine_construction)">

                  <td>
                    <span ng-if="!latrine_construction.$edit">{{latrine_construction.type_latrine.libelle}}</span>
                  </td>

                  <td>                          
                    <span ng-if="!latrine_construction.$edit">{{latrine_construction.type_latrine.description}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </fieldset><br>
        <fieldset class="standard" >
            <legend><code>Cout et autre</code></legend> 
          <div>
            <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptionsperso" ms-responsive-table>
              <thead>
                <tr>
                  <th class="secondary-text" ng-repeat="lat in ::vm.latrine_construction_column2">
                    <div class="table-header">
                      <span class="column-title">{{lat.titre}}</span>
                    </div>
                  </th>
                </tr>
              </thead>
                       
              <tbody>
                <tr ng-repeat="latrine_construction in vm.alllatrine_construction"  ng-class="{selected: latrine_construction.$selected}" ng-click="vm.selectionLatrine_construction(latrine_construction)">

                  <td>                          
                    <span>{{latrine_construction.type_latrine.nbr_box_latrine}}</span>
                  </td>

                  <td>                          
                    <span>{{latrine_construction.type_latrine.nbr_point_eau}}</span>
                  </td>

                  <td>                          
                    <span>{{latrine_construction.cout_unitaire}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </fieldset><br> 
         
        </md-tab-body>
      </md-tab>
    <!-----debut detail latrine ------>

    <!-----debut detail mobilier ------>
      <md-tab ng-disabled="vm.stepThree==false">
        <md-tab-label>
          <span class="ms-form-wizard-step-label">
            <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepFor==false">M</span>
            <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepFor==true">
                <i class="icon-check s16"></i>
            </span>
            <span class="ms-form-wizard-step-text">Mobilier(lier à Bâtiment)</span>
          </span>
        </md-tab-label>
        
        <md-tab-body> <br>
        <fieldset class="standard" >
            <legend><code>Mobilier</code></legend>
          <div>
            <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptionsperso" ms-responsive-table>
              <thead>
                <tr>
                  <th class="secondary-text" ng-repeat="lat in ::vm.mobilier_construction_column1">
                    <div class="table-header">
                      <span class="column-title">{{lat.titre}}</span>
                    </div>
                  </th>
                </tr>
              </thead>
                       
              <tbody>
                <tr ng-repeat="mobilier_construction in vm.allmobilier_construction"  ng-class="{selected: mobilier_construction.$selected}" ng-click="vm.selectionMobilier_construction(mobilier_construction)">

                  <td>
                    <span>{{mobilier_construction.type_mobilier.libelle}}</span>
                  </td>

                  <td>                          
                    <span>{{mobilier_construction.description}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </fieldset><br>

        <fieldset class="standard" >
                <legend><code>Detail</code></legend>
          <div>
            <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptionsperso" ms-responsive-table>
              <thead>
                <tr>
                  <th class="secondary-text" ng-repeat="lat in ::vm.mobilier_construction_column2">
                    <div class="table-header">
                      <span class="column-title">{{lat.titre}}</span>
                    </div>
                  </th>
                </tr>
              </thead>
                       
              <tbody>
                <tr ng-repeat="mobilier_construction in vm.allmobilier_construction"  ng-class="{selected: mobilier_construction.$selected}" ng-click="vm.selectionMobilier_construction(mobilier_construction)">

                  <td>                         
                    <span>{{mobilier_construction.nbr_table_banc}}</span>
                  </td>

                  <td>                          
                    <span>{{mobilier_construction.nbr_table_maitre}}</span>
                  </td>

                  <td>                          
                    <span>{{mobilier_construction.nbr_chaise_maitre}}</span>
                  </td>

                  <td>
                    </span>                          
                    <span>{{mobilier_construction.cout_unitaire}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </fieldset><br>
          
        </md-tab-body>
      </md-tab>
    <!-----debut detail mobilier ------>

    <!-----debut divers cout construction ********------>
      <md-tab ng-disabled="(vm.allconvention_cife_detail.length == 0)">
        <md-tab-label>
          <span class="ms-form-wizard-step-label">

            <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==false">2</span>
            <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepThree==true">
                <i class="icon-check s16"></i>
            </span>
            <span class="ms-form-wizard-step-text">Coût sousprojet</span>
          </span>
        </md-tab-label>



        <md-tab-body> <br>

          <div>
            <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
              <thead>
                <tr>
                  <th class="secondary-text" ng-repeat="ouv in ::vm.cout_sousprojet_column">
                    <div class="table-header">
                      <span class="column-title">{{ouv.titre}}</span>
                    </div>
                  </th>
                </tr>
              </thead>
                       
              <tbody>
                <tr ng-repeat="cout_sousprojet in vm.all_cout_sousprojet"  ng-class="{selected: cout_sousprojet.$selected}" ng-click="vm.select_cout_sousprojet(cout_sousprojet)">

                  <td>
                    <span>{{cout_sousprojet.description}}</span>
                  </td>

              
                  <td>                         
                    <span>{{vm.formatMillier(cout_sousprojet.cout)}} Ar</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </md-tab-body>
      </md-tab>
    <!-----fin sousprojet cout construction ********------>
    <!-----fin convention_detail ------>

          </md-tabs>
        </ms-form-wizard>                   
      </div>
      <!-- / convention_cife_tete -->
    </div>
    <!-- / CONTENT -->
  </div>