  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Gerer situation feffi</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Feffi</span>
            </div>

            <div class="title">Feffi</div>
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">

      <div class="form-wrapper md-whiteframe-1dp" >

        <ms-form-wizard flex>
          <md-tabs md-dynamic-height md-selected="msWizard.selectedIndex" md-center-tabs="true">

   
    <!-----Debut demande_mobilier_pr ------>
          <md-tab>
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==false">1</span>
                    <!--span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepOne==true">
                      <i class="icon-check s16"></i>
                    </span-->
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-number md-accent-bg md-green-800-bg" ng-if="vm.stepOne==true">1
                    </span>
                    <span class="ms-form-wizard-step-text">demande mobilier</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterDemande_mobilier_pr()" style="width:10%;">
                      Nouveau
                    </md-button>
                </div>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="mem in ::vm.demande_mobilier_pr_column">
                        <div class="table-header">
                          <span class="column-title">{{mem.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="demande_mobilier_pr in vm.alldemande_mobilier_pr"  ng-class="{selected: demande_mobilier_pr.$selected}" ng-click="vm.selectionDemande_mobilier_pr(demande_mobilier_pr)">
                                
                      <td>         
                        <span>{{demande_mobilier_pr.objet}}</span>
                      </td>
                                
                      <td>      
                        <span>{{demande_mobilier_pr.description}}</span>
                      </td>
                                
                      <td>        
                        <span>{{demande_mobilier_pr.ref_facture}}</span>
                      </td>                      

                    <td>
                      <span>{{demande_mobilier_pr.tranche.libelle}}</span>
                    </td>
                                
                      <td>       
                        <span>{{demande_mobilier_pr.montant}}</span>
                      </td>

                    <td>
                      <span>{{demande_mobilier_pr.cumul}}</span>
                    </td>

                    <td>
                      <span>{{demande_mobilier_pr.anterieur}}</span>
                    </td>

                    <td>
                      <span>{{demande_mobilier_pr.tranche.periode}}</span>
                    </td>

                    <td>
                      <span>{{demande_mobilier_pr.tranche.pourcentage}}</span>
                    </td>

                    <td>
                      <span>{{demande_mobilier_pr.reste}}</span>
                    </td>

                       <td>                          
                        <span>{{vm.affichageDate(demande_mobilier_pr.date)}}</span>
                      </td>
                                                   
                      <td>
                        <a ng-click="vm.validerDemande_mobilier_pr(demande_mobilier_pr,0,2)" title="Valider">
                          <span class="icon-check-circle"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab>
    <!-----FIN demande_mobilier_pr ------>

    <!-----Debut paiement_mobilier_pr ------>
          <md-tab ng-disabled="vm.stepOne==false">
              <md-tab-label>
                <span class="ms-form-wizard-step-label">
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==false">2</span>
                    <span class="ms-form-wizard-step-number md-accent-bg" ng-if="vm.stepTwo==true">
                      <i class="icon-check s16"></i>
                    </span>
                      <!--span class="ms-form-wizard-step-number md-accent-bg">
                        <i class="icon-check s16"></i>
                    </span-->
                    <span class="ms-form-wizard-step-text">Paiement MPE</span>
                </span>
              </md-tab-label>
              
              <md-tab-body>
                <div style="widht:100%;">  
                    <md-button type="submit" class="md-raised md-accent" aria-label="Nouveau" ng-click="vm.ajouterPaiement_mobilier_pr()" style="width:10%;">
                      Nouveau
                    </md-button>
                </div>
               <div>        
                <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                  <thead>
                    <tr>
                      <th class="secondary-text" ng-repeat="pai in ::vm.paiement_mobilier_pr_column">
                        <div class="table-header">
                          <span class="column-title">{{pai.titre}}</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                           
                  <tbody>
                    <tr ng-repeat="paiement_mobilier_pr in vm.allpaiement_mobilier_pr"  ng-class="{selected: paiement_mobilier_pr.$selected}" ng-click="vm.selectionPaiement_mobilier_pr(paiement_mobilier_pr)">
                                
                      <td>
                        <span ng-if="paiement_mobilier_pr.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Montant paiement</label>
                            <input name="montant_paiement" type="number" ng-model="paiement_mobilier_pr.montant_paiement"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!paiement_mobilier_pr.$edit">{{paiement_mobilier_pr.montant_paiement}}</span>
                      </td>

                       <td>
                        <span ng-if="paiement_mobilier_pr.$edit">
                          <md-datepicker ng-model="paiement_mobilier_pr.date_paiement" md-placeholder="Date" md-max-date="vm.date_now" required>                       
                          </md-datepicker>
                        </span>                          
                        <span ng-if="!paiement_mobilier_pr.$edit">{{vm.affichageDate(paiement_mobilier_pr.date_paiement)}}</span>
                      </td>
                                
                      <td>
                        <span ng-if="paiement_mobilier_pr.$edit">
                          <md-input-container style="width:100%;display: flex !important;">
                            <label>Observation</label>
                            <input name="observation" type="text" ng-model="paiement_mobilier_pr.observation"/>
                          </md-input-container>   
                        </span>
                                  
                        <span ng-if="!paiement_mobilier_pr.$edit">{{paiement_mobilier_pr.observation}}</span>
                      </td>
                                                   
                      <td>
                        <a ng-if="!paiement_mobilier_pr.$edit" ng-click="vm.modifierPaiement_mobilier_pr(paiement_mobilier_pr)" title="Modifier">
                          <span class="icon-table-edit"></span>
                        </a>
                                  
                        <a ng-if="!paiement_mobilier_pr.$edit" ng-click="vm.supprimerPaiement_mobilier_pr(paiement_mobilier_pr)" title="Supprimer">
                          <span class="icon-delete"></span>
                        </a>
                                  
                        <a ng-if="paiement_mobilier_pr.$edit" ng-click="vm.annulerPaiement_mobilier_pr(paiement_mobilier_pr)" title="Annuler modification">
                          <span class="icon-cancel"></span>
                        </a>
                                  
                        <a ng-if="paiement_mobilier_pr.$edit && paiement_mobilier_pr.montant_paiement && paiement_mobilier_pr.date_paiement >''" ng-click="vm.ajoutPaiement_mobilier_pr(paiement_mobilier_pr,0)" title="Sauvegarder">
                          <span class="icon-content-save"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </md-tab-body>
          </md-tab >

    <!-----FIN paiement_mobilier_pr------>
    <!-----FIN demande_debut_travaux_pr ------>

        </md-tabs>
        </ms-form-wizard>                  
      </div>
    </div>
    <!-- / CONTENT -->
  </div>