  <div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Gerer convention UFP/DAAF</span>
                
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent" href="javascript:;"> Compte DAAF</span>
            </div>

            <!--div class="title">Compte DAAF</div-->
        </div>
    </div>
    <!-- / HEADER -->
    
    <!-- CONTENT -->
    <div class="content" layout="column">

      <!-- Convention -->
      <div class="form-wrapper md-whiteframe-1dp" >

       <header layout="row" layout-align="space-between center" style="background: #F3F4F5; margin-bottom: 2px;" class="border-top border-bottom">
          <div layout="row" layout-align="start" flex>
              <div class="border-right" style="display: flex; justify-content: center; align-items: center; padding: 0px 10px 0px 10px; ">
                <span style="line-height: normal;"> Compte DAAF</span>
              </div>

              <div>

                <md-button class="md-icon-button" aria-label="add compte_daaf" ng-click="vm.ajouter()">
                  <md-icon md-font-icon="icon-plus"></md-icon>
                  <md-tooltip><span>Ajout compte</span></md-tooltip>
                </md-button>
              </div>                      
          </div>
        </header>
                
          <table class="dataTable row-border hover"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
            <thead>
              <tr>
                <th class="secondary-text" ng-repeat="cisc in ::vm.compte_daaf_column">
                  <div class="table-header">
                    <span class="column-title">{{cisc.titre}}</span>
                  </div>
                </th>
              </tr>
            </thead>
                     
            <tbody >
              <tr ng-repeat="compte_daaf in vm.allcompte_daaf"  ng-class="{selected: compte_daaf.$selected}" ng-click="vm.selection(compte_daaf)">
           
                <td>
                  <span ng-if="compte_daaf.$edit">
                    <md-input-container style="width:100%;display: flex !important;">
                      <label>Intitule</label>
                      <input name="intitule" type="text" ng-model="compte_daaf.intitule"/>
                    </md-input-container>
                  </span>                          
                  <span ng-if="!compte_daaf.$edit">{{compte_daaf.intitule}}</span>
                </td>
                          
                <td>
                  <span ng-if="compte_daaf.$edit">
                    <md-input-container style="width:100%;display: flex !important;">
                      <label>Agence</label>
                      <input name="agence" type="text" ng-model="compte_daaf.agence"/>
                    </md-input-container>   
                  </span>
                            
                  <span ng-if="!compte_daaf.$edit">{{compte_daaf.agence}}</span>
                </td>
                          
                <td>
                  <span ng-if="compte_daaf.$edit">
                    <md-input-container style="width:100%;display: flex !important;">
                      <label>Compte</label>
                      <input name="compte" type="text" ng-model="compte_daaf.compte"/>
                    </md-input-container>   
                  </span>
                            
                  <span ng-if="!compte_daaf.$edit">{{compte_daaf.compte}}</span>
                </td>
                                             
                <td>
                  <a ng-if="!compte_daaf.$edit" ng-click="vm.modifier(compte_daaf)" title="Modifier">
                    <span class="icon-table-edit"></span>
                  </a>
                            
                  <a ng-if="!compte_daaf.$edit" ng-click="vm.supprimer(compte_daaf)" title="Supprimer">
                    <span class="icon-delete"></span>
                  </a>
                            
                  <a ng-if="compte_daaf.$edit" ng-click="vm.annuler(compte_daaf)" title="Annuler modification">
                    <span class="icon-cancel"></span>
                  </a>
                            
                  <a ng-if="compte_daaf.$edit && compte_daaf.intitule && compte_daaf.compte && compte_daaf.agence>''" ng-click="vm.ajout(compte_daaf,0)" title="Sauvegarder">
                    <span class="icon-content-save"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>       
                     
      </div>
      <!-- / convention -->
    </div>
    <!-- / CONTENT -->
  </div>